Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: creation mock cart
  src/pages/Cart/index.js
Due: prettier-eslint --write, eslint

chore: add react-router-dom
  package.json
  yarn.lock
Due: prettier --write

feat: creation route cart
  src/App.js
  src/routes/index.js
  src/routes/pages/Cart/index.js
Due: prettier-eslint --write, eslint

fix: styled problems
  .env
  src/components/AmountContainer/styles.js
  src/components/ProductCard/styles.js
  src/pages/App/App.js
  src/pages/CartPage/index.js
  src/pages/CartPage/styles.js
  src/pages/ConfirmationPage/index.js
  src/pages/ConfirmationPage/styles.js
  src/pages/PaymentMethodPage/index.js
  src/pages/PaymentMethodPage/styles.js
  src/styles/index.js
Due: prettier-eslint --write, eslint

feat: some cart structures and stylizations
  src/App.js
  src/routes/pages/Cart/index.js
  src/routes/pages/Cart/styles.js
  src/styles/global.js
Due: prettier-eslint --write, eslint

feat: button componentization
  src/components/Button/index.js
  src/routes/pages/Cart/styles.js
  src/routes/pages/Payment/index.js
  src/routes/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

feat: addition and stylization of payment inputs
  src/components/Button/index.js
  src/routes/index.js
  src/routes/pages/Cart/index.js
  src/routes/pages/Payment/index.js
  src/routes/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

chore: add axios
  package.json
  server.json
  yarn.lock
Due: prettier --write

chore: add redux and react-redux
  package.json
  yarn.lock
Due: prettier --write

feat: create store
  package.json
  src/App.js
  src/store/index.js
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
  src/store/modules/rootReducer.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add json-server
  server.json
  src/services/api.js
  src/store/modules/cart/actions.js
Due: prettier-eslint --write, eslint, prettier --write

feat: subtotal rendering
  src/routes/pages/Cart/index.js
  src/routes/pages/Cart/styles.js
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
Due: prettier-eslint --write, eslint

feat: add intl format price
  src/routes/pages/Cart/index.js
  src/util/format.js
Due: prettier-eslint --write, eslint

feat: subtotal stylization
  src/routes/pages/Cart/index.js
  src/routes/pages/Cart/styles.js
Due: prettier-eslint --write, eslint

style: form payment
  src/components/Total/index.js
  src/components/Total/styles.js
  src/routes/pages/Cart/index.js
  src/routes/pages/Cart/styles.js
  src/routes/pages/Payment/index.js
  src/routes/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

style: add hover and focus input payment
  src/components/Button/index.js
  src/routes/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

fix(style): absolute units replaced by relative units
  src/components/AmountContainer/styles.js
  src/components/ProductCard/styles.js
  src/pages/CartPage/styles.js
  src/pages/ConfirmationPage/styles.js
  src/pages/PaymentMethodPage/index.js
  src/pages/PaymentMethodPage/styles.js
Due: prettier-eslint --write, eslint

Initial configurations and routes
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/AppStyle.js
  src/components/BackgroundBlock/index.js
  src/components/Button/index.js
  src/components/CartSummary/index.js
  src/components/Header/index.js
  src/index.css
  src/index.js
  src/pages/Bag/index.js
  src/pages/Confirmation/index.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: configured Enzyme adapter
  __test__/cartPage.test.js
  setupTests.js
Due: prettier-eslint --write, eslint

feat: add mask number credit card and validity date
  src/components/Total/index.js
  src/routes/pages/Payment/index.js
Due: prettier-eslint --write, eslint

chore: add unform
  package.json
  src/container/Input.js
  src/routes/pages/Payment/index.js
  src/routes/pages/Payment/styles.js
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
  src/util/maks.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add Yup
  package.json
  yarn.lock
Due: prettier --write

Created Header component
  src/App.js
  src/AppStyle.js
  src/components/Header/index.js
  src/components/Header/style.js
  src/pages/Bag/index.js
  src/pages/Confirmation/index.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

feat: input validation with Yup and unform
  src/routes/pages/Payment/index.js
  src/routes/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

style: add font Helvetica Neue
  public/helvetica-neue-lt-com-45-light.ttf
  src/styles/global.js
Due: prettier-eslint --write, eslint

chore: add react-icons
  package.json
  src/container/Input.js
  src/routes/pages/Payment/index.js
  src/routes/pages/Payment/styles.js
  src/store/modules/cart/actions.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

style: add styled route success payment
  src/routes/index.js
  src/routes/pages/Payment/index.js
  src/routes/pages/Payment/styles.js
  src/routes/pages/Success/index.js
  src/routes/pages/Success/styles.js
Due: prettier-eslint --write, eslint

feat: test environment setup
  README.md
  __test__/cartPage.test.js
  package-lock.json
  package.json
  setupTests.js
  src/pages/CartPage/cartPage.test.js
  src/pages/ConfirmationPage/confirmationPage.test.js
  src/pages/PaymentMethodPage/paymentMethodPage.test.js
  src/setup.js
Due: prettier-eslint --write, eslint, prettier --write

API integration, useRequestData and useContext
  package-lock.json
  package.json
  src/App.js
  src/AppStyle.js
  src/contexts/ProductsContext.js
  src/hooks/useRequestData.js
  src/pages/Bag/ProductsList.js
  src/pages/Bag/index.js
  src/pages/Confirmation/index.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint, prettier --write

Created BackgroundBlock component
  src/components/BackgroundBlock/index.js
  src/components/BackgroundBlock/style.js
Due: prettier-eslint --write, eslint

feat: add Header
  package.json
  src/components/Header/index.js
  src/components/Header/styles.js
  src/routes/index.js
  src/routes/pages/Cart/styles.js
  src/routes/pages/Payment/index.js
  src/routes/pages/Success/index.js
  src/routes/pages/Success/styles.js
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Created ProductsList component
  src/components/BackgroundBlock/style.js
  src/pages/Bag/ProductsList.js
  src/pages/Bag/index.js
  src/pages/Bag/style.js
Due: prettier-eslint --write, eslint

feat: tests on the product card file
  package.json
  src/components/ProductCard/__snapshots__/productCard.test.js.snap
  src/components/ProductCard/productCard.test.js
  src/pages/CartPage/__snapshots__/cartPage.test.js.snap
  src/pages/CartPage/cartPage.test.js
  src/pages/ConfirmationPage/confirmationPage.test.js
  src/pages/PaymentMethodPage/__snapshots__/paymentMethodPage.test.js.snap
  src/pages/PaymentMethodPage/paymentMethodPage.test.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

feat: tests on the cart page file
  src/pages/CartPage/cartPage.test.js
Due: prettier-eslint --write, eslint

feat: tests in the payment method page file
  src/pages/PaymentMethodPage/paymentMethodPage.test.js
Due: prettier-eslint --write, eslint

feat: tests on the confirmation page file
  src/pages/ConfirmationPage/confirmationPage.test.js
Due: prettier-eslint --write, eslint

Created CartSummary component
  src/components/CartSummary/index.js
  src/components/CartSummary/style.js
  src/pages/Bag/ProductsList.js
  src/pages/Bag/index.js
Due: prettier-eslint --write, eslint

Created Button component
  src/components/Button/index.js
  src/components/Button/style.js
  src/pages/Bag/index.js
Due: prettier-eslint --write, eslint

chore: prepare basic project structure for development
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add typescript
  package.json
  src/App.js
  src/App.tsx
  src/index.js
  src/index.tsx
  src/react-app-env.d.ts
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write
