Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

rename files
  src/App.tsx
  src/pages/CartShop/index.tsx
  src/pages/ShoppingBag/index.tsx
  src/service/shoppingBagService.ts
  src/service/shoppingBagService.unit.test.ts
  src/store/getCartShop.ts
  src/store/getShoppingBag.ts
Due: none

added loading when calling api
  src/components/Summary/index.tsx
  src/contexts/payment.tsx
  src/pages/Bag/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Payment/index.tsx
Due: none

completed payment form
  src/contexts/payment.tsx
  src/pages/Bag/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Payment/index.tsx
  src/schemas/payment.ts
Due: none

Create components
  package.json
  src/components/CardInputPayment/index.tsx
  src/components/CardProduct/index.tsx
  src/components/CardSuccessPayment/index.tsx
  src/components/InfoPrices/index.tsx
  src/pages/ShoppingBag/index.tsx
  src/service/shoppingBagService.ts
  yarn.lock
Due: prettier --write

Create logic of change steps
  src/pages/ShoppingBag/Bag/index.tsx
  src/pages/ShoppingBag/CompletedSuccess/index.tsx
  src/pages/ShoppingBag/index.tsx
  src/pages/ShoppingBag/payment/index.tsx
  src/service/shoppingBagService.ts
Due: none

layout responsiveness, organizing code, renaming components and Readme
  README.md
  data.json
  package-lock.json
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/Router.tsx
  src/components/Container.tsx
  src/components/Form/Input/index.tsx
  src/components/Layout/index.tsx
  src/components/Navbar/NavItem.tsx
  src/components/Navbar/index.tsx
  src/components/Navbar/styles.css
  src/components/ProductItem/index.tsx
  src/components/Summary/Item/item.tsx
  src/components/Summary/index.tsx
  src/contexts/Checkout.tsx
  src/pages/Bag/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Payment/index.tsx
  src/schemas/payment.ts
  yarn.lock
Due: prettier --write

changing api call to services folder
  src/contexts/Checkout.tsx
  src/services/checkout.service.ts
Due: none

formatting code
  src/components/Summary/Item/item.tsx
  src/services/checkout.service.ts
  src/utils/formaters.ts
Due: none

Include validation with react hook form
  src/components/CardInputPayment/index.tsx
  src/components/InfoPrices/index.tsx
  src/pages/ShoppingBag/payment/index.tsx
Due: none

added the published project link
  README.md
Due: prettier --write

include error validation and handle submit data of payment
  package.json
  src/components/CardInputPayment/index.tsx
  src/pages/ShoppingBag/CompletedSuccess/index.tsx
  src/pages/ShoppingBag/index.tsx
  src/pages/ShoppingBag/payment/index.tsx
  yarn.lock
Due: prettier --write

Apply style in components
  src/components/CardInputPayment/CardInputPayment.style.tsx
  src/components/CardInputPayment/index.tsx
  src/components/CardProduct/cardProduct.style.tsx
  src/components/CardProduct/index.tsx
  src/components/CardSuccessPayment/CardSuccessPayment.style.tsx
  src/components/CardSuccessPayment/index.tsx
  src/components/InfoPrices/index.tsx
  src/components/InfoPrices/infoPrices.style.tsx
  src/pages/ShoppingBag/Bag/index.tsx
  src/pages/ShoppingBag/CompletedSuccess/index.tsx
  src/pages/ShoppingBag/ShoppingBag.style.tsx
  src/pages/ShoppingBag/index.tsx
Due: none

create layout of page and componnents
  package.json
  src/components/CardInputPayment/CardInputPayment.style.tsx
  src/components/CardInputPayment/index.tsx
  src/components/CardProduct/cardProduct.style.tsx
  src/components/CardSuccessPayment/CardSuccessPayment.style.tsx
  src/components/InfoPrices/index.tsx
  src/components/InfoPrices/infoPrices.style.tsx
  src/pages/ShoppingBag/Bag/Bag.style.tsx
  src/pages/ShoppingBag/Bag/index.tsx
  src/pages/ShoppingBag/CompletedSuccess/CompletedSuccess.style.tsx
  src/pages/ShoppingBag/CompletedSuccess/index.tsx
  src/pages/ShoppingBag/ShoppingBag.style.tsx
  src/pages/ShoppingBag/index.tsx
  src/pages/ShoppingBag/payment/Payment.style.tsx
  src/pages/ShoppingBag/payment/index.tsx
  yarn.lock
Due: prettier --write

include mask in number card and remove console log
  src/components/CardInputPayment/index.tsx
  src/pages/ShoppingBag/CompletedSuccess/index.tsx
  src/pages/ShoppingBag/payment/index.tsx
  src/service/shoppingBagService.ts
  src/service/shoppingBagService.unit.test.ts
Due: none

complete validations on credit card inputs
  src/components/CardInputPayment/index.tsx
Due: none

implemente test units
  package.json
  src/pages/ShoppingBag/payment/Payment.test.tsx
  src/service/shoppingBagService.unit.test.ts
  yarn.lock
Due: prettier --write

create test E2E
  cypress.config.ts
  cypress/e2e/shoppingBag.spec.cy.ts
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package.json
  src/App.test.tsx
  src/pages/ShoppingBag/payment/Payment.test.tsx
  yarn.lock
Due: prettier --write

Change layout
  src/components/CardInputPayment/CardInputPayment.style.tsx
  src/components/InfoPrices/index.tsx
  src/components/InfoPrices/infoPrices.style.tsx
  src/index.css
  src/pages/ShoppingBag/CompletedSuccess/index.tsx
  src/pages/ShoppingBag/ShoppingBag.style.tsx
  src/pages/ShoppingBag/index.tsx
Due: prettier --write

feat: initial layout structure
  package.json
  src/App.tsx
  src/pages/Bag/index.tsx
  src/pages/_layout/index.tsx
  yarn.lock
Due: prettier --write

feat: install React Query and fetch data
  package.json
  src/App.tsx
  src/components/CartTab/index.tsx
  src/hooks/useCart.ts
  src/pages/Bag/index.tsx
  yarn.lock
Due: prettier --write

feat: implement CardInfo component
  src/App.css
  src/App.test.tsx
  src/components/CartInfo/index.tsx
  src/components/CartTab/index.tsx
  src/hooks/useCart.ts
  src/pages/Bag/index.tsx
  src/pages/_layout/index.tsx
  src/utils/money.ts
Due: prettier --write

feat: finish touch in CardInfo
  src/App.css
  src/components/CartInfo/index.tsx
  src/pages/Bag/index.tsx
  src/pages/_layout/index.tsx
Due: prettier --write

feat: change tabs border and text color
  src/App.css
Due: prettier --write

feat: create products list
  package.json
  src/App.css
  src/components/CartInfo/index.tsx
  src/components/CartTab/index.tsx
  src/components/CartTab/styled.ts
  yarn.lock
Due: prettier --write

feat: finishing confirmation page
  src/App.css
  src/components/CartInfo/index.tsx
  src/components/CartTab/index.tsx
  src/components/ConfirmationTab/index.tsx
  src/components/PaymentTab/index.tsx
  src/pages/Bag/index.tsx
  src/utils/card.ts
Due: prettier --write

refactor: remove console
  src/components/CartTab/index.tsx
  src/pages/Bag/index.tsx
Due: none

refactor: define new types on FetchCart and remove no used code
  src/components/CartTab/index.tsx
  src/components/CartTab/styled.ts
  src/hooks/useCart.ts
Due: none

chore: add close stale PR workflow
  .github/workflows/stale.yml
Due: none

chore: add close stale PR workflow (#201)
  .github/workflows/stale.yml
Due: none

build: create next app
  .editorconfig
  .eslintrc.json
  .gitignore
  .prettierrc
  README.md
  index.html
  jsconfig.json
  next.config.js
  package.json
  public/robots.txt
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/main.tsx
  src/pages/_app.js
  src/pages/_document.js
  src/pages/index.js
  src/test/setup-test.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: eslint/prettier setup
  .eslintrc.json
  package.json
  src/pages/_app.js
  src/pages/_document.js
  src/pages/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: husky/commitlint setup
  .commitlintrc.js
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add eslint rule to husky
  .husky/pre-commit
  package.json
Due: prettier --write

chore: creates makefile
  Makefile
Due: none

chore: jest/react-testing-library setup
  jest.config.mjs
  jest.setup.js
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add basic css reset
  src/pages/_app.js
  src/styles/global.css
Due: prettier-eslint --write, eslint, prettier --write

chore: add .eslintignore
  .eslintignore
Due: none

feat: creates Text component
  src/components/shared/Text/Text.js
  src/components/shared/Text/Text.test.js
  src/components/shared/Text/index.js
  src/pages/index.js
  src/styles/global.css
Due: prettier-eslint --write, eslint, prettier --write

fix(Text): removes unnecessary OR operator in styles
  src/components/shared/Text/Text.js
Due: prettier-eslint --write, eslint

build: add yarn test on pre-commit
  .husky/pre-commit
Due: none
