Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

Fixed styling accross all containers and commons
  src/commons/button.css
  src/commons/cartItem.css
  src/commons/cartList.css
  src/commons/priceSummary.css
  src/commons/title.css
  src/containers/cartContainer/cartContainer.css
  src/containers/navbarContainer/navbarContainer.css
  src/containers/paymentContainer/components/cardForm.css
  src/containers/paymentContainer/paymentContainer.css
  src/containers/successContainer/successContainer.css
  src/index.css
Due: prettier --write

Fixed textField test
  src/containers/paymentContainer/components/textField.test.js
Due: prettier-eslint --write, eslint

Added card form validation for enabling button
  src/commons/button.css
  src/commons/button.js
  src/containers/paymentContainer/paymentContainer.js
Due: prettier-eslint --write, eslint, prettier --write

docs: write readme doc
  README.md
  package.json
Due: prettier --write

chore: remove eslintConfig react-app
  package.json
Due: prettier --write

feat: release v1.0.0
  package.json
Due: prettier --write

First commit, start of components
  package.json
  src/App.js
  src/assets/styles/global.js
  src/components/Header/index.js
  src/components/Header/styles.js
  src/components/Items/index.js
  src/components/Items/styles.js
  src/config/api.js
  src/index.js
  src/pages/Cart/index.js
  src/services/checkout.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

style: font-size in monitor device
  src/styles/base/_elements.scss
Due: none

Finish payment and products list
  src/App.js
  src/assets/styles/global.js
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/CreditCardForm/index.js
  src/components/CreditCardForm/styles.js
  src/components/Informations/index.js
  src/components/Informations/styles.js
  src/components/Input/index.js
  src/components/Input/styles.js
  src/components/Items/index.js
  src/components/Items/styles.js
  src/components/ListItems/index.js
  src/components/ListItems/styles.js
  src/pages/Cart/index.js
  src/pages/Payment/index.js
  src/pages/SuccessPayment/index.js
Due: prettier-eslint --write, eslint

Finish success payment page
  src/App.js
  src/assets/images/success-icon.png
  src/assets/styles/global.js
  src/components/CreditCardForm/styles.js
  src/components/ListItems/styles.js
  src/components/PaymentInformations/index.js
  src/components/PaymentInformations/styles.js
  src/components/SuccessMessage/index.js
  src/components/SuccessMessage/styles.js
  src/pages/SuccessPayment/index.js
Due: prettier-eslint --write, eslint

React-router addition
  package.json
  src/App.js
  src/components/Header/index.js
  src/components/Header/styles.js
  src/pages/Cart/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Added checkout hooks
  src/App.js
  src/assets/styles/global.js
  src/components/Button/index.js
  src/components/Header/index.js
  src/components/Informations/index.js
  src/components/Informations/styles.js
  src/components/ListItems/index.js
  src/hooks/useCheckout.js
  src/pages/Cart/index.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

Added react-maskinput, and finish the payment form
  package.json
  src/App.js
  src/components/Button/styles.js
  src/components/CreditCardForm/index.js
  src/components/CreditCardForm/styles.js
  src/components/Informations/index.js
  src/components/Input/index.js
  src/components/Input/styles.js
  src/components/Items/index.js
  src/components/Items/styles.js
  src/components/ListItems/index.js
  src/helpers/functions.js
  src/index.js
  src/pages/Cart/index.js
  src/pages/Payment/index.js
  src/pages/SuccessPayment/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Finish success payment page
  src/hooks/useCheckout.js
  src/pages/Cart/index.js
  src/pages/Payment/index.js
  src/pages/SuccessPayment/index.js
Due: prettier-eslint --write, eslint

Removing unused files
  src/App.css
  src/App.js
  src/index.css
  src/index.js
  src/logo.svg
Due: prettier-eslint --write, eslint, prettier --write

Start test, remove unused files and validate date
  package.json
  src/App.js
  src/App.test.js
  src/__tests__/hooks/useCheckout.spec.js
  src/assets/styles/global.js
  src/components/CreditCardForm/index.js
  src/components/Header/index.js
  src/components/Header/styles.js
  src/helpers/functions.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Update form, and added test for header
  package.json
  src/App.js
  src/__tests__/components/Header.spec.js
  src/components/Button/styles.js
  src/components/CreditCardForm/index.js
  src/components/CreditCardForm/styles.js
  src/components/Input/index.js
  src/helpers/functions.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Remove unused imports
  src/components/CreditCardForm/index.js
  src/helpers/functions.js
Due: prettier-eslint --write, eslint

Validation of the expiry date field
  src/components/CreditCardForm/index.js
  src/helpers/functions.js
Due: prettier-eslint --write, eslint

Update button validation and items style
  src/components/Items/styles.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

config + router
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/components/Input/Input.js
  src/components/Input/index.js
  src/components/NavBar/NavBar.js
  src/components/NavBar/index.js
  src/components/Product/Product.js
  src/components/Product/index.js
  src/components/Summary/Summary.js
  src/components/Summary/index.js
  src/container/App.js
  src/container/styles.js
  src/globalStyles.js
  src/index.css
  src/index.js
  src/logo.svg
  src/pages/Bag/Bag.js
  src/pages/Bag/index.js
  src/pages/Checkout/Checkout.js
  src/pages/Checkout/index.js
  src/pages/Payment/Payment.js
  src/pages/Payment/index.js
  src/utils/history.js
Due: prettier-eslint --write, eslint, prettier --write

navbar navigation
  src/components/NavBar/NavBar.js
  src/components/NavBar/styles.js
  src/pages/Bag/Bag.js
  src/pages/Checkout/Checkout.js
  src/pages/Payment/Payment.js
Due: prettier-eslint --write, eslint

button added
  src/components/Button/Button.js
  src/components/Button/index.js
  src/components/Button/styles.js
  src/pages/Bag/Bag.js
  src/pages/Payment/Payment.js
Due: prettier-eslint --write, eslint

product added
  src/api/api.js
  src/api/index.js
  src/components/Product/Product.js
  src/components/Product/styles.js
  src/container/App.js
  src/pages/Bag/Bag.js
  src/utils/Reducer/Reducer.js
  src/utils/Reducer/ReducerContext.js
  src/utils/Reducer/index.js
  src/utils/currency.js
  src/utils/index.js
Due: prettier-eslint --write, eslint

summary add
  src/components/Button/Button.js
  src/components/Button/styles.js
  src/components/Product/Product.js
  src/components/Product/styles.js
  src/components/Summary/Summary.js
  src/components/Summary/styles.js
  src/pages/Bag/Bag.js
  src/pages/Bag/styles.js
Due: prettier-eslint --write, eslint

added payment page/checkout
  package-lock.json
  package.json
  src/components/Button/styles.js
  src/components/Input/Input.js
  src/components/Input/styles.js
  src/components/Product/styles.js
  src/pages/Bag/Bag.js
  src/pages/Checkout/Checkout.js
  src/pages/Checkout/styles.js
  src/pages/Payment/Payment.js
  src/pages/Payment/styles.js
  src/utils/Cart/utils.js
  src/utils/Reducer/Reducer.js
Due: prettier-eslint --write, eslint, prettier --write

adjustment layout form
  package-lock.json
  package.json
  src/components/Input/Input.js
  src/components/Input/styles.js
  src/globalStyles.js
  src/pages/Payment/Payment.js
  src/pages/Payment/styles.js
  src/utils/Cart/utils.js
Due: prettier-eslint --write, eslint, prettier --write

adjust validate input
  src/components/Input/Input.js
  src/components/Input/styles.js
Due: prettier-eslint --write, eslint

Set theme jekyll-theme-cayman
  _config.yml
Due: none

outline disable
  src/components/Input/styles.js
  src/pages/Checkout/Checkout.js
  src/pages/Payment/Payment.js
Due: prettier-eslint --write, eslint

adjust style
  src/components/Input/Input.js
  src/components/Input/styles.js
  src/pages/Bag/styles.js
  src/pages/Checkout/styles.js
  src/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

feat: add stylelint
  .eslintrc
  .prettierrc
  .stylelintrc
  .vscode/settings.json
Due: prettier --write

feat: add prettier
  package-lock.json
  package.json
Due: prettier --write

feat: add prettier
  src/pages/_app.tsx
  src/pages/confirmacao.tsx
  src/pages/index.tsx
  src/pages/pagamento.tsx
  src/styles/base/_reset.scss
  src/styles/settings/_screen-sizes.scss
  src/styles/tools/_functions.scss
Due: none

update
  README.md
Due: prettier --write
