Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: integrated with cart endpoint and store configuration
  package.json
  src/App.js
  src/actions/cartActios.js
  src/actions/types.js
  src/config/store.js
  src/pages/Cart/index.js
  src/reducers/cartReducers.js
  src/reducers/index.js
  src/services/cart.js
  src/store.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: header and navbar components implemented
  src/App.css.js
  src/App.js
  src/components/Header/index.js
  src/components/Navbar/index.css.js
  src/components/Navbar/index.js
  src/components/index.js
  src/reducers/cartReducers.js
  src/routes.js
  src/utils/colors.js
Due: prettier-eslint --write, eslint

feat: cart page initialized
  src/components/List/index.js
  src/components/List/styles.css.js
  src/components/ListItem/index.js
  src/components/ListItem/styles.css.js
  src/components/Navbar/index.js
  src/components/Navbar/styles.css.js
  src/components/Typography/index.js
  src/components/Typography/styles.css.js
  src/components/index.js
  src/pages/Cart/index.js
  src/pages/Cart/styles.css.js
  src/utils/colors.js
  src/utils/validation.js
Due: prettier-eslint --write, eslint

feat: cart page finished
  src/components/Button/index.js
  src/components/Button/styles.css.js
  src/components/Header/index.js
  src/components/Header/styles.css.js
  src/components/ListItem/styles.css.js
  src/components/TotalInfos/index.js
  src/components/TotalInfos/styles.css.js
  src/components/index.js
  src/pages/Cart/index.js
  src/pages/Cart/styles.css.js
Due: prettier-eslint --write, eslint

feat: payment page finished
  package.json
  src/components/Input/index.js
  src/components/Input/styles.css.js
  src/components/index.js
  src/pages/Cart/index.js
  src/pages/Payment/index.js
  src/pages/Payment/styles.css.js
  src/routes.js
  src/utils/colors.js
  src/utils/validation.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: success page finished
  package.json
  src/actions/paymentActions.js
  src/actions/types.js
  src/components/ClientInfo/index.js
  src/components/ClientInfo/styles.css.js
  src/components/SuccessMessage/index.js
  src/components/SuccessMessage/styles.css.js
  src/components/index.js
  src/pages/Payment/index.js
  src/pages/Success/index.js
  src/pages/Success/styles.css.js
  src/reducers/index.js
  src/reducers/paymentReducers.js
  src/routes.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: redux persist added and configured
  package.json
  src/App.js
  src/store.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Finish cart page
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/components/Button/index.js
  src/components/Title/index.js
  src/index.css
  src/index.js
  src/logo.svg
  src/pages/Cart/CartItem/index.js
  src/pages/Cart/CartItem/styles.js
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
  src/routes/Menu/MenuItem/index.js
  src/routes/Menu/MenuItem/styles.js
  src/routes/Menu/index.js
  src/routes/Menu/styles.js
  src/routes/index.js
  src/routes/styles.js
  src/serviceWorker.js
  src/services/api.js
  src/setupTests.js
  src/styles/global.js
  src/utils/convertValue.js
  src/utils/px2vw.js
  src/utils/windowDimension.js
Due: prettier-eslint --write, eslint, prettier --write

test: components tests implemented
  package-lock.json
  public/index.html
  src/__tests__/components/Button.spec.js
  src/__tests__/components/ClientInfo.spec.js
  src/__tests__/components/Header.spec.js
  src/__tests__/components/Input.spec.js
  src/__tests__/components/List.spec.js
  src/__tests__/components/ListItem.spec.js
  src/__tests__/components/Navbar.spec.js
  src/__tests__/components/SuccessMessage.spec.js
  src/__tests__/components/TotalInfos.spec.js
  src/__tests__/components/Typography.spec.js
  src/components/Input/index.js
  src/components/List/index.js
  src/setupTests.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

test: page tests implemented
  src/__tests__/components/List.spec.js
  src/__tests__/components/ListItem.spec.js
  src/__tests__/components/TotalInfos.spec.js
  src/__tests__/components/Typography.spec.js
  src/__tests__/pages/Cart.spec.js
  src/__tests__/pages/Payment.spec.js
  src/__tests__/pages/Success.spec.js
  src/__tests__/utils/Validations.spec.js
  src/components/ListItem/index.js
  src/components/TotalInfos/index.js
  src/components/Typography/index.js
  src/pages/Cart/index.js
  src/pages/Payment/index.js
  src/pages/Success/index.js
  src/reducers/cartReducers.js
  src/reducers/paymentReducers.js
  src/utils/validations.js
Due: prettier-eslint --write, eslint

refactor: bugs fixed
  public/index.html
  src/__tests__/pages/Payment.spec.js
  src/__tests__/utils/Validations.spec.js
  src/components/ClientInfo/index.js
  src/components/SuccessMessage/index.js
  src/pages/Cart/index.js
  src/pages/Payment/index.js
  src/services/cart.js
  src/utils/validations.js
Due: prettier-eslint --write, eslint, prettier --write

Finish payment page
  package-lock.json
  package.json
  src/components/Input/index.js
  src/components/Input/styles.js
  src/components/SaleInfos/Info/index.js
  src/components/SaleInfos/index.js
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
  src/pages/Payment/index.js
  src/pages/Payment/styles.js
  src/routes/index.js
  src/styles/global.js
Due: prettier-eslint --write, eslint, prettier --write

Finish pages
  package-lock.json
  package.json
  src/App.js
  src/components/Items/CartItem/index.js
  src/components/Items/CartItem/styles.js
  src/components/Items/index.js
  src/components/Items/styles.js
  src/pages/Confirm/index.js
  src/pages/Confirm/styles.js
  src/pages/Payment/index.js
  src/routes/Menu/MenuItem/index.js
  src/routes/index.js
  src/store/actionTypes/cart.js
  src/store/actionTypes/menu.js
  src/store/actionTypes/payment.js
  src/store/actions/cart/index.js
  src/store/actions/menu/index.js
  src/store/actions/payment/index.js
  src/store/index.js
  src/store/reducers/cart/index.js
  src/store/reducers/index.js
  src/store/reducers/menu/index.js
  src/store/reducers/payment/index.js
  src/utils/maskCards.js
Due: prettier-eslint --write, eslint, prettier --write

Add docker file
  .dockerignore
  Dockerfile
  README.md
Due: prettier --write

chore(styles): styles global, colors and typography added
  src/styles/colors.js
  src/styles/global.js
  src/styles/typography.js
Due: prettier-eslint --write, eslint

chore(public): images folder and html configuration
  public/favicon.ico
  public/images/logo/logo.png
  public/images/logo/logo.svg
  public/index.html
  public/manifest.json
  public/robots.txt
Due: prettier --write

chore: base routes
  src/routes.js
Due: prettier-eslint --write, eslint

chore(global): initial folder structure - added eslint, styled-components
  .eslintrc.js
  README.md
  jsconfig.json
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/pages/CheckOut/index.jsx
  src/pages/CheckOut/styled.js
  src/serviceWorker.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: added constants folder
  src/constants/config/index.js
  src/constants/styles/colors.js
  src/constants/styles/global.js
  src/constants/styles/typography.js
  src/index.js
Due: prettier-eslint --write, eslint

chore: created components Wrapper, ContentWrapper, Button, ContentTitle, Header and Loader
  src/components/Buttons/index.jsx
  src/components/Buttons/styled.js
  src/components/ContentTitle/index.jsx
  src/components/ContentTitle/styled.js
  src/components/ContentWrapper/index.jsx
  src/components/ContentWrapper/styled.js
  src/components/Header/index.jsx
  src/components/Header/styled.js
  src/components/Loader/index.jsx
  src/components/Loader/styled.js
  src/components/Wrapper/index.jsx
  src/components/Wrapper/styled.js
Due: prettier-eslint --write, eslint

chore: added static data
  src/constants/data/components/header/index.js
  src/constants/data/containers/bag/index.js
  src/constants/styles/colors.js
  src/constants/styles/global.js
  src/constants/styles/typography.js
Due: prettier-eslint --write, eslint

chore: starting page
  src/pages/CheckOut/index.jsx
  src/pages/CheckOut/styled.js
Due: prettier-eslint --write, eslint

docs: added constants on folder structure
  README.md
Due: prettier --write

feat: starting Bag Container
  src/containers/Bag/index.jsx
  src/containers/Bag/styled.js
Due: prettier-eslint --write, eslint

chore(global): redux
  package.json
  yarn.lock
Due: prettier --write

feat: components created - CardProduct, ContentWrapper and Loader
  src/components/CardProduct/index.jsx
  src/components/CardProduct/styled.js
  src/components/ContentWrapper/index.jsx
  src/components/ContentWrapper/styled.js
  src/components/Loader/styled.js
Due: prettier-eslint --write, eslint

refactor: slice data
  src/constants/config/index.js
Due: prettier-eslint --write, eslint

feat: starting container
  src/containers/Bag/index.jsx
  src/containers/Cart/index.jsx
  src/containers/Cart/styled.js
Due: prettier-eslint --write, eslint

chore: remove redux
  package.json
  yarn.lock
Due: prettier --write

refactor: Cart filename
  src/pages/CheckOut/index.jsx
Due: none

feat: api instance created
  src/services/api.js
  src/services/cart/index.js
Due: prettier-eslint --write, eslint

feat: function to convert money locate added
  src/utils/convertMoney.js
Due: prettier-eslint --write, eslint

feat: added news components
  src/components/Buttons/index.jsx
  src/components/Buttons/styled.js
  src/components/CardValues/index.jsx
  src/components/CardValues/styled.js
  src/components/ContentTitle/styled.js
  src/components/ContentWrapper/index.jsx
  src/components/Inputs/index.jsx
  src/components/Inputs/styled.js
  src/components/Loader/styled.js
  src/components/PaymentForm/index.jsx
  src/components/PaymentForm/styled.js
  src/components/ProductItem/index.jsx
  src/components/ProductItem/styled.js
  src/components/Wrapper/styled.js
Due: prettier-eslint --write, eslint

feat: new data and color
  src/constants/data/components/cardValues/index.js
  src/constants/data/containers/cart/index.js
  src/constants/data/containers/payment/index.js
  src/constants/styles/colors.js
  src/constants/styles/global.js
  src/constants/styles/typography.js
Due: prettier-eslint --write, eslint

feat: stating cart contexts
  src/contexts/checkout.js
  src/routes.js
Due: prettier-eslint --write, eslint

chore: react-input-mask
  package.json
  yarn.lock
Due: prettier --write

refactor: new folder structure - using only pages and discard container
  src/containers/Cart/index.jsx
  src/containers/Cart/styled.js
  src/pages/Cart/index.jsx
  src/pages/CheckOut/index.jsx
  src/pages/Payment/index.jsx
Due: prettier-eslint --write, eslint

fix: convert to english
  src/services/cart/index.js
Due: prettier-eslint --write, eslint

docs: switch container to contexts
  README.md
Due: prettier --write

feat: remove unused files and create button component
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/components/Button/index.js
  src/images/logo.svg
  src/index.css
  src/index.js
  src/serviceWorker.js
  src/styles/global.js
  src/styles/theme.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write
