Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

Refactoring native css
  src/components/PurchaseData/PurchaseData.jsx
  src/components/PurchaseData/PurchaseData.styled.js
  src/pages/Sucess/Sucess.jsx
  src/pages/Sucess/Sucess.styled.js
Due: prettier-eslint --write, eslint

Simple tests and refactoring native css
  src/components/Button/Button.test.js
  src/components/Header/Header.jsx
  src/components/Header/Header.test.js
  src/components/PurchaseData/PurchaseData.jsx
  src/components/Title/Title.jsx
  src/components/Title/Title.test.js
  src/context/CartProvider.js
  src/pages/Bag/Bag.jsx
  src/pages/Bag/Bag.styled.js
  src/pages/Bag/Bag.test.js
  src/pages/Payment/Payment.jsx
  src/pages/Payment/Payment.test.js
  src/pages/Sucess/Sucess.jsx
  src/pages/Sucess/Sucess.styled.js
  src/pages/Sucess/Sucess.test.js
Due: prettier-eslint --write, eslint

unit tests
  src/pages/Bag/Bag.test.js
  src/pages/Payment/Payment.jsx
  src/pages/Payment/Payment.test.js
  src/pages/Sucess/Sucess.test.js
Due: prettier-eslint --write, eslint

Update README.md
  README.md
Due: prettier --write

feat: setup project and install dependencies
  public/logo.svg
  src/serviceWorker.js
  src/setupTests.ts
Due: prettier-eslint --write, eslint

feat: transform javascript files into typescript
  jest.config.js
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/App.tsx
  src/index.css
  src/index.tsx
  src/react-app-env.d.ts
  src/routes.tsx
  src/serviceWorker.js
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: setup environment and routes
  src/App.tsx
  src/pages/Cart/index.tsx
  src/pages/Payment/index.tsx
  src/pages/Success/index.tsx
  src/routes.tsx
  src/styles/global.ts
Due: none

feat: typing api's return
  src/services/api.ts
  src/types.ts
Due: none

feat: create useCartDetails context hook
  src/App.tsx
  src/hooks/useCartDetails.tsx
  src/services/api.ts
  src/types.ts
Due: none

fix: change prettier file to fit generic typescript
  .prettierrc
  src/hooks/useCartDetails.tsx
Due: none

feat: add global theme colors
  package.json
  src/App.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/MediaMatch/index.tsx
  src/pages/Cart/index.tsx
  src/styles/theme.ts
  src/types/styled-components.d.ts
  yarn.lock
Due: prettier --write

feat: create component button
  src/components/Button/styles.ts
  src/pages/Cart/index.tsx
  src/styles/theme.ts
Due: none

feat: create input component
  src/components/Button/styles.ts
  src/components/TextField/index.tsx
  src/components/TextField/styles.ts
  src/pages/Cart/index.tsx
  src/styles/theme.ts
  src/types/styled-components.d.ts
Due: none

feat: add InputMask on TextField
  package.json
  src/components/TextField/index.tsx
  yarn.lock
Due: prettier --write

feat: insert local helvetica neue font
  public/fonts/HelveticaNeueCyr-Bold.woff2
  public/fonts/HelveticaNeueCyr-Light.woff2
  public/fonts/HelveticaNeueCyr-Roman.woff2
  src/components/Menu/index.tsx
  src/components/Menu/styles.ts
  src/pages/Cart/index.tsx
  src/styles/global.ts
  src/styles/theme.ts
Due: none

feat: create Menu component
  src/components/Button/styles.ts
  src/components/Menu/styles.ts
  src/components/TextField/styles.ts
  src/pages/Cart/index.tsx
  src/styles/global.ts
  src/styles/theme.ts
Due: none

feat: create Product component
  src/components/Menu/styles.ts
  src/components/Product/index.tsx
  src/components/Product/styles.ts
  src/components/TextField/styles.ts
  src/hooks/useCartDetails.tsx
  src/pages/Cart/index.tsx
  src/styles/theme.ts
  src/types.ts
  src/types/productTypes.ts
  src/util/format.ts
Due: none

refactor: inject theme on global.ts
  src/components/InfoWrapper/index.tsx
  src/components/InfoWrapper/styles.ts
  src/pages/Cart/index.tsx
  src/styles/global.ts
  src/styles/theme.ts
  src/types/styled-components.d.ts
Due: none

feat: create InfoWrapper component
  src/components/Button/styles.ts
  src/components/InfoWrapper/styles.ts
Due: none

feat: create success component
  src/components/Icons/CheckIcon.tsx
  src/components/Success/index.tsx
  src/components/Success/styles.ts
  src/pages/Cart/index.tsx
Due: none

feat: insert userPaymentInfo on context hook
  src/components/Icons/CheckIcon.tsx
  src/hooks/useCartDetails.tsx
Due: none

feat: create loader component
  src/components/Loader/index.tsx
  src/components/Loader/styles.ts
  src/components/Menu/index.tsx
  src/hooks/useCartDetails.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
Due: none

feat: create Subtotal component
  src/components/Subtotal/index.tsx
  src/components/Subtotal/styles.ts
  src/pages/Cart/index.tsx
  src/styles/theme.ts
Due: none

feat: setup cart page and desktop view
  src/components/InfoWrapper/index.tsx
  src/components/Loader/styles.ts
  src/components/Menu/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/styles/theme.ts
Due: none

feat: insert icon on menu desktop
  package.json
  src/components/Menu/index.tsx
  src/components/Menu/styles.ts
  yarn.lock
Due: prettier --write

feat: create PaymentForm and initialize form validation
  package.json
  src/components/Button/styles.ts
  src/components/PaymentForm/index.tsx
  src/components/PaymentForm/styles.ts
  src/components/Subtotal/index.tsx
  src/components/TextField/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/types/productTypes.ts
  src/util/validations/index.ts
  yarn.lock
Due: prettier --write

feat: improve form validations
  src/components/PaymentForm/index.tsx
  src/hooks/useCartDetails.tsx
  src/pages/Payment/index.tsx
  src/util/validations/index.ts
Due: none

feat: persist data throw route changing and finish form setup
  package.json
  src/components/Menu/index.tsx
  src/components/Menu/styles.ts
  src/components/PaymentForm/index.tsx
  src/components/TextField/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Success/index.tsx
  src/pages/Success/styles.ts
  src/util/validations/index.ts
  yarn.lock
Due: prettier --write

refactor: change page styles to fit desktop
  src/assets/bag.png
  src/components/CartSuccess/index.tsx
  src/components/CartSuccess/styles.ts
  src/components/Empty/index.tsx
  src/components/Empty/styles.ts
  src/components/PaymentForm/index.tsx
  src/components/PaymentForm/styles.ts
  src/components/Product/index.tsx
  src/hooks/useCartDetails.tsx
  src/pages/Success/index.tsx
  src/pages/Success/styles.ts
  src/util/format.ts
Due: none

feat: finish pages layout
  src/components/Empty/styles.ts
  src/components/PaymentForm/styles.ts
  src/pages/Success/index.tsx
  src/pages/Success/styles.ts
Due: none

refactor: improve validaton schemas with Joi
  src/components/Button/styles.ts
  src/components/PaymentForm/index.tsx
  src/hooks/useCartDetails.tsx
  src/pages/Success/index.tsx
  src/styles/global.ts
  src/util/validations/index.ts
Due: none

feat: finish form validations
  src/components/PaymentForm/index.tsx
  src/util/validations/errors.ts
  src/util/validations/index.ts
Due: none

feat: validate credit card number and expirationDate
  src/util/validations/errors.ts
Due: none

feat: create button unit tests
  .jest/setup.ts
  jest.config.js
  package.json
  src/__tests__/components/button.test.tsx
  src/hooks/useCartDetails.tsx
  src/util/test-utils.tsx
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create cartSucess unit tests
  src/__tests__/components/cartSuccess.test.tsx
  src/components/CartSuccess/index.tsx
  src/components/Icons/CheckIcon.tsx
Due: none

feat: create empty unit tests
  src/__tests__/components/empty.test.tsx
  src/components/Empty/index.tsx
Due: none

feat: create infoWrapper unit tests
  jest.config.js
  src/__tests__/components/infoWrapper.test.tsx
  src/components/InfoWrapper/index.tsx
Due: prettier-eslint --write, eslint

feat: create loader unit tests
  src/__tests__/components/infoWrapper.test.tsx
  src/__tests__/components/loader.test.tsx
  src/components/Loader/index.tsx
Due: none

feat: create menu unit tests
  src/__tests__/components/loader.test.tsx
  src/__tests__/components/mediaMatch.test.tsx
  src/__tests__/components/menu.test.tsx
  src/__tests__/components/paymentForm.test.tsx
Due: none

feat: create product unit tests
  src/__tests__/components/paymentForm.test.tsx
  src/__tests__/components/product.test.tsx
  src/components/PaymentForm/index.tsx
  src/components/Product/index.tsx
  src/util/validations/errors.ts
Due: none
