Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

test(bagdetails): creating bagdetails tests
  src/components/molecules/bagDetails/BagDetails.spec.tsx
  src/components/molecules/bagDetails/BagDetails.tsx
Due: none

test(pageskeleton): creating pageskeleton tests
  src/components/molecules/pageSkeleton/PageSkeleton.spec.tsx
  src/components/molecules/pageSkeleton/__snapshots__/PageSkeleton.spec.tsx.snap
Due: none

test(productpaper): creating productpaper tests
  src/components/molecules/productPaper/ProductPaper.spec.tsx
Due: none

test(paymentconfirmation): creating paymentconfirmation tests
  src/components/molecules/PaymentConfirmation/PaymentConfirmation.spec.tsx
Due: none

test(paymentform): creating paymentform tests
  src/components/molecules/paymentForm/PaymentForm.spec.tsx
  src/components/molecules/paymentForm/PaymentForm.tsx
Due: none

test(mock server worker): adding msw in order to mock all apis
  package-lock.json
  package.json
Due: prettier --write

test(bag test): adding bag tests
  mock/bagResponse/index.ts
  src/pages/bag/Bag.spec.tsx
  src/test-utils.tsx
Due: none

test(pages test): adding pages test
  src/contexts/BagContext.tsx
  src/pages/bag/Bag.spec.tsx
  src/pages/bag/Bag.tsx
  src/pages/confirmation/Confirmation.spec.tsx
  src/pages/confirmation/Confirmation.tsx
  src/pages/payment/Payment.spec.tsx
  src/pages/payment/Payment.tsx
  src/test-utils.tsx
Due: none

test(app test): adding app test in order to test the flow
  src/App.spec.tsx
Due: none

refactor(setupmockserver): refactoring mock server setup file
  mock/msw/setupMockServer.ts
  src/App.spec.tsx
  src/pages/bag/Bag.spec.tsx
Due: none

docs(readme file): adding project description
  README.md
Due: prettier --write

docs(readme refactor): updating readme style
  README.md
Due: prettier --write

refactor(global css): adjusting font family and adding favicon
  public/index.html
  src/assets/fonts/HelveticaNeue.eot
  src/assets/fonts/HelveticaNeue.ttf
  src/assets/fonts/HelveticaNeue.woff
  src/global/styles/style.ts
Due: prettier --write

refactor(components): adjusting css components
  src/components/atoms/button/Button.style.ts
  src/components/molecules/productPaper/components/productItem/ProductItem.style.ts
Due: none

feat(payment form): changing form to validate when value changes and adding formatvalue prop
  src/components/atoms/input/Input.tsx
  src/components/molecules/paymentForm/PaymentForm.tsx
  src/pages/payment/Payment.tsx
Due: none

docs(readme): adjusting title size
  README.md
Due: prettier --write

criação de páginas e rotas
  package-lock.json
  package.json
  src/App.js
  src/pages/BasketPage.js
  src/pages/ConfirmPage.js
  src/pages/PaymentPage.js
  src/router/Router.js
  src/router/coordinator.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create initial structure
  package-lock.json
  package.json
  src/assets/styles/global.ts
  src/assets/styles/theme.ts
  src/assets/styles/types/styled.d.ts
  src/index.js
  src/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Checkout/index.tsx
  src/pages/Payment/index.tsx
  src/react-app-env.d.ts
  src/services/api.ts
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create header component
  package-lock.json
  package.json
  src/App.js
  src/assets/styles/theme.ts
  src/assets/styles/types/styled.d.ts
  src/components/Container/index.tsx
  src/components/Container/style.ts
  src/components/Header/index.tsx
  src/components/Header/style.ts
  src/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Checkout/index.tsx
  src/pages/Success/index.tsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create grid list component
  src/App.css
  src/App.js
  src/components/CartItem/index.tsx
  src/components/CartItem/style.ts
  src/components/Header/style.ts
  src/index.css
  src/logo.svg
  src/pages/Cart/index.tsx
  src/pages/Cart/style.ts
Due: prettier-eslint --write, eslint, prettier --write

feat: get products from api
  package-lock.json
  package.json
  src/assets/styles/global.js
  src/components/CartItems/index.jsx
  src/components/CartItems/style.js
  src/components/Container/index.jsx
  src/components/Container/style.js
  src/components/Header/index.jsx
  src/components/Header/index.tsx
  src/components/Header/style.js
  src/components/Product/index.jsx
  src/components/Product/style.js
  src/index.jsx
  src/pages/Cart/index.jsx
  src/pages/Cart/style.js
  src/pages/Payment/index.jsx
  src/pages/Success/index.jsx
  src/services/api.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

refactor: improve navbar component
  src/components/CartPrice/index.jsx
  src/components/CartPrice/style.js
  src/components/Header/index.jsx
  src/components/Header/style.js
  src/components/Product/index.jsx
  src/pages/Cart/index.jsx
Due: prettier-eslint --write, eslint

feat: cart price component
  src/App.test.js
  src/components/CartPrice/index.jsx
  src/components/CartPrice/style.js
  src/components/Header/style.js
  src/components/Product/index.jsx
  src/components/Product/style.js
  src/pages/Cart/index.jsx
  src/react-app-env.d.ts
  src/utils/index.js
Due: prettier-eslint --write, eslint

feat: finish cart page and button component
  src/components/Button/index.jsx
  src/components/Button/style.js
  src/pages/Cart/index.jsx
Due: prettier-eslint --write, eslint

feat: add skeleton effect when loading
  src/assets/styles/global.js
  src/components/CartPrice/index.jsx
  src/components/CartPrice/style.js
  src/pages/Cart/index.jsx
Due: prettier-eslint --write, eslint

feat: create payment page
  src/App.js
  src/components/CartItems/index.jsx
  src/components/Header/index.jsx
  src/components/Header/style.js
  src/components/Title/index.jsx
  src/components/Title/style.js
  src/pages/Cart/index.jsx
  src/pages/Payment/index.jsx
  src/pages/Payment/style.js
Due: prettier-eslint --write, eslint

feat: create form to payment
  src/assets/styles/global.js
  src/components/Form/index.jsx
  src/components/Form/style.js
  src/components/Header/style.js
  src/pages/Cart/index.jsx
  src/pages/Cart/style.js
  src/pages/Payment/index.jsx
  src/pages/Payment/style.js
Due: prettier-eslint --write, eslint

feat: using context to persist data between pages
  src/App.js
  src/components/CartPrice/index.jsx
  src/components/Form/index.jsx
  src/components/Input/index.jsx
  src/context/index.js
  src/pages/Cart/index.jsx
Due: prettier-eslint --write, eslint

fix: clean warnings
  src/App.js
  src/components/Form/index.jsx
  src/pages/Cart/index.jsx
Due: prettier-eslint --write, eslint

feat: create success page
  src/pages/Success/index.jsx
  src/pages/Success/style.js
Due: prettier-eslint --write, eslint

feat: finish success page
  src/assets/styles/global.js
  src/components/CartItems/index.jsx
  src/components/CartPrice/index.jsx
  src/components/Message/index.jsx
  src/components/Message/style.js
  src/components/PaymentInfo/index.jsx
  src/components/PaymentInfo/style.js
  src/pages/Success/index.jsx
  src/pages/Success/style.js
  src/utils/index.js
  tsconfig.json
Due: prettier-eslint --write, eslint, prettier --write

fix: hide price when page is success
  src/components/Message/style.js
  src/components/Product/index.jsx
  src/components/Product/style.js
Due: prettier-eslint --write, eslint

feat: validate card number and expiry date
  package-lock.json
  package.json
  public/index.html
  src/components/Form/index.jsx
  src/components/Form/index2.jsx
  src/pages/Cart/style.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

refactor: add theme in styled components
  src/App.js
  src/assets/styles/theme.js
  src/components/Button/style.js
  src/components/CartItems/style.js
  src/components/CartPrice/style.js
  src/components/Container/style.js
  src/components/Form/index2.jsx
  src/components/Form/style.js
  src/components/Header/style.js
  src/components/Input/index.jsx
  src/components/Message/style.js
  src/components/PaymentInfo/style.js
  src/components/Product/style.js
  src/components/Title/style.js
  src/pages/Cart/style.js
  src/pages/Payment/style.js
  src/pages/Success/style.js
Due: prettier-eslint --write, eslint

refactor: improve onchange function to apply masks
  src/components/Form/index.jsx
Due: none

refactor: improve inputs and messages
  src/components/Button/style.js
  src/components/Form/index.jsx
  src/components/Form/style.js
Due: prettier-eslint --write, eslint

feat: remove loadable to call components
  src/pages/Cart/index.jsx
  src/pages/Payment/index.jsx
  src/pages/Success/index.jsx
Due: none

test: tests to utils functions
  src/ __tests__ /Utils/utils.test.jsx
Due: none

fix: remove comments
  src/index.jsx
Due: none

fix: change bg color
  src/assets/styles/global.js
Due: prettier-eslint --write, eslint
