Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

Instaled Axios and created Cart files
  package.json
  src/components/cart/index.js
  src/components/cart/styles.css
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Created Cart List
  src/App.js
  src/components/cart/index.js
Due: prettier-eslint --write, eslint

Created CartItem Component
  src/App.css
  src/App.js
  src/components/cart/index.js
  src/components/cart/styles.css
  src/components/cartItem/index.js
  src/components/cartItem/styles.css
  src/components/header/index.js
  src/components/header/styles.css
Due: prettier-eslint --write, eslint, prettier --write

Created Cart Summary
  src/components/cart/index.js
  src/components/cart/styles.css
  src/components/header/styles.css
Due: prettier-eslint --write, eslint, prettier --write

Created Proceed Button on Cart
  src/components/cart/index.js
  src/components/cart/styles.css
Due: prettier-eslint --write, eslint, prettier --write

Created React Routes and renamed the Header to Navbar
  src/App.js
  src/components/cart/index.js
  src/components/header/index.js
  src/components/navbar/index.js
  src/components/navbar/styles.css
Due: prettier-eslint --write, eslint, prettier --write

Created Payment Form and reorganized folder structure
  src/App.js
  src/components/cartItem/index.js
  src/containers/cartContainer/cartContainer.css
  src/containers/cartContainer/cartContainer.js
  src/containers/cartContainer/components/cartItem.css
  src/containers/cartContainer/components/cartItem.js
  src/containers/cartContainer/components/cartList.css
  src/containers/cartContainer/components/cartList.js
  src/containers/navbarContainer/index.js
  src/containers/navbarContainer/styles.css
  src/containers/paymentContainer/components/cardForm.css
  src/containers/paymentContainer/components/cardForm.js
  src/containers/paymentContainer/components/textField.css
  src/containers/paymentContainer/components/textField.js
  src/containers/paymentContainer/paymentContainer.css
  src/containers/paymentContainer/paymentContainer.js
Due: prettier-eslint --write, eslint, prettier --write

Created SuccessContainer
  src/App.js
  src/assets/Check.png
  src/assets/Circle.png
  src/commons/button.css
  src/commons/button.js
  src/commons/priceSummary.css
  src/commons/priceSummary.js
  src/commons/title.css
  src/commons/title.js
  src/containers/cartContainer/cartContainer.css
  src/containers/cartContainer/cartContainer.js
  src/containers/navbarContainer/index.js
  src/containers/paymentContainer/components/textField.css
  src/containers/paymentContainer/paymentContainer.css
  src/containers/paymentContainer/paymentContainer.js
  src/containers/successContainer/successContainer.css
  src/containers/successContainer/successContainer.js
Due: prettier-eslint --write, eslint, prettier --write

Created SuccessContainer Check Icon
  package.json
  src/commons/priceSummary.css
  src/commons/title.js
  src/containers/successContainer/successContainer.css
  src/containers/successContainer/successContainer.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Implemented Redux, Redux-Thunks and removed Axios
  package.json
  src/App.js
  src/apis/products.js
  src/commons/loading.css
  src/commons/loading.js
  src/containers/cartContainer/cartContainer.js
  src/containers/checkout.js
  src/containers/paymentContainer/paymentContainer.js
  src/containers/successContainer/successContainer.js
  src/index.js
  src/store/actions/products.js
  src/store/constants/actions.js
  src/store/index.js
  src/store/reducers/index.js
  src/store/reducers/products.js
  src/thunks/products.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Added CardForm data Persistency
  src/containers/paymentContainer/components/cardForm.js
  src/containers/paymentContainer/components/textField.js
  src/containers/paymentContainer/paymentContainer.js
  src/store/actions/card.js
  src/store/constants/actions.js
  src/store/reducers/card.js
  src/store/reducers/index.js
  src/store/reducers/products.js
Due: prettier-eslint --write, eslint

Fixed background size
  src/App.js
  src/containers/checkout.css
  src/containers/checkout.js
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

Enhanced responsiveness of CardForm and Navbar
  src/commons/priceSummary.css
  src/commons/title.js
  src/containers/navbarContainer/styles.css
  src/containers/paymentContainer/components/cardForm.css
  src/containers/paymentContainer/components/textField.css
  src/containers/successContainer/successContainer.css
Due: prettier-eslint --write, eslint, prettier --write

Added data vpayment data validation for succes page
  src/containers/successContainer/successContainer.js
Due: prettier-eslint --write, eslint

Added input mask on cardForm
  package.json
  src/containers/paymentContainer/components/cardForm.js
  src/containers/paymentContainer/components/textField.css
  src/containers/paymentContainer/components/textField.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Added card data validation on CardForm
  package.json
  src/commons/button.js
  src/containers/paymentContainer/components/cardForm.js
  src/containers/paymentContainer/components/textField.css
  src/containers/paymentContainer/components/textField.js
  src/containers/paymentContainer/paymentContainer.js
  src/store/reducers/card.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Added order completed validation
  src/commons/button.css
  src/containers/cartContainer/cartContainer.js
  src/containers/checkout.js
  src/containers/navbarContainer/index.js
  src/containers/navbarContainer/styles.css
  src/containers/paymentContainer/components/cardForm.js
  src/containers/paymentContainer/paymentContainer.js
  src/store/actions/order.js
  src/store/constants/actions.js
  src/store/reducers/index.js
  src/store/reducers/order.js
Due: prettier-eslint --write, eslint, prettier --write

Deleted package-lock
  package-lock.json
Due: prettier --write

feat: add totals component
  src/components/Shelf/index.tsx
  src/components/Totals/Totals.test.tsx
  src/components/Totals/index.tsx
Due: none

Enhanced field validation on CardForm
  package.json
  src/containers/paymentContainer/components/cardForm.js
  src/containers/successContainer/successContainer.js
  src/store/reducers/card.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Added active route highlight on NavBar
  src/containers/cartContainer/components/cartList.js
  src/containers/navbarContainer/index.js
  src/containers/navbarContainer/styles.css
Due: prettier-eslint --write, eslint, prettier --write

Setup first test and fixed prop className for FA icon
  src/App.test.js
  src/commons/loading.js
  src/containers/checkout.js
  yarn.lock
Due: prettier-eslint --write, eslint

Created tests for commons
  src/commons/loading.js
  src/commons/priceSummary.js
  src/commons/tests/button.test.js
  src/commons/tests/loading.test.js
  src/commons/tests/priceSummary.test.js
  src/commons/tests/title.test.js
  src/commons/title.js
  src/containers/paymentContainer/components/textField.js
Due: prettier-eslint --write, eslint

Created tests for NavBar container
  src/containers/checkout.js
  src/containers/navbarContainer/navbarContainer.css
  src/containers/navbarContainer/navbarContainer.js
  src/containers/navbarContainer/navbarContainer.test.js
Due: prettier-eslint --write, eslint, prettier --write

Created tests for cart components
  src/containers/cartContainer/cartContainer.test.js
  src/containers/cartContainer/components/cartItem.js
  src/containers/cartContainer/components/cartItem.test.js
  src/containers/cartContainer/components/cartList.js
  src/containers/cartContainer/components/cartList.test.js
Due: prettier-eslint --write, eslint

Changed Prettier to require semicolons and updated all files
  .prettierrc
  package.json
  src/App.js
  src/App.test.js
  src/apis/products.js
  src/commons/button.js
  src/commons/loading.js
  src/commons/priceSummary.js
  src/commons/tests/button.test.js
  src/commons/tests/loading.test.js
  src/commons/tests/priceSummary.test.js
  src/commons/tests/title.test.js
  src/commons/title.js
  src/containers/cartContainer/cartContainer.js
  src/containers/cartContainer/components/cartItem.js
  src/containers/cartContainer/components/cartItem.test.js
  src/containers/cartContainer/components/cartList.js
  src/containers/cartContainer/components/cartList.test.js
  src/containers/checkout.js
  src/containers/navbarContainer/navbarContainer.js
  src/containers/navbarContainer/navbarContainer.test.js
  src/containers/paymentContainer/components/cardForm.js
  src/containers/paymentContainer/components/textField.js
  src/containers/successContainer/successContainer.js
  src/index.js
  src/serviceWorker.js
  src/setupTests.js
  src/store/actions/card.js
  src/store/actions/order.js
  src/store/actions/products.js
  src/store/constants/actions.js
  src/store/index.js
  src/store/reducers/card.js
  src/store/reducers/index.js
  src/store/reducers/order.js
  src/store/reducers/products.js
  src/test-utils.js
  src/thunks/products.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Fixed Checkout container useEffect dependency list
  src/containers/checkout.js
Due: prettier-eslint --write, eslint

Created cart container tests
  src/commons/priceSummary.js
  src/commons/tests/priceSummary.test.js
  src/containers/cartContainer/cartContainer.js
  src/containers/cartContainer/cartContainer.test.js
Due: prettier-eslint --write, eslint

Created payment container tests
  src/containers/paymentContainer/components/cardForm.test.js
  src/containers/paymentContainer/components/textField.js
  src/containers/paymentContainer/components/textField.test.js
  src/containers/paymentContainer/paymentContainer.js
  src/containers/paymentContainer/paymentContainer.test.js
Due: prettier-eslint --write, eslint

Created success container tests
  src/commons/title.js
  src/containers/successContainer/successContainer.js
  src/containers/successContainer/successContainer.test.js
Due: prettier-eslint --write, eslint

Moved cartList and CartItem to commons and added hidden price cartList option
  src/commons/cartItem.css
  src/commons/cartItem.js
  src/commons/cartList.css
  src/commons/cartList.js
  src/commons/tests/cartItem.test.js
  src/commons/tests/cartList.test.js
  src/containers/cartContainer/cartContainer.js
  src/containers/successContainer/successContainer.js
Due: prettier-eslint --write, eslint, prettier --write

Added invalid field message on card form
  src/containers/paymentContainer/components/textField.css
  src/containers/paymentContainer/components/textField.js
Due: prettier-eslint --write, eslint, prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
