Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

refactor: improve components and organization
  apps/showcase/index.html
  apps/showcase/src/App.tsx
  apps/web/src/core/hooks/use_cart_data_usecase.ts
  apps/web/src/core/ui/components/bottom_payment_information.tsx
  apps/web/src/data/repositories/c_cart_repository.ts
  apps/web/src/data/repositories/cart_repository.ts
  apps/web/src/domain/models/cart.ts
  apps/web/src/domain/usecases/get_cart_data_usecase.test.ts
  apps/web/src/domain/usecases/get_cart_data_usecase.ts
  apps/web/src/presentation/confirmation/Confirmation.tsx
  apps/web/src/presentation/payment_form/PaymentForm.tsx
  apps/web/src/presentation/products_list/components/card_info_button.tsx
  apps/web/src/presentation/products_list/components/index.ts
  apps/web/src/presentation/products_list/components/main_container.tsx
  apps/web/src/presentation/products_list/components/main_tabs.tsx
  apps/web/src/presentation/products_list/components/tab_navigation.tsx
  apps/web/src/presentation/products_list/products_list_page.tsx
  apps/web/src/test/mocks/mock_data.ts
  apps/web/src/test/mocks/mock_dependencies.ts
  apps/web/src/test/utils/index.ts
Due: prettier --write

refactor: improve organization for local components and implement missing tests
  apps/web/package.json
  apps/web/src/core/ui/components/bottom_payment_information.test.tsx
  apps/web/src/core/ui/components/bottom_payment_information.tsx
  apps/web/src/presentation/confirmation/Confirmation.tsx
  apps/web/src/presentation/products_list/components/card_info_button/card_info_button.test.tsx
  apps/web/src/presentation/products_list/components/card_info_button/card_info_button.tsx
  apps/web/src/presentation/products_list/components/card_info_button/index.ts
  apps/web/src/presentation/products_list/components/cart_item/cart_item_tile.tsx
  apps/web/src/presentation/products_list/components/cart_item/cart_items_container.tsx
  apps/web/src/presentation/products_list/components/cart_item/index.ts
  apps/web/src/presentation/products_list/components/index.ts
  apps/web/src/presentation/products_list/components/main_layout/index.ts
  apps/web/src/presentation/products_list/components/main_layout/main_container.tsx
  apps/web/src/presentation/products_list/components/main_layout/tab_navigation.tsx
  apps/web/src/presentation/products_list/products_list_page.tsx
  apps/web/src/test/mocks/mock_data.ts
  packages/common-test-config/package.json
  packages/common-test-config/src/index.ts
  packages/common-test-config/src/setup-test.ts
  packages/common-test-config/src/utils.ts
Due: prettier --write

test: implement test for components and improve organization
  apps/web/src/core/hooks/index.ts
  apps/web/src/core/hooks/use_tabs.ts
  apps/web/src/infra/factories/index.tsx
  apps/web/src/presentation/confirmation/Confirmation.tsx
  apps/web/src/presentation/confirmation/confirmation.test.tsx
  apps/web/src/presentation/payment_form/index.ts
  apps/web/src/presentation/payment_form/payment_form.test.tsx
  apps/web/src/presentation/payment_form/payment_form.tsx
  apps/web/src/presentation/products_list/components/cart_item/cart_items_container.tsx
  apps/web/src/presentation/products_list/components/cart_item/index.ts
  apps/web/src/presentation/products_list/components/cart_item_tile/cart_item_tile.test.tsx
  apps/web/src/presentation/products_list/components/cart_item_tile/cart_item_tile.tsx
  apps/web/src/presentation/products_list/components/cart_item_tile/index.ts
  apps/web/src/presentation/products_list/components/cart_items_container/cart_items_container.test.tsx
  apps/web/src/presentation/products_list/components/cart_items_container/cart_items_container.tsx
  apps/web/src/presentation/products_list/components/cart_items_container/index.ts
  apps/web/src/presentation/products_list/components/index.ts
  apps/web/src/presentation/products_list/components/main_container/index.ts
  apps/web/src/presentation/products_list/components/main_container/main_container.tsx
  apps/web/src/presentation/products_list/components/main_layout/index.ts
  apps/web/src/presentation/products_list/components/main_layout/main_container.tsx
  apps/web/src/presentation/products_list/components/main_layout/tab_navigation.tsx
  apps/web/src/presentation/products_list/components/tabs/index.ts
  apps/web/src/presentation/products_list/components/tabs/tab_content/index.ts
  apps/web/src/presentation/products_list/components/tabs/tab_content/tab_content.tsx
  apps/web/src/presentation/products_list/components/tabs/tab_header/index.ts
  apps/web/src/presentation/products_list/components/tabs/tab_header/tab_header.tsx
  apps/web/src/presentation/products_list/components/tabs/tab_list/index.ts
  apps/web/src/presentation/products_list/components/tabs/tab_list/tab_list.tsx
  apps/web/src/presentation/products_list/components/tabs/tab_navigation/index.ts
  apps/web/src/presentation/products_list/components/tabs/tab_navigation/tab_navigation.test.tsx
  apps/web/src/presentation/products_list/components/tabs/tab_navigation/tab_navigation.tsx
  apps/web/src/presentation/products_list/products_list_page.tsx
  packages/common-ui/src/card/card.tsx
Due: none

chore: add pre-commit git hook
  .husky/pre-commit
Due: none

refactor: improve organization and usage for test/utils
  apps/web/src/core/ui/components/bottom_payment_information.test.tsx
  apps/web/src/presentation/products_list/components/card_info_button/card_info_button.test.tsx
  packages/common-ui/package.json
  packages/common-ui/src/button/button.test.tsx
  packages/common-ui/src/card/card.test.tsx
  packages/common-ui/src/input/input.test.tsx
  packages/common-ui/src/test/setup-test.ts
  packages/common-ui/src/test/utils.ts
Due: prettier --write

chore: remove unecessary yarn plugin
  .github/workflows/pull_requests.yml
Due: none

chore: change workflow file name for better semantics
  .github/workflows/code_quality.yml
Due: none

test: remove unused setup test from vite.config
  packages/common-ui/package.json
  packages/common-ui/vite.config.ts
Due: prettier --write

feat: add react router dom
  package.json
Due: prettier --write

feat: assets created for logo
  src/assets/images/logo.svg
Due: none

feat: store created checkout
  src/stores/Checkout/Checkout.store.tsx
  src/stores/Checkout/Checkout.types.ts
  src/stores/Checkout/index.ts
  src/stores/index.ts
Due: none

feat: add storybook application for visual documentation
  apps/docs/.eslintrc
  apps/docs/.gitignore
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.ts
  apps/docs/package.json
  apps/docs/postcss.config.cjs
  apps/docs/src/globals.css
  apps/docs/src/stories/button.stories.ts
  apps/docs/src/stories/card.stories.tsx
  apps/docs/src/stories/input.stories.ts
  apps/docs/tailwind.config.js
  apps/docs/tsconfig.json
  apps/docs/tsconfig.node.json
  apps/docs/vite.config.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

docs(readme): improve readme documentation
  README.md
  apps/docs/.gitignore
  apps/web/src/presentation/products_list/components/tabs/tab_header/tab_header.tsx
  docs/app_modules.png
Due: prettier --write

chore: improve workflow file
  .github/workflows/code_quality.yml
Due: none

refactor: add radix-tailwind plugin
  apps/web/src/presentation/products_list/components/tabs/tab_header/tab_header.tsx
  packages/tailwind/tailwind.config.js
Due: prettier-eslint --write, eslint

docs(readme): improve documentation
  README.md
Due: prettier --write

feat: structure and mapping of routes and containers components
  src/containers/Page404/Page404.tsx
  src/containers/PageCheckout/PageCheckout.tsx
  src/routers/index.tsx
  src/routers/types.tsx
Due: none

feat: add provider checkout and routes
  src/App.tsx
Due: none

fix: indent and created variable root
  src/main.tsx
Due: none

feat: created base components checkout
  src/components/Checkout/CheckoutCart.tsx
  src/components/Checkout/CheckoutConfirm.tsx
  src/components/Checkout/CheckoutPayment.tsx
Due: none

feat: base components shared
  src/shared/Button/Button.tsx
  src/shared/Button/index.ts
  src/shared/Card/Card.tsx
  src/shared/Card/index.ts
  src/shared/Input/Input.tsx
  src/shared/Input/index.ts
  src/shared/Tabs/Tabs.tsx
  src/shared/Tabs/Tabs.types.ts
  src/shared/Tabs/index.ts
  src/shared/index.ts
Due: none

feat: using unstyled tab components
  src/containers/PageCheckout/PageCheckout.tsx
Due: none

feat: add styled components
  package.json
Due: prettier --write

feat: tabs styled component and import mask icons
  src/assets/images/masks/bag-mask.svg
  src/assets/images/masks/card-mask.svg
  src/assets/images/masks/check-mask.svg
  src/components/Checkout/CheckoutCart.tsx
  src/containers/PageCheckout/PageCheckout.tsx
  src/shared/Tabs/Tabs.styled.ts
  src/shared/Tabs/Tabs.tsx
  src/shared/Tabs/Tabs.types.ts
  src/types.d.ts
Due: none

feat: card created component
  src/shared/Card/Card.styled.ts
  src/shared/Card/Card.tsx
Due: none

feat: global and provider variables created
  src/App.tsx
  src/styles/Theme.ts
  src/styles/global.ts
  src/styles/styled.d.ts
Due: none

refactor: removing stylesheet import
  src/App.css
  src/index.css
  src/main.tsx
Due: prettier --write

refactor: styled tabs
  src/components/Checkout/CheckoutCart.tsx
  src/shared/Tabs/Tabs.styled.ts
  yarn.lock
Due: none

feat: container created component
  src/shared/Container/Container.styled.ts
  src/shared/Container/Container.tsx
  src/shared/Container/Container.types.ts
  src/shared/Container/index.ts
  src/shared/index.ts
Due: none

refactor: refactor variables styled
  src/styles/Theme.ts
Due: none

feat: add zod
  package.json
Due: prettier --write

chore: props centered
  src/shared/Card/Card.styled.ts
  src/shared/Card/Card.tsx
  src/shared/Card/Card.types.ts
Due: none

chore: breakpoints in container
  src/shared/Container/Container.styled.ts
  src/shared/Container/Container.tsx
  src/shared/Container/Container.types.ts
  src/styles/Theme.ts
  src/styles/global.ts
  src/styles/index.ts
  src/styles/styled.d.ts
Due: none

chore: button created variants
  src/shared/Button/Button.Styled.ts
  src/shared/Button/Button.tsx
  src/shared/Button/Button.types.ts
Due: none

chore: import jost font
  index.html
Due: prettier --write

refactor: variables styles
  src/styles/Theme.ts
  src/styles/global.ts
Due: none

refactor: add prop block on button
  src/assets/images/logo.svg
  src/shared/Button/Button.Styled.ts
  src/shared/Button/Button.tsx
  src/shared/Button/Button.types.ts
Due: none

chore: styled page not found
  src/containers/Page404/Page404.styled.ts
  src/containers/Page404/Page404.tsx
  src/containers/Page404/index.ts
Due: none

fix: mapping routes in component tab and styled
  src/routers/index.tsx
  src/routers/types.tsx
  src/shared/Tabs/Tabs.styled.ts
  src/shared/Tabs/Tabs.tsx
  src/shared/Tabs/Tabs.types.ts
Due: none

chore: add props centered and styled
  src/shared/Card/Card.styled.ts
  src/shared/Card/Card.tsx
  src/shared/Card/Card.types.ts
Due: none
