Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

lazy load
  src/App.tsx
Due: none

migrate api to service, start tests
  package.json
  src/api/api.ts
  src/api/service.ts
  src/components/atoms/Button/Button.spec.tsx
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Input/Input.spec.tsx
  src/components/atoms/Input/Input.tsx
  src/components/atoms/Title/Title.spec.tsx
  src/components/atoms/Title/Title.tsx
  src/pages/Cart/Cart.tsx
  src/pages/Confirmation/Confirmation.tsx
  src/test-utils.tsx
Due: prettier --write

created form test
  src/components/molecules/PaymentForm/PaymentForm.spec.tsx
  src/components/molecules/PaymentForm/PaymentForm.tsx
Due: none

favicon and project title
  public/favicon.ico
  public/index.html
  src/components/molecules/PaymentForm/PaymentForm.spec.tsx
  src/index.tsx
Due: prettier --write

use theme variables, readme and change types to interfaces
  README.md
  src/components/atoms/Button/Button.styles.ts
  src/components/atoms/Input/Input.styles.ts
  src/components/molecules/ConfirmationMessage/ConfirmationMessage.styles.ts
  src/components/molecules/PaymentDetails/PaymentDetails.styles.ts
  src/components/molecules/PaymentForm/PaymentForm.styles.ts
  src/components/molecules/ProductList/ProductList.styles.ts
  src/components/molecules/ProductList/ProductList.tsx
  src/components/molecules/ProductList/components/ProductItem/ProductItem.styles.ts
  src/components/molecules/ProductPrices/ProductPrices.styles.ts
  src/components/molecules/ProductPrices/ProductPrices.tsx
  src/components/molecules/ProductPrices/components/PriceItem/PriceItem.tsx
  src/contexts/CartContext.tsx
  src/contexts/HeaderContext.tsx
  src/contexts/PaymentContext.tsx
  src/styles/global.ts
  src/styles/theme.ts
Due: prettier --write

remove comments to eslint
  .eslintrc.js
Due: prettier-eslint --write, eslint

fix useeffects
  src/pages/Cart/Cart.tsx
  src/pages/Confirmation/Confirmation.tsx
  src/pages/Payment/Payment.tsx
Due: none

Starting front-end test
  package-lock.json
  yarn.lock
Due: prettier --write

testing connection
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/Context/MyContext.js
  src/Context/Provider.js
  src/Routes/index.js
  src/index.js
  src/pages/List.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

connected to the API first time
  package-lock.json
  package.json
  src/App.js
  src/components/Components.js
  src/pages/List.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

adding basic initial style configs
  src/utils/style-config.js
Due: prettier-eslint --write, eslint

turning button into an customized resusable component
  .prettierignore
  src/@types/mui-types.d.ts
  src/components/Button/index.tsx
  src/react-app-env.d.ts
  tsconfig.json
Due: prettier --write

adding typescript mui and styled components dependencies
  package.json
  yarn.lock
Due: prettier --write

removing unused dependency
  package.json
  yarn.lock
Due: prettier --write

adding size styles to button component
  src/components/Button/index.tsx
Due: none

added input based component to be reused
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/utils/style-config.js
Due: prettier-eslint --write, eslint

added absolute value to button font weight
  src/components/Button/index.tsx
Due: none

implement Kart
  src/pages/Kart/index.js
Due: prettier-eslint --write, eslint

added cart context to be persisted
  package.json
  src/contexts/cart.tsx
Due: prettier --write

add react-router-dom
  package.json
  yarn.lock
Due: prettier --write

implement router
  src/router/index.js
Due: prettier-eslint --write, eslint

router
  src/App.js
  src/router/index.js
Due: prettier-eslint --write, eslint

add axios
  package.json
  yarn.lock
Due: prettier --write

utils requestAPI
  src/utils/requestAPI.js
Due: prettier-eslint --write, eslint

API call
  src/pages/Kart/index.js
Due: prettier-eslint --write, eslint

import
  src/pages/Kart/index.js
Due: prettier-eslint --write, eslint

add styled-components
  package.json
  yarn.lock
Due: prettier --write

GlobalStyle
  src/App.css
  src/App.js
  src/styles/glogal.js
Due: prettier-eslint --write, eslint, prettier --write

remove style
  src/index.js
Due: prettier-eslint --write, eslint

global styles
  src/styles/glogal.js
Due: prettier-eslint --write, eslint

return
  src/pages/Kart/index.js
Due: prettier-eslint --write, eslint

implement NavBar
  src/components/NavBar/index.js
Due: prettier-eslint --write, eslint

NavBar test
  src/__tests__/components/NavBar.test.js
Due: prettier-eslint --write, eslint

setps
  src/components/NavBar/index.js
Due: prettier-eslint --write, eslint

renders steps
  src/__tests__/components/NavBar.test.js
Due: prettier-eslint --write, eslint

import navbar
  src/pages/Kart/index.js
Due: prettier-eslint --write, eslint

requesting data and saving in cart context
  package.json
  src/App.js
  src/contexts/cart.tsx
  src/services/cart.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

actual step
  src/components/NavBar/index.js
  src/components/NavBar/styles.js
  src/pages/Kart/index.js
Due: prettier-eslint --write, eslint

implement card
  src/components/Card/index.js
  src/components/Card/styles.js
  src/pages/Kart/index.js
Due: prettier-eslint --write, eslint

styling card
  src/components/Card/styles.js
Due: prettier-eslint --write, eslint
