Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

Cursor pointer to responsive steps and min height 100vh to app
  src/App.vue
  src/components/Steps.vue
Due: none

Adapt CardItem, CartItem and FormInput
  src/App.vue
  src/components/CartItem.vue
  src/components/CartList.vue
  src/components/ui/FormInput.vue
  src/views/Payment.vue
Due: none

Use small image
  src/components/CartItem.vue
Due: none

Add variation without route to checkout button
  src/components/CheckoutButton.vue
  src/components/CheckoutButtons.vue
Due: none

Add spinner and create event to display
  package-lock.json
  package.json
  src/App.vue
  src/components/CheckoutButton.vue
  src/views/Payment.vue
Due: prettier --write

Hover button
  src/components/CheckoutButton.vue
Due: none

Unit test CheckoutButton.vue
  tests/unit/CheckoutButton.spec.js
  tests/unit/example.spec.js
Due: prettier-eslint --write, eslint

Unit test ui/Card.vue
  tests/unit/Card.spec.js
Due: prettier-eslint --write, eslint

Unit test Steps.vue
  tests/unit/Steps.spec.js
Due: prettier-eslint --write, eslint

Unit test PaymentResume.vue
  src/directives/hideDigits.js
  tests/unit/PaymentResume.spec.js
Due: prettier-eslint --write, eslint

Fix excerpt
  src/directives/excerpt.js
Due: prettier-eslint --write, eslint

Fix holder name placeholder
  src/components/ui/FormInput.vue
Due: none

Add vuera
  package-lock.json
  package.json
Due: prettier --write

Add babel plugins and presets to use react
  package-lock.json
  package.json
Due: prettier --write

Add plugins and presets to babel config
  babel.config.js
Due: prettier-eslint --write, eslint

Use vuera plugin
  src/main.js
Due: prettier-eslint --write, eslint

Create relative payment resume component in react
  src/components/PaymentResumeReact.js
Due: prettier-eslint --write, eslint

Add payment resume react to confirmation view
  src/views/Confirmation.vue
Due: none

Update README.md
  README.md
Due: prettier --write

Change event jump-to-confirm to finish-order
  package-lock.json
  src/components/CheckoutButtons.vue
  src/components/PaymentResumeReact.js
  src/views/Payment.vue
Due: prettier-eslint --write, eslint, prettier --write

Fix translation
  src/App.vue
  src/components/CheckoutButtons.vue
  src/components/CheckoutSummary.vue
  src/components/PaymentSummary.vue
  src/components/PaymentSummaryReact.js
  src/store.js
  src/views/Confirmation.vue
  tests/unit/PaymentResume.spec.js
Due: prettier-eslint --write, eslint

Add express
  package-lock.json
  package.json
Due: prettier --write

Add npm scripts to build and start server
  package.json
Due: prettier --write

Add server file
  server.js
Due: prettier-eslint --write, eslint

Add main
  package.json
Due: prettier --write

removed files from old version
  .editorconfig
  .prettierrc
  public/favicon.ico
  public/index.html
  public/manifest.json
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
Due: prettier-eslint --write, eslint, prettier --write

added config structure for application
  .gitignore
  package-lock.json
  package.json
  react.config.js
  tsconfig.json
  tslint.json
Due: prettier-eslint --write, eslint, prettier --write

added application
  src/App.tsx
  src/Routes.tsx
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/CartItem.tsx
  src/components/CartProducts.tsx
  src/components/CartSummary.tsx
  src/components/Content.tsx
  src/components/Input.tsx
  src/components/Title.tsx
  src/components/Wrapper.tsx
  src/containers/Cart.tsx
  src/containers/CreditCardForm.tsx
  src/containers/Header.tsx
  src/containers/Payment.tsx
  src/containers/RouterHandler.tsx
  src/containers/Success.tsx
  src/helper/formatMoney.ts
  src/helper/routes.ts
  src/helper/styler.ts
  src/helper/theme.ts
  src/helper/validateCreditCardExpiryDate.ts
  src/helper/validateCreditCardNumber.ts
  src/index.html
  src/index.tsx
  src/pages/CartPage.tsx
  src/pages/PaymentPage.tsx
  src/pages/SuccessPage.tsx
  src/service/interfaces/ICreditCard.ts
  src/service/interfaces/IProduct.ts
  src/service/modelStore.ts
  src/service/models/CardModel.ts
  src/service/models/ProductListModel.ts
  src/service/models/RouterModel.ts
  src/service/repository/ProductListRepository.ts
  src/styles.css
Due: prettier --write

included readme
  README.md
Due: prettier --write

removing initial code
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/logo.svg
Due: prettier-eslint --write, eslint, prettier --write

Adding Router components with lazy behavior
  package.json
  src/_variables.scss
  src/components/Loader/Loader.js
  src/components/Loader/Loader.scss
  src/index.js
  src/router/LazyRoute.js
  src/router/Router.js
  src/router/ScrollToTop.js
  src/router/index.js
Due: prettier-eslint --write, eslint, prettier --write

adding index.scss
  src/index.scss
Due: none

adding Header component
  src/components/Header/Header.js
  src/components/Header/Header.scss
Due: prettier-eslint --write, eslint

adding variables for sass
  src/_variables.scss
Due: none

Adding Cart Component
  src/pages/Cart/Cart.js
Due: prettier-eslint --write, eslint

removed old files
  .editorconfig
  .prettierrc
  public/favicon.ico
  public/index.html
  public/manifest.json
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
Due: prettier-eslint --write, eslint, prettier --write

adjusting style of Header component
  src/components/Header/Header.scss
Due: none

Creating Cart Component
  src/index.scss
  src/pages/Cart/Cart.js
  src/pages/Cart/Cart.scss
Due: prettier-eslint --write, eslint

adding .vscode to gitignore
  .gitignore
Due: none
