Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

feat: add reducers
  package-lock.json
  package.json
  src/App.js
  src/pages/index.js
  src/reducers/data.js
  src/store.js
Due: prettier-eslint --write, eslint, prettier --write

Minor adjustments to the layout
  src/components/sale/Sale.js
  src/components/sale/sale.module.css
  src/index.css
  src/pages/cart/cart.module.css
  src/pages/confirmation/Confirmation.js
  src/pages/confirmation/confirmation.module.css
  src/pages/payment/payment.module.css
Due: prettier-eslint --write, eslint, prettier --write

feat: add improvement in payment form
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/ui/button/button.component.tsx
  src/shared/components/ui/button/button.styled.tsx
  src/shared/components/ui/form/form-field.component.tsx
  src/shared/components/ui/form/form.component.tsx
  src/shared/components/ui/form/form.interface.tsx
  src/shared/components/ui/loading/loading.component.tsx
  src/shared/components/ui/loading/loading.stories.tsx
  src/shared/components/ui/loading/loading.styled.tsx
  src/shared/components/ui/main/main.component.tsx
  src/shared/components/ui/title/title.component.tsx
  src/shared/components/ui/vertical-spacing/vertical-spacing.styled.tsx
  src/shared/screens/cart/index.tsx
  src/shared/screens/payment/index.tsx
  src/shared/screens/success/index.tsx
  src/shared/store/cart/types.ts
  src/shared/styles/theme/light.ts
  src/shared/utils/replace.ts
Due: none

feat: add logic to submit payment data and persist it
  src/server/middleware/renderer.tsx
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/ui/form/form-field.component.tsx
  src/shared/screens/payment/index.tsx
  src/shared/screens/success/index.tsx
  src/shared/store/forms/actions.ts
  src/shared/store/forms/index.ts
  src/shared/store/forms/types.ts
  src/shared/store/index.ts
  src/shared/store/root-reducer.ts
Due: none

feat: create navbar
  src/App.js
  src/components/Navbar/index.js
  src/components/Navbar/style.js
  src/components/Paper.js
  src/layout/GlobalStyle.js
  src/layout/Navbar.js
  src/layout/variables.js
Due: prettier-eslint --write, eslint

feat: update the readme with the description of what was done
  README.md
  package.json
Due: prettier --write

Tests and refactoring
  junit.xml
  package.json
  src/App.test.js
  src/components/card-form/CardForm.js
  src/components/card-form/card-form.module.css
  src/components/navbar/Navbar.test.js
  src/components/sale/Sale.test.js
  src/components/total/Total.test.js
  src/helpers/Formatters.test.js
  src/helpers/Validators.js
  src/helpers/Validators.test.js
  src/pages/cart/Cart.js
  src/pages/cart/Cart.test.js
  src/pages/confirmation/Confirmation.test.js
  src/pages/payment/Payment.js
  src/pages/payment/Payment.test.js
  src/states/stores/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: update description in readme
  README.md
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Improving test coverage
  junit.xml
  package.json
  src/pages/payment/Payment.test.js
  src/services/SaleService.js
  src/services/SaleService.test.js
Due: prettier-eslint --write, eslint, prettier --write

Adding guidance to run the project on readme.md
  .eslintcache
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Delete file generated by vscode
  .eslintcache
  .gitignore
Due: none

test: add more tests to the form component
  README.md
  jest.config.ts
  src/shared/components/app/payment-form/__snapshots__/payment-form.test.tsx.snap
  src/shared/components/ui/button/__snapshots__/button.test.tsx.snap
  src/shared/components/ui/form/__snapshots__/form.test.tsx.snap
  src/shared/components/ui/form/form-field.component.tsx
  src/shared/components/ui/form/form.interface.tsx
  src/shared/components/ui/form/form.test.tsx
  src/shared/components/ui/grid/__snapshots__/grid.test.tsx.snap
  src/shared/components/ui/grid/grid.test.tsx
  src/shared/utils/utils.test.ts
Due: prettier --write

chore: update readme
  README.md
  jest.config.ts
Due: prettier --write

fix: update files with lint
  README.md
  package.json
  postcss.config.js
  src/server/middleware/renderer.tsx
  src/shared/screens/cart/cart.stories.tsx
  src/shared/screens/payment/payment.stories.tsx
  src/shared/screens/success/index.tsx
  src/shared/screens/success/success.stories.tsx
  src/shared/store/forms/types.ts
Due: prettier-eslint --write, eslint, prettier --write

feat: config reducer
  .env
  src/App.js
  src/index.css
  src/index.js
  src/reducers/data.js
  src/reducers/products.js
  src/store.js
Due: prettier-eslint --write, eslint, prettier --write

feat: create page
  src/components/Input/style.js
  src/components/Navbar/style.js
  src/containers/Produtos/index.js
  src/containers/Produtos/style.js
  src/containers/Total/index.js
  src/containers/Total/style.js
  src/layout/GlobalStyle.js
  src/layout/variables.js
  src/pages/index.js
Due: prettier-eslint --write, eslint

fix: change babel-preset-react-app@10.0.0 to babel-preset-react-app@9.0.0
  package.json
  yarn.lock
Due: prettier --write

feat: update npm scripts
  package.json
Due: prettier --write

feat: create payment page
  package-lock.json
  package.json
  src/components/Input/index.js
  src/components/Input/style.js
  src/containers/CreditCard/index.js
  src/containers/CreditCard/style.js
  src/layout/GlobalStyle.js
  src/pages/Payment.js
  src/reducers/cards.js
  src/store.js
Due: prettier-eslint --write, eslint, prettier --write

feat: create page
  public/img/icon/check.png
  src/components/Alert.js
  src/containers/Payment.js
  src/containers/Produtos/index.js
  src/containers/Produtos/style.js
  src/containers/Total/index.js
  src/pages/Checkout.js
  src/reducers/cards.js
  src/utils/formatCurrency.js
  src/utils/maskCreditCardNumber.js
Due: prettier-eslint --write, eslint

feat: review
  src/components/Button.js
  src/containers/Produtos/index.js
  src/containers/Produtos/style.js
  src/layout/GlobalStyle.js
  src/pages/Checkout.js
  src/pages/index.js
Due: prettier-eslint --write, eslint

test: add tests
  package-lock.json
  package.json
  src/App.test.js
  src/components/Input/index.spec.js
  src/containers/CreditCard/index.js
  src/containers/Total/index.spec.js
  src/reducers/cards.spec.js
  src/reducers/products.spec.js
  src/utils/formatCurrency.spec.js
  src/utils/maskCreditCardNumber.spec.js
Due: prettier-eslint --write, eslint, prettier --write

fix: typo
  src/containers/Products/index.js
  src/containers/Products/style.js
  src/pages/Checkout.js
  src/pages/index.js
Due: prettier-eslint --write, eslint

docs: improving docs
  README.md
Due: prettier --write

Initial commit from boticario test-front
  package-lock.json
  package.json
  public/HelveticaNeueMedium.ttf
  public/index.html
  src/Actions/Form/index.js
  src/Actions/Payment/index.js
  src/Actions/Steps/index.js
  src/App.js
  src/Assets/styles.js
  src/Assets/success.png
  src/Components/Footer/index.js
  src/Components/Footer/styles.js
  src/Components/Form/Inputs/index.js
  src/Components/Form/Inputs/styles.js
  src/Components/Form/Validator/index.js
  src/Components/Form/index.js
  src/Components/Form/styles.js
  src/Components/List/index.js
  src/Components/Navbar/Navbar.js
  src/Components/Navbar/styles.js
  src/Components/Products/index.js
  src/Components/Products/styles.js
  src/Components/Total/index.js
  src/Components/Total/styles.js
  src/Helpers/Helpers.js
  src/Pages/Cart/Cart.js
  src/Pages/Payment/Payment.js
  src/Pages/Payment/styles.js
  src/Pages/Success/Success.js
  src/Pages/Success/styles.js
  src/Reducers/Form/index.js
  src/Reducers/Products/index.js
  src/Reducers/Steps/index.js
  src/Reducers/index.js
  src/Routes/Routes.js
  src/Store/index.js
  src/globalstyles.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Removing unused files
  src/Reducers/Steps/index.js
  src/Reducers/index.js
Due: prettier-eslint --write, eslint

Style fixed
  package.json
  src/Components/Navbar/styles.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Package.json change
  package.json
Due: prettier --write

Node server create
  server/server.js
Due: prettier-eslint --write, eslint

Technical updates
  firebase-debug.log
  package-lock.json
  package.json
Due: prettier --write

Firebase build and styles change!
  firebase-debug.log
  firebuild/.firebaserc
  firebuild/.gitignore
  firebuild/firebase.json
  firebuild/public/HelveticaNeueMedium.ttf
  firebuild/public/asset-manifest.json
  firebuild/public/favicon.ico
  firebuild/public/index.html
  firebuild/public/manifest.json
  firebuild/public/precache-manifest.62f187ad55a743bf1e6baf6cf824f30b.js
  firebuild/public/robots.txt
  firebuild/public/service-worker.js
  firebuild/public/static/css/main.5fd6d562.chunk.css
  firebuild/public/static/css/main.5fd6d562.chunk.css.map
  firebuild/public/static/js/2.a3e6211c.chunk.js
  firebuild/public/static/js/2.a3e6211c.chunk.js.LICENSE.txt
  firebuild/public/static/js/2.a3e6211c.chunk.js.map
  firebuild/public/static/js/main.3745ff6e.chunk.js
  firebuild/public/static/js/main.3745ff6e.chunk.js.map
  firebuild/public/static/js/runtime-main.c9b8c67c.js
  firebuild/public/static/js/runtime-main.c9b8c67c.js.map
  src/Components/Total/index.js
  src/Components/Total/styles.js
  src/Helpers/Helpers.js
Due: prettier-eslint --write, eslint, prettier --write

Firebase build changes
  firebuild/public/asset-manifest.json
  firebuild/public/index.html
  firebuild/public/precache-manifest.373be00e263e594d917f31b048d59b61.js
  firebuild/public/service-worker.js
  firebuild/public/static/js/main.0b52e85c.chunk.js
  firebuild/public/static/js/main.0b52e85c.chunk.js.map
  firebuild/public/static/js/main.3745ff6e.chunk.js
  firebuild/public/static/js/main.3745ff6e.chunk.js.map
Due: prettier-eslint --write, eslint, prettier --write

Persist data error fixed
  src/App.js
  src/Components/List/index.js
  src/Components/Products/index.js
Due: prettier-eslint --write, eslint

chore(package): adds needed modules to package.json
  package.json
Due: prettier --write

chore(config): adds lint and tsconfig
  .eslintrc.json
  tsconfig.json
Due: prettier --write

chore(test-setup): adds styled components
  src/setupTests.js
Due: prettier-eslint --write, eslint

chore(index): renames the file name
  src/index.tsx
Due: none

chore(app): renames App's file name
  src/App.js
  src/App.tsx
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
