Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

add axios request
  package.json
  src/pages/tabs/Tabs.js
  src/services/api.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

add redux store
  package.json
  src/components/card/CardItem.js
  src/components/card/CardListItem.js
  src/components/menuTabs/MenuTabs.js
  src/components/purchaseSummary/PurchaseSummary.js
  src/pages/cart/Cart.js
  src/pages/tabs/Tabs.js
  src/store/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

add pages adjustments
  src/components/card/CardItem.js
  src/components/card/CardListItem.js
  src/pages/cart/Cart.js
  src/pages/confirmation/Confirmation.js
  src/pages/payment/Payment.js
Due: prettier-eslint --write, eslint

add payment data store
  package.json
  src/components/bigButton/BigButton.js
  src/components/creditCardForm/CreditCardForm.js
  src/pages/cart/Cart.js
  src/pages/confirmation/Confirmation.js
  src/pages/payment/Payment.js
  src/pages/tabs/Tabs.js
  src/store/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

add form validation
  src/index.js
  src/pages/confirmation/Confirmation.js
  src/pages/payment/Payment.js
Due: prettier-eslint --write, eslint

add tab management
  src/App.js
  src/components/bigButton/BigButton.js
  src/components/creditCardForm/CreditCardForm.js
  src/components/menuTabs/MenuTabs.js
  src/components/paymentData/PaymentData.js
  src/pages/bag/index.js
  src/pages/confirmation/index.js
  src/pages/init/index.js
  src/pages/payment/index.js
  src/routes.js
  src/store/index.js
Due: prettier-eslint --write, eslint

add route management
  package.json
  public/index.html
  src/App.js
  src/components/menuTabs/MenuTabs.js
  src/index.js
  src/pages/bag/index.js
  src/pages/init/index.js
  src/pages/payment/index.js
  src/routes.js
  src/routes/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

add responsive adjustments
  src/components/bigButton/BigButton.js
  src/components/card/Card.js
  src/components/card/CardItem.js
  src/components/confirmationMessage/ConfirmationMessage.js
  src/components/creditCardForm/CreditCardForm.js
  src/components/paymentData/PaymentData.js
  src/components/purchaseSummary/PurchaseSummary.js
  src/pages/init/index.js
Due: prettier-eslint --write, eslint

add fav icon
  public/blz.png
  public/favicon.ico
  public/index.html
Due: prettier --write

add height adjustment
  src/pages/init/index.js
Due: prettier-eslint --write, eslint

Update README.md
  README.md
Due: prettier --write

refactor: deleted unnecessary files
  src/App.css
  src/App.test.js
  src/index.css
  src/logo.svg
Due: prettier-eslint --write, eslint, prettier --write

chore: installed styled-components and react-router-dom
  package.json
  yarn.lock
Due: prettier --write

feat: add global styles
  src/styles/globalStyle.js
Due: prettier-eslint --write, eslint

refactor: deleted unnecessary import
  src/index.js
Due: prettier-eslint --write, eslint

feat: add header component
  src/components/Header/Header.elements.js
  src/components/Header/Header.js
  src/components/index.js
Due: prettier-eslint --write, eslint

feat: add routes config
  src/App.js
  src/pages/Bag.js
Due: prettier-eslint --write, eslint

feat: add components
  src/components/Button/Button.elements.js
  src/components/Button/Button.js
  src/components/Products/Products.elements.js
  src/components/Products/Products.js
  src/components/Summary/Summary.elements.js
  src/components/Summary/Summary.js
  src/components/index.js
  src/pages/Bag.js
  src/styles/globalStyle.js
Due: prettier-eslint --write, eslint

refactor: change page name
  src/pages/Wallet.js
Due: prettier-eslint --write, eslint

chore: add new library
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

feat: add active style in header component
  src/components/Header/Header.js
Due: prettier-eslint --write, eslint

feat: add navigation routes
  src/pages/Wallet.js
Due: prettier-eslint --write, eslint

feat: add components and pages ui
  src/App.js
  src/components/CreditCardForm/CreditCardForm.elements.js
  src/components/CreditCardForm/CreditCardForm.js
  src/components/CreditCardInfo/CreditCardInfo.elements.js
  src/components/CreditCardInfo/CreditCardInfo.js
  src/components/SuccessLabel/SuccessLabel.elements.js
  src/components/SuccessLabel/SuccessLabel.js
  src/components/index.js
  src/pages/Confirmation.js
  src/pages/Payment.js
Due: prettier-eslint --write, eslint

feat: initial routes and styles
  src/App.css
  src/App.js
  src/index.css
  src/index.js
  src/route/MyRouter.js
Due: prettier-eslint --write, eslint, prettier --write

feat: header component
  src/App.css
  src/component/Header/Header.js
  src/component/Header/Header.styles.js
  src/index.css
  src/route/MyRouter.js
Due: prettier-eslint --write, eslint, prettier --write

feat: new tltleContainer and changes on layout
  src/component/ContainerPage/ContainerPage.js
  src/component/ContainerPage/ContainerPage.styles.js
  src/component/Header/Header.js
  src/component/Header/Header.styles.js
  src/component/TitleContainer/TitleContainer.js
  src/component/TitleContainer/TitleContainer.styles.js
  src/pages/Sacola.js
  src/route/MyRouter.js
Due: prettier-eslint --write, eslint

fix: padding in container component
  src/styles/globalStyle.js
Due: prettier-eslint --write, eslint

fix: tag img in products component
  src/components/Products/Products.elements.js
Due: prettier-eslint --write, eslint

feat: add fetch data from api
  src/components/Products/Products.js
  src/components/Summary/Summary.js
  src/contexts/useFetch.js
  src/index.js
Due: prettier-eslint --write, eslint

test: setup initial for test and new test
  .babelrc
  jest-setup.js
  jest.config.js
  package-lock.json
  package.json
  src/App.test.js
  src/component/ContainerPage/__test__/ContainerPage.test.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

test: add test for header and app
  src/App.test.js
  src/component/Header/Header.styles.js
  src/component/Header/__test__/Header.test.js
Due: prettier-eslint --write, eslint

feat: add component card
  src/component/Card/Card.js
  src/component/Card/Card.styles.js
  src/component/Card/__test__/Card.test.js
Due: prettier-eslint --write, eslint

Feat: new component cartTotal and LineData
  src/component/CartTotal/CartTotal.js
  src/component/CartTotal/CartTotal.styles.js
  src/component/CartTotal/__test__/CartTotal.test.js
  src/component/LineData/LineData.js
  src/component/LineData/LineData.styles.js
  src/component/LineData/__test__/LineData.test.js
  src/component/TitleContainer/TitleContainer.styles.js
Due: prettier-eslint --write, eslint

Feat: new button
  src/App.test.js
  src/component/Button/Button.js
  src/component/Button/Button.styles.js
  src/component/Button/__test__/Button.test.js
  src/component/CartTotal/CartTotal.styles.js
Due: prettier-eslint --write, eslint

feat: implement page sacola and the request
  src/App.js
  src/component/TitleContainer/TitleContainer.styles.js
  src/context/Context.js
  src/pages/Sacola.js
  src/pages/__test__/Sacola.test.js
  src/services/request.js
Due: prettier-eslint --write, eslint

feat: add disabled style in button component
  src/components/Button/Button.elements.js
Due: prettier-eslint --write, eslint
