Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: add test utils and button tests
  src/components/Button/Button.jsx
  src/components/Button/Button.test.jsx
  src/components/Button/__snapshots__/Button.test.jsx.snap
  src/components/Button/styles.js
  src/utils/test-utils.js
Due: prettier-eslint --write, eslint

fix: change tests folder
  src/__tests__/components/Button.test.jsx
  src/__tests__/components/__snapshots__/Button.test.jsx.snap
  src/components/Button/index.js
Due: prettier-eslint --write, eslint

feat: add header component and config routes
  package.json
  src/App.js
  src/components/Header/Header.jsx
  src/components/Header/index.js
  src/components/Header/styles.js
  src/config/routes.jsx
  src/styles/theme.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

test: add header component tests
  src/__tests__/components/Header.test.jsx
  src/__tests__/components/__snapshots__/Header.test.jsx.snap
  src/utils/test-utils.js
Due: prettier-eslint --write, eslint

feat: create layout component and children pages
  src/components/Header/Header.jsx
  src/config/routes.jsx
  src/pages/Cart/index.jsx
  src/pages/Layout/index.jsx
  src/pages/Layout/styles.js
  src/pages/Payment/index.jsx
  src/pages/PaymentConfirmation/index.jsx
  src/pages/index.js
Due: prettier-eslint --write, eslint

feat: create section and cartList components
  src/__tests__/components/CartList.test.jsx
  src/__tests__/components/Section.test.jsx
  src/__tests__/components/__snapshots__/CartList.test.jsx.snap
  src/__tests__/components/__snapshots__/Header.test.jsx.snap
  src/__tests__/components/__snapshots__/Section.test.jsx.snap
  src/components/CartList/index.jsx
  src/components/CartList/styles.js
  src/components/Section/index.jsx
  src/components/Section/styles.js
  src/components/index.js
  src/config/routes.jsx
  src/pages/Cart/index.jsx
  src/styles/theme.js
Due: prettier-eslint --write, eslint

feat: create checkout context and finish cart page
  package.json
  src/App.js
  src/__tests__/components/CartList.test.jsx
  src/__tests__/components/CartSummary.test.jsx
  src/__tests__/components/__snapshots__/Button.test.jsx.snap
  src/__tests__/components/__snapshots__/CartList.test.jsx.snap
  src/__tests__/components/__snapshots__/CartSummary.test.jsx.snap
  src/__tests__/components/__snapshots__/Header.test.jsx.snap
  src/__tests__/components/__snapshots__/Section.test.jsx.snap
  src/components/CartList/index.jsx
  src/components/CartSummary/index.jsx
  src/components/CartSummary/styles.js
  src/components/index.js
  src/hooks/checkout.jsx
  src/hooks/index.jsx
  src/pages/Cart/index.jsx
  src/services/api.js
  src/styles/theme.js
  src/utils/currency.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

test: add cart page tests
  src/__tests__/pages/Cart.test.jsx
  src/__tests__/pages/__snapshots__/Cart.test.jsx.snap
Due: none

feat: create payment page and checkout form
  package.json
  src/components/PaymentForm/FormControl/index.jsx
  src/components/PaymentForm/FormControl/styles.js
  src/components/PaymentForm/FormInput/index.jsx
  src/components/PaymentForm/FormInput/styles.js
  src/components/PaymentForm/index.jsx
  src/components/PaymentForm/styles.js
  src/index.js
  src/pages/Payment/index.jsx
  src/styles/theme.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create confirmation page
  package.json
  src/components/BannerSuccess/index.jsx
  src/components/BannerSuccess/styles.js
  src/components/PaymentForm/FormInput/index.jsx
  src/components/PaymentForm/FormInput/styles.js
  src/components/PaymentForm/index.jsx
  src/components/PaymentSummary/index.jsx
  src/components/PaymentSummary/styles.js
  src/components/index.js
  src/pages/PaymentConfirmation/index.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

test: create more tests
  package.json
  public/index.html
  src/__tests__/components/BannerSuccess.test.jsx
  src/__tests__/components/CartSummary.test.jsx
  src/__tests__/components/PaymentForm.test.jsx
  src/__tests__/components/__snapshots__/BannerSuccess.test.jsx.snap
  src/__tests__/components/__snapshots__/PaymentForm.test.jsx.snap
  src/__tests__/hooks/checkout.test.jsx
  src/__tests__/pages/Payment.test.jsx
  src/__tests__/pages/PaymentConfirmation.test.jsx
  src/__tests__/pages/__snapshots__/Payment.test.jsx.snap
  src/__tests__/pages/__snapshots__/PaymentConfirmation.test.jsx.snap
  src/components/index.js
  src/hooks/checkout.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: payment submit
  src/components/PaymentForm/index.jsx
  src/components/PaymentSummary/index.jsx
  src/hooks/checkout.jsx
Due: none

test: fix payment confirmation test
  src/__tests__/pages/PaymentConfirmation.test.jsx
  src/__tests__/pages/__snapshots__/PaymentConfirmation.test.jsx.snap
Due: none

feat: add responsive feature
  src/__tests__/components/__snapshots__/CartSummary.test.jsx.snap
  src/__tests__/pages/__snapshots__/Cart.test.jsx.snap
  src/__tests__/pages/__snapshots__/Payment.test.jsx.snap
  src/__tests__/pages/__snapshots__/PaymentConfirmation.test.jsx.snap
  src/components/CartSummary/styles.js
  src/pages/Cart/index.jsx
  src/pages/Layout/index.jsx
  src/pages/Layout/styles.js
  src/pages/Payment/index.jsx
  src/pages/PaymentConfirmation/index.jsx
Due: prettier-eslint --write, eslint

feat: add code splitting routes
  src/config/routes.jsx
Due: none

fix: add alt attribute on image
  src/components/CartList/index.jsx
Due: none

style: configure eslint with prettier
  .eslintrc.json
  package.json
Due: prettier --write

style: configure formatOnSave
  .vscode/setting.json
Due: prettier --write

chore: update to yarn.lock
  package-lock.json
  yarn.lock
Due: prettier --write

chore: setup project, configure index.html, remove css files and serviceWorkers
  public/favicon.ico
  public/index.html
  public/manifest.json
  src/App.css
  src/App.test.js
  src/index.css
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

chore: configure styled-components, add global styles and configure theme
  package.json
  src/styles/breakpoints.js
  src/styles/global.js
  src/styles/theme.js
Due: prettier-eslint --write, eslint, prettier --write

chore: add redirects for netlify
  public/_redirects
Due: none

feat: add button component
  src/components/Button/Button.js
  src/components/Button/Button.test.js
  src/components/Button/index.js
  src/components/Button/styles.js
Due: prettier-eslint --write, eslint

feat: add card component
  src/components/Card/Card.js
  src/components/Card/Card.test.js
  src/components/Card/index.js
  src/components/Card/styles.js
Due: prettier-eslint --write, eslint

feat: add CheckoutForm component
  src/components/CheckoutForm/CheckoutForm.js
  src/components/CheckoutForm/CheckoutForm.test.js
  src/components/CheckoutForm/__snapshots__/CheckoutForm.test.js.snap
  src/components/CheckoutForm/index.js
  src/components/CheckoutForm/styles.js
Due: prettier-eslint --write, eslint

feat add CheckoutResume component
  src/components/CheckoutResume/CheckoutResume.js
  src/components/CheckoutResume/CheckoutResume.test.js
  src/components/CheckoutResume/index.js
  src/components/CheckoutResume/styles.js
Due: prettier-eslint --write, eslint

feat: add ConfirmationInfoCard component
  src/components/ConfirmationInfoCard/ConfirmationInfoCard.js
  src/components/ConfirmationInfoCard/ConfirmationInfoCard.test.js
  src/components/ConfirmationInfoCard/check-icon.svg
  src/components/ConfirmationInfoCard/index.js
  src/components/ConfirmationInfoCard/styles.js
Due: prettier-eslint --write, eslint

fix: CheckoutForms prop-types
  src/components/CheckoutForm/CheckoutForm.js
  src/pages/Confirmation/__snapshots__/Confirmation.test.js.snap
Due: prettier-eslint --write, eslint

feat: add ConfirmationMessage component
  src/components/ConfirmationMessage/ConfirmationMessage.js
  src/components/ConfirmationMessage/ConfirmationMessage.test.js
  src/components/ConfirmationMessage/check-icon.svg
  src/components/ConfirmationMessage/index.js
  src/components/ConfirmationMessage/styles.js
Due: prettier-eslint --write, eslint

chore: add react-hook-form
  package.json
Due: prettier --write

fix: lint-staged to run only in jsx files
  package.json
Due: prettier --write

chore: rename start script to dev
  package.json
Due: prettier --write

tests: configure tests
  package.json
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

chore: add prop-types
  package.json
Due: prettier --write

chore: remove serviceWorker file
  src/serviceWorker.js
Due: prettier-eslint --write, eslint

feat: configure application routes
  package.json
  src/routes/CheckoutRoutes.js
  src/routes/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add api service
  package.json
  src/services/api.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add FormControl component
  src/components/FormControl/FormControl.js
  src/components/FormControl/FormControl.test.js
  src/components/FormControl/index.js
  src/components/FormControl/styles.js
  src/styles/theme.js
Due: prettier-eslint --write, eslint

feat: add Header component
  src/components/Header/Header.js
  src/components/Header/Header.test.js
  src/components/Header/index.js
  src/components/Header/styles.js
Due: prettier-eslint --write, eslint

feat: add Layout component
  src/components/Layout/Layout.js
  src/components/Layout/Layout.test.js
  src/components/Layout/index.js
  src/components/Layout/styles.js
Due: prettier-eslint --write, eslint
