Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

add fortify workflow to github actions
  .github/workflows/fortify.yml
Due: none

feature: step 1
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/assets/img.png
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/Helper/Image.js
  src/components/Helper/Image.module.css
  src/containers/checkout/components/header/index.js
  src/containers/checkout/components/header/styles.js
  src/containers/checkout/components/product/index.js
  src/containers/checkout/components/product/styles.js
  src/containers/checkout/components/products/index.js
  src/containers/checkout/components/products/styles.js
  src/containers/checkout/components/totals/index.js
  src/containers/checkout/components/totals/styles.js
  src/containers/checkout/index.js
  src/containers/checkout/styles.js
  src/containers/checkout/util/constants.js
  src/hooks/useFetch.js
  src/index.css
  src/index.js
  src/routers/index.js
  src/routers/routers.js
  src/services/api.js
  src/styles/global.js
  src/util/util.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feature: payment step
  package.json
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/Input/index.js
  src/components/Input/styles.js
  src/containers/checkout/components/confirmation/index.js
  src/containers/checkout/components/confirmation/styles.js
  src/containers/checkout/components/header/index.js
  src/containers/checkout/components/payment/index.js
  src/containers/checkout/components/payment/styles.js
  src/containers/checkout/index.js
  src/index.js
  src/routers/index.js
  src/styles/global.js
  src/util/yupLocale.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feature: step3 - confirmation
  README.md
  public/favicon.ico
  public/index.html
  src/assets/logo.svg
  src/assets/success.png
  src/components/Button/styles.js
  src/components/Helper/Image.js
  src/components/Helper/Image.module.css
  src/components/Helper/styles.js
  src/components/Input/styles.js
  src/containers/checkout/components/confirmation/index.js
  src/containers/checkout/components/confirmation/styles.js
  src/containers/checkout/components/header/index.js
  src/containers/checkout/components/header/styles.js
  src/containers/checkout/components/payment/index.js
  src/containers/checkout/components/payment/styles.js
  src/containers/checkout/components/product/styles.js
  src/containers/checkout/components/products/styles.js
  src/containers/checkout/components/totals/styles.js
  src/containers/checkout/index.js
  src/containers/checkout/styles.js
  src/containers/checkout/util/constants.js
  src/serviceWorker.js
  src/styles/global.js
Due: prettier-eslint --write, eslint, prettier --write

add fortify workflow to github actions (#121)
  .github/workflows/fortify.yml
Due: none

feature: addind loading, code splitting and readme
  README.md
  src/components/Helper/Loading.js
  src/components/Helper/styles.js
  src/containers/checkout/components/confirmation/index.js
  src/containers/checkout/index.js
  src/routers/index.js
  src/routers/routers.js
Due: prettier-eslint --write, eslint, prettier --write

feature: desktop view - header
  README.md
  src/containers/checkout/components/header/index.js
  src/containers/checkout/components/header/styles.js
  src/hooks/useMedia.js
Due: prettier-eslint --write, eslint, prettier --write

feature: desktop view
  src/containers/checkout/components/confirmation/styles.js
  src/containers/checkout/components/header/index.js
  src/containers/checkout/components/header/styles.js
  src/containers/checkout/components/products/styles.js
  src/containers/checkout/components/totals/index.js
  src/containers/checkout/components/totals/styles.js
  src/containers/checkout/index.js
  src/containers/checkout/styles.js
Due: prettier-eslint --write, eslint

feature: unit tests
  README.md
  src/App.test.js
  src/components/Button/Button.test.js
  src/components/Button/styles.js
  src/components/Helper/Image.js
  src/components/Helper/Image.test.js
  src/components/Helper/Loading.js
  src/components/Helper/Loading.test.js
  src/components/Input/Input.test.js
  src/components/Input/index.js
  src/containers/checkout/Checkout.test.js
  src/containers/checkout/components/confirmation/Confirmation.test.js
  src/containers/checkout/components/confirmation/styles.js
  src/containers/checkout/components/header/Header.test.js
  src/containers/checkout/components/payment/Payment.test.js
  src/containers/checkout/components/payment/index.js
  src/containers/checkout/components/product/Product.test.js
  src/containers/checkout/components/product/index.js
  src/containers/checkout/components/products/Products.test.js
  src/containers/checkout/components/totals/Totals.test.js
  src/containers/checkout/index.js
  src/containers/checkout/styles.js
  src/setupTests.js
  src/styles/global.js
  src/util/mocks.js
Due: prettier-eslint --write, eslint, prettier --write

reafctor: remove unused imports
  src/containers/checkout/Checkout.test.js
Due: prettier-eslint --write, eslint

refactor: update readme
  README.md
Due: prettier --write

chore: add git-commit-msg-linter
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

chore: add typescript
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: add eslint
  .eslintignore
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

chore: add jest
  jest.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: remove react scripts
  package.json
  yarn.lock
Due: prettier --write

chore: update jest config
  jest.config.js
Due: prettier-eslint --write, eslint

feat: update index.html
  public/favicon.ico
  public/index.html
Due: prettier --write

chore: add webpack
  package.json
  yarn.lock
Due: prettier --write

chore: config webpack
  package.json
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add no-cache and runInBand in test script
  package.json
Due: prettier --write

chore: add ts-loader
  package.json
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: change version webpack
  package.json
  yarn.lock
Due: prettier --write

chore: config port for devServer
  webpack.config.js
Due: prettier-eslint --write, eslint

feat: remove unused files
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.test.js
  src/index.css
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

chore: add js and jsx in webpack resolvers
  webpack.config.js
Due: prettier-eslint --write, eslint

fix: change files extension to first render
  .eslintrc
  package.json
  public/index.html
  public/js/bundle.js
  src/App.js
  src/App.tsx
  src/index.tsx
  tsconfig-eslint.json
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

build: add script to build the project
  package.json
Due: prettier --write

chore: add react router
  package.json
  yarn.lock
Due: prettier --write

chore: config react router
  public/index.html
  public/js/bundle.js
  src/App.tsx
  src/index.tsx
  src/pages/Cart.tsx
  src/pages/Payment.tsx
  src/pages/Success.tsx
Due: prettier-eslint --write, eslint, prettier --write

chore: add stitches
  package.json
  yarn.lock
Due: prettier --write

chore: config stitches
  public/js/bundle.js
  src/style/stitches.config.ts
Due: prettier-eslint --write, eslint

style: add global css in main component
  public/js/bundle.js
  src/index.tsx
  src/style/stitches.config.ts
Due: prettier-eslint --write, eslint

style: implement step bar
  .prettierrc
  public/js/bundle.js
  src/components/Container.tsx
  src/components/Step.tsx
  src/components/StepBar.tsx
  src/index.tsx
  src/style/stitches.config.ts
Due: prettier-eslint --write, eslint

feat: add management to change steps
  public/js/bundle.js
  src/components/Step.tsx
  src/components/StepBar.tsx
  src/contexts/step.tsx
  src/index.tsx
  src/types/Step.ts
Due: prettier-eslint --write, eslint

feat: add product list and resume values
  public/js/bundle.js
  src/components/Box.tsx
  src/components/ProductBox/ProductBox.tsx
  src/components/ProductBox/ProductDetails.tsx
  src/components/ProductBox/ProductImage.tsx
  src/components/ProductBox/index.ts
  src/components/ProductList.tsx
  src/components/ResumeOrder.tsx
  src/components/Step.tsx
  src/components/StepBar.tsx
  src/components/Title.tsx
  src/contexts/cart.tsx
  src/contexts/step.tsx
  src/entities/Cart.ts
  src/entities/Item.ts
  src/entities/Product.ts
  src/entities/Step.ts
  src/index.tsx
  src/pages/Cart.tsx
  src/style/stitches.config.ts
  src/utils/formaNumberToReal.ts
Due: prettier-eslint --write, eslint

refactor: folder of components
  public/js/bundle.js
  src/components/products/ProductBox/ProductBox.tsx
  src/components/products/ProductBox/ProductDetails.tsx
  src/components/products/ProductBox/ProductImage.tsx
  src/components/products/ProductBox/index.ts
  src/components/products/ProductList.tsx
  src/components/resume/ResumeValues.tsx
  src/components/steps/Step.tsx
  src/components/steps/StepBar.tsx
  src/index.tsx
  src/pages/Cart.tsx
Due: prettier-eslint --write, eslint

chore: remove package.json.lock
  package-lock.json
Due: prettier --write

feat: add component button
  public/js/bundle.js
  src/components/Box.tsx
  src/components/Button.tsx
  src/components/products/ProductBox/ProductBox.tsx
  src/components/resume/ResumeValues.tsx
  src/pages/Cart.tsx
Due: prettier-eslint --write, eslint

feat: add navigation in component button
  public/js/bundle.js
  src/components/Button.tsx
  src/pages/Cart.tsx
Due: prettier-eslint --write, eslint
