Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

imported confirmation icon and added style to payment component
  src/assets/icon/confirmation.svg
  src/components/PaymentConfirmation/styled.js
  src/pages/SuccessPage/index.jsx
  src/pages/SuccessPage/styled.js
Due: prettier-eslint --write, eslint

updated style on payment confirmation
  src/components/PaymentConfirmation/index.jsx
  src/components/PaymentConfirmation/styled.js
Due: prettier-eslint --write, eslint

inserted payment summary on success page
  src/pages/SuccessPage/index.jsx
Due: none

inserted cart products on success page
  src/pages/SuccessPage/index.jsx
Due: none

updates on success page
  src/pages/SuccessPage/index.jsx
Due: none

fixed bug on success page
  src/pages/SuccessPage/index.jsx
Due: none

created test for button component
  src/components/Button/Button.spec.js
Due: prettier-eslint --write, eslint

added media query for cart and payment pages
  src/assets/styles/global.js
  src/components/CardContainer/styled.js
  src/components/Container/styled.js
  src/components/Inputs/styled.js
  src/components/Navbar/styled.js
  src/components/ProductItem/styled.js
  src/components/ProductList/styled.js
  src/pages/CartPage/index.jsx
  src/pages/CartPage/styled.js
  src/pages/PaymentPage/styled.js
Due: prettier-eslint --write, eslint

added media query for success page
  src/components/Navbar/styled.js
  src/components/PaymentConfirmation/styled.js
  src/contexts/Checkout.spec.js
  src/pages/SuccessPage/styled.js
Due: prettier-eslint --write, eslint

updated html and added favicon
  public/favicon.ico
  public/index.html
Due: prettier --write

updated readme
  README.md
Due: prettier --write

delete default comments in index.html
  public/index.html
Due: prettier --write

change from App.js file to App.jsx
  src/App.js
Due: prettier-eslint --write, eslint

react-router-dom library installation
  package.json
Due: prettier --write

created route to pages in App.jsx, created pages cart, payment and confirmation
  package-lock.json
  src/App.jsx
  src/pages/Cart/Cart.jsx
  src/pages/confirmation/confirmation.jsx
  src/pages/payment/payment.jsx
Due: prettier --write

udated title and favicon
  public/favicon.ico
  public/index.html
Due: prettier --write

import axios and created request api
  package-lock.json
  package.json
  src/request.js
Due: prettier-eslint --write, eslint, prettier --write

updated cart.jsx and import request
  src/pages/Cart/Cart.jsx
Due: none

install styled-components
  package-lock.json
  package.json
Due: prettier --write

updated class component to function component
  src/pages/Cart/Cart.jsx
Due: none

create context and update App with DataProvider
  src/App.jsx
  src/context/Context.js
Due: prettier-eslint --write, eslint

Created components to cart page
  src/component/Button.js
  src/component/Button.styles.js
  src/component/card.js
  src/component/card.styles.js
  src/component/cartTotal.js
  src/component/cartTotal.styles.js
  src/component/containerPage.js
  src/component/containerPage.styles.js
  src/component/lineData.js
  src/component/lineData.styles.js
  src/component/titleContainer.js
  src/component/titleContainer.styles.js
Due: prettier-eslint --write, eslint

updated and import reference
  src/component/lineData.js
  src/component/titleContainer.js
  src/pages/Cart/Cart.jsx
  src/pages/Cart/Cart.styles.js
Due: prettier-eslint --write, eslint

install react-hook-form
  package-lock.json
  package.json
Due: prettier --write

install react-input-mask
  package-lock.json
  package.json
Due: prettier --write

updated styles to page styles
  src/pages/Cart/Cart.jsx
  src/pages/Pages.styles.js
Due: prettier-eslint --write, eslint

updated page payment
  src/component/Input.js
  src/component/Input.styles.js
  src/component/PaymentData.js
  src/component/PaymentData.styles.js
  src/pages/payment/payment.jsx
Due: prettier-eslint --write, eslint

updated page confirmation
  public/check.png
  public/circle.png
  src/component/FeedbackMessage.js
  src/component/FeedbackMessage.styles.js
  src/component/PaymentResume.js
  src/component/PaymentResume.styles.js
  src/pages/Cart/Cart.jsx
  src/pages/confirmation/confirmation.jsx
Due: prettier-eslint --write, eslint

updated page cart.jsx and app.jsx
  src/App.jsx
  src/pages/Cart/Cart.jsx
Due: none

start
  src/App.js
  src/App.test.js
  src/index.js
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint

install react-router-dom and folder organization
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/robots.txt
  src/App.js
  src/App.jsx
  src/index.css
  src/index.js
  src/index.jsx
  src/pages/Cart/index.jsx
  src/pages/Confirmation/index.jsx
  src/pages/Payment/index.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: (wip) initializing folders structure
  package-lock.json
  public/favicon.ico
  public/index.html
Due: prettier --write

feat: cleaning readme file
  README.md
  REQUIREMENTS.md
Due: prettier --write

component navbar and styles
  src/App.css
  src/App.jsx
  src/components/Common/CardDefault/index.jsx
  src/components/Common/Navbar/index.jsx
  src/components/Common/Navbar/styles.js
  src/context/useRequestContext.jsx
  src/pages/Cart/index.jsx
  src/pages/Confirmation/index.jsx
  src/pages/Payment/index.jsx
Due: prettier-eslint --write, eslint, prettier --write

feat: creating basket provider, features and initial routes
  package-lock.json
  package.json
  src/App.js
  src/App.jsx
  src/context/Basket.jsx
  src/features/cart/Cart.jsx
  src/features/payment/Payment.jsx
  src/features/success/Success.jsx
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

fix: fixing cors
  src/context/Basket.jsx
Due: none

ui page cart
  public/index.html
  public/manifest.json
  src/components/Common/Button.jsx
  src/components/Common/CardDefault/index.jsx
  src/components/Common/CardProducts/index.jsx
  src/components/Common/CardProducts/styles.js
  src/components/Common/CardSummary/index.jsx
  src/components/Common/CardSummary/styles.js
  src/components/Common/Navbar/index.jsx
  src/components/Common/Navbar/styles.js
  src/components/Common/ProductCard.jsx
  src/context/useRequestContext.jsx
  src/pages/Cart/index.jsx
Due: prettier-eslint --write, eslint, prettier --write

page cart and global styles
  src/components/Common/Button.jsx
  src/components/Common/CardProducts/index.jsx
  src/components/Common/CardProducts/styles.js
  src/components/Common/CardSummary/index.jsx
  src/components/Common/CardSummary/styles.js
  src/components/Common/Navbar/styles.js
  src/components/Common/ProductCard.jsx
  src/context/useRequestContext.jsx
  src/globalstyle.js
  src/index.css
  src/index.jsx
  src/pages/Cart/index.jsx
Due: prettier-eslint --write, eslint, prettier --write

ui page payment
  package-lock.json
  package.json
  src/components/Common/BoxProduct.jsx
  src/components/Common/Button.jsx
  src/components/Common/CardDefault/index.jsx
  src/components/Common/CardDefault/styles.js
  src/components/Common/CardProducts/index.jsx
  src/components/Common/FormCreditCard.jsx
  src/components/Common/Input.jsx
  src/globalstyle.js
  src/pages/Cart/index.jsx
  src/pages/Payment/index.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write
