Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: add Loading component
  src/components/Loading/Loading.js
  src/components/Loading/Loading.test.js
  src/components/Loading/index.js
  src/components/Loading/styles.js
Due: prettier-eslint --write, eslint

feat: add PaymentNotFound component
  src/components/PaymentNotFound/PaymentNotFound.js
  src/components/PaymentNotFound/PaymentNotFound.test.js
  src/components/PaymentNotFound/index.js
  src/components/PaymentNotFound/styles.js
Due: prettier-eslint --write, eslint

feat: configure app
  src/App.js
Due: prettier-eslint --write, eslint

test: update snapshots
  src/components/CheckoutForm/__snapshots__/CheckoutForm.test.js.snap
Due: none

feat: add useCart hook
  src/hooks/useCart.js
Due: prettier-eslint --write, eslint

feat: add formatPrice helper
  src/helpers/formatPrice.js
Due: prettier-eslint --write, eslint

test: add renderWithRouter helper
  src/jest/renderWithRouter.js
Due: prettier-eslint --write, eslint

feat: add Cart page
  src/pages/Cart/Cart.js
  src/pages/Cart/Cart.test.js
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
Due: prettier-eslint --write, eslint

feat: add Checkout page
  src/pages/Checkout/Checkout.js
  src/pages/Checkout/Checkout.test.js
  src/pages/Checkout/index.js
  src/pages/Checkout/styles.js
Due: prettier-eslint --write, eslint

feat: add Confirmation page
  src/pages/Confirmation/Confirmation.js
  src/pages/Confirmation/Confirmation.test.js
  src/pages/Confirmation/index.js
  src/pages/Confirmation/styles.js
Due: prettier-eslint --write, eslint

feat: add ProductList component
  src/components/ProductList/ProductList.js
  src/components/ProductList/ProductList.test.js
  src/components/ProductList/index.js
  src/components/ProductList/styles.js
  src/pages/Confirmation/__snapshots__/Confirmation.test.js.snap
  src/styles/theme.js
Due: prettier-eslint --write, eslint

fix: update mocky to use https
  src/services/api.js
Due: prettier-eslint --write, eslint

chore: update test script
  package.json
Due: prettier --write

chore: add new spacing in theme
  src/styles/theme.js
Due: prettier-eslint --write, eslint

refactor: add sidebar to cart page
  src/pages/Cart/Cart.js
  src/pages/Cart/styles.js
Due: prettier-eslint --write, eslint

refactor: desktop styles in Confirmation page
  src/pages/Confirmation/__snapshots__/Confirmation.test.js.snap
  src/pages/Confirmation/styles.js
Due: prettier-eslint --write, eslint

feat: add desktop styles to components
  src/components/ConfirmationMessage/styles.js
  src/components/Header/styles.js
  src/components/Layout/styles.js
  src/components/PaymentNotFound/styles.js
Due: prettier-eslint --write, eslint

feat: add desktop styles to Checkout page
  src/pages/Checkout/Checkout.js
  src/pages/Checkout/styles.js
Due: prettier-eslint --write, eslint

docs: update readme
  README.md
Due: prettier --write

change: ignored folders on gitignore and readme file
  .gitignore
  README.md
Due: prettier --write

feat: add data store manipulation
  .gitignore
  projects/checkout/src/pages/checkout/cart/index.js
  projects/checkout/src/pages/checkout/confirmation/index.js
  projects/checkout/src/pages/checkout/payment/index.js
  shared/store/src/UserStore/UserStore.js
Due: prettier-eslint --write, eslint

feat: add components and page styles
  projects/checkout/src/pages/_app.js
  projects/checkout/src/pages/checkout/cart/index.js
  projects/checkout/src/pages/checkout/confirmation/index.js
  projects/checkout/src/pages/checkout/payment/index.js
  projects/checkout/src/pages/index.js
  projects/checkout/src/styles/global.css
  shared/components/index.js
  shared/components/src/Button/Button.js
  shared/components/src/Button/Button.styles.js
  shared/components/src/Container/Container.js
  shared/components/src/Container/Container.styles.js
  shared/components/src/Footer/Footer.js
  shared/components/src/Footer/Footer.styles.js
  shared/components/src/Header/Header.js
  shared/components/src/Header/Header.styles.js
  shared/components/src/MainWrapper/MainWrapper.js
  shared/components/src/MainWrapper/MainWrapper.styles.js
  shared/components/src/Navigation/Navigation.js
  shared/components/src/Navigation/Navigation.styles.js
  shared/components/src/PaymentDetails/PaymentDetails.js
  shared/components/src/PaymentDetails/PaymentDetails.styles.js
  shared/components/src/ProductsList/Product.js
  shared/components/src/ProductsList/Products.styles.js
  shared/components/src/ProductsList/ProductsList.js
  shared/components/src/ProductsList/ProductsList.styles.js
  shared/components/src/PurchaseResume/PurchaseResume.js
  shared/components/src/PurchaseResume/PurchaseResume.styles.js
  shared/components/src/Title/Title.js
  shared/components/src/Title/Title.styles.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add form styles
  projects/checkout/src/pages/checkout/payment/index.js
  shared/components/index.js
  shared/components/src/FormCreditCardPayment/FormCreditCardPayment.js
  shared/components/src/FormCreditCardPayment/FormCreditCardPayment.styles.js
  shared/components/src/FormElements/Form/Form.js
  shared/components/src/FormElements/Form/Form.styles.js
  shared/components/src/FormElements/Input/Input.js
  shared/components/src/FormElements/Input/Input.styles.js
Due: prettier-eslint --write, eslint

feat: add form validation
  projects/checkout/package.json
  projects/checkout/src/pages/checkout/payment/index.js
  shared/components/index.js
  shared/components/package.json
  shared/components/src/FormCreditCardPayment/FormCreditCardPayment.js
  shared/components/src/FormElements/Form/Form.js
  shared/components/src/FormElements/Input/Input.js
  shared/components/src/FormElements/Input/Input.styles.js
  shared/components/src/FormElements/MyForm/FormTEMP.js
  shared/components/src/FormElements/MyForm/MyForm.js
  shared/components/src/FormElements/MyForm/MyForm.styles.js
  shared/utils/src/validation/validation.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: save credit cards into store
  shared/components/.babelrc
  shared/components/package.json
  shared/components/src/FormCreditCardPayment/FormCreditCardPayment.js
  shared/components/src/FormElements/Input/Input.js
  shared/components/src/FormElements/Input/Input.styles.js
Due: prettier-eslint --write, eslint, prettier --write

add: missed files from last commit
  ToDoList.md
  projects/checkout/src/pages/checkout/confirmation/index.js
  projects/checkout/src/pages/checkout/payment/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add banner component and currency helper
  ToDoList.md
  projects/checkout/public/images/icon-check.png
  projects/checkout/src/pages/checkout/cart/index.js
  projects/checkout/src/pages/checkout/confirmation/index.js
  projects/checkout/src/pages/checkout/payment/index.js
  shared/components/index.js
  shared/components/src/Banner/Banner.js
  shared/components/src/Banner/Banner.styles.js
  shared/components/src/FormElements/MyForm/FormTEMP.js
  shared/components/src/FormElements/MyForm/MyForm.js
  shared/components/src/FormElements/MyForm/MyForm.styles.js
  shared/components/src/PurchaseResume/PurchaseResume.js
  shared/utils/index.js
  shared/utils/src/validation/currency.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add unit test
  projects/checkout/src/__tests__/checkout/cart.test.js
  projects/checkout/src/__tests__/index.test.js
  projects/checkout/src/pages/checkout/cart/index.js
Due: prettier-eslint --write, eslint

feat: wip testing
  projects/checkout/src/__tests__/checkout/cart.test.js
  projects/checkout/src/__tests__/checkout/confirmation.test.js
  projects/checkout/src/pages/checkout/cart/index.js
  projects/checkout/src/pages/checkout/payment/index.js
  shared/hooks/src/useLocalStorage/useLocalStorage.js
Due: prettier-eslint --write, eslint

feat: add payment unit test
  projects/checkout/src/__tests__/checkout/payment.test.js
Due: prettier-eslint --write, eslint

feat: final adjustments
  README.md
  ToDoList.md
  projects/checkout/src/pages/checkout/cart/index.js
  projects/checkout/src/pages/checkout/confirmation/index.js
  projects/checkout/src/pages/checkout/payment/index.js
  shared/components/src/Button/Button.styles.js
  shared/components/src/FormElements/Input/Input.js
  shared/components/src/FormElements/Input/Input.styles.js
  shared/components/src/Navigation/Navigation.js
  shared/utils/src/validation/validation.js
Due: prettier-eslint --write, eslint, prettier --write

feat: final adjustments
  README.md
  ToDoList.md
  package.json
  projects/checkout/src/pages/checkout/confirmation/index.js
  projects/checkout/src/pages/checkout/payment/index.js
  shared/components/index.js
  shared/components/src/SectionWrapper/SectionWrapper.js
  shared/components/src/SectionWrapper/SectionWrapper.styles.js
Due: prettier-eslint --write, eslint, prettier --write

remove: console.log from payment page
  README.md
  projects/checkout/src/pages/checkout/payment/index.js
Due: prettier-eslint --write, eslint, prettier --write

Defined Pages and Componentes.
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/components/Button/Button.js
  src/components/Button/index.js
  src/components/Input/Input.js
  src/components/Input/index.js
  src/components/NavBar/NavBar.js
  src/components/NavBar/index.js
  src/components/Product/Product.js
  src/components/Product/index.js
  src/components/Summary/Summary.js
  src/components/Summary/index.js
  src/pages/Checkout/Checkout.js
  src/pages/Checkout/index.js
  src/pages/Payment/Payment.js
  src/pages/Payment/index.js
  src/pages/ShoppingCart/ShoppingCart.js
  src/pages/ShoppingCart/index.js
Due: prettier-eslint --write, eslint, prettier --write

Implemented ShoppingCart Page.
  src/App.css
  src/App.js
  src/components/Button/Button.css
  src/components/Button/Button.js
  src/components/NavBar/NavBar.css
  src/components/NavBar/NavBar.js
  src/components/Product/Product.css
  src/components/Product/Product.js
  src/components/Summary/Summary.css
  src/components/Summary/Summary.js
  src/pages/Checkout/Checkout.js
  src/pages/Payment/Payment.css
  src/pages/Payment/Payment.js
  src/pages/ShoppingCart/ShoppingCart.css
  src/pages/ShoppingCart/ShoppingCart.js
  src/utils/currency-utils.js
  src/utils/index.js
Due: prettier-eslint --write, eslint, prettier --write

Implemented Payment Page.
  package-lock.json
  package.json
  src/App.js
  src/components/Button/Button.css
  src/components/Button/Button.js
  src/components/Input/Input.css
  src/components/Input/Input.js
  src/components/Product/Product.css
  src/components/Product/Product.js
  src/pages/Checkout/Checkout.css
  src/pages/Checkout/Checkout.js
  src/pages/Payment/Payment.css
  src/pages/Payment/Payment.js
  src/pages/Payment/validations.js
  src/pages/ShoppingCart/ShoppingCart.js
  src/reducer/Reducer.js
  src/reducer/ReducerContext.js
  src/reducer/index.js
  src/service/api.js
  src/service/index.js
  src/utils/currency-utils.js
Due: prettier-eslint --write, eslint, prettier --write

Implemented Checkout Page.
  src/App.js
  src/assets/check.svg
  src/components/Input/Input.js
  src/components/Product/Product.js
  src/pages/Checkout/Checkout.css
  src/pages/Checkout/Checkout.js
  src/pages/Payment/Payment.js
  src/pages/Payment/validations.js
  src/pages/ShoppingCart/ShoppingCart.js
  src/reducer/Reducer.js
Due: prettier-eslint --write, eslint, prettier --write

Created Header Component
  package.json
  src/App.css
  src/App.js
  src/components/header/index.js
  src/components/header/styles.css
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write
