Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: add numberFormat
  src/App.test.tsx
  src/components/cart/ListItem.tsx
  src/components/cart/styles.ts
  src/components/summary/Summary.tsx
  src/helpers/__tests__/numberFormat.test.ts
  src/helpers/numberFormat.ts
Due: none

feat: load summary at confirmation page
  src/components/summary/models.ts
  src/contexts/ActionContext.tsx
  src/pages/confirmation.tsx
  src/pages/payment.tsx
Due: none

feat: set cart item to storage
  src/pages/confirmation.tsx
  src/pages/payment.tsx
Due: none

refactor: :recycle: hide price column
  src/components/cart/Cart.tsx
  src/components/cart/ListItem.tsx
  src/components/cart/styles.ts
  src/pages/confirmation.tsx
Due: none

refactor: box component to better rendering the purpose
  src/components/styles/Box.ts
  src/components/styles/ConfirmationMessage.ts
  src/components/styles/index.ts
  src/pages/layout.tsx
Due: none

feat: cardNumber helper
  src/helpers/__tests__/secretCardNumber.test.ts
  src/helpers/secretCardNumber.ts
Due: none

feat: data from storage at confirmation page
  src/pages/cart.tsx
  src/pages/confirmation.tsx
  src/pages/payment.tsx
Due: none

feat: clear storage
  src/pages/cart.tsx
  src/pages/payment.tsx
Due: none

feat: auth page
  src/App.tsx
  src/components/RequireStorageData.tsx
  src/contexts/AuthContext.tsx
  src/pages/cart.tsx
  src/pages/confirmation.tsx
  src/pages/payment.tsx
Due: none

fix: :bug: fix a import file mistake
  src/components/summary/models.ts
  src/hooks/useLoadCart.ts
Due: none

test: add some tests
  src/components/cart/__tests__/Cart.test.tsx
  src/components/cart/__tests__/ListItem.test.tsx
  src/components/summary/__tests__/Summary.test.tsx
  src/hooks/__tests__/useLoadCart.test.ts
Due: none

chore: :heavy_minus_sign: remove bootrap lib
  package.json
  yarn.lock
Due: prettier --write

feat: create project
  .editorconfig
  .github/workflows/fortify.yml
  .github/workflows/stale.yml
  .gitignore
  .prettierrc
  README.md
  index.html
  package.json
  public/robots.txt
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/main.tsx
  src/test/setup-test.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: prettier --write

build: add dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: remove template files
  .editorconfig
  .github/workflows/fortify.yml
  .github/workflows/stale.yml
  .gitignore
  .prettierrc
  README.md
  index.html
  package.json
  public/robots.txt
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/main.tsx
  src/test/setup-test.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: prettier --write

feat: create workspace
  package.json
Due: prettier --write

feat: create cart app
  .gitignore
  apps/cart/package.json
  yarn.lock
Due: prettier --write

chore: create initial webpack configuration
  .gitignore
  apps/cart/index.html
  apps/cart/index.tsx
  apps/cart/package.json
  apps/cart/src/App.tsx
  apps/cart/tsconfig.json
  apps/cart/webpack.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add tailwindcss setup and adjust webpack configuration
  apps/cart/index.tsx
  apps/cart/main.css
  apps/cart/package.json
  apps/cart/postcss.config.js
  apps/cart/src/App.tsx
  apps/cart/tailwind.config.js
  apps/cart/webpack.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create button component
  apps/cart/package.json
  apps/cart/src/App.tsx
  apps/cart/src/components/Button.tsx
  yarn.lock
Due: prettier --write

feat: create formatCurrency helper
  apps/cart/src/helpers/formatCurrency.ts
Due: none

feat: create cart information component
  apps/cart/main.css
  apps/cart/src/App.tsx
  apps/cart/src/components/CartInformation.tsx
Due: prettier --write

feat: create header component
  apps/cart/src/App.tsx
  apps/cart/src/components/Header.tsx
Due: none

feat: create list products component
  apps/cart/src/components/ListProducts.tsx
  apps/cart/src/components/Product.tsx
Due: none

feat: create first step
  apps/cart/package.json
  apps/cart/src/App.tsx
  apps/cart/src/components/Header.tsx
Due: prettier --write

feat: add routes and create layout
  apps/cart/package.json
  apps/cart/src/App.tsx
  apps/cart/src/Layout.tsx
  apps/cart/webpack.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add eslint and prettier linters
  apps/cart/.editorconfig
  apps/cart/.eslintrc.json
  apps/cart/.nvmrc
  apps/cart/.prettierrc.json
  apps/cart/package.json
  apps/cart/src/App.tsx
  apps/cart/src/Layout.tsx
  apps/cart/src/components/Button.tsx
  apps/cart/src/components/CartInformation.tsx
  apps/cart/src/components/Header.tsx
  apps/cart/src/components/ListProducts.tsx
  apps/cart/src/components/Product.tsx
  apps/cart/src/helpers/formatCurrency.ts
  apps/cart/tsconfig.json
  yarn.lock
Due: prettier --write

feat: create input component
  apps/cart/src/components/Input.tsx
Due: none

feat: create input masked component and credit card form
  apps/cart/package.json
  apps/cart/src/App.tsx
  apps/cart/src/components/CartInformation.tsx
  apps/cart/src/components/CreditCardForm.tsx
  apps/cart/src/components/InputMasked.tsx
  apps/cart/src/components/schema.ts
  yarn.lock
Due: prettier --write

feat: add header route feedback
  apps/cart/src/components/Header.tsx
Due: none

feat: create successfully payment card component
  apps/cart/src/components/SuccessfullyPaymentCard.tsx
Due: none

feat: create list of products component
  apps/cart/src/components/ListOfProducts.tsx
Due: none

feat: create payment information component
  apps/cart/src/App.tsx
  apps/cart/src/components/PaymentInformation.tsx
  apps/cart/src/components/Product.tsx
  apps/cart/src/helpers/obfuscateCreditCardNumber.ts
Due: none

feat: create layout bottom portal
  apps/cart/src/App.tsx
  apps/cart/src/Layout.tsx
  apps/cart/src/components/Layout.tsx
  apps/cart/src/components/ListProducts.tsx
  apps/cart/src/hooks/usePortalElement.ts
Due: none

feat: create cart provider and services
  apps/cart/src/App.tsx
  apps/cart/src/contexts/CartContext.tsx
  apps/cart/src/models/Cart.ts
  apps/cart/src/models/Product.ts
  apps/cart/src/services/api.ts
Due: none

feat: add integration in list products view
  apps/cart/src/components/CartInformation.tsx
  apps/cart/src/components/ListProducts.tsx
  apps/cart/src/components/Product.tsx
Due: none

fix: adjust credit cart validation
  apps/cart/src/components/schema.ts
Due: none

feat: add credit card form integration
  apps/cart/src/components/Button.tsx
  apps/cart/src/components/CreditCardForm.tsx
  apps/cart/src/contexts/CartContext.tsx
  apps/cart/src/models/CreditCard.ts
Due: none

feat: add payment information integration
  apps/cart/src/components/CreditCardForm.tsx
  apps/cart/src/components/Input.tsx
  apps/cart/src/components/ListOfProducts.tsx
  apps/cart/src/components/PaymentInformation.tsx
  apps/cart/src/components/SuccessfullyPaymentCard.tsx
  apps/cart/src/components/schema.ts
  apps/cart/src/helpers/obfuscateCreditCardNumber.ts
Due: none

feat: create responsive views
  apps/cart/src/components/CartInformation.tsx
  apps/cart/src/components/CreditCardForm.tsx
  apps/cart/src/components/Layout.tsx
  apps/cart/src/components/ListProducts.tsx
  apps/cart/src/components/Product.tsx
Due: none
