Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

add infoCart to localStorage
  src/components/BagPage/index.js
  src/components/PaymentPage/index.js
Due: prettier-eslint --write, eslint

created handle inputs; added infos PaymentPage
  src/components/PaymentPage/index.js
Due: prettier-eslint --write, eslint

function handleSubmit created on PaymentPage
  src/components/PaymentPage/index.js
Due: prettier-eslint --write, eslint

Add button and navigation on basket
  src/components/Total/Total.js
  src/components/Total/__snapshots__/Total.test.js.snap
  src/pages/Basket/Basket.js
  src/pages/Basket/__snapshots__/Basket.test.js.snap
Due: prettier-eslint --write, eslint

feat: add initial structure and configurations
  .eslintrc.json
  commitlint.config.js
  package-lock.json
  package.json
  setupTests.js
  src/App.css
  src/App.js
  src/App.test.js
  src/containers/App/index.js
  src/containers/Router/index.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reducers/index.js
  src/serviceWorker.js
Due: prettier-eslint --write, eslint, prettier --write

fix: changed indentation in commit lint config
  commitlint.config.js
Due: prettier-eslint --write, eslint

Add payment form
  package-lock.json
  package.json
  src/App.js
  src/components/Button/Button.js
  src/components/Button/Button.test.js
  src/components/Button/__snapshots__/Button.test.js.snap
  src/pages/Basket/Basket.js
  src/pages/Basket/__snapshots__/Basket.test.js.snap
  src/pages/Confirmation/Confirmation.js
  src/pages/Payment/Payment.js
  src/pages/Payment/Payment.test.js
  src/pages/Payment/__snapshots__/Payment.test.js.snap
Due: prettier-eslint --write, eslint, prettier --write

Add confirmation page content
  src/App.js
  src/components/ProductReview/ProductReview.js
  src/components/ProductReview/ProductReview.test.js
  src/components/ProductReview/__snapshots__/ProductReview.test.js.snap
  src/pages/Confirmation/Confirmation.js
  src/pages/Confirmation/Confirmation.test.js
  src/pages/Confirmation/__snapshots__/Confirmation.test.js.snap
  src/pages/Payment/Payment.js
Due: prettier-eslint --write, eslint

Reuse Box component
  src/components/Box/Box.js
  src/components/Product/Product.js
  src/components/Product/__snapshots__/Product.test.js.snap
  src/pages/Basket/Basket.js
  src/pages/Basket/__snapshots__/Basket.test.js.snap
  src/pages/Confirmation/Confirmation.js
  src/pages/Confirmation/__snapshots__/Confirmation.test.js.snap
Due: prettier-eslint --write, eslint

Get data from real endpoint
  package-lock.json
  package.json
  src/App.js
  src/api/api-utils.js
  src/api/api-utils.test.js
  src/api/api.js
  src/api/api.test.js
  src/components/Button/Button.js
  src/pages/Basket/Basket.js
  src/pages/Confirmation/Confirmation.js
  src/pages/Payment/Payment.js
  src/pages/Payment/__snapshots__/Payment.test.js.snap
Due: prettier-eslint --write, eslint, prettier --write

Add code splitting
  src/App.js
Due: prettier-eslint --write, eslint

infos added on ConfirmPage
  src/components/BagPage/index.js
  src/components/ConfirmPage/index.js
  src/components/PaymentPage/index.js
Due: prettier-eslint --write, eslint

refactor: 💡 Convert to typescript
  package.json
  src/App.test.tsx
  src/App.tsx
  src/index.tsx
  src/react-app-env.d.ts
  src/serviceWorker.ts
  src/setupTests.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

feat: 🎸 Create routes and navigation
  .prettierrc
  package.json
  prettier.config.js
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/components/Link/index.tsx
  src/components/Link/styles.tsx
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.tsx
  src/index.tsx
  src/logo.svg
  src/pages/Confirmacao/index.tsx
  src/pages/NotFound/index.tsx
  src/pages/Pagamento/index.tsx
  src/pages/Sacola/index.tsx
  src/routes/index.tsx
  src/serviceWorker.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

styles BagPage created
  src/App.js
  src/components/BagPage/index.js
  src/components/BagPage/styles.js
Due: prettier-eslint --write, eslint

styles PaymentPage created
  src/components/BagPage/index.js
  src/components/PaymentPage/index.js
  src/components/PaymentPage/styles.js
Due: prettier-eslint --write, eslint

refactor: refactor app and eslint
  .eslintrc.json
  src/App.js
  src/containers/App/index.js
  src/index.js
  src/styles/global.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add axios
  package-lock.json
  package.json
Due: prettier --write

feat: add actions and reducers
  src/actions/cart.js
  src/actions/menu.js
  src/reducers/cart.js
  src/reducers/index.js
  src/reducers/menu.js
Due: prettier-eslint --write, eslint

feat: add components basic's
  src/components/Button/index.js
  src/components/Button/style.js
  src/components/Card/index.js
  src/components/Card/style.js
  src/components/CardProduct/index.js
  src/components/CardProduct/style.js
  src/components/CardTotalShipping/index.js
  src/components/CardTotalShipping/style.js
  src/components/InformationShipping/index.js
  src/components/InformationShipping/style.js
  src/components/TopBar/index.js
  src/components/TopBar/style.js
Due: prettier-eslint --write, eslint

feat: add logo and routes enum
  src/assets/logo.png
  src/enums/routes.js
Due: prettier-eslint --write, eslint

feat: add container cart
  src/containers/Cart/index.js
  src/containers/Cart/style.js
  src/containers/Router/index.js
Due: prettier-eslint --write, eslint

feat: add history dependency
  package-lock.json
  package.json
Due: prettier --write

refactor: add new props to padding
  src/components/Card/index.js
  src/components/Card/style.js
  src/components/CardProduct/index.js
Due: prettier-eslint --write, eslint

fix: adjust in key properties in map
  src/components/CardTotalShipping/index.js
  src/components/TopBar/index.js
Due: prettier-eslint --write, eslint

feat: implement payment container
  src/actions/payment.js
  src/containers/Cart/style.js
  src/containers/Payment/index.js
  src/containers/Payment/style.js
  src/containers/Router/index.js
  src/reducers/cart.js
Due: prettier-eslint --write, eslint

styles ConfirmPage created; REGEX and form validations created
  src/components/ConfirmPage/index.js
  src/components/ConfirmPage/styles.js
  src/components/PaymentPage/index.js
  src/components/PaymentPage/styles.js
Due: prettier-eslint --write, eslint

style: 💄 Apply improve on navbar
  src/components/NavBar/Link/index.tsx
  src/components/NavBar/Link/styles.tsx
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.tsx
Due: none

style: 💄 Create products and summary elements
  src/App.tsx
  src/index.tsx
  src/pages/Sacola/index.tsx
  src/pages/Sacola/styles.tsx
  src/styles/global.ts
Due: none

style adjustments
  src/components/BagPage/index.js
  src/components/BagPage/styles.js
  src/components/ConfirmPage/images/image1.png
  src/components/ConfirmPage/index.js
  src/components/ConfirmPage/styles.js
  src/components/HomePage/HomePage.css
  src/components/HomePage/index.js
  src/components/PaymentPage/index.js
  src/components/PaymentPage/styles.js
Due: prettier-eslint --write, eslint, prettier --write

adjustment and BagPage test created
  package-lock.json
  package.json
  src/components/BagPage/BagPage.test.js
  src/components/BagPage/index.js
  src/components/ConfirmPage/index.js
  src/components/ConfirmPage/styles.js
  src/components/PaymentPage/PaymentPage.test.js
  src/components/PaymentPage/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: 🎸 Implement api on sacola page
  package.json
  src/@types/cart/index.d.ts
  src/@types/cart/response.d.ts
  src/@types/cart/type.d.ts
  src/@types/mapper.d.ts
  src/App.tsx
  src/hooks/cart.tsx
  src/hooks/index.tsx
  src/mappers/cart.mapper.ts
  src/mappers/index.ts
  src/pages/Sacola/index.tsx
  src/pages/Sacola/styles.tsx
  src/services/api.ts
  src/setupTests.ts
  src/utils/format.test.tsx
  src/utils/format.ts
  yarn.lock
Due: prettier --write

refactor: 💡 Remove link component on navbar
  src/components/NavBar/Link/index.tsx
  src/components/NavBar/Link/styles.tsx
  src/components/NavBar/__snapshots__/index.test.tsx.snap
  src/components/NavBar/index.test.tsx
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.tsx
Due: none

feat: 🎸 Add pagamento button on sacola page
  src/components/Button/__snapshots__/index.test.tsx.snap
  src/components/Button/index.test.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.tsx
  src/pages/Sacola/index.tsx
  src/pages/Sacola/styles.tsx
  src/styles/global.ts
Due: none

refactor: 💡 Create summary component
  src/components/Summary/__snapshots__/index.test.tsx.snap
  src/components/Summary/index.test.tsx
  src/components/Summary/index.tsx
  src/components/Summary/styles.tsx
  src/pages/Sacola/index.tsx
  src/pages/Sacola/styles.tsx
Due: none

perf: ⚡️ Implement cache for cart service
  src/components/Summary/styles.tsx
  src/hooks/cart.tsx
  src/pages/Sacola/index.tsx
  src/pages/Sacola/styles.tsx
Due: none

attempted tests on PaymentPage and ConfirmPage, rendering from localStorage
  src/components/PaymentPage/PaymentPage.test.js
  src/components/PaymentPage/PaymentPage.txt
  src/components/PaymentPage/index.js
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

feat: add image sucess
  src/assets/success.png
Due: none

feat: add new props to grid area name
  src/components/Card/index.js
  src/components/Card/style.js
Due: prettier-eslint --write, eslint

feat: add grid area name
  src/components/CardTotalShipping/style.js
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
