Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: create base pages
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
  src/pages/CheckoutConfirm/index.js
  src/pages/CheckoutConfirm/styles.js
  src/pages/Payment/index.js
  src/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

feat: setting global style
  src/styles/global.js
  src/styles/theme.js
Due: prettier-eslint --write, eslint

feat: remove useless files
  src/App.css
  src/App.test.js
  src/index.css
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

feat: update dependencies
  package-lock.json
  package.json
Due: prettier --write

feat: setting project routes
  src/App.js
  src/index.js
  src/routes/index.js
  src/routes/routes.js
  src/services/api.js
  src/services/history.js
Due: prettier-eslint --write, eslint

feat: adding eslint
  .eslintrc.json
Due: prettier --write

feat: adding reactotron config
  src/config/ReactotronConfig.js
Due: prettier-eslint --write, eslint

feat: adding cart redux
  src/store/ducks/cart.js
  src/store/ducks/index.js
  src/store/index.js
  src/store/sagas/index.js
Due: prettier-eslint --write, eslint

fix: eslint config and file w/ errors
  .eslintrc.json
  src/index.js
  src/pages/Cart/index.js
  src/store/ducks/cart.js
Due: prettier-eslint --write, eslint, prettier --write

Created structure used. created header component and checkout product listing
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/index.css
  src/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix: eslint config
  .eslintrc.json
Due: prettier --write

feat: update cart redux
  src/store/ducks/cart.js
  src/store/ducks/index.js
  src/store/sagas/cart.js
  src/store/sagas/index.js
Due: prettier-eslint --write, eslint

feat: adding dinamic cart pricing from api
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
Due: prettier-eslint --write, eslint

feat: adding new components
  src/components/BorderContainer/index.js
  src/components/BorderContainer/styles.js
  src/components/Card/index.js
  src/components/Card/styles.js
  src/components/GridContainer/index.js
  src/components/GridContainer/styles.js
  src/components/Header/styles.js
  src/components/Input/index.js
  src/components/Input/styles.js
  src/components/Item/index.js
  src/components/Item/styles.js
  src/components/NavBar/index.js
  src/components/NavBar/styles.js
  src/components/ProductHeader/index.js
  src/components/ProductHeader/styles.js
  src/components/Text/index.js
  src/components/Text/styles.js
Due: prettier-eslint --write, eslint

feat: updade base files
  src/App.js
  src/index.js
  src/routes/routes.js
  src/styles/global.js
  src/styles/theme.js
Due: prettier-eslint --write, eslint

feat: update ducks and sagas
  package-lock.json
  package.json
Due: prettier --write

feat: Adding new components
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/Header/index.js
Due: prettier-eslint --write, eslint

feat: finish cart page
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
Due: prettier-eslint --write, eslint

feat: setting payment page
  src/pages/Payment/index.js
  src/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

fix: format files
  src/pages/CheckoutConfirm/index.js
Due: prettier-eslint --write, eslint

Created Checkout Cart and Checkout payment page
  package.json
  yarn.lock
Due: prettier --write

feat: adding last components and pages
  src/assets/check-mark.svg
  src/components/Alert/index.js
  src/components/Alert/styles.js
  src/components/Button/index.js
  src/components/Input/index.js
  src/components/Input/styles.js
  src/components/Item/index.js
  src/components/Text/styles.js
  src/components/WrapperFlex/index.js
  src/components/WrapperFlex/styles.js
  src/index.js
  src/pages/Cart/index.js
  src/pages/CheckoutConfirm/index.js
  src/pages/CheckoutConfirm/styles.js
  src/pages/Payment/index.js
  src/pages/Payment/styles.js
  src/store/ducks/cart.js
  src/utils/getValidationErrors.js
Due: prettier-eslint --write, eslint

Created checkout confirmation page
  src/App.js
  src/index.js
Due: prettier-eslint --write, eslint

Add dependency axios
  package-lock.json
  package.json
Due: prettier --write

Add activeStatus on navbar
  src/components/custom-navbar.js
Due: prettier-eslint --write, eslint

Change static render for a dinamic render
  src/components/product-card.js
Due: prettier-eslint --write, eslint

Add formatting
  src/components/resume-card.js
Due: prettier-eslint --write, eslint

Adjust font-family and font-size
  src/css/index.css
Due: prettier --write

Adjust layout
  src/css/styles.js
Due: prettier-eslint --write, eslint

Add page routes
  src/index.js
Due: prettier-eslint --write, eslint

Create button component
  src/components/custom-button.js
Due: prettier-eslint --write, eslint

Create Product Item component
  src/components/product-item.js
Due: prettier-eslint --write, eslint

Create requests and handling of data
  src/data/data-storage.js
Due: prettier-eslint --write, eslint

Create pages with components
  src/pages/Cart.js
  src/pages/Confirmation.js
  src/pages/Payment.js
Due: prettier-eslint --write, eslint

Created checkout confirmation page
  src/Components/ButtonCheckout/index.js
  src/Components/ButtonCheckout/style.js
  src/Components/HeaderCheckout/index.js
  src/Components/HeaderCheckout/style.js
  src/Components/InfoPaymentCheckout/index.js
  src/Components/InfoPaymentCheckout/style.js
  src/Components/Input/index.js
  src/Components/Input/style.js
  src/Components/ListProductsCheckout/index.js
  src/Components/ListProductsCheckout/style.js
  src/Pages/CheckoutCart/index.js
  src/Pages/CheckoutCart/style.js
  src/Pages/CheckoutDone/index.js
  src/Pages/CheckoutDone/style.js
  src/Pages/CheckoutPayment/index.js
  src/Pages/CheckoutPayment/style.js
  src/Routes/index.js
  src/Service/api.js
  src/Utils/formatValue.js
  src/Utils/getValidationErrors.js
  src/styles/global.js
Due: prettier-eslint --write, eslint

Created the confirmation page
  src/App.js
  src/Components/HeaderCheckout/index.js
  src/Components/HeaderCheckout/style.js
  src/Components/InfoPaymentCheckout/style.js
  src/Pages/CheckoutCart/index.js
  src/Pages/CheckoutDone/index.js
  src/Pages/CheckoutDone/style.js
  src/Pages/CheckoutPayment/index.js
  src/Routes/index.js
  src/styles/global.js
Due: prettier-eslint --write, eslint

Created ProductList component
  .prettierrc
  babel.config.json
  package-lock.json
  package.json
  src/App.test.js
  src/__tests__/cart.test.js
  src/components/Cart.js
  src/components/Header.js
  src/components/Product.js
  src/components/ProductList.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Final adjustments
  src/Components/ButtonCheckout/style.js
  src/Components/ListProductsCheckout/style.js
Due: prettier-eslint --write, eslint

Created components Total and Button finilizing the Cart screen
  Header.js
  src/components/Button.js
  src/components/Cart.js
  src/components/Payment.js
  src/components/Product.js
  src/components/ProductList.js
  src/components/Total.js
Due: prettier-eslint --write, eslint

Abstraction of Navigation Bar
  Header.js
  src/App.js
  src/components/Cart.js
  src/components/Header.js
  src/components/NavBar.js
  src/components/Payment.js
  src/components/Success.js
Due: prettier-eslint --write, eslint
