Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

wip
  src/components/Product/Product.js
  src/components/Product/Product.module.css
  src/components/Product/index.js
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: react-query/cart service initial setup
  .gitignore
  next.config.js
  package.json
  src/components/shared/Text/Text.test.js
  src/pages/_app.js
  src/pages/index.js
  src/services/cart.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add decoration prop to Text component
  src/components/shared/Text/Text.js
  src/components/shared/Text/Text.test.js
Due: prettier-eslint --write, eslint

feat: creates Product component
  next.config.js
  src/components/Product/Product.js
  src/components/Product/Product.module.css
  src/components/Product/Product.test.js
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

refactor: improving Product component to receive formatted props
  src/components/Product/Product.js
  src/components/Product/Product.test.js
Due: prettier-eslint --write, eslint

feat: creates Products component
  src/components/Products/Products.js
  src/components/Products/Products.test.js
  src/components/Products/index.js
  src/components/Products/utils/index.js
  src/components/Products/utils/index.test.js
Due: prettier-eslint --write, eslint

style: little style code changes
  src/components/shared/Text/Text.test.js
  src/pages/index.js
Due: prettier-eslint --write, eslint

feat: add favicon
  public/favicon.ico
Due: none

feat: creates Tabs and Tab components
  src/components/Product/Product.module.css
  src/components/Tab/Tab.js
  src/components/Tab/Tab.module.css
  src/components/Tab/index.js
  src/components/Tabs/Tabs.js
  src/components/Tabs/Tabs.module.css
  src/components/Tabs/index.js
  src/components/TabsContext/TabsContext.js
  src/components/TabsContext/index.js
  src/enums/checkoutTabs.js
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

refactor(Text): improving Text component
  src/components/shared/Text/Text.js
  src/components/shared/Text/Text.module.css
  src/components/shared/Text/Text.test.js
  src/components/shared/Text/utils/cssTokens.js
  src/components/shared/Text/utils/index.js
Due: prettier-eslint --write, eslint, prettier --write

refactor: improving Tabs/Tab components
  src/components/Tabs/Tab/Tab.js
  src/components/Tabs/Tab/Tab.module.css
  src/components/Tabs/Tab/index.js
  src/components/Tabs/Tabs.js
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: replace favicon
  public/favicon.ico
Due: none

style: move TabContext to Tab component directory
  src/components/Tabs/Tab/Tab.js
  src/components/Tabs/Tabs.js
  src/components/Tabs/TabsContext/TabsContext.js
  src/components/Tabs/TabsContext/index.js
Due: prettier-eslint --write, eslint

refactor(normalizeCartData): rename function to normalizeProductData and fixes maxPrice
  src/components/Products/Products.js
  src/components/Products/Products.test.js
  src/components/Products/utils/index.js
  src/components/Products/utils/index.test.js
Due: prettier-eslint --write, eslint

feat: create CartResume component
  src/components/CartResume/CartResume.js
  src/components/CartResume/CartResume.module.css
  src/components/CartResume/index.js
  src/components/CartResume/utils/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: create TabContent component
  src/components/TabContent/TabContent.js
  src/components/TabContent/TabContent.module.css
  src/components/TabContent/index.js
  src/components/Tabs/Tabs.module.css
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: create Button component
  src/components/Button/Button.js
  src/components/Button/Button.module.css
  src/components/Button/Button.test.js
  src/components/Button/index.js
  src/components/CartResume/CartResume.js
Due: prettier-eslint --write, eslint, prettier --write

refactor: removes TabsContext and creates CheckoutContext
  src/components/CartResume/CartResume.js
  src/components/CartResume/utils/index.js
  src/components/Products/index.js
  src/components/ProductsDetails/ProductsDetails.js
  src/components/ProductsDetails/ProductsDetails.test.js
  src/components/ProductsDetails/index.js
  src/components/ProductsDetails/utils/index.js
  src/components/ProductsDetails/utils/index.test.js
  src/components/Tabs/Tab/Tab.js
  src/components/Tabs/Tabs.js
  src/components/Tabs/TabsContext/TabsContext.js
  src/components/Tabs/TabsContext/index.js
  src/contexts/CheckoutContext/CheckoutContext.js
  src/contexts/CheckoutContext/index.js
  src/contexts/index.js
  src/pages/index.js
Due: prettier-eslint --write, eslint

feat: create getButtonState function
  src/components/CartResume/CartResume.js
  src/components/CartResume/utils/index.js
Due: prettier-eslint --write, eslint

feat: disable click on confirmation tab
  src/components/Tabs/Tab/Tab.js
Due: prettier-eslint --write, eslint

feat: create PaymentForm component
  src/components/Button/Button.js
  src/components/CartResume/CartResume.js
  src/components/CartResume/utils/index.js
  src/components/PaymentForm/PaymentForm.js
  src/components/PaymentForm/PaymentForm.module.css
  src/components/PaymentForm/index.js
  src/components/PaymentForm/reducer.js
  src/components/PaymentForm/utils/index.js
  src/components/Product/Product.module.css
  src/components/TabContent/TabContent.module.css
  src/components/shared/Input/Input.js
  src/components/shared/Input/Input.module.css
  src/components/shared/Input/index.js
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

fix: credit card number input to accept only numbers
  src/components/PaymentForm/utils/index.js
Due: prettier-eslint --write, eslint

chore: css variables setup
  src/components/Button/Button.module.css
  src/components/CartResume/CartResume.js
  src/components/Product/Product.js
  src/components/TabContent/TabContent.module.css
  src/components/Tabs/Tab/Tab.module.css
  src/components/shared/Input/Input.js
  src/components/shared/Input/Input.module.css
  src/components/shared/Text/Text.module.css
  src/components/shared/Text/utils/cssTokens.js
  src/styles/global.css
Due: prettier-eslint --write, eslint, prettier --write

refactor: move Button component to shared/ directory
  src/components/CartResume/CartResume.js
  src/components/shared/Button/Button.js
  src/components/shared/Button/Button.module.css
  src/components/shared/Button/Button.test.js
  src/components/shared/Button/index.js
Due: prettier-eslint --write, eslint, prettier --write

fix: remove value prop from Tabs component
  src/pages/index.js
Due: prettier-eslint --write, eslint

refactor: renames activeTab state to currentTab
  src/pages/index.js
Due: prettier-eslint --write, eslint

feat: create useOrder hook
  package.json
  src/components/CartResume/CartResume.js
  src/components/CartResume/utils/index.js
  src/components/ProductsDetails/ProductsDetails.js
  src/components/ProductsDetails/ProductsDetails.test.js
  src/components/ProductsDetails/utils/index.js
  src/components/ProductsDetails/utils/index.test.js
  src/hooks/index.js
  src/hooks/tests/useOrder.test.js
  src/hooks/useOrder.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: remove unnecessary package @testing-library/react-hooks
  package.json
  src/hooks/tests/useOrder.test.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix: paymentForm validations
  src/components/PaymentForm/reducer.js
  src/components/PaymentForm/utils/index.js
Due: prettier-eslint --write, eslint

feat: enable navigation to confirmation step
  src/components/PaymentForm/PaymentForm.js
Due: prettier-eslint --write, eslint

feat: add new css variables
  src/styles/global.css
Due: prettier --write

feat: changes button color on confirmation tab
  src/components/shared/Button/Button.js
  src/components/shared/Button/Button.module.css
  src/components/shared/Button/Button.test.js
Due: prettier-eslint --write, eslint, prettier --write

feat: pass isConfirmationStep new prop to Product and ProductsDetails components
  src/components/Product/Product.js
  src/components/Product/Product.module.css
  src/components/ProductsDetails/ProductDetails.module.css
  src/components/ProductsDetails/ProductsDetails.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add xxlarge font size to Text component
  src/components/shared/Text/Text.module.css
  src/components/shared/Text/utils/cssTokens.js
Due: prettier-eslint --write, eslint, prettier --write

feat: creates OrderConfirmation component
  src/components/OrderConfirmation/OrderConfirmation.js
  src/components/OrderConfirmation/OrderConfirmation.module.css
  src/components/OrderConfirmation/index.js
  src/components/TabContent/TabContent.module.css
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: use ubuntu-latest on stale workflow
  .github/workflows/stale.yml
Due: none

feat: use ubuntu-latest on stale workflow (#203)
  .github/workflows/stale.yml
Due: none

fix: fixes isInvalidDate function
  src/components/PaymentForm/utils/index.js
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
