Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: implements context API base structure
  src/App.tsx
  src/context/index.tsx
  src/context/resume.tsx
  src/models/cart.d.ts
  src/pages/Cart/index.tsx
Due: none

Add: cart and card reducers
  src/reducers/card.js
  src/reducers/cart.js
Due: prettier-eslint --write, eslint

Add: router
  src/Router/index.js
Due: prettier-eslint --write, eslint

Remove: App.css
  src/App.css
Due: prettier --write

Add: reducers/contexts/router/globalStyles to App.js
  src/App.js
Due: prettier-eslint --write, eslint

BNW5 - Inputs validation and card info on success screen
  package.json
  src/components/CreditCardForm.js
  src/routes/Cart.js
  src/routes/Payment.js
  src/routes/Success.js
  src/styles/Root.js
  src/styles/Sucess.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: fetch data from API
  package.json
  src/context/resume.tsx
  src/pages/Cart/index.tsx
  src/services/api.ts
  yarn.lock
Due: prettier --write

Fix filename styles/Success.js
  src/styles/Success.js
  src/styles/index.js
Due: prettier-eslint --write, eslint

Add: Header component
  src/components/Header/index.js
  src/components/Header/styles.js
Due: prettier-eslint --write, eslint

Add: Section component
  src/components/Section/index.js
  src/components/Section/styles.js
Due: prettier-eslint --write, eslint

Add: ProductList/ProductCard components
  src/components/ProductCard/index.js
  src/components/ProductCard/styles.js
  src/components/ProductList/index.js
  src/components/ProductList/styles.js
Due: prettier-eslint --write, eslint

Add: Button component
  src/components/Button/index.js
  src/components/Button/styles.js
Due: prettier-eslint --write, eslint

Add: Total component
  src/components/Total/index.js
  src/components/Total/styles.js
Due: prettier-eslint --write, eslint

Add: cart page
  src/pages/Cart/index.js
Due: prettier-eslint --write, eslint

modified: cart route
  src/Router/index.js
Due: prettier-eslint --write, eslint

Add: formPayment component
  src/components/FormPayment/index.js
  src/components/FormPayment/styles.js
Due: prettier-eslint --write, eslint

Add: useForm/useValidateInput hooks
  src/hooks/useForm.js
  src/hooks/useValidateInput.js
Due: prettier-eslint --write, eslint

Add: payment page
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

Modified: payment route
  src/Router/index.js
Due: prettier-eslint --write, eslint

Add: PaymentData component
  src/components/PaymentData/index.js
  src/components/PaymentData/styles.js
Due: prettier-eslint --write, eslint

Add: SuccessMessage component
  src/components/SuccessMessage/index.js
  src/components/SuccessMessage/styles.js
Due: prettier-eslint --write, eslint

feat: render fetched products
  src/components/Products/index.tsx
  src/hooks/price.tsx
  src/models/cart.d.ts
Due: none

Add: Success page
  src/pages/Success/index.js
Due: prettier-eslint --write, eslint

Modified: success route
  src/Router/index.js
Due: prettier-eslint --write, eslint

feat: render fetched price data
  src/components/Price/index.tsx
Due: none

BNW5 - fix creditcard validation
  src/components/CreditCardForm.js
  src/tests/App.test.js
Due: prettier-eslint --write, eslint

feat: add payment page structure
  src/pages/Payment/index.tsx
  src/routes/index.tsx
Due: none

fix application navigation and passing card info to success screen with Link.to
  src/App.js
  src/components/CreditCardForm.js
  src/routes/Cart.js
  src/routes/Payment.js
  src/routes/Success.js
  src/styles/Root.js
Due: prettier-eslint --write, eslint

Modified: changing sizes with @midia
  src/App.js
  src/components/Button/styles.js
  src/components/Header/styles.js
  src/components/ProductCard/styles.js
  src/components/ProductList/styles.js
  src/components/Total/styles.js
Due: prettier-eslint --write, eslint

Created Confirmation page
  src/images/success.png
  src/pages/Confirmation/PaymentData.js
  src/pages/Confirmation/ProductsList.js
  src/pages/Confirmation/index.js
  src/pages/Confirmation/style.js
Due: prettier-eslint --write, eslint

Add testing library
  package-lock.json
  package.json
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

feat: rendering information route success
  package.json
  src/App.js
  src/components/Header/index.js
  src/components/Header/styles.js
  src/components/Total/index.js
  src/container/Input.js
  src/routes/index.js
  src/routes/pages/Cart/index.js
  src/routes/pages/Payment/index.js
  src/routes/pages/Payment/styles.js
  src/routes/pages/Success/index.js
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Add initial page straucture
  src/pages/Basket/Basket.js
  src/pages/Basket/Basket.test.js
  src/pages/Basket/__snapshots__/Basket.test.js.snap
  src/pages/Confirmation/Confirmation.js
  src/pages/Confirmation/Confirmation.test.js
  src/pages/Confirmation/__snapshots__/Confirmation.test.js.snap
  src/pages/Payment/Payment.js
  src/pages/Payment/Payment.test.js
  src/pages/Payment/__snapshots__/Payment.test.js.snap
Due: prettier-eslint --write, eslint

feat: add input component
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/styles/global.ts
Due: none

feat: add cardnumber input normalizer
  src/hooks/normalize.tsx
Due: none

BNW3 - Adding tests to App.js, Cart.js and Payment.js
  package.json
  src/App.js
  src/components/CreditCardForm.js
  src/components/Menu.js
  src/routes/Cart.js
  src/routes/Payment.js
  src/tests/App.test.js
  src/tests/Cart.test.js
  src/tests/Mock.js
  src/tests/Payment.test.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

change app title
  public/index.html
  public/manifest.json
Due: prettier --write

change README.MD
  README.md
Due: prettier --write

chore: add jest
  __tests__/actions.test.js
  package.json
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

add yarn to README.MD
  README.md
Due: prettier --write
