Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

feat: page flow and responsiveness
  package.json
  src/App.css
  src/App.js
  src/assets/check.svg
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/ProductItem/index.js
  src/components/ProductItem/styles.js
  src/components/Products/index.js
  src/components/PurchaseSummary/index.js
  src/components/PurchaseSummary/styles.js
  src/components/form/Input/index.js
  src/components/form/Input/styles.js
  src/components/form/PaymentForm/index.js
  src/components/form/PaymentForm/styles.js
  src/helpers/utility.js
  src/index.js
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
  src/pages/Payment/index.js
  src/pages/Payment/styles.js
  src/pages/Success/index.js
  src/pages/Success/styles.js
  src/store/ducks/cart.ducks.js
  src/store/ducks/index.js
  src/store/sagas/cart.sagas.js
  src/store/sagas/index.js
  src/store/store.js
  src/styles/structure.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix: fixing input onChange format function
  src/components/form/PaymentForm/index.js
Due: prettier-eslint --write, eslint

feat: unit tests and final adjustments
  package.json
  src/App.js
  src/App.test.js
  src/components/Header/index.js
  src/components/ProductItem/ProductItem.spec.js
  src/components/ProductItem/index.js
  src/components/form/Input/index.js
  src/components/form/PaymentForm/PaymentForm.spec.js
  src/components/form/PaymentForm/index.js
  src/pages/Cart/Cart.spec.js
  src/pages/Cart/index.js
  src/pages/Payment/Payment.spec.js
  src/pages/Payment/index.js
  src/pages/Success/Success.spec.js
  src/pages/Success/index.js
  src/routes.js
  src/store/CartRedux.spec.js
  src/store/sagas/cart.sagas.js
  src/store/sagas/index.js
  src/styles/global.js
  src/styles/structure.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: read me
  README.md
Due: prettier --write

2 files modified, 3 added, 2 deleted
  src/App.css
  src/App.js
  src/index.css
  src/index.js
  src/services/api.js
  src/services/cart.js
  src/utils/format.js
Due: prettier-eslint --write, eslint, prettier --write

created styles global
  src/styles/globalStyles.js
Due: prettier-eslint --write, eslint

created components, button, header e cardTotal
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/CardTotal/index.js
  src/components/CardTotal/styles.js
  src/components/Header/index.js
  src/components/Header/styles.js
Due: prettier-eslint --write, eslint

created pages and context
  src/context/useCart.js
  src/pages/Bag/index.js
  src/pages/Payment/index.js
  src/pages/Success/index.js
Due: prettier-eslint --write, eslint

Credit card payment form created
  src/Form/index.js
  src/Form/styles.js
  src/Input/index.js
  src/Input/styles.js
Due: prettier-eslint --write, eslint

6 files added, 6 deleted
  src/components/Form/index.js
  src/components/Form/styles.js
  src/components/Input/index.js
  src/components/Input/styles.js
  src/styles/global.js
  src/utils/formats.js
Due: prettier-eslint --write, eslint

created component that returns payment data
  src/components/PaymentData/index.js
  src/components/PaymentData/styles.js
Due: prettier-eslint --write, eslint

created component that returns the list of products
  src/components/Products/index.js
  src/components/Products/styles.js
  src/components/ProductsList/index.js
  src/components/ProductsList/styles.js
Due: prettier-eslint --write, eslint

created component title
  src/components/Title/index.js
  src/components/Title/styles.js
Due: prettier-eslint --write, eslint

install packages
  package-lock.json
  yarn.lock
Due: prettier --write

update packages
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo.svg
  src/styles/global.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

code improvement, comments, testing, and package installations
  README.md
  package-lock.json
  package.json
  src/__tests__/components/Header.spec.js
  src/__tests__/hooks/useCart.spec.js
  src/components/Products/index.js
  src/components/ProductsList/index.js
  src/pages/Bag/index.js
  src/pages/Payment/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

code improvement
  README.md
  src/__tests__/components/Header.spec.js
Due: prettier-eslint --write, eslint, prettier --write

Setup - JSS
  package.json
  yarn.lock
Due: prettier --write

Setup - React Router DOM
  package.json
  yarn.lock
Due: prettier --write

Setup - Routes
  src/App.js
  src/index.js
  src/routes.js
Due: prettier-eslint --write, eslint

Routes - files and navigation tests
  package.json
  src/App.js
  src/App.test.js
  src/index.js
  src/routes.js
  src/routes/Cart/Cart.js
  src/routes/Cart/Cart.test.js
  src/routes/Confirmation/Confirmation.js
  src/routes/Confirmation/Confirmation.test.js
  src/routes/Payment/Payment.js
  src/routes/Payment/Payment.test.js
  src/testUtils.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Routes - navigation tests fix
  src/App.test.js
  src/routes/Confirmation/Confirmation.test.js
  src/routes/Payment/Payment.test.js
Due: prettier-eslint --write, eslint

Components folders and boilerplates
  src/components/Button/Button.js
  src/components/Card/Card.js
  src/components/CartItem/CartItem.js
  src/components/Input/Input.js
  src/components/OrderSummary/OrderSummary.js
Due: prettier-eslint --write, eslint

Context with API data
  package.json
  src/api/cartAPI.js
  src/components/Context/Context.js
  src/index.js
  src/routes/Cart/Cart.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Button Component
  package.json
  src/components/Button/Button.js
  src/routes/Cart/Cart.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Button tests
  package.json
  src/components/Button/Button.js
  src/components/Button/Button.test.js
  src/routes/Cart/Cart.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Product List inner components
  src/components/Button/Button.test.js
  src/components/Card/Card.js
  src/components/CartItem/CartItem.js
  src/routes/Cart/Cart.js
  src/utils.js
Due: prettier-eslint --write, eslint

Summary Order Component
  src/App.css
  src/App.js
  src/components/Button/Button.js
  src/components/Card/Card.js
  src/components/Context/Context.js
  src/components/OrderSummary/OrderSummary.js
  src/index.js
  src/routes/Cart/Cart.js
Due: prettier-eslint --write, eslint, prettier --write

routes
  .storybook/main.js
  .storybook/preview.js
  .storybook/withGlobalStyles.tsx
  generators/templates/index.tsx.hbs
  generators/templates/stories.tsx.hbs
  package.json
  src/App.tsx
  src/components/HeaderItem/index.tsx
  src/components/HeaderItem/stories.tsx
  src/components/HeaderItem/styles.tsx
  src/index.tsx
  src/pages/checkout/index.tsx
  src/pages/checkout/styles.ts
  src/pages/confirmation/index.tsx
  src/pages/confirmation/styles.ts
  src/pages/index.ts
  src/pages/payment/index.tsx
  src/pages/payment/styles.ts
  src/routes/routes.tsx
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

header nav
  .storybook/withGlobalStyles.tsx
  src/components/HeaderItem/index.tsx
  src/components/HeaderItem/stories.tsx
  src/components/HeaderItem/styles.tsx
  src/components/HeaderNav/index.tsx
  src/components/HeaderNav/stories.tsx
  src/components/HeaderNav/styles.tsx
  src/global/theme.ts
Due: none

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
