Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

feat(cart): button
  src/components/button/button.style.ts
Due: none

feat(cart): products list refactor
  src/components/index.ts
  src/components/product/product.component.tsx
  src/components/products/products.component.tsx
  src/modules/cart/cart.component.tsx
Due: none

feat(payment): input
  src/components/index.ts
  src/components/input/input.component.tsx
  src/components/input/input.interface.ts
  src/components/input/input.style.ts
Due: none

feat(payment): payment form and minor improvements
  src/components/button/button.style.ts
  src/components/input/input.style.ts
  src/components/steps/steps.style.ts
  src/modules/payment/payment.component.tsx
  src/modules/payment/payment.style.ts
Due: none

feat(payment): refactor
  .eslintrc.js
  src/hooks/index.ts
  src/hooks/use-payment-form.hook.ts
  src/modules/payment/payment.component.tsx
Due: prettier-eslint --write, eslint

feat(payment): cleanup
  src/modules/payment/payment.component.tsx
Due: none

feat(*): disable prettier pre-commit hook
  package.json
Due: prettier --write

feat(*): context and api integration
  src/components/products/products.component.tsx
  src/components/summary/summary.component.tsx
  src/context/checkout.context.tsx
  src/modules/app/app.component.tsx
  src/requests/get-orders.request.ts
  src/requests/models/order.model.ts
  yarn.lock
Due: none

feat(confirm): layout
  src/components/index.ts
  src/components/success-dialog/success-dialog.component.tsx
  src/components/success-dialog/success-dialog.style.ts
  src/components/success-dialog/success.icon.tsx
  src/modules/confirm/confirm.component.tsx
Due: none

feat(input): cleanup
  src/components/input/input.component.tsx
Due: none

feat(confirm): minor refactor and payment info component
  src/components/index.ts
  src/components/payment-info/payment-info.component.tsx
  src/components/payment-info/payment-info.style.ts
  src/context/checkout.context.tsx
  src/hooks/use-payment-form.hook.ts
  src/modules/confirm/confirm.component.tsx
Due: none

feat(confirm): mock payment info data
  src/components/button/button.style.ts
  src/components/payment-info/payment-info.component.tsx
  src/modules/confirm/confirm.component.tsx
Due: none

feat(payment): minor improvements
  src/components/input/input.component.tsx
  src/components/input/input.interface.ts
  src/components/payment-info/payment-info.component.tsx
  src/hooks/use-payment-form.hook.ts
Due: none

feat(*): desktop layout
  src/components/container/container.style.ts
  src/components/index.ts
  src/components/payment-info/payment-info.component.tsx
  src/components/products/products.component.tsx
  src/components/steps/steps.component.tsx
  src/components/steps/steps.style.ts
  src/components/summary/summary.style.ts
  src/modules/cart/cart.component.tsx
  src/modules/confirm/confirm.component.tsx
  src/modules/confirm/confirm.style.ts
  src/modules/payment/payment.component.tsx
Due: none

feat(payment): expiration date validation
  src/hooks/use-payment-form.hook.ts
Due: none

feat(*): cleanup
  src/components/product/product.component.tsx
  src/context/checkout.context.tsx
  src/hooks/use-payment-form.hook.ts
  src/modules/confirm/confirm.component.tsx
  src/modules/confirm/confirm.style.ts
Due: none

fix(*): lint
  .eslintrc.js
  src/components/container/container.style.ts
  src/components/payment-info/payment-info.style.ts
  src/hooks/use-payment-form.hook.ts
  src/modules/confirm/confirm.style.ts
  src/requests/get-orders.request.ts
Due: prettier-eslint --write, eslint

fix(request): https
  src/requests/get-orders.request.ts
Due: none

Update README.md
  README.md
Due: prettier --write

feat(*): loading
  package.json
  src/components/product/product.skeleton.tsx
  src/components/products/products.component.tsx
  src/components/products/products.skeleton.tsx
  src/components/summary/summary.component.tsx
  src/components/summary/summary.skeleton.tsx
  yarn.lock
Due: prettier --write

feat(*): bundle splitting
  src/modules/app/app.component.tsx
  src/modules/cart/cart.component.tsx
  src/modules/confirm/confirm.component.tsx
  src/modules/payment/payment.component.tsx
Due: none

:sparkles: Add react-router-dom pack
  package.json
  src/App.js
  src/pages/GoodLuck/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

:sparkles: Add redux and redux-persist
  package.json
  src/App.js
  src/pages/GoodLuck/index.js
  src/store/index.js
  src/store/reducers/checkout/checkoutAPI.js
  src/store/reducers/checkout/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

:sparkles: Add Bag page
  package.json
  src/App.js
  src/components/Header/index.js
  src/components/Menu/index.js
  src/components/Menu/styles.js
  src/components/Utils/styles.js
  src/index.css
  src/pages/Bag/index.js
  src/pages/GoodLuck/index.js
  src/pages/GoodLuck/styles.css
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

:sparkles: Add helpers
  src/helpers/index.js
Due: prettier-eslint --write, eslint

:lipstick: Style Menu component
  src/components/Header/index.js
  src/components/Header/styles.js
  src/components/Menu/index.js
  src/components/Menu/styles.js
  src/index.css
  src/pages/Bag/index.js
Due: prettier-eslint --write, eslint, prettier --write

:bug: Fix redirect stonks
  src/helpers/index.js
Due: prettier-eslint --write, eslint

:sparkles: Add Products component
  src/components/Header/styles.js
  src/components/Products/index.js
  src/components/Products/styles.js
  src/components/Utils/styles.js
  src/index.css
  src/pages/Bag/index.js
Due: prettier-eslint --write, eslint, prettier --write

:sparkles: Get mock API, persist data -> List products
  package.json
  src/components/Menu/index.js
  src/components/Menu/styles.js
  src/components/Products/index.js
  src/components/Products/styles.js
  src/helpers/index.js
  src/pages/Bag/index.js
  src/services/httpClient.js
  src/store/reducers/checkout/checkoutAPI.js
  src/store/reducers/checkout/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

:zap: Add Picture component
  src/components/Picture/index.js
  src/components/Picture/styles.js
  src/components/Products/index.js
  src/components/Products/styles.js
Due: prettier-eslint --write, eslint

:sparkles: :zap: Add Resume component | Refact products
  src/components/Products/index.js
  src/components/Products/styles.js
  src/components/Resume/index.js
  src/components/Resume/styles.js
  src/helpers/index.js
  src/pages/Bag/index.js
Due: prettier-eslint --write, eslint

:sparkles: Add Button component
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/Picture/index.js
  src/pages/Bag/index.js
Due: prettier-eslint --write, eslint

:but: Menu: check redirect
  src/components/Menu/index.js
  src/components/Menu/styles.js
Due: prettier-eslint --write, eslint

:sparkles: Add Payment page
  src/App.js
  src/components/Button/styles.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

:sparkles: Add CreditCard component, persist data
  package.json
  src/components/Button/styles.js
  src/components/CreditCard/index.js
  src/components/CreditCard/styles.js
  src/components/Input/index.js
  src/components/Input/styles.js
  src/components/Utils/styles.js
  src/helpers/index.js
  src/pages/Payment/index.js
  src/store/reducers/checkout/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

:sparkles: Add Finish page
  src/App.js
  src/assets/iconOk.png
  src/components/FinishSuccess/index.js
  src/components/FinishSuccess/styles.js
  src/components/PaymentInfo/index.js
  src/components/PaymentInfo/styles.js
  src/pages/Finish/index.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

feat: payment form and global styles
  package-lock.json
  package.json
  src/App.js
  src/components/form/Input/index.js
  src/components/form/Input/styles.js
  src/components/form/PaymentForm/index.js
  src/components/form/PaymentForm/styles.js
  src/index.css
  src/index.js
  src/styles/global.js
  src/styles/structure.js
  src/styles/theme.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: main components done and Cart page
  src/App.js
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/Card/index.js
  src/components/Card/styles.js
  src/components/Header/index.js
  src/components/Header/styles.js
  src/components/ProductItem/index.js
  src/components/ProductItem/styles.js
  src/components/PurchaseSummary/index.js
  src/components/PurchaseSummary/styles.js
  src/components/form/Input/styles.js
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
  src/pages/Payment/index.js
  src/pages/Payment/styles.js
  src/pages/Success/index.js
  src/pages/Success/styles.js
  src/routes.js
  src/styles/global.js
  src/styles/theme.js
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
