Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

disable exhaustive-deps
  src/hooks/creditCard.tsx
  src/pages/Confirmation/index.tsx
Due: none

set env
  .env_example
Due: none

fix deploy
  .env_example
Due: none

fix env
  .env_example
Due: none

readme
  README.md
Due: prettier --write

readme deploy
  README.md
Due: prettier --write

implement calcTotalData
  src/hooks/cart.tsx
Due: none

css: css on cart, button and products done, still to be done on total
  src/App.module.css
  src/Components/Header.module.css
  src/Components/Product.module.css
  src/Components/Total.js
  src/Components/Total.module.css
  src/pages/Cart.js
  src/pages/Cart.module.css
Due: prettier-eslint --write, eslint, prettier --write

fix: headers position
  src/Components/Header.js
  src/pages/Cart.js
  src/pages/Cart.module.css
  src/pages/Confirmation.js
  src/pages/Confirmation.module.css
  src/pages/Payment.js
  src/pages/Payment.module.css
Due: prettier-eslint --write, eslint, prettier --write

fix: responsivenness layout on payment page
  src/Components/Product.module.css
  src/Components/Total.module.css
  src/pages/Cart.js
  src/pages/Cart.module.css
  src/pages/Confirmation.js
  src/pages/Confirmation.module.css
  src/pages/Payment.js
  src/pages/Payment.module.css
Due: prettier-eslint --write, eslint, prettier --write

fix: responsivenness layout on confirmation page
  src/App.js
  src/Components/CreditCardForm.js
  src/Components/Total.js
  src/Components/Total.module.css
  src/Context/Provider.js
  src/pages/Confirmation.js
  src/pages/Confirmation.module.css
  src/pages/Payment.js
  src/test/App.test.js
Due: prettier-eslint --write, eslint, prettier --write

feat: trying some tests
  package-lock.json
  package.json
  src/App.js
  src/pages/Cart.js
  src/pages/Confirmation.js
  src/pages/Payment.js
  src/test/App.test.js
  src/test/renderWithRouter.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix: css on Payment page plus font size and color
  src/pages/Confirmation.js
  src/pages/Confirmation.module.css
  src/pages/Payment.js
  src/pages/Payment.module.css
Due: prettier-eslint --write, eslint, prettier --write

fix: css style on cart tab
  src/App.js
  src/App.test.js
  src/Components/Product.js
  src/Components/Product.module.css
  src/Context/Provider.js
  src/index.js
  src/pages/Confirmation.js
  src/pages/Payment.js
  src/test/App.test.js
  src/test/Mocks.js
  src/test/renderWithRouter.js
Due: prettier-eslint --write, eslint, prettier --write

feat: test on Cart page
  src/test/App.test.js
Due: prettier-eslint --write, eslint

fix: sending the API request to the Provider
  src/Context/Provider.js
  src/pages/Cart.js
  src/pages/Confirmation.js
  src/pages/Payment.js
  src/test/renderWithRouter.js
Due: prettier-eslint --write, eslint

feat: number of input done, need to finish the validation
  src/Components/Product.module.css
  src/Context/Provider.js
  src/pages/Confirmation.js
  src/pages/Confirmation.module.css
  src/pages/Payment.js
Due: prettier-eslint --write, eslint, prettier --write

fix: CSS responsiveness and trying to validate credit card number
  src/Components/Total.module.css
  src/Context/Provider.js
  src/pages/Cart.js
  src/pages/Cart.module.css
  src/pages/Confirmation.module.css
  src/pages/Payment.js
  src/pages/Payment.module.css
Due: prettier-eslint --write, eslint, prettier --write

feat: Some more tests on the page
  src/Context/Provider.js
  src/pages/Payment.js
  src/test/App.test.js
Due: prettier-eslint --write, eslint

feat: Some more tests on the page Confirmation
  src/test/App.test.js
Due: prettier-eslint --write, eslint

fix: trying to fix the credit card validation, still missing it
  README.md
  src/App.css
  src/App.js
  src/App.module.css
  src/Components/Product.js
  src/Components/Product.module.css
  src/Components/Total.js
  src/Components/Total.module.css
  src/Context/Provider.js
  src/index.js
  src/pages/Cart.module.css
  src/pages/Confirmation.module.css
  src/pages/Payment.js
  src/pages/Payment.module.css
  src/validation/ValidateInfo.js
Due: prettier-eslint --write, eslint, prettier --write

refactor: https instead http
  README.md
Due: prettier --write

fix: html file
  index.html
Due: prettier --write

fix: html file
  public/index.html
Due: prettier --write

fix: html file
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

fix: html file
  package.json
Due: prettier --write

fix: one more time
  package.json
Due: prettier --write

fix:test
  package.json
  src/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix: almost done
  public/index.html
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

fix: almost done
  package.json
  public/index.html
Due: prettier --write

fix: almost done
  package.json
Due: prettier --write

fix: done
  package.json
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

fix: trying
  src/pages/Cart.js
Due: prettier-eslint --write, eslint

chore: use vite instead of CRA ⚡️
  .gitignore
  coverage/App.tsx.html
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/tmp/coverage-18076-1668080876199-8.json
  coverage/tmp/coverage-18076-1668080876242-7.json
  coverage/tmp/coverage-18076-1668080876286-6.json
  coverage/tmp/coverage-18076-1668080876328-3.json
  coverage/tmp/coverage-18076-1668080876370-5.json
  coverage/tmp/coverage-18076-1668080876412-4.json
  coverage/tmp/coverage-18076-1668080876454-2.json
  index.html
  package.json
  public/favicon.ico
  public/index.html
  public/manifest.json
  src/App.css
  src/App.js
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.js
  src/logo.svg
  src/main.tsx
  src/serviceWorker.js
  src/vite-env.d.ts
  test/setup-test.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: ignore coverage
  .gitignore
  coverage/App.tsx.html
  coverage/base.css
  coverage/block-navigation.js
  coverage/clover.xml
  coverage/coverage-final.json
  coverage/favicon.png
  coverage/index.html
  coverage/prettify.css
  coverage/prettify.js
  coverage/sort-arrow-sprite.png
  coverage/sorter.js
  coverage/tmp/coverage-18076-1668080876199-8.json
  coverage/tmp/coverage-18076-1668080876242-7.json
  coverage/tmp/coverage-18076-1668080876286-6.json
  coverage/tmp/coverage-18076-1668080876328-3.json
  coverage/tmp/coverage-18076-1668080876370-5.json
  coverage/tmp/coverage-18076-1668080876412-4.json
  coverage/tmp/coverage-18076-1668080876454-2.json
Due: prettier-eslint --write, eslint, prettier --write

docs: better readme
  README.md
Due: prettier --write

test: better test config
  src/App.test.tsx
  src/test/setup-test.ts
  src/vite-env.d.ts
  vite.config.ts
  vitest.config.ts
Due: none

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
