Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

test: 💍 Add loading test
  src/components/Loading/__snapshots__/index.test.tsx.snap
  src/components/Loading/index.test.tsx
Due: none

style: 💄 Update width of validate input
  src/pages/Pagamento/index.tsx
  src/pages/Pagamento/styles.tsx
Due: none

ci: 🎡 Add Dockerfile
  Dockerfile
  README.md
Due: prettier --write

react router install
  package-lock.json
  package.json
  src/App.css
  src/index.css
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

steps layout
  package-lock.json
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/App.test.js
  src/assets/sass/_colors.scss
  src/assets/sass/_font.scss
  src/assets/sass/_resets.scss
  src/commons/Steps/Steps.scss
  src/commons/Steps/index.js
  src/index.css
  src/logo.svg
  src/screens/Sacola.js
Due: prettier-eslint --write, eslint, prettier --write

product list
  .env.development
  package-lock.json
  package.json
  src/App.js
  src/api/checkout.js
  src/assets/sass/_colors.scss
  src/assets/sass/_font.scss
  src/assets/sass/_grid.scss
  src/commons/Steps/Steps.scss
  src/components/ProductList/ProductList.scss
  src/components/ProductList/index.js
  src/components/Title/Title.scss
  src/components/Title/index.js
  src/screens/Sacola.js
  src/screens/Sacola/index.js
Due: prettier-eslint --write, eslint, prettier --write

button and prices list
  src/assets/sass/_grid.scss
  src/components/Button/Botao.scss
  src/components/Button/index.js
  src/components/PricesList/PricesList.scss
  src/components/PricesList/index.js
  src/components/ProductList/index.js
  src/screens/Sacola/index.js
  src/utils/priceFormat.js
Due: prettier-eslint --write, eslint

validations form
  package-lock.json
  package.json
  src/App.js
  src/assets/sass/_buttons.scss
  src/assets/sass/_colors.scss
  src/assets/sass/_forms.scss
  src/components/Button/index.js
  src/components/PricesList/index.js
  src/index.js
  src/screens/Pagamento/index.js
  src/screens/Sacola/index.js
  src/utils/masks.js
Due: prettier-eslint --write, eslint, prettier --write

masks and verifications in form
  src/screens/Pagamento/index.js
  src/utils/masks.js
Due: prettier-eslint --write, eslint

start confrimacao page
  src/App.js
  src/screens/Confirmacao/index.js
  src/screens/Pagamento/index.js
  src/utils/masks.js
Due: prettier-eslint --write, eslint

confirmacao finished
  src/assets/images/icons/success-icon.svg
  src/screens/Confirmacao/Confirmacao.scss
  src/screens/Confirmacao/index.js
Due: prettier-eslint --write, eslint

steps actives
  src/commons/Steps/Steps.scss
  src/commons/Steps/index.js
Due: prettier-eslint --write, eslint

desktop version
  src/assets/sass/_buttons.scss
  src/assets/sass/_grid.scss
  src/commons/Steps/Steps.scss
  src/components/PricesList/PricesList.scss
  src/components/PricesList/index.js
  src/screens/Confirmacao/index.js
  src/screens/Pagamento/index.js
Due: prettier-eslint --write, eslint

updated readme
  README.md
Due: prettier --write

chore: update cra
  .gitignore
  package.json
  public/index.html
  public/manifest.json
  public/robots.txt
  src/App.js
  src/App.test.js
  src/serviceWorker.js
  src/setupTests.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

style: prettier
  package.json
  src/App.js
  src/App.test.js
  src/serviceWorker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

chore: husky, lint-staged and prettier
  .prettierrc
  package-lock.json
  package.json
  src/App.css
  src/App.js
Due: prettier-eslint --write, eslint, prettier --write

chore: update cra (#78)
  .gitignore
  .prettierrc
  package-lock.json
  package.json
  public/index.html
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/serviceWorker.js
  src/setupTests.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: config boilerplate with commitizen, typescript, eslint, prettier, jest and husky
  .eslintrc.json
  .prettierrc
  .vscode/settings.json
  README.md
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/App.tsx
  src/index.js
  src/index.tsx
  src/react-app-env.d.ts
  src/serviceWorker.js
  src/setupTests.ts
Due: prettier-eslint --write, eslint, prettier --write

feat: add tsconfig
  tsconfig.json
Due: prettier --write

feat: add routes and all pages
  package-lock.json
  package.json
  src/App.tsx
  src/components/Loading/Loading.tsx
  src/components/Loading/index.ts
  src/pages/Cart/Cart.tsx
  src/pages/Cart/index.ts
  src/pages/NotFound/NotFound.tsx
  src/pages/NotFound/index.ts
  src/pages/Payment/Payment.tsx
  src/pages/Payment/index.ts
  src/pages/Success/Success.tsx
  src/pages/Success/index.ts
  src/routes/Routes.test.tsx
  src/routes/Routes.tsx
  src/routes/index.ts
Due: prettier --write

feat: add storybook
  .storybook/main.js
  .storybook/preview.js
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, prettier --write

feat: add components structure with stories and tests
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/index.ts
  src/components/CartTable/CartTable.stories.tsx
  src/components/CartTable/CartTable.test.tsx
  src/components/CartTable/CartTable.tsx
  src/components/CartTable/index.ts
  src/components/ContentBox/ContentBox.stories.tsx
  src/components/ContentBox/ContentBox.test.tsx
  src/components/ContentBox/ContentBox.tsx
  src/components/ContentBox/index.ts
  src/components/Image/Image.stories.tsx
  src/components/Image/Image.test.tsx
  src/components/Image/Image.tsx
  src/components/Image/index.ts
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
  src/components/Input/index.ts
  src/components/Loading/Loading.stories.tsx
  src/components/Loading/Loading.test.tsx
  src/components/NamedInput/NamedInput.stories.tsx
  src/components/NamedInput/NamedInput.test.tsx
  src/components/NamedInput/NamedInput.tsx
  src/components/NamedInput/index.ts
  src/components/ProductCard/ProductCard.stories.tsx
  src/components/ProductCard/ProductCard.test.tsx
  src/components/ProductCard/ProductCard.tsx
  src/components/ProductCard/index.ts
  src/components/StepBar/StepBar.stories.tsx
  src/components/StepBar/StepBar.test.tsx
  src/components/StepBar/StepBar.tsx
  src/components/StepBar/index.ts
  src/components/WrapperContent/WrapperContent.stories.tsx
  src/components/WrapperContent/WrapperContent.test.tsx
  src/components/WrapperContent/WrapperContent.tsx
  src/components/WrapperContent/index.ts
Due: none

feat: remove Image component
  src/components/Image/Image.stories.tsx
  src/components/Image/Image.test.tsx
  src/components/Image/Image.tsx
  src/components/Image/index.ts
Due: none

feat: add styled-components
  .babel-plugin-macrosrc
  package-lock.json
  package.json
  src/components/Button/Button.styled.tsx
  src/components/Button/Button.tsx
  src/components/CartTable/CartTable.styled.tsx
  src/components/CartTable/CartTable.tsx
  src/components/ContentBox/ContentBox.styled.tsx
  src/components/ContentBox/ContentBox.tsx
  src/components/Input/Input.styled.tsx
  src/components/Input/Input.tsx
  src/components/Loading/Loading.styled.tsx
  src/components/Loading/Loading.tsx
  src/components/NamedInput/NamedInput.styled.tsx
  src/components/NamedInput/NamedInput.tsx
  src/components/ProductCard/ProductCard.styled.tsx
  src/components/ProductCard/ProductCard.tsx
  src/components/StepBar/StepBar.styled.tsx
  src/components/StepBar/StepBar.tsx
  src/components/WrapperContent/WrapperContent.styled.tsx
  src/components/WrapperContent/WrapperContent.tsx
Due: prettier --write

fix: eslint no-unused-vars error with interfaces
  .eslintrc.json
Due: prettier --write

feat: add axios and config api
  package.json
  src/services/index.ts
Due: prettier --write

feat: add and config redux
  package.json
  src/App.tsx
  src/index.tsx
  src/redux/ducks/cart/cart.test.ts
  src/redux/ducks/cart/cart.ts
  src/redux/ducks/cart/index.ts
  src/redux/ducks/cart/interface.ts
  src/redux/ducks/creditCard/creditCard.test.ts
  src/redux/ducks/creditCard/creditCard.ts
  src/redux/ducks/creditCard/index.ts
  src/redux/ducks/creditCard/interface.ts
  src/redux/store.ts
Due: prettier --write

feat: change cart and payment pages to test redux actions
  src/pages/Cart/Cart.tsx
  src/pages/Payment/Payment.tsx
Due: none

test: fix routes tests
  src/routes/Routes.test.tsx
Due: none

feat: add theme
  src/App.tsx
  src/theme/index.ts
Due: none

feat: add css reset as globalStyles
  src/App.tsx
  src/index.css
  src/index.tsx
  src/styled.d.ts
  src/styles.ts
  src/theme/interface.ts
Due: prettier --write

feat: add theme to storybook
  .storybook/preview.js
  src/theme/index.ts
  src/theme/interface.ts
Due: prettier-eslint --write, eslint

feat: add jest-styled-components to optimize snapshots and tests
  package.json
  src/setupTests.ts
Due: prettier --write

feat: add button component
  src/components/Button/Button.stories.tsx
  src/components/Button/Button.styled.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/styles.ts
Due: none

chore: installing eslint, prettier and code design improvements
  .eslintrc.json
  package-lock.json
  package.json
  src/App.js
  src/serviceWorker.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add form with mask and validations
  package.json
  src/components/Form/Form.stories.tsx
  src/components/Form/Form.styled.tsx
  src/components/Form/Form.tsx
  src/components/Form/Input/Input.styled.tsx
  src/components/Form/Input/Input.tsx
  src/components/Form/Input/index.ts
  src/components/Form/Input/interface.ts
  src/components/Form/Validation/Builder/index.test.ts
  src/components/Form/Validation/Builder/index.ts
  src/components/Form/Validation/custom/index.ts
  src/components/Form/Validation/custom/messages/pt_BR.ts
  src/components/Form/Validation/custom/rules.ts
  src/components/Form/Validation/helpers/index.test.ts
  src/components/Form/Validation/helpers/index.ts
  src/components/Form/Validation/index.test.ts
  src/components/Form/Validation/index.ts
  src/components/Form/Validation/interface.ts
  src/components/Form/Validation/mock/data.ts
  src/components/Form/Validation/mock/response.ts
  src/components/Form/data.ts
  src/components/Form/index.ts
  src/components/Form/interface.ts
  src/components/Input/Input.stories.tsx
  src/components/Input/Input.styled.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/Input.tsx
Due: prettier --write

feat: update theme colors
  src/theme/index.ts
  src/theme/interface.ts
Due: none

removed React sample code and installed nextJs framework, recoil( State managmement), custom server(Koa) and styled-components for css-in-js
  src/.babelrc
  src/.gitignore
  src/App.css
  src/App.js
  src/App.test.js
  src/README.md
  src/components/templates/header.js
  src/components/templates/layout.js
  src/index.css
  src/index.js
  src/logo.svg
  src/package.json
  src/pages/_app.js
  src/pages/_document.js
  src/pages/api/hello.js
  src/pages/checkout/cart.js
  src/pages/checkout/payment.js
  src/pages/index.js
  src/public/favicon.ico
  src/public/vercel.svg
  src/server.js
  src/serviceWorker.js
  src/setupTests.js
  src/styles/Home.module.css
  src/styles/globals.css
  src/yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
