Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

Readme adjustments
  README.md
Due: prettier --write

feat: page pagamento adjustment
  src/component/PaymentData/PaymentData.js
  src/component/PaymentData/__test__/PaymentData.test.js
  src/pages/Pagamento.js
  src/pages/__test__/Pagamento.test.js
Due: prettier-eslint --write, eslint

feat: page confirmacao and new components
  public/images/Check.png
  public/images/Circle.png
  src/component/Card/Card.js
  src/component/Card/Card.styles.js
  src/component/FeedbackMessage/FeedbackMessage.js
  src/component/FeedbackMessage/FeedbackMessage.styles.js
  src/component/FeedbackMessage/__test__/FeedbackMessage.test.js
  src/component/Input/__test__/Input.test.js
  src/component/PaymentResume/PaymentResume.js
  src/component/PaymentResume/PaymentResumo.styles.js
  src/component/PaymentResume/__test__/PaymentResume.test.js
  src/pages/Confirmacao.js
  src/pages/Sacola.js
Due: prettier-eslint --write, eslint

test: include test for confirmacao and feedback
  src/component/FeedbackMessage/__test__/FeedbackMessage.test.js
  src/pages/__test__/Confirmacao.test.js
Due: prettier-eslint --write, eslint

feat: add split code
  src/component/ContainerPage/ContainerPage.styles.js
  src/route/MyRouter.js
Due: prettier-eslint --write, eslint

initial setup, cleaned files
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.test.js
  src/index.css
  src/logo.svg
  src/serviceWorker.js
Due: prettier-eslint --write, eslint, prettier --write

installed dependencies axios router-dom
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

updated index file with browser router import
  src/index.js
Due: prettier-eslint --write, eslint

created a global style stylesheet
  src/assets/styles/global.js
Due: prettier-eslint --write, eslint

created a cart page and imported on app file
  src/index.js
  src/pages/CartPage/index.jsx
Due: prettier-eslint --write, eslint

Feat: add responsive to application
  package.json
  src/component/Button/Button.styles.js
  src/component/Card/Card.js
  src/component/Card/Card.styles.js
  src/component/Card/__test__/Card.test.js
  src/component/ContainerPage/ContainerPage.js
  src/component/ContainerPage/ContainerPage.styles.js
  src/component/FeedbackMessage/FeedbackMessage.styles.js
  src/component/LineData/LineData.styles.js
  src/component/PaymentData/PaymentData.js
  src/component/PaymentData/PaymentData.styles.js
  src/component/PaymentResume/PaymentResumo.styles.js
  src/component/TitleContainer/TitleContainer.styles.js
  src/pages/Confirmacao.js
  src/pages/Pagamento.js
  src/pages/Sacola.js
  src/pages/Sacola.styles.js
Due: prettier-eslint --write, eslint, prettier --write

docs: add readme
  README.md
Due: prettier --write

fix: translate to portuguese
  src/component/PaymentData/PaymentData.js
Due: prettier-eslint --write, eslint

created navbar
  src/components/Navbar/index.jsx
Due: none

installed styled components and added styles to navbar
  package-lock.json
  package.json
  src/assets/styles/global.js
  src/components/Navbar/styled.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

edited styles to navbar
  src/components/Navbar/index.jsx
  src/components/Navbar/styled.js
Due: prettier-eslint --write, eslint

docs: att name
  README.md
Due: prettier --write

created product item component
  src/components/ProductItem/index.jsx
Due: none

added styles to product item component
  src/components/ProductItem/index.jsx
  src/components/ProductItem/styled.js
Due: prettier-eslint --write, eslint

created conversion to reais on product item
  src/components/ProductItem/index.jsx
Due: none

created product list component
  src/components/ProductItem/index.jsx
  src/components/ProductList/index.jsx
Due: none

edited product list component
  src/components/ProductList/index.jsx
Due: none

created product list styles
  src/components/ProductList/styled.js
Due: prettier-eslint --write, eslint

edited product list component
  src/App.js
  src/components/ProductList/index.jsx
  src/pages/CartPage/index.jsx
Due: prettier-eslint --write, eslint

created checkout context
  src/contexts/Checkout.js
Due: prettier-eslint --write, eslint

inserted use context
  src/contexts/Checkout.js
Due: prettier-eslint --write, eslint

imported checkout context
  src/contexts/Checkout.js
Due: prettier-eslint --write, eslint

created button component
  src/components/Button/index.jsx
  src/components/Button/styled.js
  src/components/CardContainer/index.jsx
  src/components/CardContainer/styled.js
  src/components/Container/index.jsx
  src/components/Container/styled.js
  src/pages/CartPage/index.jsx
Due: prettier-eslint --write, eslint

updated cart page
  src/App.js
  src/components/ProductItem/index.jsx
  src/components/ProductList/index.jsx
  src/pages/CartPage/index.jsx
Due: prettier-eslint --write, eslint

fixed product items name imports
  src/components/Button/styled.js
  src/components/ProductItem/index.jsx
Due: prettier-eslint --write, eslint

changes in cart page
  src/pages/CartPage/index.jsx
Due: none

created and imported payment page
  src/pages/Payment/index.jsx
Due: none

created input component
  src/components/Inputs/index.jsx
  src/components/Inputs/styled.js
Due: prettier-eslint --write, eslint

created input styles
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

edited input styles
  src/components/Inputs/index.jsx
  src/components/Inputs/styled.js
  src/pages/Payment/index.jsx
Due: prettier-eslint --write, eslint

validation on payment page
  src/pages/Payment/index.jsx
Due: none

added styles to payment page
  package-lock.json
  package.json
  src/App.js
  src/contexts/Checkout.js
  src/pages/PaymentPage/index.jsx
  src/pages/PaymentPage/styled.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fixed cvv error payment page
  src/contexts/Checkout.js
  src/pages/PaymentPage/index.jsx
Due: prettier-eslint --write, eslint

created success page
  src/App.js
  src/pages/SuccessPage/index.jsx
  src/pages/SuccessPage/styled.js
Due: prettier-eslint --write, eslint

created payment confirmation component
  src/components/PaymentConfirmation/index.jsx
  src/components/PaymentConfirmation/styled.js
Due: prettier-eslint --write, eslint
