Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

refactoring button
  src/components/Button/index.js
  src/pages/Cart/index.js
Due: prettier-eslint --write, eslint

Implement CreditCardForm
  src/components/CreditCardForm/index.js
  src/components/CreditCardForm/styles.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

add yup
  package.json
  yarn.lock
Due: prettier --write

Implement Input Component
  src/components/CreditCardForm/index.js
  src/components/CreditCardForm/styles.js
  src/components/Input/index.js
  src/components/Input/styles.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

Input states
  src/components/Input/index.js
  src/components/Input/styles.js
Due: prettier-eslint --write, eslint

added interfaces of rawData
  src/@types/cart.ts
  src/@types/priceSpecification.ts
  src/@types/product.ts
Due: none

added formatter to all currency values
  src/contexts/cart.tsx
Due: none

added mocked service to return data when cart is finished
  src/services/cart.ts
Due: none

created page of sucessfull purchase
  package.json
  src/components/PriceCartContainer/styles.ts
  src/components/ProductsCartContainer/index.tsx
  src/pages/Payment/index.tsx
  src/pages/SucessfulPurchase/index.tsx
  src/pages/SucessfulPurchase/styles.ts
  src/utils/style-config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

reordering files into right folders
  src/App.js
  src/components/Button/index.tsx
  src/components/Input/styles.ts
  src/components/PriceCartContainer/styles.ts
  src/components/ProductsCartContainer/styles.ts
  src/contexts/cart.tsx
  src/pages/Payment/styles.ts
  src/pages/SucessfulPurchase/styles.ts
  src/styles/style-config.js
  src/utils/currencyFormatter.ts
Due: prettier-eslint --write, eslint

added global font-family
  src/App.css
  src/pages/SucessfulPurchase/styles.ts
Due: prettier --write

implement formData
  src/components/CreditCardForm/index.js
  src/components/Input/index.js
Due: prettier-eslint --write, eslint

added shadowPaper reusable component
  src/components/ProductsCartContainer/styles.ts
  src/components/ShadowPaper/styles.ts
  src/pages/Payment/styles.ts
Due: none

added shadows to button component
  src/components/Button/index.tsx
Due: none

added routes component and tabs to render routes
  package.json
  src/App.js
  src/components/ShadowPaper/styles.ts
  src/pages/ShoppingCart/styles.ts
  src/routes/index.tsx
  src/routes/styles.ts
  src/styles/style-config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

added lazy imports to routes
  src/routes/index.tsx
  src/routes/styles.ts
Due: none

bugfix percent formatter
  src/contexts/cart.tsx
Due: none

added tests to shopping cart page
  src/pages/ShoppingCart/ShoppingCart.spec.js
  src/pages/ShoppingCart/index.tsx
Due: prettier-eslint --write, eslint

added min-height to main background
  src/routes/styles.ts
Due: none

fixed tabs font-size
  src/routes/styles.ts
Due: none

added routes tests
  src/routes/index.tsx
  src/routes/routes.spec.js
Due: prettier-eslint --write, eslint

implement mask
  src/components/CreditCardForm/index.js
  src/components/Input/index.js
  src/components/Input/styles.js
Due: prettier-eslint --write, eslint

maskPattern
  src/components/CreditCardForm/index.js
  src/components/Input/index.js
Due: prettier-eslint --write, eslint

added more payment tests
  src/components/Input/index.tsx
  src/pages/Payment/Payment.spec.js
  src/pages/Payment/index.tsx
Due: prettier-eslint --write, eslint

onlyNumbers
  src/components/CreditCardForm/index.js
  src/components/Input/index.js
Due: prettier-eslint --write, eslint

number maskPattern
  src/components/CreditCardForm/index.js
Due: prettier-eslint --write, eslint

disabling tabs and routes based on available data
  src/components/Input/index.tsx
  src/pages/Payment/Payment.spec.js
  src/pages/Payment/index.tsx
  src/pages/Payment/validationForm.ts
  src/pages/SucessfulPurchase/index.tsx
  src/pages/SucessfulPurchase/styles.ts
  src/routes/index.tsx
  src/routes/styles.ts
  src/services/cart.ts
Due: prettier-eslint --write, eslint

fixing warnings
  src/routes/index.tsx
Due: none

turning app more responsive
  package.json
  src/App.css
  src/components/Button/index.tsx
  src/components/Input/styles.ts
  src/components/PriceCartContainer/styles.ts
  src/components/ProductsCartContainer/index.tsx
  src/components/ProductsCartContainer/styles.ts
  src/components/ShadowPaper/styles.ts
  src/contexts/deviceSize.tsx
  src/index.css
  src/index.js
  src/pages/Payment/styles.ts
  src/pages/SucessfulPurchase/styles.ts
  src/routes/index.tsx
  src/routes/styles.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

FormDataIsValid
  src/components/CreditCardForm/index.js
Due: prettier-eslint --write, eslint

block special characters
  src/components/Input/index.js
Due: prettier-eslint --write, eslint

confirmation path
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

payment path
  src/pages/Cart/index.js
  src/router/index.js
Due: prettier-eslint --write, eslint

styles adjustments
  src/components/ProductsCartContainer/styles.ts
  src/pages/Payment/styles.ts
  src/pages/SucessfulPurchase/styles.ts
Due: none

improving yup validations on payment
  src/pages/Payment/validationForm.ts
Due: none

validation
  src/components/CreditCardForm/index.js
Due: prettier-eslint --write, eslint

onlyNumbers
  src/components/Input/index.js
Due: prettier-eslint --write, eslint

confirmation
  src/pages/Confirmation/index.js
  src/pages/Confirmation/styles.js
  src/router/index.js
Due: prettier-eslint --write, eslint

translate NavBar
  src/components/NavBar/index.js
  src/pages/Cart/index.js
  src/pages/Confirmation/index.js
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

noPrice
  src/components/ProductCard/index.js
  src/components/ProductCard/styles.js
  src/components/ProductsList/index.js
  src/pages/Confirmation/index.js
Due: prettier-eslint --write, eslint
