Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

heading component
  src/components/Heading/index.tsx
  src/components/Heading/stories.tsx
  src/components/Heading/styles.tsx
Due: none

product component
  src/components/Product/index.tsx
  src/components/Product/stories.tsx
  src/components/Product/styles.tsx
  src/utils/money.ts
Due: none

module of prices component
  src/components/TotalPrice/index.tsx
  src/components/TotalPrice/stories.tsx
  src/components/TotalPrice/styles.tsx
  src/components/TotalPriceModule/index.tsx
  src/components/TotalPriceModule/stories.tsx
  src/components/TotalPriceModule/styles.tsx
Due: none

button component
  src/components/Button/index.tsx
  src/components/Button/stories.tsx
  src/components/Button/styles.tsx
Due: none

checkout page
  src/components/Product/styles.tsx
  src/global/theme.ts
  src/pages/checkout/index.tsx
  src/pages/checkout/styles.ts
Due: none

Finished context and checkout page
  @types/apiData.d.ts
  src/App.tsx
  src/components/TotalPriceModule/index.tsx
  src/components/TotalPriceModule/stories.tsx
  src/contexts/CheckoutContext.tsx
  src/global/theme.ts
  src/pages/checkout/index.tsx
  src/pages/index.ts
Due: none

Add link for checkout
  src/pages/checkout/index.tsx
Due: none

Prepare pages
  src/components/Button/index.tsx
  src/components/Button/stories.tsx
  src/pages/checkout/index.tsx
  src/pages/confirmation/index.tsx
  src/pages/confirmation/styles.ts
  src/pages/payment/index.tsx
  src/pages/payment/styles.ts
Due: none

Payment page
  package.json
  src/components/Button/index.tsx
  src/components/HeaderNav/index.tsx
  src/components/HeaderNav/stories.tsx
  src/contexts/CheckoutContext.tsx
  src/global/theme.ts
  src/pages/checkout/index.tsx
  src/pages/confirmation/index.tsx
  src/pages/payment/index.tsx
  src/pages/payment/styles.ts
  src/utils/validationForm.ts
  yarn.lock
Due: prettier --write

confirmation page
  package.json
  src/assets/success.png
  src/components/Product/index.tsx
  src/components/Product/styles.tsx
  src/global/theme.ts
  src/pages/confirmation/index.tsx
  src/pages/confirmation/styles.ts
  yarn.lock
Due: prettier --write

checkout desktop fixed
  src/components/HeaderNav/styles.tsx
  src/components/Product/styles.tsx
  src/pages/checkout/index.tsx
  src/pages/checkout/styles.ts
Due: none

fixed pages for desktop
  src/pages/confirmation/index.tsx
  src/pages/confirmation/styles.ts
  src/pages/payment/index.tsx
  src/pages/payment/styles.ts
Due: none

readme
  README.md
Due: prettier --write

Create jsconfig for default imports
  jsconfig.json
Due: prettier --write

Install styled-components
  package-lock.json
  package.json
Due: prettier --write

Create Theme file
  src/theme/index.js
Due: prettier-eslint --write, eslint

Create Button component
  src/components/Button/index.js
  src/components/Button/styled.js
  src/components/index.js
Due: prettier-eslint --write, eslint

Create InputText component
  src/components/InputText/index.js
  src/components/InputText/styled.js
Due: prettier-eslint --write, eslint

Create index exports for components
  src/components/index.js
Due: prettier-eslint --write, eslint

Create components
  src/components/Button/index.jsx
  src/components/Card/index.jsx
  src/components/Card/styled.js
  src/components/CartInfo/index.jsx
  src/components/CartInfo/styled.js
  src/components/CartProducts/index.jsx
  src/components/CartProducts/styled.js
  src/components/Container/index.jsx
  src/components/Container/styled.js
  src/components/DivHelper/index.jsx
  src/components/DivHelper/styled.js
  src/components/Flex/index.jsx
  src/components/Flex/styled.js
  src/components/InputMasked/index.jsx
  src/components/InputMasked/styled.js
  src/components/InputText/index.jsx
  src/components/Loading/images/preloader.svg
  src/components/Loading/index.jsx
  src/components/Loading/styled.js
  src/components/StepWizzard/index.jsx
  src/components/StepWizzard/styled.js
  src/components/Typography/index.jsx
  src/components/Typography/styled.js
  src/components/index.js
Due: prettier-eslint --write, eslint

Create config file
  src/config/index.js
Due: prettier-eslint --write, eslint

Create layout for all pages
  src/App.css
  src/App.js
  src/index.css
  src/index.js
  src/layout/index.js
  src/redux/slices/checkout.js
  src/redux/store.js
  src/routes/index.js
  src/services/CartService.js
  src/services/api/index.js
  src/styles/global.css
  src/theme/index.js
  src/utils/index.js
  src/views/bag/index.jsx
  src/views/confirmation/index.jsx
  src/views/index.js
  src/views/payment/index.jsx
Due: prettier-eslint --write, eslint, prettier --write

Add package.json
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

Definicao do layout, organizacao das pastas e criacao do cabecalho
  package-lock.json
  src/App.css
  src/App.js
  src/Components/Container/Container.css
  src/Components/Container/Container.js
  src/Components/Content/Content.css
  src/Components/Content/Content.js
  src/Components/Header/Header.css
  src/Components/Header/Header.js
  src/Components/Products/Products.css
  src/Components/Products/Products.js
  src/Components/ProductsList/ProductsList.css
  src/Components/ProductsList/ProductsList.js
  src/Layout/App.css
  src/Layout/App.js
  src/Layout/App.test.js
  src/Layout/Pages/Card/Card.css
  src/Layout/Pages/Card/Card.js
  src/Layout/Pages/Checkout/Checkout.js
  src/Layout/Pages/Payment/Payment.css
  src/Layout/Pages/Payment/Payment.js
  src/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Finish validate form
  package-lock.json
  package.json
  src/redux/slices/checkout.js
  src/utils/index.js
  src/views/payment/index.jsx
Due: prettier-eslint --write, eslint, prettier --write

Finish confirmation page
  src/redux/slices/checkout.js
  src/views/confirmation/index.jsx
  src/views/payment/index.jsx
Due: prettier-eslint --write, eslint

Testes unitarios final
  package-lock.json
  src/Components/Content/Content.test.js
  src/Components/Header/Header.test.js
  src/Components/PaymentView/PaymentView.js
  src/Components/PaymentView/PaymentView.test.js
  src/Components/Products/Products.test.js
  src/Components/ProductsList/ProductsList.test.js
  src/Components/ResultMessage/ResultMessage.js
  src/Components/ResultMessage/ResultMessage.test.js
  src/Components/RowList/RowList.test.js
  src/Components/Title/Title.test.js
  src/Components/TotalList/TotalList.test.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: remove package-lock.json
  package-lock.json
  yarn.lock
Due: prettier --write

add big button
  package.json
  src/components/bigButton/BigButton.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

add purchase summary
  src/components/purchaseSummary/PurchaseSummary.js
Due: prettier-eslint --write, eslint

add menu tabs
  src/components/menuTabs/MenuTabs.js
  src/components/menuTabs/MenuTabsItem.js
Due: prettier-eslint --write, eslint

add card
  src/components/card/Card.js
  src/components/card/CardItem.js
Due: prettier-eslint --write, eslint

add payment data
  src/components/paymentData/PaymentData.js
Due: prettier-eslint --write, eslint

add confirmation message
  package.json
  src/components/confirmationMessage/ConfirmationMessage.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

add credit card form
  src/components/creditCardForm/CreditCardForm.js
Due: prettier-eslint --write, eslint

add card adjustments
  src/components/card/Card.js
  src/components/card/CardListItem.js
Due: prettier-eslint --write, eslint

add page cart
  src/App.js
  src/components/paymentData/PaymentData.js
  src/components/purchaseSummary/PurchaseSummary.js
  src/pages/cart/Cart.js
  src/pages/tabs/Tabs.js
Due: prettier-eslint --write, eslint

add payment page
  src/components/creditCardForm/CreditCardForm.js
  src/pages/payment/Payment.js
  src/pages/tabs/Tabs.js
Due: prettier-eslint --write, eslint

add confirmation page
  src/components/paymentData/PaymentData.js
  src/pages/confirmation/Confirmation.js
  src/pages/tabs/Tabs.js
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
