Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

Add Payment view and add route
  src/App.vue
  src/router.js
  src/views/Payment.vue
Due: prettier-eslint --write, eslint

Add FormInput component and use on payment view
  src/components/ui/Card.vue
  src/components/ui/FormInput.vue
  src/views/Payment.vue
Due: none

Add label prop to form input component
  src/components/ui/FormInput.vue
  src/views/Payment.vue
Due: none

Add label to all form input
  src/views/Payment.vue
Due: none

Add padding to form input and margin to input group
  src/components/ui/FormInput.vue
  src/views/Payment.vue
Due: none

Style input placeholder
  src/components/ui/FormInput.vue
Due: none

Add placeholder by input
  src/components/ui/FormInput.vue
  src/views/Payment.vue
Due: none

Add input_types object with validation and placeholder
  src/components/ui/FormInput.vue
Due: none

Add computed by form input type and use on payment form
  src/components/ui/FormInput.vue
  src/views/Payment.vue
Due: none

Add vee-validate package
  package-lock.json
  package.json
Due: prettier --write

Import and use vee-validate
  src/main.js
Due: prettier-eslint --write, eslint

Add validation to show border when field is required
  src/components/ui/FormInput.vue
  src/main.js
  src/views/Payment.vue
Due: prettier-eslint --write, eslint

Add required and invalid validations
  src/components/ui/FormInput.vue
  src/views/Payment.vue
Due: none

Use ValidationProvider
  src/components/ui/FormInput.vue
Due: none

Add ValidationObserver
  src/components/CheckoutButton.vue
  src/views/Payment.vue
Due: none

Add action and mutation to update payment
  src/store.js
  src/views/Payment.vue
Due: prettier-eslint --write, eslint

Add action and mutation to set payment form validation
  src/store.js
Due: prettier-eslint --write, eslint

Add watch to payment form validation and set vuex state
  src/App.vue
  src/views/Payment.vue
Due: none

Remove async from unnecessary actions
  src/store.js
Due: prettier-eslint --write, eslint

Disable button 'finalizar pedido' while payment form is not valid
  src/App.vue
  src/components/CheckoutButton.vue
  src/views/Payment.vue
Due: none

Reset paymentFormIsValid state when Payment view is created
  src/views/Payment.vue
Due: none

Confirmation view
  src/components/CartItem.vue
  src/components/CartList.vue
  src/router.js
  src/views/Confirmation.vue
Due: prettier-eslint --write, eslint

Add payment resume
  src/App.vue
  src/components/PaymentResume.vue
  src/store.js
  src/views/Confirmation.vue
Due: prettier-eslint --write, eslint

Fix path confirmation step
  src/App.vue
Due: none

Add confirmation message with icon
  src/App.vue
  src/assets/confirm.png
  src/views/Confirmation.vue
Due: none

Create hide-digits directive
  src/components/PaymentResume.vue
  src/directives/hideDigits.js
  src/directives/index.js
  src/store.js
Due: prettier-eslint --write, eslint

Solve spacing hide-digits
  src/directives/hideDigits.js
Due: prettier-eslint --write, eslint

Add vue-the-mask package and adapt form and payment resume
  package-lock.json
  package.json
  src/components/PaymentResume.vue
  src/components/ui/FormInput.vue
  src/directives/hideDigits.js
  src/main.js
  src/store.js
  src/views/Confirmation.vue
  src/views/Payment.vue
Due: prettier-eslint --write, eslint, prettier --write

Add paymentIsValid meta to confirmation route
  src/router.js
Due: prettier-eslint --write, eslint

Add router middleware
  src/main.js
  src/router/index.js
  src/router/middleware.js
Due: prettier-eslint --write, eslint

Add eventbus and use
  src/eventbus/index.js
  src/main.js
Due: prettier-eslint --write, eslint

Add checkout buttons component
  src/App.vue
  src/components/CheckoutButtons.vue
Due: none

Emit event to update payment on store when click button
  src/App.vue
  src/components/CheckoutButtons.vue
  src/store.js
  src/views/Payment.vue
Due: prettier-eslint --write, eslint

Fix state with event
  src/components/ui/FormInput.vue
Due: none

Add mask to validity and cvv inouts
  src/views/Payment.vue
Due: none

Add validation when 'from' route is confirmation and 'to' is payment
  src/router/middleware.js
Due: prettier-eslint --write, eslint

Init responsive layout App.vue
  src/App.vue
Due: none

Responsive h3
  src/App.vue
Due: none

CartItem responsive
  src/components/CartItem.vue
Due: none

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
