Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

fix: crash validation and style in cardSummary
  src/components/Common/CardSummary/index.jsx
  src/components/Common/CardSummary/styles.js
  src/components/Common/ComponentsCommon.test.js
  src/components/Common/FormCreditCard.jsx
  src/context/useRequestContext.jsx
  src/utils/validateFunction.js
Due: prettier-eslint --write, eslint

Update README.md
  README.md
Due: prettier --write

feat: 🏗️ adds api architecture
  package-lock.json
  package.json
  src/core/api/api.base.js
  src/core/api/api.cart.js
  src/utils/constants.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix: fixing label in payment feature
  src/components/CreditCard/CreditCard.jsx
Due: none

04 - Create component PaymentData and fix other components
  src/components/ItemProducts/index.js
  src/components/PaymentData/index.js
  src/components/PaymentData/style.js
  src/components/SpecificationCart/index.js
  src/components/Widgets/Button/index.js
  src/components/Widgets/Button/style.js
  src/components/Widgets/Description/index.js
  src/components/Widgets/Input/index.js
  src/components/Widgets/Input/style.js
  src/components/index.js
  src/container/Cart/index.js
  src/container/Payment/index.js
  src/container/Payment/style.js
  src/container/index.js
  yarn.lock
Due: prettier-eslint --write, eslint

05 - Create Component SpecificationDataUser
  src/components/SpecificationDataUser/index.js
  src/components/SpecificationDataUser/style.js
Due: prettier-eslint --write, eslint

feat: 🏗️ adds routes architecture
  package-lock.json
  package.json
  src/App.js
  src/app/pages/Cart.js
  src/app/pages/Checkout.js
  src/app/pages/WowMoment.js
  src/routes.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: ✨ adds context data provider
  src/App.js
  src/app/pages/Cart.js
  src/core/store/Context.js
Due: prettier-eslint --write, eslint

feat: ✨ adds navbar component
  package-lock.json
  package.json
  src/app/components/tabNav.js
  src/app/components/tabNav.style.js
  src/app/pages/Cart.js
  src/index.css
  src/index.js
  src/routes.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

test: changed snapshot
  src/tests/Routes.test.js
Due: prettier-eslint --write, eslint

refactor: route exact
  src/App.jsx
Due: none

feat: creatin Spinner component using reac-loader lib
  package-lock.json
  package.json
  src/components/ProductList/ProductList.jsx
  src/components/Spinner/Spinner.jsx
  src/components/Spinner/Spinner.spec.js
  src/components/Spinner/style.js
  src/features/cart/Cart.jsx
Due: prettier-eslint --write, eslint, prettier --write

09 - Styling and filling of the products object and presented in the layout - Cart component
  src/components/ItemProducts/index.js
  src/components/ItemProducts/style.js
  src/components/SpecificationCart/index.js
  src/components/SpecificationCart/style.js
  src/components/Widgets/Button/index.js
  src/components/Widgets/Button/style.js
  src/components/Widgets/Description/index.js
  src/components/Widgets/Description/style.js
  src/container/Cart/index.js
  src/container/Cart/style.js
  src/container/Main/index.js
  src/container/Main/style.js
  src/index.css
  src/services/api.js
  src/services/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: putting image for payment success
  src/assets/images/success.png
  src/components/Container/Container.jsx
  src/components/Container/style.js
  src/components/Input/Input.jsx
  src/features/success/Success.jsx
Due: prettier-eslint --write, eslint

fix: fixing padding-bottom in payment feature
  src/components/Container/style.js
Due: prettier-eslint --write, eslint

feat: creating style for disabled button
  src/assets/styles/colors.js
  src/components/Button/style.js
  src/features/payment/Payment.jsx
Due: prettier-eslint --write, eslint

feat: setting payment info to basket provider
  src/components/CreditCard/CreditCard.jsx
  src/components/CreditCard/paymentUtils.js
  src/components/Input/style.js
  src/context/Basket.jsx
  src/features/payment/Payment.jsx
  src/features/success/Success.jsx
Due: prettier-eslint --write, eslint

feat: adding credit card informations in success feature
  src/assets/styles/colors.js
  src/components/CreditCard/CreditCardInfo.jsx
  src/components/CreditCard/paymentUtils.js
  src/components/CreditCard/style.js
  src/components/Total/style.js
  src/features/success/Success.jsx
Due: prettier-eslint --write, eslint

feat: creating media queries
  src/assets/styles/global.js
  src/components/Container/style.js
Due: prettier-eslint --write, eslint

fix: putting outline none on input focus event
  src/components/Input/Input.jsx
  src/components/Input/style.js
Due: prettier-eslint --write, eslint

feat: Creating README
  README.md
  REQUIREMENTS.md
Due: prettier --write

fix: readme text
  README.md
Due: prettier --write

10-Stylization Payment Page, Generic Header, Implement and Stylization PaymentData, Fix Bugs
  package.json
  src/components/ItemProducts/index.js
  src/components/ItemProducts/style.js
  src/components/PaymentData/index.js
  src/components/PaymentData/style.js
  src/components/Widgets/Header/index.js
  src/components/Widgets/Header/style.js
  src/components/index.js
  src/container/Cart/index.js
  src/container/Cart/style.js
  src/container/Main/index.js
  src/container/Main/style.js
  src/container/Payment/index.js
  src/container/Payment/style.js
Due: prettier-eslint --write, eslint, prettier --write

fix: fixing some specs
  src/components/Button/Button.spec.js
  src/components/CreditCard/CreditCard.spec.js
  src/components/ProductList/ProductList.spec.js
  src/components/ProductList/ProductList.xspec.js
  src/components/Total/Total.spec.js
  src/context/Basket.jsx
Due: prettier-eslint --write, eslint

feat: fix not found route
  src/App.jsx
Due: none

fix: swapping png image to svg
  src/assets/images/success.png
  src/assets/styles/colors.js
  src/features/success/Success.jsx
  src/features/success/style.js
Due: prettier-eslint --write, eslint

feat: putting routes to do a lazy load
  src/App.jsx
Due: none

fix: removind yarn file
  yarn.lock
Due: none

11 - Create Confirmation Page, Fix PaymentData, Install Redux
  package.json
  src/assets/icon/confirmation_icon.svg
  src/components/PaymentData/index.js
  src/components/SpecificationDataUser/index.js
  src/components/SpecificationDataUser/style.js
  src/components/Widgets/Button/index.js
  src/components/index.js
  src/container/Confirmation/index.js
  src/container/Confirmation/style.js
  src/container/Main/index.js
  src/container/Payment/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: ✨ adds components
  src/app/components/layout/TitleSection.js
  src/app/components/layout/TitleSection.style.js
  src/app/components/navigation/TabNav.js
  src/app/components/navigation/TabNav.style.js
  src/app/pages/Checkout.js
  src/app/pages/WowMoment.js
  src/app/pages/cart/CartMain.js
  src/app/pages/cart/CartPage.style.js
  src/app/pages/checkout/CheckoutMain.js
  src/app/pages/checkout/CheckoutPage.style.js
  src/app/pages/wowmoment/WowMoment.style.js
  src/app/pages/wowmoment/WowMomentMain.js
  src/index.css
  src/routes.js
Due: prettier-eslint --write, eslint, prettier --write

12-Implemented Redux and ReactRouter, Fix bugs, adjust data in layout
  src/container/Cart/index.js
Due: prettier-eslint --write, eslint

12-Remaing Commit 12
  src/components/PaymentData/index.js
  src/container/Confirmation/index.js
  src/container/Main/index.js
  src/container/Payment/index.js
  src/index.js
  src/routes.js
  src/store/ducks/creditCard.js
  src/store/ducks/index.js
  src/store/ducks/products.js
  src/store/index.js
Due: prettier-eslint --write, eslint

chore: changing Suspense fallback
  src/App.jsx
Due: none

style: updating padding values from ProductList
  src/components/Product/Product.jsx
  src/components/Product/style.js
  src/components/ProductList/ProductList.jsx
  src/components/ProductList/style.js
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
