Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

Added persistence of cart data and created Payment screen
  package.json
  src/App.js
  src/__tests__/cart.test.js
  src/components/Button.js
  src/components/Cart.js
  src/components/Container.js
  src/components/Payment.js
  src/components/ProductList.js
  src/components/Total.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Creation of confirmation screen and updated components for reuse
  package.json
  src/components/Button.js
  src/components/Cart.js
  src/components/Payment.js
  src/components/Product.js
  src/components/ProductList.js
  src/components/Success.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

improvements on desktop usability
  src/App.js
  src/components/NavBar.js
  src/components/Payment.js
  src/components/Success.js
  src/components/Total.js
Due: prettier-eslint --write, eslint

initial data load bug correction
  src/App.js
Due: prettier-eslint --write, eslint

refactored initial fetch
  src/App.js
Due: prettier-eslint --write, eslint

Add react router dom, input-mask
  package-lock.json
  package.json
Due: prettier --write

Create data management
  src/data/data-storage.js
Due: prettier-eslint --write, eslint

Create confirmation page and cart
  src/pages/Cart.js
  src/pages/Confirmation.js
Due: prettier-eslint --write, eslint

Delete test
  src/tests/App.test.js
Due: prettier-eslint --write, eslint

add images
  src/assets/img/checked.png
  src/assets/img/checked_bold.png
  src/assets/img/icon_facebook.png
  src/assets/img/icon_instagram.png
  src/assets/img/icon_linkedin.png
  src/assets/img/icon_youtube.png
Due: none

Create a confirmation message
  src/components/confirm-message.js
Due: prettier-eslint --write, eslint

Create Footer and header
  src/index.js
Due: prettier-eslint --write, eslint

Add Id proprerty
  src/components/custom-button.js
Due: prettier-eslint --write, eslint

Add Header and Footer
  src/css/index.css
  src/css/styles.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Create logo image
  src/assets/img/logo.png
Due: none

Create Payment page
  src/components/payment-form.js
  src/data/data-storage.js
  src/pages/Payment.js
Due: prettier-eslint --write, eslint

Delete images
  src/assets/img/checked_bold.png
  src/assets/img/icon_facebook.png
  src/assets/img/icon_instagram.png
  src/assets/img/icon_linkedin.png
  src/assets/img/icon_youtube.png
Due: none

WIP: components input and button
  README.md
  package.json
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/Button/types.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/components/Input/types.ts
  src/components/Theme/colors.ts
  src/components/Theme/config/index.ts
  src/components/Theme/config/light.ts
  src/components/Theme/global.ts
  src/components/Theme/index.tsx
  src/components/Theme/light.ts
  src/components/Theme/styled.d.ts
  src/components/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Styleguide/index.tsx
  src/pages/Styleguide/styles.ts
  src/pages/Styleguide/types.ts
  src/reportWebVitals.ts
  src/routes/Public.tsx
  src/styles/breakpoints.ts
  src/styles/colors.ts
  src/styles/index.ts
  src/types/styled.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

WIP: components for cart page
  src/components/Card/index.tsx
  src/components/Card/styles.ts
  src/components/Card/types.ts
  src/components/ProductItem/index.tsx
  src/components/ProductItem/styles.ts
  src/components/ProductItem/types.ts
  src/components/SummaryItem/index.tsx
  src/components/SummaryItem/styles.ts
  src/components/SummaryItem/types.ts
  src/components/Theme/config/light.ts
  src/components/Typography/index.tsx
  src/components/Typography/styles.ts
  src/components/Typography/types.ts
  src/components/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/routes/Public.tsx
Due: none

fix netlify routes
  public/_redirects
Due: none

remove componet
  src/pages/Cart/styles.ts
Due: none

WIP: composition of components
  src/components/Button/styles.ts
  src/components/Card/styles.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/components/ProductItem/index.tsx
  src/components/ProductItem/styles.ts
  src/components/Theme/config/light.ts
  src/components/Theme/global.ts
  src/components/Typography/styles.ts
  src/components/Typography/types.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/pages/Cart/types.ts
Due: none

WIP: components segmentation
  src/components/AppBar/index.tsx
  src/components/AppBar/styles.ts
  src/components/AppBar/types.ts
  src/components/Summary/index.tsx
  src/components/Summary/styles.ts
  src/components/Summary/types.ts
  src/components/TabItem/index.tsx
  src/components/TabItem/styles.ts
  src/components/TabItem/types.ts
  src/components/Tabs/index.tsx
  src/components/Tabs/styles.ts
  src/components/Tabs/types.ts
  src/components/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/routes/Public.tsx
Due: none

feat: payment page
  src/components/Button/styles.ts
  src/components/Button/types.ts
  src/components/Template/index.tsx
  src/components/Template/styles.ts
  src/components/Template/types.ts
  src/components/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/pages/Payment/types.ts
Due: none

WIP: confirmation page
  package.json
  src/components/AppBar/index.tsx
  src/components/Card/styles.ts
  src/components/ProductItem/index.tsx
  src/components/ProductItem/types.ts
  src/components/Summary/index.tsx
  src/components/Summary/types.ts
  src/components/Tabs/index.tsx
  src/components/Template/index.tsx
  src/components/Theme/index.tsx
  src/components/Typography/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Confirmation/styles.ts
  src/pages/Confirmation/types.ts
  src/pages/Payment/index.tsx
  yarn.lock
Due: prettier --write

WIP: Adjust css form payment
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/components/Input/types.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
Due: none

fix text error
  src/pages/Confirmation/index.tsx
Due: none

fix grid
  src/components/Input/styles.ts
  src/pages/Payment/styles.ts
Due: none

Feat: integration api on pages
  package.json
  src/components/ProductItem/types.ts
  src/components/Summary/index.tsx
  src/components/Summary/types.ts
  src/containers/CartProvider.tsx
  src/contexts/Cart.ts
  src/hooks/Cart.ts
  src/pages/Cart/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Payment/index.tsx
  src/routes/Public.tsx
  src/services/api.ts
  src/services/cartMapper.ts
  src/services/summaryMapper.ts
  yarn.lock
Due: prettier --write

fix api protocol
  src/pages/Confirmation/index.tsx
  src/services/api.ts
Due: none

feat: add mask feature; WIP: payments page
  package.json
  src/components/Button/styles.ts
  src/components/Input/default/index.tsx
  src/components/Input/default/styles.ts
  src/components/Input/default/types.ts
  src/components/Input/index.tsx
  src/components/Input/mask/index.tsx
  src/components/Input/mask/styles.ts
  src/components/Input/mask/types.ts
  src/pages/Payment/index.tsx
  src/pages/Styleguide/index.tsx
  src/utils/getValidationErrors.ts
  yarn.lock
Due: prettier --write

fix: payment form validations
  src/components/Input/default/index.tsx
  src/components/Input/default/styles.ts
  src/components/Input/mask/styles.ts
  src/pages/Payment/index.tsx
Due: none

feat: add mask on inputs
  src/components/Input/default/styles.ts
  src/components/Input/mask/index.tsx
  src/components/Input/mask/styles.ts
  src/components/Input/mask/types.ts
  src/pages/Payment/index.tsx
Due: none

feat: basci unit tests
  .github/workflows/actions.yml
  README.md
  src/components/AppBar/AppBar.unit.spec.tsx
  src/components/AppBar/index.tsx
  src/components/Card/Card.unit.spec.tsx
  src/components/Card/index.tsx
  src/components/ProductItem/index.tsx
  src/components/Summary/index.tsx
  src/components/TabItem/TabItem.unit.spec.tsx
  src/components/Tabs/Tabs.unit.spec.tsx
  src/components/Tabs/index.tsx
  src/components/Template/Template.unit.spec.tsx
  src/components/Template/index.tsx
  src/components/Typography/Typography.unit.spec.tsx
Due: prettier --write

feat: unnecessary files removed
  src/App.css
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add cypress
  .github/workflows/actions.yml
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/admin.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  src/components/Input/default/index.tsx
  src/components/Input/mask/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Payment/index.tsx
Due: prettier-eslint --write, eslint, prettier --write

add cypress
  package.json
  yarn.lock
Due: prettier --write

fix cypress actions
  .github/workflows/actions.yml
Due: none

feat: added and configured some libraries
  .env
  package.json
  src/App.css
  src/App.js
  src/config/store.js
  src/pages/Cart/index.js
  src/routes.js
  src/services/api.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write
