Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

chore: improve visual styles on desktop
  src/components/Header/styles.ts
  src/components/Row/styles.ts
  src/components/Spinner/index.tsx
  src/components/Summary/styles.ts
  src/layouts/DefaultLayout/styles.ts
  src/pages/Bag/index.tsx
Due: none

chore: usePayment context hook
  src/hooks/usePayment.tsx
Due: none

chore: payment form
  src/App.tsx
  src/components/Button/index.tsx
  src/components/Input/index.tsx
  src/components/Summary/styles.ts
  src/layouts/DefaultLayout/styles.ts
  src/pages/Confirmation.tsx
  src/pages/Payment/index.tsx
  src/utils/format.ts
Due: none

feat: Payment page
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/pages/Payment/index.tsx
  src/utils/format.ts
  src/utils/validate.ts
Due: none

fix: components unit tests
  src/components/Button/Button.test.tsx
  src/components/Input/Input.test.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/index.tsx
  src/pages/Bag/Bag.test.tsx
  src/pages/Payment/Payment.test.tsx
  src/services/hooks/useData.ts
Due: none

feat: Confirmation page
  src/components/Column/styles.ts
  src/components/Typography/styles.ts
  src/pages/Confirmation.tsx
  src/pages/Confirmation/index.tsx
  src/styles/theme.ts
  src/utils/format.ts
Due: none

refactor: add loading prop to card
  src/components/Card/index.tsx
  src/pages/Bag/index.tsx
  src/pages/Confirmation/index.tsx
Due: none

chore: remove unused code
  src/Router.tsx
  src/components/Button/Button.test.tsx
  src/components/Button/index.tsx
  src/components/Card/index.tsx
  src/components/CartItem/index.tsx
  src/components/CartItem/styles.ts
  src/components/Input/index.tsx
  src/components/Summary/index.tsx
  src/hooks/usePayment.tsx
  src/layouts/DefaultLayout/index.tsx
  src/pages/Bag/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Payment/index.tsx
  src/utils/format.ts
Due: none

fix: validate form fields
  src/pages/Payment/index.tsx
  src/utils/validate.ts
Due: none

feat: product list consuming from mock api
  .gitignore
  package-lock.json
  package.json
  postcss.config.js
  src/App.css
  src/App.tsx
  src/components/Breadcrumb.tsx
  src/components/BreadcrumbItem.tsx
  src/components/Card.tsx
  src/components/CartItem.tsx
  src/components/GenericPage.tsx
  src/components/Header.tsx
  src/components/MonetaryValue.tsx
  src/components/PageWithLoader.tsx
  src/components/PriceTag.tsx
  src/components/ProductPicture.tsx
  src/env.d.ts
  src/hooks/useCart.ts
  src/index.css
  src/interfaces/cart.d.ts
  src/main.tsx
  src/pages/Bag.tsx
  src/pages/OrderPlaced.tsx
  src/pages/Payment.tsx
  src/pages/_404.tsx
  src/pages/_root.tsx
  src/services/getCart.ts
  src/styles/global.css
  src/utils/index.ts
  tailwind.config.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: price summary component
  src/App.test.tsx
  src/App.tsx
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/CartItem.tsx
  src/components/MonetaryValue.tsx
  src/components/PageWithLoader.tsx
  src/components/Spinner.tsx
  src/components/Summary.tsx
  src/interfaces/cart.d.ts
  src/pages/Bag.tsx
  tailwind.config.ts
Due: none

feat: bag page tests
  package-lock.json
  package.json
  src/components/Breadcrumb.spec.tsx
  src/components/CartItem.spec.tsx
  src/components/Spinner.tsx
  src/components/Summary.spec.tsx
  src/components/Summary.tsx
  src/hooks/useCart.spec.ts
  src/hooks/useCart.ts
  src/services/getCart.spec.ts
  src/test/setup-test.ts
  src/test/utils.tsx
  src/utils/index.spec.ts
  yarn.lock
Due: prettier --write

feat: payment page
  package.json
  src/components/Breadcrumb.tsx
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/CardPayment.tsx
  src/components/CartItem.tsx
  src/components/PaymentOptions.tsx
  src/components/TextInput.tsx
  src/hooks/usePaymentForm.ts
  src/interfaces/form.d.ts
  src/pages/Bag.tsx
  src/pages/OrderPlaced.tsx
  src/pages/Payment.tsx
  src/reducers/form/actions.ts
  src/reducers/form/index.ts
  src/services/sendPaymentData.ts
  src/utils/index.ts
  tailwind.config.ts
  yarn.lock
Due: prettier --write

feat: tests for payment page
  package.json
  src/components/CardPayment.spec.tsx
  src/components/CardPayment.tsx
  src/components/PaymentOptions.spec.tsx
  src/components/PaymentOptions.tsx
  src/components/TextInput.spec.tsx
  src/hooks/usePaymentForm.spec.ts
  src/hooks/usePaymentForm.ts
  src/interfaces/form.d.ts
  src/pages/Payment.tsx
  src/reducers/form/actions.spec.ts
  src/reducers/form/index.spec.ts
  src/reducers/form/index.ts
  src/test/setup-test.ts
  src/utils/index.spec.ts
  src/utils/index.ts
  yarn.lock
Due: prettier --write

feat: finish buying page
  src/App.tsx
  src/components/Breadcrumb.spec.tsx
  src/components/Breadcrumb.tsx
  src/components/BreadcrumbItem.tsx
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/CardPayment.tsx
  src/components/CartItem.tsx
  src/components/Summary.tsx
  src/hooks/usePaymentForm.ts
  src/pages/OrderPlaced.tsx
  src/styles/global.css
  tailwind.config.ts
Due: prettier --write

chore: add tailwindcss
  .prettierrc
  index.html
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/index.css
  tailwind.config.js
Due: prettier-eslint --write, eslint, prettier --write

chore: add unit tests utilities
  package.json
  src/test/utils.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --write

feat(components): create Paper component
  src/components/ui/paper/index.tsx
  src/components/ui/paper/paper.test.tsx
Due: none

feat(components): create Header component
  src/components/header/header.test.tsx
  src/components/header/index.tsx
Due: none

feat(components): create Tabs component
  src/components/ui/tabs/index.tsx
  src/components/ui/tabs/tabs.test.tsx
Due: none

feat(components): create Button and LoadingSpinner components
  src/components/ui/button/button.test.tsx
  src/components/ui/button/index.tsx
  src/components/ui/loading-spinner/index.tsx
  src/components/ui/loading-spinner/loading-spinner.test.tsx
Due: none

feat(components): create Input and Label components
  src/components/ui/input/index.tsx
  src/components/ui/input/input.test.tsx
  src/components/ui/label/index.tsx
  src/components/ui/label/label.test.tsx
Due: none

feat(components): create Layout component and add react-router-dom
  package.json
  src/App.tsx
  src/components/layout/index.tsx
  src/components/layout/layout.test.tsx
  src/routes/cart.tsx
  src/routes/confirmation.tsx
  src/routes/not-found.tsx
  src/routes/payment.tsx
Due: prettier --write

feat(pages): add Cart page
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/components/checkout-summary/checkout-summary.test.tsx
  src/components/checkout-summary/index.tsx
  src/components/product-item/index.tsx
  src/hooks/use-cart-items.test.ts
  src/hooks/use-cart-items.ts
  src/lib/format-currency.test.ts
  src/lib/format-currency.ts
  src/routes/cart.tsx
  src/services/api-client.ts
  src/types.ts
Due: prettier --write

feat(pages): add Payment page
  package.json
  src/lib/utils.ts
  src/routes/payment.tsx
Due: prettier --write

feat(pages): add Confirmation page
  package.json
  src/lib/utils.test.ts
  src/lib/utils.ts
  src/routes/confirmation.tsx
  src/routes/payment.tsx
  src/store/use-checkout.ts
Due: prettier --write

feat(tests): add MSW for mocking api requests
  package.json
  public/mockServiceWorker.js
  src/components/product-item/product-item.test.tsx
  src/main.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/server.ts
  src/test/setup-test.ts
Due: prettier-eslint --write, eslint, prettier --write

feat(tests): add Playwight for e2e testing and create checkout.spec.ts
  .gitignore
  package.json
  playwright.config.ts
  src/e2e/checkout.spec.ts
Due: prettier --write

chore: add srcset to product images and adjust tests
  src/components/product-item/index.tsx
  src/components/product-item/product-item.test.tsx
  vite.config.ts
Due: none

chore: update yarn.lock
  .yarn/install-state.gz
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: add linting utility packages
  .eslintrc.cjs
  .prettierrc
  README.md
  package.json
  pnpm-lock.yaml
  src/components/checkout-summary/index.tsx
  src/components/header/index.tsx
  src/components/layout/index.tsx
  src/components/product-item/index.tsx
  src/components/product-item/product-item.test.tsx
  src/components/ui/button/index.tsx
  src/components/ui/input/index.tsx
  src/components/ui/label/index.tsx
  src/components/ui/loading-spinner/index.tsx
  src/components/ui/paper/index.tsx
  src/components/ui/tabs/index.tsx
  src/e2e/checkout.spec.ts
  src/lib/utils.ts
  src/routes/cart.tsx
  src/routes/confirmation.tsx
  src/routes/payment.tsx
  src/test/utils.tsx
Due: prettier --write

chore: update README.md
  README.md
Due: prettier --write

chore: update test snapshots
  src/components/header/header.test.tsx
  src/components/layout/layout.test.tsx
  src/components/product-item/product-item.test.tsx
  src/components/ui/button/button.test.tsx
  src/components/ui/input/input.test.tsx
  src/components/ui/label/label.test.tsx
  src/components/ui/loading-spinner/loading-spinner.test.tsx
  src/components/ui/paper/paper.test.tsx
  src/components/ui/tabs/tabs.test.tsx
Due: none

feat: new component structure
  .gitignore
  src/components/Breadcrumb/Breadcrumb.tsx
  src/components/Breadcrumb/index.tsx
  src/components/BreadcrumbItem/BreadcrumbItem.tsx
  src/components/BreadcrumbItem/index.tsx
  src/components/Button/Button.tsx
  src/components/Button/index.tsx
  src/components/Card/Card.tsx
  src/components/Card/index.tsx
  src/components/CardPayment/CardPayment.spec.tsx
  src/components/CardPayment/CardPayment.tsx
  src/components/CardPayment/index.tsx
  src/components/CartItem/CartItem.spec.tsx
  src/components/CartItem/CartItem.tsx
  src/components/CartItem/index.tsx
  src/components/GenericPage/GenericPage.tsx
  src/components/GenericPage/index.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.tsx
  src/components/MonetaryValue/MonetaryValue.tsx
  src/components/MonetaryValue/index.tsx
  src/components/PageWithLoader/PageWithLoader.tsx
  src/components/PageWithLoader/index.tsx
  src/components/PaymentOptions/PaymentOptions.spec.tsx
  src/components/PaymentOptions/PaymentOptions.tsx
  src/components/PaymentOptions/index.tsx
  src/components/PriceTag/PriceTag.tsx
  src/components/PriceTag/index.tsx
  src/components/ProductPicture/ProductPicture.tsx
  src/components/ProductPicture/index.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/index.tsx
  src/components/Summary/Summary.spec.tsx
  src/components/Summary/Summary.tsx
  src/components/Summary/index.tsx
  src/components/TextInput/TextInput.spec.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/index.tsx
  src/pages/OrderPlaced.tsx
Due: none

feat: responsive to desktop
  src/components/BreadcrumbItem/BreadcrumbItem.tsx
  src/components/Card/Card.tsx
  src/components/CartItem/CartItem.tsx
  src/components/PageWithLoader/PageWithLoader.tsx
  src/components/ProductPicture/ProductPicture.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Spinner/style.css
  src/components/Summary/Summary.tsx
  src/pages/Bag.tsx
  src/pages/OrderPlaced.tsx
  src/pages/Payment.tsx
Due: prettier --write

chore: removing unused dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: deploy to vercel
  .gitignore
Due: none

fix: adding validation to fields
  src/components/Card/Card.tsx
  src/components/Summary/Summary.tsx
  src/reducers/form/index.ts
Due: none

setting up monorepo with turborepo
  .gitignore
  .prettierrc
  README.md
  apps/web/README.md
  apps/web/index.html
  apps/web/package.json
  apps/web/public/robots.txt
  apps/web/src/App.css
  apps/web/src/App.test.tsx
  apps/web/src/App.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/test/setup-test.ts
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
  package.json
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/vite.json
  tsconfig.json
  turbo.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
