Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

creating global state
  package-lock.json
  package.json
  src/App.js
  src/components/Base.js
  src/components/Header/Header.js
  src/components/Header/styles.js
  src/constants/urls.js
  src/global/GlobalState.js
  src/global/GlobalStateContext.js
  src/screens/ShoppingCartScreen/ShoppingCartScreen.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

add header
  src/components/Header/Header.js
  src/components/Header/styles.js
  src/index.css
  src/router/Router.js
Due: prettier-eslint --write, eslint, prettier --write

add error screen
  src/screens/ErrorScreen/ErrorScreen.js
  src/screens/ErrorScreen/styles.js
Due: prettier-eslint --write, eslint

add shopping cart screen finished
  src/App.js
  src/components/Header/styles.js
  src/components/Loading.js
  src/components/PriceCard/PriceCard.js
  src/components/PriceCard/styles.js
  src/components/ProductCard/ProductCard.js
  src/components/ProductCard/styles.js
  src/components/ProductsGrid/ProductsGrid.js
  src/components/ProductsGrid/styles.js
  src/global/GlobalState.js
  src/screens/ShoppingCartScreen/ShoppingCartScreen.js
  src/screens/ShoppingCartScreen/styles.js
Due: prettier-eslint --write, eslint

add loading
  README.md
  src/components/Loading.js
  src/components/PriceCard/PriceCard.js
  src/global/GlobalState.js
  src/hooks/useForm.js
  src/services/mask.js
Due: prettier-eslint --write, eslint, prettier --write

starting payment screen
  src/global/GlobalState.js
  src/screens/PaymentScreen/PaymentScreen.js
  src/screens/PaymentScreen/styles.js
  src/services/mask.js
Due: prettier-eslint --write, eslint

add payment screen
  src/screens/PaymentScreen/PaymentScreen.js
  src/screens/PaymentScreen/styles.js
Due: prettier-eslint --write, eslint

add payment screen
  README.md
  src/assets/success.png
  src/components/Base.js
  src/components/PaymentCard/PaymentCard.js
  src/components/PaymentCard/styles.js
  src/screens/ConfirmationScreen/ConfirmationScreen.js
  src/screens/ConfirmationScreen/styles.js
  src/screens/PaymentScreen/PaymentScreen.js
  src/screens/PaymentScreen/styles.js
Due: prettier-eslint --write, eslint, prettier --write

add surge link
  README.md
Due: prettier --write

bugfix payment screen
  README.md
  src/index.css
  src/screens/PaymentScreen/PaymentScreen.js
Due: prettier-eslint --write, eslint, prettier --write

feat: routes / initial pages
  package-lock.json
  package.json
  src/App.js
  src/router/Coordinator.js
  src/router/Router.js
  src/screens/CartPage/CartPage.js
  src/screens/CartPage/styles.js
  src/screens/ConfirmationPage/ConfirmationPage.js
  src/screens/ConfirmationPage/styles.js
  src/screens/PaymentPage/PaymentPage.js
  src/screens/PaymentPage/styles.js
Due: prettier-eslint --write, eslint, prettier --write

feat: NextStepButton / Coordinator
  src/components/NextStepButton/NextStepButton.js
  src/components/NextStepButton/styles.js
  src/router/Coordinator.js
  src/screens/CartPage/CartPage.js
  src/screens/PaymentPage/PaymentPage.js
Due: prettier-eslint --write, eslint

feat: Header
  src/components/Header/Header.js
  src/components/Header/styles.js
  src/screens/CartPage/CartPage.js
  src/screens/ConfirmationPage/ConfirmationPage.js
  src/screens/PaymentPage/PaymentPage.js
Due: prettier-eslint --write, eslint

feat: ProductCard / ProductsContainer
  package-lock.json
  package.json
  src/components/ProductCard/ProductCard.js
  src/components/ProductCard/styles.js
  src/screens/CartPage/CartPage.js
  src/screens/CartPage/styles.js
Due: prettier-eslint --write, eslint, prettier --write

feat: TotalCard
  src/components/TotalCard/TotalCard.js
  src/components/TotalCard/styles.js
  src/screens/CartPage/CartPage.js
Due: prettier-eslint --write, eslint

Página do carrinho finalizada
  package-lock.json
  package.json
  src/App.js
  src/assets/image/button.png
  src/components/CardProduct/CardProdutc.js
  src/components/CardProduct/styled.js
  src/components/Header/Header.js
  src/components/Header/styled.js
  src/components/PaymentCard/PaymentCard.js
  src/components/PaymentCard/styled.js
  src/components/PriceCard/PriceCard.js
  src/components/PriceCard/styled.js
  src/components/ProductCard/ProductCard.js
  src/components/ProductCard/styled.js
  src/constants/constants.js
  src/global/globalState.js
  src/global/globalStateContext.js
  src/hooks/useForm.js
  src/hooks/userequestData.js
  src/routers/Coordinator.js
  src/routers/Router.js
  src/screens/cartScreen/CartScreen.js
  src/screens/cartScreen/styled.js
  src/screens/confirmationScreen/ConfirmationScreen.js
  src/screens/confirmationScreen/styled.js
  src/screens/paymentScreen/PaymentScreen.js
  src/screens/paymentScreen/styled.js
Due: prettier-eslint --write, eslint, prettier --write

feat: Cart data persistence
  src/screens/CartPage/CartPage.js
  src/screens/ConfirmationPage/ConfirmationPage.js
  src/screens/PaymentPage/PaymentPage.js
Due: prettier-eslint --write, eslint

feat: Subtitle component
  src/components/Subtitle/Subtitle.js
  src/components/Subtitle/styles.js
  src/screens/CartPage/CartPage.js
  src/screens/ConfirmationPage/ConfirmationPage.js
  src/screens/PaymentPage/PaymentPage.js
Due: prettier-eslint --write, eslint

feat: Credit Card Form
  src/screens/ConfirmationPage/ConfirmationPage.js
  src/screens/PaymentPage/PaymentPage.js
  src/screens/PaymentPage/styles.js
Due: prettier-eslint --write, eslint

feat: Payment Data
  src/screens/ConfirmationPage/ConfirmationPage.js
  src/screens/ConfirmationPage/styles.js
Due: prettier-eslint --write, eslint

Finalização da tela de pagamento
  src/assets/image/button.png
  src/components/Header/Header.js
  src/components/Header/styled.js
  src/components/Loading.js
  src/components/PaymentCard/PaymentCard.js
  src/components/maskNumberCard.js
  src/global/globalState.js
  src/screens/cartScreen/CartScreen.js
  src/screens/cartScreen/styled.js
  src/screens/confirmationScreen/ConfirmationScreen.js
  src/screens/paymentScreen/PaymentScreen.js
  src/screens/paymentScreen/styled.js
Due: prettier-eslint --write, eslint

Página de confirmação quase OK, faltando apenas aparecer a data de validade do cartão no card
  src/assets/image/success.png
  src/components/CardProduct/styled.js
  src/components/Header/styled.js
  src/components/PaymentCard/PaymentCard.js
  src/components/PaymentCard/styled.js
  src/components/PriceCard/styled.js
  src/components/ProductCard/ProductCardConfirm.js
  src/components/ProductCard/styled.js
  src/components/maskNumberCard.js
  src/global/globalState.js
  src/hooks/useForm.js
  src/hooks/userequestData.js
  src/screens/cartScreen/CartScreen.js
  src/screens/cartScreen/styled.js
  src/screens/confirmationScreen/ConfirmationScreen.js
  src/screens/confirmationScreen/styled.js
  src/screens/paymentScreen/PaymentScreen.js
  src/screens/paymentScreen/styled.js
Due: prettier-eslint --write, eslint

feat: Page Containers
  src/screens/CartPage/CartPage.js
  src/screens/CartPage/styles.js
  src/screens/ConfirmationPage/ConfirmationPage.js
  src/screens/ConfirmationPage/styles.js
  src/screens/PaymentPage/PaymentPage.js
  src/screens/PaymentPage/styles.js
Due: prettier-eslint --write, eslint

feat: Success Message
  package-lock.json
  package.json
  src/screens/ConfirmationPage/ConfirmationPage.js
  src/screens/ConfirmationPage/styles.js
Due: prettier-eslint --write, eslint, prettier --write

Finalizado o projeto, tentei deixar responsivo desktop, mas não deu muito bom
  src/App.js
  src/components/CardProduct/styled.js
  src/components/Header/styled.js
  src/components/PaymentCard/styled.js
  src/components/ProductCard/styled.js
  src/screens/cartScreen/CartScreen.js
  src/screens/cartScreen/styled.js
  src/screens/confirmationScreen/ConfirmationScreen.js
  src/screens/confirmationScreen/styled.js
  src/screens/paymentScreen/PaymentScreen.js
  src/screens/paymentScreen/styled.js
Due: prettier-eslint --write, eslint

Correção de um bugzinho no form
  src/screens/paymentScreen/styled.js
Due: prettier-eslint --write, eslint

feat: initial commit
  package.json
  public/bnw.ico
  public/favicon.ico
  public/index.html
  src/App.css
  src/App.js
  src/App.test.js
  src/assets/images/error-page.svg
  src/assets/styled/tokens/colors.js
  src/assets/styled/tokens/fonts.js
  src/assets/styled/tokens/index.js
  src/components/Button/index.js
  src/components/Button/styled.js
  src/index.js
  src/logo.svg
  src/pages/PaymentConfirmation/index.js
  src/pages/PaymentConfirmation/styled.js
  src/pages/PaymentPage/index.js
  src/pages/PaymentPage/styled.js
  src/pages/ShoppingCart/index.js
  src/pages/ShoppingCart/styled.js
  src/router/index.js
  src/serviceWorker.js
  src/setupTests.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: added Button and Header components, added error page
  src/App.js
  src/assets/images/error-page.png
  src/assets/images/error-page.svg
  src/components/Button/index.js
  src/components/Button/styled.js
  src/components/Header/index.js
  src/components/Header/styled.js
  src/pages/ErrorPage/index.js
  src/pages/ErrorPage/styled.js
  src/router/index.js
  src/styled.js
Due: prettier-eslint --write, eslint

feat: added component Header, ShoppingCart page
  src/components/Header/index.js
  src/components/Header/styled.js
  src/components/ShoppingCart/Price/index.js
  src/components/ShoppingCart/Price/styled.js
  src/components/ShoppingCart/Products/index.js
  src/components/ShoppingCart/Products/styled.js
  src/pages/ShoppingCart/index.js
  src/pages/ShoppingCart/styled.js
  src/router/Coordinator/index.js
Due: prettier-eslint --write, eslint

fixed: bug fixed media max-device in Price and Products component
  src/components/Button/styled.js
  src/components/ShoppingCart/Price/index.js
  src/components/ShoppingCart/Price/styled.js
Due: prettier-eslint --write, eslint

feat: Payment page, fixed components Button, ShoppingCart, Text
  src/App.js
  src/assets/styled/tokens/colors.js
  src/components/Button/index.js
  src/components/Button/styled.js
  src/components/ShoppingCart/Product/index.js
  src/components/ShoppingCart/Product/styled.js
  src/components/ShoppingCart/Products/index.js
  src/components/ShoppingCart/Products/styled.js
  src/components/Text/index.js
  src/components/Text/styled.js
  src/pages/PaymentPage/index.js
  src/pages/PaymentPage/styled.js
  src/pages/ShoppingCart/index.js
  src/pages/ShoppingCart/styled.js
  src/services/APIHelper/index.js
  src/services/context/index.js
  src/services/maskCardNumber/index.js
  src/services/useForm/index.js
  src/styled.js
Due: prettier-eslint --write, eslint

Add favicon and change title
  public/favicon.ico
  public/index.html
Due: prettier --write

Add styled-components
  package-lock.json
  package.json
Due: prettier --write

Remove unnecessary items
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/logo.svg
Due: prettier-eslint --write, eslint, prettier --write

feat: finished PaymentConfirmation page and bug fixed
  src/assets/images/success.png
  src/components/Button/index.js
  src/components/Button/styled.js
  src/components/Header/index.js
  src/components/Payment/Card/index.js
  src/components/Payment/Card/styled.js
  src/components/ShoppingCart/Product/styled.js
  src/pages/ErrorPage/index.js
  src/pages/PaymentConfirmation/index.js
  src/pages/PaymentConfirmation/styled.js
  src/pages/PaymentPage/index.js
  src/pages/ShoppingCart/index.js
  src/router/index.js
  src/services/APIHelper/index.js
  src/services/maskCardNumber/index.js
Due: prettier-eslint --write, eslint

Add folder for tests
  src/tests/App.test.js
Due: prettier-eslint --write, eslint

Css folder with page styles
  src/css/index.css
  src/css/styles.js
Due: prettier-eslint --write, eslint, prettier --write

Add folder with page components
  src/components/custom-navbar.js
  src/components/product-card.js
  src/components/resume-card.js
Due: prettier-eslint --write, eslint

Created routing and configured stack
  babel.config.json
  package.json
  src/App.js
  src/components/Cart.js
  src/components/Header.js
  src/components/NotFound.js
  src/components/Payment.js
  src/components/Success.js
  src/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: adding components
  src/components/BorderContainer/index.js
  src/components/BorderContainer/styles.js
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/Card/index.js
  src/components/Card/styles.js
  src/components/Header/index.js
  src/components/Header/styles.js
  src/components/ProductHeader/index.js
  src/components/ProductHeader/styles.js
  src/components/Text/index.js
  src/components/Text/styles.js
Due: prettier-eslint --write, eslint
