Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

feat: add resume and button on payment page
  public/js/bundle.js
  src/pages/Payment.tsx
Due: prettier-eslint --write, eslint

chore: add react-hook-form
  package.json
  public/js/bundle.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add react input mask
  package.json
  src/components/Input.tsx
  src/utils/getErrorMessage.ts
  yarn.lock
Due: prettier --write

feat: add form in payment page
  public/js/bundle.js
  src/components/Button.tsx
  src/components/payment/PaymentFields.tsx
  src/pages/Payment.tsx
  src/style/stitches.config.ts
  src/utils/normalizeCardExpiringDate.ts
  src/utils/normalizeCardNumber.ts
Due: prettier-eslint --write, eslint

feat: add initial structure for confirmation page
  public/js/bundle.js
  src/components/products/ProductList.tsx
  src/pages/Cart.tsx
  src/pages/Payment.tsx
  src/pages/Success.tsx
Due: prettier-eslint --write, eslint

chore: add react icons
  package.json
  src/components/success/SuccessMessage.tsx
  yarn.lock
Due: prettier --write

feat: finish the confirmation page
  public/js/bundle.js
  src/components/Container.tsx
  src/components/payment/PaymentDetail.tsx
  src/components/success/SuccessMessage.tsx
  src/contexts/payment.tsx
  src/entities/Payment.ts
  src/index.tsx
  src/pages/Payment.tsx
  src/pages/Success.tsx
Due: prettier-eslint --write, eslint

style: add responsivity in pages
  .vscode/settings.json
  public/js/bundle.js
  src/components/Container.tsx
  src/components/Input.tsx
  src/components/payment/PaymentFields.tsx
  src/components/resume/ResumeValues.tsx
  src/pages/Cart.tsx
  src/style/stitches.config.ts
Due: prettier-eslint --write, eslint, prettier --write

chore: remove cache from gitignore
  .gitignore
  .vscode/settings.json
Due: prettier --write

test: add tests in components and functions
  jest.config.js
  public/js/bundle.js
  src/components/Box.test.tsx
  src/components/Box.tsx
  src/components/Button.test.tsx
  src/components/Button.tsx
  src/components/Input.test.tsx
  src/components/Input.tsx
  src/utils/formaNumberToReal.test.ts
  src/utils/getErrorMessage.test .ts
  src/utils/normalizeCardExpiringDate.test.ts
  src/utils/normalizeCardNumber.test.ts
Due: prettier-eslint --write, eslint

chore: add and configure docker to run the app in container
  .dockerignore
  Dockerfile
  README.md
  package.json
  public/js/bundle.js
Due: prettier-eslint --write, eslint, prettier --write

feat: redirect to cart page when access directly other pages
  public/js/bundle.js
  src/pages/Payment.tsx
  src/pages/Success.tsx
Due: prettier-eslint --write, eslint

docs: update readme with instructions to run
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

feat: remove unused files
  public/favicon.ico
  src/App.css
  src/App.test.js
  src/index.css
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

style: add favicon and fit index title
  public/favicon.ico
  public/index.html
Due: prettier --write

refactor: adjust unused imports
  src/App.js
  src/index.js
Due: prettier-eslint --write, eslint

chore: add axios and styled-components
  package.json
  yarn.lock
Due: prettier --write

docs: update tech stack, axios
  README.md
Due: prettier --write

docs: add tip for run project
  README.md
Due: prettier --write

style: reset css+ base styles
  src/index.js
  src/styles/generic/Reset.js
  src/styles/global/Base.js
  src/styles/global/Container.js
Due: prettier-eslint --write, eslint

style:create styles for components
  src/styles/Confirmation/Confirmation.js
  src/styles/Payment/PaymentsItens.js
  src/styles/Products/Products.js
  src/styles/StatusBar/StatusBar.js
  src/styles/SubTotal/SubTotal.js
Due: prettier-eslint --write, eslint

feat:utils for to manipulate data
  src/utils/index.js
Due: prettier-eslint --write, eslint

feat:create main components for reuse
  src/components/Main.jsx
  src/components/ProductItems/ProductItems.jsx
  src/components/SubTotal/SubTotal.jsx
Due: none

feat:create hook for errors and models and context
  src/contexts/ValidationsCreditCard.js
  src/hooks/useErros.js
  src/models/creditCard.js
Due: prettier-eslint --write, eslint

feat:creation of the main pages
  src/pages/Cart.jsx
  src/pages/Confirmation.jsx
  src/pages/Payment.jsx
Due: none

feat: create main App.jsx and add assets
  src/App.js
  src/App.jsx
  src/assets/logoSuccess.png
Due: prettier-eslint --write, eslint

fix: favicon ref
  public/index.html
Due: prettier --write

fix: validation text lost reference
  src/hooks/useErros.js
  src/models/creditCard.js
Due: prettier-eslint --write, eslint

docs: update break lines
  README.md
Due: prettier --write

docs: update final message
  README.md
Due: prettier --write

feat(*): base structure
  .eslintrc.js
  .github/workflows/fortify.yml
  README.md
  package-lock.json
  package.json
  src/App.spec.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/react-app-env.d.ts
  src/serviceWorker.ts
  src/setupTests.ts
  teste.txt
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat(*): app routes and base module structure
  package.json
  src/App.css
  src/App.spec.tsx
  src/App.tsx
  src/components/button/button.style.ts
  src/components/global-style/global.style.ts
  src/components/index.ts
  src/components/menu/menu.component.tsx
  src/components/menu/menu.style.ts
  src/index.css
  src/index.tsx
  src/modules/app/app.component.tsx
  src/modules/cart/cart.component.tsx
  src/modules/confirm/confirm.component.tsx
  src/modules/index.ts
  src/modules/payment/payment.component.tsx
  teste.txt
  yarn.lock
Due: prettier --write

feat(steps): steps component
  src/components/global-style/global.style.ts
  src/components/index.ts
  src/components/menu/menu.component.tsx
  src/components/menu/menu.style.ts
  src/components/steps/steps.component.tsx
  src/components/steps/steps.style.ts
  src/modules/app/app.component.tsx
Due: none

feat(cart): card and title components
  .prettierrc
  src/components/card/card.style.ts
  src/components/index.ts
  src/components/title/title.styled.ts
  src/modules/cart/cart.component.tsx
Due: none

feat(*): improve eslint setup
  .eslintrc.js
  .prettierrc
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat(*): improve prettier setup
  .prettierignore
  src/serviceWorker.ts
Due: none

feat(cart): product card component
  src/components/index.ts
  src/components/product/product.component.tsx
  src/components/product/product.interface.ts
  src/components/product/product.style.ts
  src/helpers/format-money.function.ts
  src/helpers/index.ts
  src/modules/cart/cart.component.tsx
Due: none

feat(cart): summary component
  src/components/index.ts
  src/components/summary/summary.component.tsx
  src/components/summary/summary.style.ts
  src/modules/cart/cart.component.tsx
Due: none

feat(cart): button
  src/components/button/button.style.ts
  src/modules/cart/cart.component.tsx
Due: none

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
