Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

[FEAT] created Button component
  src/components/Button/index.js
  src/components/Button/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created CardData component
  src/components/CardData/index.js
  src/components/CardData/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created ContainerBox component
  src/components/ContainerBox/index.js
  src/components/ContainerBox/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created Form component
  src/components/Form/index.js
  src/components/Form/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created InputText component
  src/components/InputText/index.js
  src/components/InputText/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created ProductList component
  src/components/ProductList/index.js
  src/components/ProductList/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created ItemCard component
  src/components/ItemCard/index.js
  src/components/ItemCard/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created MessageBox component
  src/components/MessageBox/index.js
  src/components/MessageBox/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created NavHeaderStep component
  src/components/NavHeaderStep/index.js
  src/components/NavHeaderStep/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created ValueReviewCart component
  src/components/ValueReviewCart/index.js
  src/components/ValueReviewCart/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] created Cart page
  src/pages/Cart/index.js
Due: prettier-eslint --write, eslint

[FEAT] created Payment page
  src/pages/Payment/index.js
Due: prettier-eslint --write, eslint

[FEAT] created Success page
  src/pages/Success/index.js
Due: prettier-eslint --write, eslint

ci: add message ruler
  commitlint.config.js
  package-lock.json
  package.json
Due: prettier-eslint --write, eslint, prettier --write

feat: add style-components
  package-lock.json
  package.json
Due: prettier --write

refactor: update react-scripts
  package-lock.json
  package.json
Due: prettier --write

ci: add eslint and prettier rules to ensure code quality
  .eslintrc.json
  .prettierrc
  .vscode/extensions.json
  package-lock.json
  package.json
Due: prettier --write

style: fix eslint errors
  src/App.js
  src/App.test.js
  src/index.js
  src/serviceWorker.js
Due: prettier-eslint --write, eslint

feat: add default font-family
  public/index.html
  public/manifest.json
  src/App.js
  src/App.test.js
  src/fonts/helvetica-neue-bold.woff2
  src/fonts/helvetica-neue-regular.woff2
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

feat: add Button component Add styled components config
  package-lock.json
  package.json
  src/App.css
  src/components/button/index.js
  src/components/index.js
  src/index.css
  src/index.js
  src/logo.svg
  src/styles/theme.js
Due: prettier-eslint --write, eslint, prettier --write

ci: use glob in lint task
  package.json
Due: prettier --write

feat: add button spec Add jest configs
  .eslintrc.json
  package-lock.json
  package.json
  src/components/button/__snapshots__/button.spec.js.snap
  src/components/button/button.spec.js
  src/index.js
  src/service-worker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add navigation between pages
  package-lock.json
  package.json
  src/app.js
  src/index.js
  src/pages/checkout-cart/index.js
  src/pages/checkout-confirmation/index.js
  src/pages/checkout-payment/index.js
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

refactor: remove google fonts
  public/index.html
Due: prettier --write

feat: add Menu Component
  src/app.js
  src/components/index.js
  src/components/menu/__snapshots__/menu.spec.js.snap
  src/components/menu/index.js
  src/components/menu/menu.spec.js
Due: prettier-eslint --write, eslint

feat: implement code-splitting
  .eslintrc.json
  package-lock.json
  package.json
  src/app.js
  src/components/index.js
  src/components/skeleton-page/__snapshots__/skeleton-page.spec.js.snap
  src/components/skeleton-page/index.js
  src/components/skeleton-page/skeleton-page.spec.js
  src/index.js
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat(n): implement header for desktop version
  src/components/container/__snapshots__/container.spec.js.snap
  src/components/container/container.spec.js
  src/components/container/index.js
  src/components/menu/__snapshots__/menu.spec.js.snap
  src/components/menu/index.js
  src/logo.svg
  src/pages/checkout-cart/index.js
  src/styles/theme.js
Due: prettier-eslint --write, eslint

refactor: navigation and tests
  .eslintrc.json
  package.json
  src/__mocks__/pages.js
  src/app.js
  src/components/button/__snapshots__/button.spec.js.snap
  src/components/button/index.js
  src/components/index.js
  src/components/layout-container/index.js
  src/components/layout-container/layout-container.spec.js
  src/components/menu/__snapshots__/menu.spec.js.snap
  src/components/menu/index.js
  src/components/skeleton-page/__snapshots__/skeleton-page.spec.js.snap
  src/components/skeleton-page/index.js
  src/index.css
  src/index.js
  src/pages.js
  src/pages/checkout-cart/index.js
  src/pages/checkout-confirmation/index.js
  src/pages/checkout-payment/index.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add skeleton menu
  src/components/skeleton-page/__snapshots__/skeleton-page.spec.js.snap
  src/components/skeleton-page/index.js
Due: prettier-eslint --write, eslint

feat: add loader store
  package-lock.json
  package.json
  src/components/layout-container/index.js
  src/components/layout-container/layout-container.spec.js
  src/index.js
  src/lib/test-utils/mocked-store.js
  src/store/ducks/__tests__/loader.js
  src/store/ducks/loader.js
  src/store/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add cart product listing
  .eslintrc.json
  package-lock.json
  package.json
  src/components/cardboard/__snapshots__/cardboard.spec.js.snap
  src/components/cardboard/cardboard.spec.js
  src/components/cardboard/index.js
  src/components/cart-products-container/cart-products-container.spec.js
  src/components/cart-products-container/index.js
  src/components/checkout-container/checkout-container.spec.js
  src/components/checkout-container/index.js
  src/components/index.js
  src/components/product/__snapshots__/product.spec.js.snap
  src/components/product/index.js
  src/components/product/product.spec.js
  src/components/title/__snapshots__/title.spec.js.snap
  src/components/title/index.js
  src/components/title/title.spec.js
  src/index.js
  src/lib/__tests__/currency.js
  src/lib/currency.js
  src/lib/test-utils/mocked-store.js
  src/pages/checkout-cart/index.js
  src/setupTests.js
  src/store/ducks/__tests__/cart.js
  src/store/ducks/cart.js
  src/store/index.js
  src/styles/theme.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add CartResumeContainer component
  package.json
  src/components/cardboard/__snapshots__/cardboard.spec.js.snap
  src/components/cardboard/cardboard.spec.js
  src/components/cardboard/index.js
  src/components/cart-resume-container/__snapshots__/cart-resume-container.spec.js.snap
  src/components/cart-resume-container/cart-resume-container.spec.js
  src/components/cart-resume-container/index.js
  src/components/index.js
  src/lib/test-utils/mocked-store.js
  src/pages/checkout-cart/index.js
  src/store/ducks/__tests__/cart.js
  src/store/ducks/cart.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add padding-bottom in container component
  src/components/container/__snapshots__/container.spec.js.snap
  src/components/container/index.js
  src/components/skeleton-page/__snapshots__/skeleton-page.spec.js.snap
Due: prettier-eslint --write, eslint

feat: add payment page
  package-lock.json
  package.json
  src/components/button/__snapshots__/button.spec.js.snap
  src/components/button/index.js
  src/components/cart-resume-container/__snapshots__/cart-resume-container.spec.js.snap
  src/components/cart-resume-container/index.js
  src/components/index.js
  src/components/payment-form-container/index.js
  src/components/product/__snapshots__/product.spec.js.snap
  src/components/product/index.js
  src/components/text-field/index.js
  src/components/text-field/text-field.spec.js
  src/lib/__tests__/yup-transform-date.js
  src/lib/yup-transform-date.js
  src/pages/checkout-cart/index.js
  src/pages/checkout-payment/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add checkout integration in the store
  src/components/cart-products-container/index.js
  src/components/checkout-container/checkout-container.spec.js
  src/components/payment-form-container/index.js
  src/components/payment-form-container/payment-form-container.spec.js
  src/pages/checkout-cart/index.js
  src/pages/checkout-confirmation/index.js
  src/store/ducks/__tests__/checkout.js
  src/store/ducks/checkout.js
  src/store/index.js
Due: prettier-eslint --write, eslint

fix: add more scenarios in field validation
  src/components/payment-form-container/index.js
  src/components/payment-form-container/payment-form-container.spec.js
  src/components/text-field/index.js
  src/lib/__tests__/yup-transform-date.js
  src/lib/yup-transform-date.js
Due: prettier-eslint --write, eslint

feat: add component to show payment data
  src/components/index.js
  src/components/payment-data-container/index.js
  src/components/payment-form-container/index.js
  src/components/payment-form-container/payment-form-container.spec.js
  src/lib/__tests__/mask-card-number.js
  src/lib/mask-card-number.js
  src/pages/checkout-confirmation/index.js
Due: prettier-eslint --write, eslint

fix: scroll-x in header
  src/components/menu/__snapshots__/menu.spec.js.snap
  src/components/menu/index.js
Due: prettier-eslint --write, eslint

feat: add SucessfulMessage component in confirmation page
  package-lock.json
  package.json
  src/components/index.js
  src/components/successful-message/__snapshots__/sucessful-message.spec.js.snap
  src/components/successful-message/check.png
  src/components/successful-message/index.js
  src/components/successful-message/sucessful-message.spec.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add test to payment-data-container
  src/components/payment-data-container/__snapshots__/payment-data-container.spec.js.snap
  src/components/payment-data-container/payment-data-container.spec.js
  src/lib/test-utils/mocked-store.js
  src/pages/checkout-confirmation/index.js
Due: prettier-eslint --write, eslint
