Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

refactor: move to named export to default exports
  apps/cart/index.tsx
  apps/cart/src/App.tsx
  apps/cart/src/components/Button.tsx
  apps/cart/src/components/CartInformation.tsx
  apps/cart/src/components/CreditCardForm.tsx
  apps/cart/src/components/Header.tsx
  apps/cart/src/components/Input.tsx
  apps/cart/src/components/InputMasked.tsx
  apps/cart/src/components/Layout.tsx
  apps/cart/src/components/ListOfProducts.tsx
  apps/cart/src/components/ListProducts.tsx
  apps/cart/src/components/PaymentInformation.tsx
  apps/cart/src/components/Product.tsx
  apps/cart/src/components/SuccessfullyPaymentCard.tsx
  apps/cart/src/components/schema.ts
  apps/cart/src/contexts/CartContext.tsx
  apps/cart/src/helpers/formatCurrency.ts
  apps/cart/src/helpers/obfuscateCreditCardNumber.ts
  apps/cart/src/hooks/useCartProvider.ts
  apps/cart/src/hooks/usePortalElement.ts
Due: none

feat: create payment app
  apps/payment/.editorconfig
  apps/payment/.eslintrc.json
  apps/payment/.nvmrc
  apps/payment/.prettierrc.json
  apps/payment/index.html
  apps/payment/index.tsx
  apps/payment/main.css
  apps/payment/package.json
  apps/payment/postcss.config.js
  apps/payment/src/App.tsx
  apps/payment/src/components/Button.tsx
  apps/payment/src/components/CartInformation.tsx
  apps/payment/src/components/CreditCardForm.tsx
  apps/payment/src/components/Header.tsx
  apps/payment/src/components/Input.tsx
  apps/payment/src/components/InputMasked.tsx
  apps/payment/src/components/Layout.tsx
  apps/payment/src/components/ListOfProducts.tsx
  apps/payment/src/components/ListProducts.tsx
  apps/payment/src/components/PaymentInformation.tsx
  apps/payment/src/components/Product.tsx
  apps/payment/src/components/SuccessfullyPaymentCard.tsx
  apps/payment/src/components/schema.ts
  apps/payment/src/contexts/CartContext.tsx
  apps/payment/src/helpers/formatCurrency.ts
  apps/payment/src/helpers/obfuscateCreditCardNumber.ts
  apps/payment/src/hooks/useCartProvider.ts
  apps/payment/src/hooks/usePortalElement.ts
  apps/payment/src/models/Cart.ts
  apps/payment/src/models/CreditCard.ts
  apps/payment/src/models/Product.ts
  apps/payment/src/services/api.ts
  apps/payment/tailwind.config.js
  apps/payment/tsconfig.json
  apps/payment/webpack.config.js
  package.json
  todo.md
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create module federation setup
  apps/cart/.eslintrc.json
  apps/cart/bootstrap.tsx
  apps/cart/index.tsx
  apps/cart/src/App.tsx
  apps/cart/src/components/CreditCardFormFederated.tsx
  apps/cart/src/types/FederatedComponents.d.ts
  apps/cart/tsconfig.json
  apps/cart/webpack.config.js
  apps/payment/.eslintrc.json
  apps/payment/bootstrap.tsx
  apps/payment/index.tsx
  apps/payment/src/App.tsx
  apps/payment/src/components/Button.tsx
  apps/payment/src/components/CartInformation.tsx
  apps/payment/src/components/CreditCardForm.tsx
  apps/payment/src/components/Header.tsx
  apps/payment/src/components/Input.tsx
  apps/payment/src/components/InputMasked.tsx
  apps/payment/src/components/Layout.tsx
  apps/payment/src/components/ListOfProducts.tsx
  apps/payment/src/components/ListProducts.tsx
  apps/payment/src/components/PaymentInformation.tsx
  apps/payment/src/components/Product.tsx
  apps/payment/src/components/SuccessfullyPaymentCard.tsx
  apps/payment/src/contexts/CartContext.tsx
  apps/payment/src/helpers/formatCurrency.ts
  apps/payment/src/hooks/useCartProvider.ts
  apps/payment/src/hooks/usePortalElement.ts
  apps/payment/src/models/Cart.ts
  apps/payment/src/models/CreditCard.ts
  apps/payment/src/models/Product.ts
  apps/payment/src/services/api.ts
  apps/payment/src/types/FederatedComponents.d.ts
  apps/payment/tsconfig.json
  apps/payment/webpack.config.js
Due: prettier-eslint --write, eslint, prettier --write

feat: create information app
  apps/information/.editorconfig
  apps/information/.eslintrc.json
  apps/information/.nvmrc
  apps/information/.prettierrc.json
  apps/information/bootstrap.tsx
  apps/information/index.html
  apps/information/index.tsx
  apps/information/main.css
  apps/information/package.json
  apps/information/postcss.config.js
  apps/information/src/App.tsx
  apps/information/src/components/CreditCardForm.tsx
  apps/information/src/components/InputMasked.tsx
  apps/information/src/components/schema.ts
  apps/information/src/helpers/obfuscateCreditCardNumber.ts
  apps/information/src/types/FederatedComponents.d.ts
  apps/information/tailwind.config.js
  apps/information/tsconfig.json
  apps/information/webpack.config.js
  package.json
  todo.md
Due: prettier-eslint --write, eslint, prettier --write

refactor: organize dependencies
  apps/cart/.eslintrc.json
  apps/cart/src/App.tsx
  apps/cart/src/components/CreditCardForm.tsx
  apps/cart/src/components/InputMasked.tsx
  apps/cart/src/components/ListProducts.tsx
  apps/cart/src/components/PaymentInformationFederated.tsx
  apps/cart/src/components/schema.ts
  apps/cart/src/helpers/obfuscateCreditCardNumber.ts
  apps/cart/src/models/Cart.ts
  apps/cart/src/models/CreditCard.ts
  apps/cart/src/models/Product.ts
  apps/cart/src/types/FederatedComponents.d.ts
  apps/cart/tailwind.config.js
  apps/cart/webpack.config.js
  apps/information/.eslintrc.json
  apps/information/index.html
  apps/information/src/App.tsx
  apps/information/src/components/CreditCardForm.tsx
  apps/information/src/components/InputMasked.tsx
  apps/information/src/components/ListOfProducts.tsx
  apps/information/src/components/PaymentInformation.tsx
  apps/information/src/components/SuccessfullyPaymentCard.tsx
  apps/information/src/components/schema.ts
  apps/information/src/helpers/obfuscateCreditCardNumber.ts
  apps/information/src/types/FederatedComponents.d.ts
  apps/information/tailwind.config.js
  apps/information/webpack.config.js
  apps/payment/src/components/CreditCardForm.tsx
  apps/payment/src/components/Input.tsx
  apps/payment/src/components/InputMasked.tsx
  apps/payment/src/types/FederatedComponents.d.ts
  apps/payment/tailwind.config.js
  apps/payment/webpack.config.js
  todo.md
Due: prettier-eslint --write, eslint, prettier --write

chore: organize dependencies for all apps
  apps/cart/package.json
  apps/cart/webpack.config.js
  apps/information/package.json
Due: prettier-eslint --write, eslint, prettier --write

fix: extract css in MFE
  apps/cart/bootstrap.tsx
  apps/cart/src/components/Button.tsx
  apps/cart/src/components/ListProducts.tsx
  apps/cart/src/contexts/CartContext.tsx
  apps/cart/src/services/api.ts
  apps/cart/src/types/FederatedComponents.d.ts
  apps/cart/tailwind.config.js
  apps/information/bootstrap.tsx
  apps/information/tailwind.config.js
  apps/payment/bootstrap.tsx
  apps/payment/tailwind.config.js
  todo.md
Due: prettier-eslint --write, eslint, prettier --write

feat: create jest setup
  .gitignore
  apps/information/jest.config.js
  apps/information/package.json
  apps/information/src/setupTests.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

test: create unit test for all components
  apps/information/.eslintrc.json
  apps/information/jest.config.js
  apps/information/src/__mocks__/Button.tsx
  apps/information/src/__mocks__/CartInformation.tsx
  apps/information/src/__mocks__/Layout.tsx
  apps/information/src/__mocks__/Product.tsx
  apps/information/src/__mocks__/cartData.ts
  apps/information/src/__mocks__/obfuscateCreditCardNumber.ts
  apps/information/src/__mocks__/useCartProvider.ts
  apps/information/src/components/ListOfProducts.spec.tsx
  apps/information/src/components/PaymentInformation.spec.tsx
  apps/information/src/components/SuccessfullyPaymentCard.spec.tsx
  apps/information/src/components/__snapshots__/ListOfProducts.spec.tsx.snap
  apps/information/src/components/__snapshots__/PaymentInformation.spec.tsx.snap
  apps/information/src/components/__snapshots__/SuccessfullyPaymentCard.spec.tsx.snap
Due: prettier-eslint --write, eslint, prettier --write

test: create unit test for all components
  apps/payment/.eslintrc.json
  apps/payment/jest.config.js
  apps/payment/package.json
  apps/payment/src/__mocks__/Button.tsx
  apps/payment/src/__mocks__/CartInformation.tsx
  apps/payment/src/__mocks__/Layout.tsx
  apps/payment/src/__mocks__/useCartProvider.ts
  apps/payment/src/components/CreditCardForm.spec.tsx
  apps/payment/src/components/Input.spec.tsx
  apps/payment/src/components/InputMasked.spec.tsx
  apps/payment/src/components/__snapshots__/CreditCardForm.spec.tsx.snap
  apps/payment/src/components/__snapshots__/Input.spec.tsx.snap
  apps/payment/src/components/schema.spec.ts
  apps/payment/src/helpers/obfuscateCreditCardNumber.spec.ts
  apps/payment/src/setupTests.ts
Due: prettier-eslint --write, eslint, prettier --write

test: create unit test for all components
  apps/cart/.eslintrc.json
  apps/cart/jest.config.js
  apps/cart/package.json
  apps/cart/src/__mocks__/Button.tsx
  apps/cart/src/__mocks__/CartInformation.tsx
  apps/cart/src/__mocks__/Layout.tsx
  apps/cart/src/__mocks__/Product.tsx
  apps/cart/src/__mocks__/cartData.ts
  apps/cart/src/__mocks__/useCartProvider.ts
  apps/cart/src/components/Button.spec.tsx
  apps/cart/src/components/CartInformation.spec.tsx
  apps/cart/src/components/Header.spec.tsx
  apps/cart/src/components/Layout.spec.tsx
  apps/cart/src/components/Layout.tsx
  apps/cart/src/components/ListProducts.spec.tsx
  apps/cart/src/components/Product.spec.tsx
  apps/cart/src/components/__snapshots__/Button.spec.tsx.snap
  apps/cart/src/components/__snapshots__/CartInformation.spec.tsx.snap
  apps/cart/src/components/__snapshots__/Header.spec.tsx.snap
  apps/cart/src/components/__snapshots__/Layout.spec.tsx.snap
  apps/cart/src/components/__snapshots__/ListProducts.spec.tsx.snap
  apps/cart/src/components/__snapshots__/Product.spec.tsx.snap
  apps/cart/src/contexts/CartContext.spec.tsx
  apps/cart/src/contexts/CartContext.tsx
  apps/cart/src/helpers/formatCurrency.spec.ts
  apps/cart/src/services/api.spec.ts
  apps/cart/src/services/api.ts
  apps/cart/src/setupTests.ts
  apps/payment/package.json
  todo.md
Due: prettier-eslint --write, eslint, prettier --write

build: add more dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: create global style
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/global.ts
  src/theme.ts
  src/types/styled-components.d.ts
Due: prettier --write

feat: create react-query configuration
  src/main.tsx
Due: none

feat: create get bag products query
  src/queries/cartQueries.ts
  src/services/api.ts
Due: none

feat: create bag state
  src/store/useBagStore.ts
Due: none

feat: create form state
  src/store/useFormStore.ts
Due: none

feat: create navigation state
  src/store/useNavigateStore.ts
Due: none

feat: create button component
  src/components/Button/Button.test.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.ts
Due: none

feat: create text component
  src/components/Text/Text.test.tsx
  src/components/Text/index.tsx
  src/components/Text/styled.ts
Due: none

feat: create MainContent component
  src/components/MainContent/MainContent.test.tsx
  src/components/MainContent/index.tsx
  src/components/MainContent/styles.ts
Due: none

feat: create price formatter util
  src/utils/priceUtils.ts
Due: none

feat: create PaymentResume component
  src/components/PaymentResume/PaymentResume.test.tsx
  src/components/PaymentResume/index.tsx
  src/components/PaymentResume/styles.ts
Due: none

feat: create NavBar component
  src/components/NavBar/NavBar.test.tsx
  src/components/NavBar/NavItem/NavItem.test.tsx
  src/components/NavBar/NavItem/index.tsx
  src/components/NavBar/NavItem/styled.ts
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.ts
Due: none

feat: create ProductList component
  src/components/ProductsList/ProductList.test.tsx
  src/components/ProductsList/index.tsx
  src/components/ProductsList/style.ts
Due: none

feat: create Product component
  src/components/ProductsList/Product/Product.test.tsx
  src/components/ProductsList/Product/index.tsx
  src/components/ProductsList/Product/styles.ts
Due: none

feat: create PurchaseResume component
  src/components/PurchaseResume/PurchaseResume.test.tsx
  src/components/PurchaseResume/index.tsx
  src/components/PurchaseResume/styles.ts
Due: none

feat: create mask util
  src/utils/maskUtil.ts
Due: none

feat: create PaymentForm component
  src/components/PaymentForm/PaymentForm.test.tsx
  src/components/PaymentForm/index.tsx
  src/components/PaymentForm/styles.ts
Due: none

feat: create cart page
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
Due: none

feat: create bag screen
  src/pages/Cart/screens/Bag/index.tsx
Due: none

feat: create payment screen
  src/pages/Cart/screens/Payment/index.tsx
Due: none

feat: create confirmation screen
  src/pages/Cart/screens/Confirmation/index.tsx
Due: none

build: add jest-styled-components on test setup
  src/test/setup-test.ts
Due: none

chore: add enviroment variables
  .gitignore
  apps/cart/.env.example
  apps/cart/.eslintrc.json
  apps/cart/jest.config.js
  apps/cart/package.json
  apps/cart/src/App.tsx
  apps/cart/src/constants/env.ts
  apps/cart/src/constants/routes.ts
  apps/cart/src/services/api.ts
  apps/cart/webpack.config.js
  apps/information/.env.example
  apps/information/.eslintrc.json
  apps/information/jest.config.js
  apps/information/package.json
  apps/information/src/constants/env.ts
  apps/information/webpack.config.js
  apps/payment/.env.example
  apps/payment/.eslintrc.json
  apps/payment/jest.config.js
  apps/payment/package.json
  apps/payment/src/constants/env.ts
  apps/payment/webpack.config.js
  todo.md
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

ci: add deploy cart app
  .github/workflows/deploy.yml
  apps/cart/.gitignore
Due: none

ci: add create env file step
  .github/workflows/deploy.yml
Due: none
