Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

fixing cart info gap layout
  apps/web/src/components/cart-info/cart-info.tsx
Due: none

vercel json setup
  .gitignore
  apps/web/vercel.json
  vercel.json
Due: prettier --write

readme
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

update readme
  README.md
Due: prettier --write

removing eslint-react-fast-fresh
  package-lock.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
Due: prettier-eslint --write, eslint, prettier --write

fixing name input validation to trim value
  apps/web/src/components/payment-tab/payment-tab.tsx
Due: none

adjusting confirmation title on mobile
  apps/web/src/components/confirmation-tab/confirmation-tab.tsx
Due: none

chore: config eslint
  .eslintrc.cjs
  .prettierrc
  package.json
  yarn.lock
Due: prettier --write

feat: add react-router and styled-components
  package.json
  src/App.css
  src/App.tsx
  src/GlobalStyles.ts
  src/index.css
  src/main.tsx
  src/pages/bag/index.tsx
  src/pages/confirmation/index.tsx
  src/pages/payment/index.tsx
  src/utils/theme.ts
  yarn.lock
Due: prettier --write

feat: Define theme and add the Navbar component
  .prettierrc
  package.json
  src/App.tsx
  src/GlobalStyles.ts
  src/components/Card/index.tsx
  src/components/Card/styles.ts
  src/components/Checkout/index.tsx
  src/components/Checkout/styles.ts
  src/components/Navbar/index.tsx
  src/components/Navbar/styles.ts
  src/types/theme.d.ts
  src/utils/theme.ts
  yarn.lock
Due: prettier --write

chore: change in project structure adding my preferences
  index.html
  jest.config.js
  package-lock.json
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/main.tsx
  src/test/setup-test.ts
  test/jest.setup.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create theme structure
  jest.config.js
  src/@types/styled-components.d.ts
  src/App.tsx
  src/theme/Theme.spec.tsx
  src/theme/index.tsx
  src/theme/styles/global.ts
  src/theme/styles/themes.ts
  tsconfig.json
  vite.config.ts
Due: prettier-eslint --write, eslint, prettier --write

feat: create service fetch api and hooks
  jest.config.js
  package-lock.json
  package.json
  src/@types/responses/bag.ts
  src/App.tsx
  src/hooks/index.ts
  src/hooks/useFetchBag.spec.tsx
  src/hooks/useFetchBag.ts
  src/services/fetch.spec.ts
  src/services/fetch.ts
  test/render.tsx
  tsconfig.json
  vite.config.ts
Due: prettier-eslint --write, eslint, prettier --write

feat: add react-query and load the cart items
  .env
  .gitignore
  package.json
  src/App.tsx
  src/GlobalStyles.ts
  src/components/Card/styles.ts
  src/components/Navbar/styles.ts
  src/components/Product/index.tsx
  src/components/Product/styles.ts
  src/components/ProductsList/Loader.tsx
  src/components/ProductsList/index.tsx
  src/components/ProductsList/styles.ts
  src/context/Cart.tsx
  src/hooks/api/useGetCart.ts
  src/pages/bag/index.tsx
  src/types/api.ts
  src/utils/format.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

feat: template creation with routes and tipography component
  jest.config.js
  src/App.tsx
  src/Router.tsx
  src/components/Typography/Typography.spec.tsx
  src/components/Typography/Typography.styled.ts
  src/components/Typography/index.tsx
  src/hooks/index.ts
  src/hooks/useFetchBag.spec.tsx
  src/template/Template.spec.tsx
  src/template/Templete.styled.ts
  src/template/index.tsx
  src/theme/styles/themes.ts
  test/render.tsx
  tsconfig.json
  vite.config.ts
Due: prettier-eslint --write, eslint, prettier --write

feat: currency formatting module creation
  jest.config.js
  src/modules/formatter.spec.ts
  src/modules/formatter.ts
  src/pages/.gitkeep
  tsconfig.json
  vite.config.ts
Due: prettier-eslint --write, eslint, prettier --write

feat: creation of the other text styles and creation of the button component
  src/components/Button/Button.spec.tsx
  src/components/Button/Button.styled.ts
  src/components/Button/index.tsx
  src/components/Typography/Typography.spec.tsx
  src/components/Typography/Typography.styled.ts
  src/components/Typography/index.tsx
  src/theme/styles/themes.ts
  test/mock.ts
Due: none

feat: creation of the bag page along with the necessary components
  src/Router.tsx
  src/components/Card/Card.spec.tsx
  src/components/Card/Card.styled.ts
  src/components/Card/__mocks__/index.tsx
  src/components/Card/index.tsx
  src/components/Resume/Resume.spec.tsx
  src/components/Resume/Resume.styled.ts
  src/components/Resume/__mocks__/index.tsx
  src/components/Resume/index.tsx
  src/components/Section/Section.spec.tsx
  src/components/Section/Section.styled.ts
  src/components/Section/index.tsx
  src/components/Typography/__mocks__/index.tsx
  src/pages/.gitkeep
  src/pages/Bag/Bag.spec.tsx
  src/pages/Bag/index.tsx
Due: none

feat: add cart empty state and show cart values
  package.json
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/Checkout/index.tsx
  src/components/CheckoutSummary/index.tsx
  src/components/CheckoutSummary/styles.ts
  src/components/ContentWrapper/index.tsx
  src/components/ContentWrapper/styles.ts
  src/components/EmptyCart/index.tsx
  src/components/EmptyCart/styles.ts
  src/components/PageContainer/index.tsx
  src/components/PageContainer/styles.ts
  src/components/Product/styles.ts
  src/components/ProductsList/index.tsx
  src/pages/bag/index.tsx
  yarn.lock
Due: prettier --write

feat: create input component and credit card form
  package.json
  src/components/Card/index.tsx
  src/components/Card/styles.ts
  src/components/CheckoutSummary/index.tsx
  src/components/CreditCardForm/index.tsx
  src/components/CreditCardForm/styles.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/pages/bag/index.tsx
  src/pages/payment/index.tsx
  yarn.lock
Due: prettier --write

feat: add credit card form validation with zod + react hook form
  package.json
  src/components/CreditCardForm/index.tsx
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/pages/payment/index.tsx
  yarn.lock
Due: prettier --write

first commit
  README.md
Due: prettier --write

feat: create the checkout confirmation screen
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/CheckoutConfirmation/index.tsx
  src/components/CheckoutConfirmation/styles.ts
  src/components/CheckoutSummary/index.tsx
  src/components/ContentWrapper/styles.ts
  src/components/CreditCardForm/index.tsx
  src/components/Product/index.tsx
  src/components/ProductsList/index.tsx
  src/pages/bag/index.tsx
  src/pages/confirmation/index.tsx
  src/pages/payment/index.tsx
  src/utils/format.ts
Due: none

Initialize project using Create React App
  .gitignore
  README.md
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/reportWebVitals.ts
  src/setupTests.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

style: decrease the space between the input fields
  src/components/CreditCardForm/styles.ts
Due: none

feat: creating the context to persist data and test refactoring
  jest.config.js
  src/@types/form/payment.ts
  src/components/Card/Card.spec.tsx
  src/components/Card/__mocks__/index.tsx
  src/components/Resume/Resume.spec.tsx
  src/components/Resume/__mocks__/index.tsx
  src/components/Section/Section.spec.tsx
  src/components/Section/index.tsx
  src/components/Typography/Typography.spec.tsx
  src/components/Typography/__mocks__/index.tsx
  src/components/Typography/index.tsx
  src/context/BagContext/actions.ts
  src/context/BagContext/context.ts
  src/context/BagContext/hooks/useBagContext.ts
  src/context/BagContext/index.tsx
  src/context/BagContext/reducer.ts
  src/context/BagContext/test/BagContext.spec.tsx
  src/context/BagContext/types.ts
  src/hooks/useFetchBag.ts
  src/pages/Bag/Bag.spec.tsx
  src/pages/Bag/index.tsx
  src/template/Template.spec.tsx
  test/mock.ts
  tsconfig.json
  vite.config.ts
Due: prettier-eslint --write, eslint, prettier --write

style: fix style on greater resolutions
  src/components/CheckoutSummary/styles.ts
  src/components/ContentWrapper/styles.ts
  src/components/PageContainer/styles.ts
Due: none

test: <Button />
  package.json
  src/App.test.tsx
  src/components/Button/index.test.tsx
  src/test/setup-test.ts
  src/test/setup-test.tsx
  vite.config.ts
  yarn.lock
Due: prettier --write

feat: creating the payment page
  package-lock.json
  package.json
  src/Router.tsx
  src/components/Typography/Typography.styled.ts
  src/components/Typography/index.tsx
  src/context/BagContext/actions.ts
  src/context/BagContext/index.tsx
  src/context/BagContext/reducer.ts
  src/context/BagContext/test/BagContext.spec.tsx
  src/context/BagContext/types.ts
  src/pages/Bag/Bag.spec.tsx
  src/pages/Bag/index.tsx
  src/pages/Payment/Payment.spec.tsx
  src/pages/Payment/index.tsx
  src/pages/Payment/partials/PaymentForm.tsx
  src/pages/Payment/partials/PaymentFormField.tsx
  src/pages/Payment/partials/PaymentFormSubmit.tsx
  src/pages/Payment/partials/PaymentInitial.ts
  src/pages/Payment/partials/PaymentSchema.ts
  test/render.tsx
Due: prettier --write

chore(style): adding stitches on project
  package.json
  src/App.css
  src/App.styled.ts
  src/App.tsx
  src/stitches.config.ts
  yarn.lock
Due: prettier --write

feat: creation of the confirmation page and final adjustments
  src/App.spec.tsx
  src/App.test.tsx
  src/App.tsx
  src/Router.tsx
  src/__snapshots__/App.spec.tsx.snap
  src/context/BagContext/reducer.ts
  src/pages/Confirmation/Confirmation.spec.tsx
  src/pages/Confirmation/index.tsx
  test/mock.ts
Due: none

fix: remove to deploy
  vite.config.ts
Due: none

chore(router): adding routes on project
  package.json
  src/App.test.tsx
  src/App.tsx
  src/Routes.tsx
  src/pages/cart/cart.tsx
  src/pages/checkout/checkout.tsx
  src/pages/confimation/confimation.tsx
  yarn.lock
Due: prettier --write

fix: add flag to show values in cards
  src/pages/Bag/index.tsx
Due: none

feat(route): adding guard router when cart is empty
  package.json
  src/App.tsx
  src/Routes.tsx
  src/routes/PrivateRoute.tsx
  src/routes/Routes.tsx
  yarn.lock
Due: prettier --write

test: <Card /> and <CheckoutConfirmation />
  src/components/Card/index.test.tsx
  src/components/CheckoutConfirmation/index.test.tsx
Due: none

test: <CheckoutSummary />
  src/components/CheckoutSummary/index.test.tsx
  src/components/CheckoutSummary/index.tsx
Due: none

style: add cursor:pointer to button
  src/components/Button/styles.ts
Due: none

fix: remove console.log
  src/pages/bag/index.tsx
  src/pages/payment/index.tsx
Due: none
