Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

Update react-scripts
  package-lock.json
  package.json
Due: prettier --write

Epics and Taks
  README.md
Due: prettier --write

Add routing library
  package-lock.json
  package.json
Due: prettier --write

Add initial routing
  src/App.js
Due: prettier-eslint --write, eslint

feat: add payment form component
  package.json
  src/components/PaymentForm/index.tsx
  src/components/PaymentForm/styles.ts
  src/hooks/normalize.tsx
  src/pages/Payment/index.tsx
  yarn.lock
Due: prettier --write

fix: get data from payment form
  src/components/PaymentForm/index.tsx
Due: none

feat: add payment info context
  src/context/index.tsx
  src/context/payment.tsx
  src/models/payment.d.ts
Due: none

feat: add payment info data in context
  src/components/Button/styles.ts
  src/components/PaymentForm/index.tsx
  src/pages/Payment/index.tsx
Due: none

feat: redirect user to success page on button submit
  src/pages/Payment/index.tsx
Due: none

chore: add card last numbers
  src/components/PaymentForm/index.tsx
  src/models/payment.d.ts
Due: none

feat: redirect to cart if access payment with empty cart
  src/pages/Payment/index.tsx
Due: none

feat: add success page
  src/assets/success.png
  src/pages/Success/index.tsx
  src/pages/Success/styles.ts
  src/routes/index.tsx
Due: none

feat: improve render style when fetching api data
  src/pages/Cart/index.tsx
Due: none

fix: inputs validation
  src/components/PaymentForm/index.tsx
Due: none

feat: improve desktop experience
  src/assets/logo.png
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/pages/Success/index.tsx
  src/styles/global.ts
Due: none

initial commit - adjust dependencies
  .eslintrc.json
  .gitignore
  package.json
  src/react-app-env.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

feat and test: header working and some tests of the actions
  __tests__/actions.test.js
  package.json
  src/App.js
  src/components/Header/index.js
  src/components/Header/styles.js
  src/routes/pages/Cart/index.js
  src/routes/pages/Payment/index.js
  src/routes/pages/Success/index.js
  src/store/modules/cart/actions.js
  src/store/modules/cart/actions.test.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Initial commit, with project's basic structure and routes.
  package-lock.json
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/components/CartPage/index.js
  src/components/CartPage/styles.js
  src/components/PaymentPage/index.js
  src/components/PaymentPage/styles.js
  src/components/SuccessPage/index.js
  src/components/SuccessPage/styles.js
  src/index.js
  src/logo.svg
  src/routes/routes.js
  src/serviceWorker.js
Due: prettier-eslint --write, eslint, prettier --write

Add CartPage features and add App.js connection with the API
  src/App.js
  src/components/CartPage/index.js
  src/components/CartPage/styles.js
  src/components/PaymentPage/styles.js
  src/components/TotalPurchasePriceCard/index.js
  src/components/TotalPurchasePriceCard/styles.js
  src/contexts/ProductsContext.js
  src/layout/globalstyles.js
Due: prettier-eslint --write, eslint

Add PaymentPage features, styles and validations.
  src/components/PaymentPage/index.js
  src/components/PaymentPage/styles.js
  src/functions/creditCardMask.js
  src/functions/expirationDateMask.js
  src/functions/nameMask.js
  src/functions/securityCodeMask.js
  src/functions/validatePayment.js
  src/functions/validatePayment.test.js
  src/hooks/useForm.js
Due: prettier-eslint --write, eslint

Add PaymentInfoContext connection with App.js and Routes.js.
  src/App.js
  src/components/RouterPage/index.js
  src/contexts/PaymentInfoContext.js
  src/routes/routes.js
Due: prettier-eslint --write, eslint

Add routes.js
  src/routes/routes.js
Due: prettier-eslint --write, eslint

Add SucccessPage features and styles.
  src/components/SuccessPage/index.js
  src/components/SuccessPage/styles.js
  src/images/SuccessIcon.png
Due: prettier-eslint --write, eslint

Add CartPage tests.
  package-lock.json
  package.json
  src/components/CartPage/CartPage.test.js
Due: prettier-eslint --write, eslint, prettier --write

Add PaymentPage tests.
  src/components/CartPage/CartPage.test.js
  src/components/PaymentPage/PaymentPage.test.js
Due: prettier-eslint --write, eslint

Add SuccessPage tests.
  src/components/SuccessPage/SuccessPage.test.js
Due: prettier-eslint --write, eslint

Created test
  package-lock.json
  package.json
  src/App.test.js
  src/pages/Payment/CardDetails.js
Due: prettier-eslint --write, eslint, prettier --write

create step; adjust folder structure; create reducer step; create reducer order;
  .prettierrc
  README.md
  public/index.html
  public/logo.svg
  src/App.css
  src/App.js
  src/App.test.js
  src/components/Steps/index.tsx
  src/components/Steps/styles.ts
  src/index.css
  src/index.js
  src/index.tsx
  src/model/order.ts
  src/pages/ProductBag/index.tsx
  src/pages/ProductBag/styles.ts
  src/redux/ducks/order.ts
  src/redux/ducks/steps.ts
  src/redux/index.ts
  src/routes/index.tsx
  src/serviceWorker.ts
  src/styles/global.ts
  src/styles/themes/light.ts
  src/templates/default/index.tsx
  src/templates/default/styles.ts
Due: prettier-eslint --write, eslint, prettier --write

Add: testing-library
  package.json
Due: prettier --write

Add: formPayment test
  src/_tests_/formPayment.test.js
Due: prettier-eslint --write, eslint

fixed: conditional date validation
  package-lock.json
  src/components/FormPayment/index.js
Due: prettier-eslint --write, eslint, prettier --write

fixed: provider
  src/App.js
  src/provider/CardProvider.js
  src/provider/CartProvider.js
Due: prettier-eslint --write, eslint

modified: setTimeOut splashScreen
  src/components/Header/index.js
  src/pages/SplashScreen/index.js
Due: prettier-eslint --write, eslint

Refactor: Changed RouterPage display.
  src/components/RouterPage/index.js
Due: prettier-eslint --write, eslint

feat: add cart page test
  src/__tests__/pages/Cart.spec.tsx
  src/pages/Cart/index.tsx
Due: none

fixed: button validation
  src/components/FormPayment/index.js
Due: prettier-eslint --write, eslint

refactor: change timeout for waitFor on test
  src/__tests__/pages/Cart.spec.tsx
Due: none

modified: readme
  README.md
Due: prettier --write

feat: add input test
  src/__tests__/components/Input.spec.tsx
Due: none
