Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

fix: build
  src/App.tsx
  src/components/Input/styles.ts
Due: none

fix: rename pages folders
  src/pages/Bag/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Payment/index.tsx
Due: none

feat(card-page): adding cart page, components and styles
  src/App.tsx
  src/components/button/button.styled.ts
  src/components/button/button.tsx
  src/components/product-item/product-item.styled.ts
  src/components/product-item/product-item.tsx
  src/components/total-container/total-container.styled.ts
  src/components/total-container/total-container.tsx
  src/components/tracking-step/tracking-step.styled.ts
  src/components/tracking-step/tracking-step.tsx
  src/pages/cart/cart.styled.ts
  src/pages/cart/cart.tsx
  src/pages/checkout/checkout.tsx
  src/pages/confimation/confimation.tsx
  src/routes/PrivateRoute.tsx
  src/routes/Routes.tsx
  src/stitches.config.ts
Due: none

feat(checkout): implements checkout page and forms
  package.json
  src/components/total-container/total-container.styled.ts
  src/components/total-container/total-container.tsx
  src/forms/credit-card/credit-card.styled.ts
  src/forms/credit-card/credit-card.tsx
  src/pages/cart/cart.styled.ts
  src/pages/cart/cart.tsx
  src/pages/checkout/checkout.styled.ts
  src/pages/checkout/checkout.tsx
  src/stitches.config.ts
  yarn.lock
Due: prettier --write

feat(checkout): integrate api, models, viewmodels, loading and fix some bugs
  package.json
  src/App.tsx
  src/api/get-cart.api.ts
  src/assets/spinner.svg
  src/components/loader/loader.component.tsx
  src/components/loader/loader.styled.ts
  src/components/product-item/product-item.tsx
  src/components/total-container/total-container.tsx
  src/components/tracking-step/tracking-step.styled.ts
  src/components/tracking-step/tracking-step.tsx
  src/context/cart.context.tsx
  src/pages/cart/cart.styled.ts
  src/pages/cart/cart.tsx
  src/pages/checkout/checkout.tsx
  src/routes/Routes.tsx
  src/services/get-cart.service.ts
  src/types/cart.types.ts
  yarn.lock
Due: prettier --write

feat(checkout): implements mask on input and placeholders
  package.json
  src/api/get-cart.api.ts
  src/forms/credit-card/credit-card.tsx
  yarn.lock
Due: prettier --write

feat(confirmation): implements confirmation page, confirmationRouter, some style and persist data
  src/components/product-item/product-item.styled.ts
  src/components/product-item/product-item.tsx
  src/components/total-container/total-container.tsx
  src/context/cart.context.tsx
  src/forms/credit-card/credit-card.tsx
  src/pages/checkout/checkout.tsx
  src/pages/confimation/confimation.styled.ts
  src/pages/confimation/confimation.tsx
  src/routes/ConfirmationRoute.tsx
  src/routes/PrivateRoute.tsx
  src/routes/Routes.tsx
  src/services/local-storage.service.ts
  src/services/random-string.service.ts
Due: none

feat(confirmation): persist data
  src/components/tracking-step/tracking-step.styled.ts
  src/pages/cart/cart.tsx
  src/pages/checkout/checkout.tsx
  src/pages/confimation/confimation.styled.ts
  src/pages/confimation/confimation.tsx
  src/routes/Routes.tsx
  src/types/cart.types.ts
Due: none

fix(style): organize some styles and putting color in variables
  src/api/get-cart.api.ts
  src/components/button/button.styled.ts
  src/components/button/button.tsx
  src/components/loader/loader.styled.ts
  src/components/product-item/product-item.styled.ts
  src/components/total-container/total-container.styled.ts
  src/components/tracking-step/tracking-step.styled.ts
  src/forms/credit-card/credit-card.styled.ts
  src/pages/cart/cart.styled.ts
  src/pages/cart/cart.tsx
  src/pages/checkout/checkout.styled.ts
  src/pages/checkout/checkout.tsx
  src/pages/confimation/confimation.styled.ts
  src/pages/confimation/confimation.tsx
  src/routes/ConfirmationRoute.tsx
  src/routes/Routes.tsx
  src/services/local-storage.service.ts
  src/stitches.config.ts
Due: none

fix(routes): change router file
  src/App.styled.ts
  src/App.tsx
  src/routes/Routes.tsx
Due: none

feat(test): adding unit tests for services and components
  babel.config.js
  jest.config.js
  junit.xml
  package.json
  src/api/get-cart.api.mock.ts
  src/api/get-cart.api.test.ts
  src/components/product-item/product-item.component.mock.ts
  src/components/product-item/product-item.component.styled.ts
  src/components/product-item/product-item.component.test.tsx
  src/components/product-item/product-item.component.tsx
  src/components/product-item/product-item.tsx
  src/components/total-container/total-container.component.mock.ts
  src/components/total-container/total-container.component.styled.ts
  src/components/total-container/total-container.component.tsx
  src/pages/cart/cart.tsx
  src/pages/checkout/checkout.tsx
  src/pages/confimation/confimation.tsx
  src/services/get-cart.service.mock.ts
  src/services/get-cart.service.test.ts
  src/services/get-cart.service.ts
  src/setupTests.ts
  test-report.html
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

refactor: implement initial structure with mono-repo
  apps/web/.eslintrc.js
  apps/web/.gitignore
  apps/web/index.html
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/public/robots.txt
  apps/web/src/App.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/test/setup-test.ts
  apps/web/tailwind.config.js
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
  docs/instructions/README.md
  package.json
  packages/config/eslint-config-custom/index.js
  packages/config/eslint-config-custom/package.json
  packages/config/tailwind/package.json
  packages/config/tailwind/postcss.config.js
  packages/config/tailwind/tailwind.config.js
  packages/config/tsconfig/base.json
  packages/config/tsconfig/package.json
  packages/config/tsconfig/react-library.json
  packages/config/tsconfig/vite.json
  packages/ui/.eslintrc
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/components/Button.tsx
  packages/ui/src/index.ts
  packages/ui/tailwind.config.js
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  src/App.css
  src/App.test.tsx
  src/App.tsx
  tsconfig.json
  turbo.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add git hooks and convetional commits pattern
  .commitlintrc.json
  .husky/commit-msg
  README.md
Due: prettier --write

feat(test): adding unit tests
  junit.xml
  src/services/get-cart.service.mock.ts
  tsconfig.json
Due: prettier --write

fix(date): fix validation date from form
  package.json
  src/components/product-item/product-item.component.styled.ts
  src/components/product-item/product-item.component.tsx
  src/components/total-container/total-container.component.tsx
  src/forms/credit-card/credit-card.tsx
  src/utils/format-currency.utils.ts
  yarn.lock
Due: prettier --write

fix(form): fix form validation on blur, and some duplicated code
  src/components/tracking-step/tracking-step.tsx
  src/forms/credit-card/credit-card.tsx
Due: none

refactor: fix incorrect behavior for tailwind in projects
  apps/web/package.json
  apps/web/src/App.tsx
  package.json
  packages/common-ui/.eslintrc
  packages/common-ui/package.json
  packages/common-ui/postcss.config.js
  packages/common-ui/src/components/button/Button.tsx
  packages/common-ui/src/components/button/styles.ts
  packages/common-ui/src/index.ts
  packages/common-ui/tailwind.config.js
  packages/common-ui/tsconfig.json
  packages/common-ui/vite.config.ts
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tailwind/package.json
  packages/tailwind/postcss.config.js
  packages/tailwind/tailwind.config.js
  packages/tsconfig/base.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  packages/tsconfig/vite.json
  packages/ui/src/components/Button.tsx
  packages/ui/src/index.ts
  packages/ui/tailwind.config.js
  packages/ui/vitest.config.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

refactor(button): add missing styles to component
  packages/common-ui/src/components/button/styles.ts
  packages/tailwind/tailwind.config.js
Due: prettier-eslint --write, eslint

feat(common-ui): add ui components and their styles
  apps/web/src/App.tsx
  packages/common-ui/package.json
  packages/common-ui/src/components/card/Card.tsx
  packages/common-ui/src/components/card/index.ts
  packages/common-ui/src/components/card/styles.ts
  packages/common-ui/src/components/input/Input.tsx
  packages/common-ui/src/components/input/index.ts
  packages/common-ui/src/components/input/styles.tsx
  packages/common-ui/src/components/tabs/Tabs.tsx
  packages/common-ui/src/components/tabs/index.ts
  packages/common-ui/src/index.ts
  packages/tailwind/package.json
  packages/tailwind/tailwind.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add showcase app to workspace
  apps/showcase/.eslintrc.js
  apps/showcase/.gitignore
  apps/showcase/index.html
  apps/showcase/package.json
  apps/showcase/postcss.config.js
  apps/showcase/src/App.tsx
  apps/showcase/src/index.css
  apps/showcase/src/main.tsx
  apps/showcase/tailwind.config.js
  apps/showcase/tsconfig.json
  apps/showcase/tsconfig.node.json
  apps/showcase/vite.config.ts
  apps/web/src/App.tsx
Due: prettier-eslint --write, eslint, prettier --write

refactor(features): implement initial screens and application domain rules
  apps/web/.env
  apps/web/package.json
  apps/web/src/App.tsx
  apps/web/src/core/hooks/index.ts
  apps/web/src/core/index.ts
  apps/web/src/core/ui/components/bottom_payment_information.tsx
  apps/web/src/core/ui/global.css
  apps/web/src/core/ui/index.ts
  apps/web/src/core/usecase/index.ts
  apps/web/src/core/utils/index.ts
  apps/web/src/data/repositories/c_cart_repository.test.ts
  apps/web/src/data/repositories/c_cart_repository.ts
  apps/web/src/data/repositories/cart_repository.ts
  apps/web/src/domain/index.ts
  apps/web/src/domain/models/cart.ts
  apps/web/src/domain/models/index.ts
  apps/web/src/domain/usecases/get_cart_data_usecase.ts
  apps/web/src/domain/usecases/index.ts
  apps/web/src/index.css
  apps/web/src/infra/factories/app_test.tsx
  apps/web/src/infra/factories/index.tsx
  apps/web/src/infra/http/c_http_client.ts
  apps/web/src/infra/http/http_client.ts
  apps/web/src/main.tsx
  apps/web/src/presentation/App.tsx
  apps/web/src/presentation/index.ts
  apps/web/src/presentation/products_list/components/cart_item_tile.tsx
  apps/web/src/presentation/products_list/components/cart_items_container.tsx
  apps/web/src/presentation/products_list/components/index.ts
  apps/web/src/presentation/products_list/index.ts
  apps/web/src/presentation/products_list/products_list_page.tsx
  packages/common-ui/src/components/button/Button.tsx
  packages/tailwind/tailwind.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

refactor: make some improvements in products_list
  apps/web/index.html
  apps/web/src/core/hooks/index.ts
  apps/web/src/core/ui/components/bottom_payment_information.tsx
  apps/web/src/infra/factories/app_test.tsx
  apps/web/src/infra/factories/index.tsx
  apps/web/src/presentation/products_list/components/cart_item_tile.tsx
  apps/web/src/presentation/products_list/products_list_page.tsx
  packages/common-ui/src/components/tabs/TabContent.tsx
  packages/common-ui/src/components/tabs/Tabs.tsx
  packages/common-ui/src/components/tabs/index.ts
  packages/tailwind/tailwind.config.js
Due: prettier-eslint --write, eslint, prettier --write

refactor: add confirmation step
  apps/showcase/src/App.tsx
  apps/web/src/presentation/confirmation/Confirmation.tsx
  apps/web/src/presentation/confirmation/index.ts
  apps/web/src/presentation/payment_form/PaymentForm.tsx
  apps/web/src/presentation/payment_form/index.ts
  apps/web/src/presentation/products_list/components/cart_item_tile.tsx
  apps/web/src/presentation/products_list/components/cart_items_container.tsx
  apps/web/src/presentation/products_list/products_list_page.tsx
  packages/common-ui/src/components/input/Input.tsx
Due: none

refactor: improve behavior for tab components
  apps/web/package.json
  apps/web/src/core/hooks/index.ts
  apps/web/src/core/hooks/use_cart_data_usecase.ts
  apps/web/src/core/hooks/use_payment_form.ts
  apps/web/src/core/ui/components/bottom_payment_information.tsx
  apps/web/src/presentation/payment_form/PaymentForm.tsx
  apps/web/src/presentation/products_list/components/card_info_button.tsx
  apps/web/src/presentation/products_list/components/main_tabs.tsx
  apps/web/src/presentation/products_list/products_list_page.tsx
  packages/common-ui/src/components/button/Button.tsx
  packages/common-ui/src/components/input/Input.tsx
  packages/common-ui/src/components/tabs/Tabs.tsx
  yarn.lock
Due: prettier --write

chore: add pull_request ci workfile
  .github/workflows/pull_requests.yml
Due: none

refactor: fix components in showcase
  apps/showcase/src/App.tsx
Due: none

test: add unit tests for bussiness rule
  apps/web/src/data/repositories/c_cart_repository.test.ts
  apps/web/src/domain/usecases/get_cart_data_usecase.test.ts
  apps/web/src/test/mocks/index.ts
  apps/web/src/test/mocks/mock_data.ts
  apps/web/src/test/mocks/mock_dependencies.ts
  apps/web/src/test/setup-test.ts
  packages/common-ui/package.json
  packages/common-ui/src/components/button/button.test.tsx
  packages/common-ui/src/components/card/Card.tsx
  packages/common-ui/src/components/card/index.ts
  packages/common-ui/src/components/index.ts
  packages/common-ui/src/index.ts
  packages/common-ui/src/test/setup-test.ts
  packages/common-ui/src/test/utils.ts
  yarn.lock
Due: prettier --write

chore: fix worst import in core/hooks
  apps/web/src/core/hooks/index.ts
Due: none

chore: fix production build errors
  .github/workflows/pull_requests.yml
  packages/common-ui/src/components/index.ts
  packages/common-ui/src/components/tabs/TabContent.tsx
  packages/common-ui/src/components/tabs/Tabs.tsx
  packages/common-ui/src/components/tabs/index.ts
Due: none

refactor: change export method in components
  apps/web/.env
  apps/web/src/presentation/confirmation/Confirmation.tsx
  apps/web/src/presentation/payment_form/PaymentForm.tsx
  apps/web/src/presentation/products_list/components/cart_items_container.tsx
Due: none

chore: add test step to turbo.json
  .github/workflows/pull_requests.yml
  package.json
  turbo.json
Due: prettier --write

style: commit lint changes
  packages/common-ui/src/components/button/button.test.tsx
  packages/common-ui/src/components/button/index.ts
  packages/common-ui/src/components/card/Card.tsx
  packages/common-ui/src/components/card/index.ts
  packages/common-ui/src/components/index.ts
  packages/common-ui/src/components/input/Input.tsx
  packages/common-ui/src/components/input/index.ts
Due: none

chore: fix error when import ui components
  packages/common-ui/package.json
  packages/common-ui/src/button/button.test.tsx
  packages/common-ui/src/button/button.tsx
  packages/common-ui/src/button/index.ts
  packages/common-ui/src/button/styles.ts
  packages/common-ui/src/card/card.tsx
  packages/common-ui/src/card/index.ts
  packages/common-ui/src/card/styles.ts
  packages/common-ui/src/components/index.ts
  packages/common-ui/src/index.ts
  packages/common-ui/src/input/index.ts
  packages/common-ui/src/input/input.tsx
  packages/common-ui/src/input/styles.tsx
Due: prettier --write

test: add missing tests and setup
  apps/web/package.json
  apps/web/src/data/repositories/c_cart_repository.test.ts
  apps/web/src/test/mocks/mock_dependencies.ts
  apps/web/src/test/utils/index.ts
  apps/web/src/test/utils/setup_server.ts
  packages/common-ui/src/button/button.test.tsx
  packages/common-ui/src/button/button.tsx
  packages/common-ui/src/test/utils.ts
  yarn.lock
Due: prettier --write

docs(readme): add complete description for project
  README.md
  apps/web/src/presentation/products_list/components/card_info_button.tsx
  docs/app_modules.png
  docs/mobile.png
Due: prettier --write

docs(readme): add missing tech stack description
  README.md
Due: prettier --write

chore: remove unused param in setup server
  README.md
  apps/web/src/test/utils/index.ts
Due: prettier --write

chore: fix workflow ci file
  .github/workflows/pull_requests.yml
Due: none

chore: add rule for trigger ci on branch main
  .github/workflows/pull_requests.yml
Due: none

test: add unit tests for common-ui components
  packages/common-ui/package.json
  packages/common-ui/src/button/button.test.tsx
  packages/common-ui/src/button/button.tsx
  packages/common-ui/src/card/card.test.tsx
  packages/common-ui/src/card/card.tsx
  packages/common-ui/src/input/input.test.tsx
  packages/common-ui/src/input/input.tsx
Due: prettier --write
