Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

Add text to cart's button
  src/pages/Cart/index.jsx
Due: none

Create PaymentInformation component
  src/components/PaymentInformation/index.jsx
  src/components/PaymentInformation/styles.js
Due: prettier-eslint --write, eslint

Create Confirmation page's general structure
  src/pages/Confirmation/index.jsx
  src/pages/Confirmation/styles.js
Due: prettier-eslint --write, eslint

Create Payment page's general structure
  src/pages/Payment/index.jsx
  src/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

Uppercase summary's text
  src/components/Summary/styles.js
Due: prettier-eslint --write, eslint

Fix SectionHeader's tag
  src/components/SectionHeader/styles.js
Due: prettier-eslint --write, eslint

Fix navbar links
  src/components/NavBar/CustomNavItem/index.jsx
  src/components/NavBar/CustomNavItem/styles.js
  src/components/NavBar/index.jsx
Due: prettier-eslint --write, eslint

Fix button navigation
  src/App.js
  src/components/ActionButton/index.jsx
  src/pages/Cart/index.jsx
  src/pages/Confirmation/index.jsx
  src/pages/Payment/index.jsx
Due: prettier-eslint --write, eslint

Add api
  package.json
  src/services/api.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Create store
  src/index.js
  src/redux/store.js
Due: prettier-eslint --write, eslint

Create and implement productsSlice
  src/components/Product/index.jsx
  src/components/Products/index.jsx
  src/redux/slices/productsSlice.js
  src/redux/store.js
Due: prettier-eslint --write, eslint

Add redux
  package.json
  yarn.lock
Due: prettier --write

Create and implement summarySlice
  src/components/Summary/index.jsx
  src/redux/slices/summarySlice.js
  src/redux/store.js
Due: prettier-eslint --write, eslint

Link Summary to store
  src/components/Summary/index.jsx
Due: none

Finish products' component
  src/components/Product/index.jsx
  src/components/Product/styles.js
  src/components/Products/index.jsx
Due: prettier-eslint --write, eslint

Implement data fetching
  src/App.js
Due: prettier-eslint --write, eslint

Remove logs
  src/components/Product/index.jsx
  src/components/Summary/index.jsx
Due: none

Create paymentSlice
  src/redux/slices/paymentSlice.js
Due: prettier-eslint --write, eslint

Create paymentForm
  src/components/ActionButton/index.jsx
  src/components/PaymentForm/index.jsx
  src/components/PaymentForm/styles.js
  src/components/PaymentInformation/index.jsx
  src/pages/Payment/index.jsx
  src/redux/store.js
Due: prettier-eslint --write, eslint

Remove unnecessary code
  src/App.js
  src/components/Summary/index.jsx
Due: prettier-eslint --write, eslint

Implement code splitting
  src/App.js
  src/pages/Cart/index.jsx
  src/pages/Confirmation/index.jsx
  src/pages/Payment/index.jsx
Due: prettier-eslint --write, eslint

Add loadable
  package.json
  yarn.lock
Due: prettier --write

Set a max width for the containers
  src/pages/Cart/styles.js
  src/pages/Confirmation/styles.js
  src/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

Create desktop styles
  src/components/Header/styles.js
  src/components/NavBar/styles.js
  src/components/PageContainer/styles.js
  src/components/PaymentForm/styles.js
  src/components/PaymentInformation/styles.js
  src/components/Product/styles.js
  src/components/Products/styles.js
  src/components/Summary/styles.js
  src/global.css
  src/globalStyles.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Add unit tests for Cart page
  src/__tests__/Cart/cart.test.jsx
  src/__tests__/mocks/mockProducts.js
  src/components/ActionButton/index.jsx
  src/components/Product/index.jsx
  src/components/Summary/index.jsx
Due: prettier-eslint --write, eslint

Add payment page unit tests
  src/__tests__/Payment/payment.test.jsx
  src/components/PaymentForm/index.jsx
Due: none

Add confirmation page unit tests
  src/__tests__/Confirmation/confirmation.test.jsx
  src/components/PaymentInformation/index.jsx
Due: none

Remove unnecessary code
  src/App.js
  src/App.test.js
  src/__tests__/Confirmation/confirmation.test.jsx
  src/__tests__/Payment/payment.test.jsx
  src/logo.svg
  src/serviceWorker.js
Due: prettier-eslint --write, eslint

Initial setup, move from CRA to Vite, clean files
  .github/workflows/fortify.yml
  .gitignore
  index.html
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.jsx
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/main.jsx
  src/serviceWorker.js
  src/setupTests.js
  vite.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Feat: Add and configure Router
  package-lock.json
  package.json
  src/App.jsx
  src/Routes.jsx
  src/pages/Cart.jsx
  src/pages/Payment.jsx
  src/pages/Success.jsx
Due: prettier --write

Feat: Add styled-components and global css reset
  package-lock.json
  package.json
  src/App.jsx
  src/Routes.jsx
  src/assets/styles/global.jsx
Due: prettier --write

Feat: Add header and color theme
  src/assets/styles/theme.jsx
  src/components/Header/index.jsx
  src/components/Header/styled.js
  src/pages/Cart.jsx
  src/pages/Payment.jsx
  src/pages/Success.jsx
Due: prettier-eslint --write, eslint

Feat: Add component wrapper
  src/assets/styles/global.jsx
  src/assets/styles/theme.jsx
  src/components/Content/index.jsx
  src/components/Content/styled.js
  src/components/Header/styled.js
  src/pages/Cart.jsx
  src/pages/Payment.jsx
  src/pages/Success.jsx
Due: prettier-eslint --write, eslint

Add desktop styling to Payment page
  src/components/PaymentForm/index.jsx
  src/components/PaymentForm/styles.js
  src/globalStyles.js
  src/pages/Payment/index.jsx
  src/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

Add desktop styling to Cart page
  src/components/Products/index.jsx
  src/components/Products/styles.js
  src/pages/Cart/index.jsx
  src/pages/Cart/styles.js
Due: prettier-eslint --write, eslint

Feat: Create product card component
  src/components/Content/styled.js
  src/components/ProductCard/index.jsx
  src/components/ProductCard/styled.js
  src/pages/Cart.jsx
  src/pages/Success.jsx
Due: prettier-eslint --write, eslint

Finish desktop styling
  src/components/PaymentForm/styles.js
  src/components/PaymentInformation/index.jsx
  src/components/PaymentInformation/styles.js
  src/components/Products/styles.js
  src/components/Summary/styles.js
  src/globalStyles.js
  src/pages/Cart/index.jsx
  src/pages/Cart/styles.js
  src/pages/Confirmation/index.jsx
  src/pages/Confirmation/styles.js
Due: prettier-eslint --write, eslint

Add success message to confirmation page
  src/pages/Confirmation/index.jsx
  src/pages/Confirmation/styles.js
Due: prettier-eslint --write, eslint

Feat: Add Axios and get cart data
  package-lock.json
  package.json
  src/pages/Cart.jsx
Due: prettier --write

Feat: Add PriceList component
  src/components/PriceList/index.jsx
  src/components/PriceList/styled.js
  src/pages/Cart.jsx
  vite.config.js
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
