Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

Feat: Create Button component
  src/components/Button/index.jsx
  src/components/Button/styled.js
  src/pages/Cart.jsx
  src/pages/Payment.jsx
Due: prettier-eslint --write, eslint

Feat: Add react-hook-form; create input component
  package-lock.json
  package.json
  src/components/InputField/index.jsx
  src/components/InputField/styled.js
  src/pages/Payment.jsx
Due: prettier-eslint --write, eslint, prettier --write

Feat: Persist data between pages
  src/Routes.jsx
  src/components/Button/index.jsx
  src/pages/Cart.jsx
  src/pages/Payment.jsx
  src/pages/Success.jsx
Due: none

Refactor paymentForm
  package.json
  src/components/ActionButton/index.jsx
  src/components/PaymentForm/index.jsx
  src/pages/Payment/index.jsx
  yarn.lock
Due: prettier --write

Finish styling form validation
  src/components/ActionButton/styles.js
  src/components/PaymentForm/index.jsx
  src/components/PaymentForm/styles.js
  src/pages/Confirmation/index.jsx
  src/pages/Payment/index.jsx
Due: prettier-eslint --write, eslint

Refactor pages to increase code quality
  src/Routes.jsx
  src/components/Header/index.jsx
  src/pages/Cart.jsx
  src/pages/Cart/index.jsx
  src/pages/Payment.jsx
  src/pages/Payment/index.jsx
  src/pages/Success.jsx
  src/pages/Success/index.jsx
  src/types/index.js
Due: prettier-eslint --write, eslint

Refactor PriceList to avoid repetition; format code
  src/components/Button/index.jsx
  src/components/Button/styled.js
  src/components/Content/index.jsx
  src/components/Content/styled.js
  src/components/Header/index.jsx
  src/components/InputField/index.jsx
  src/components/PriceList/index.jsx
  src/components/ProductCard/index.jsx
  src/pages/Cart/index.jsx
  src/pages/Payment/index.jsx
  src/pages/Success/index.jsx
Due: prettier-eslint --write, eslint

Feat: Add currency formatting to Reais
  src/components/PriceList/index.jsx
  src/components/ProductCard/index.jsx
  src/types/index.jsx
  src/utils/index.jsx
Due: none

Refactor css to theme colors; change font family
  src/assets/styles/global.jsx
  src/assets/styles/theme.jsx
  src/components/Button/styled.js
  src/components/Content/styled.js
  src/components/Header/styled.js
  src/components/InputField/index.jsx
  src/components/InputField/styled.js
  src/components/PriceList/styled.js
  src/components/ProductCard/styled.js
  src/pages/Payment/index.jsx
  src/pages/Payment/styled.js
Due: prettier-eslint --write, eslint

Fix tests
  src/__tests__/Cart/cart.test.jsx
  src/__tests__/Confirmation/confirmation.test.jsx
  src/__tests__/Payment/payment.test.jsx
  src/components/PaymentInformation/index.jsx
  src/mocks/mockProducts.js
  src/pages/Confirmation/index.jsx
  src/pages/Payment/index.jsx
  yarn.lock
Due: prettier-eslint --write, eslint

Feat: Finish form and refactor payment page
  src/assets/styles/theme.jsx
  src/components/Button/index.jsx
  src/components/CardInfo/index.jsx
  src/components/CardInfo/styled.js
  src/components/Content/index.jsx
  src/components/Content/styled.js
  src/components/InputField/index.jsx
  src/pages/Payment/index.jsx
  src/pages/Success/index.jsx
  src/utils/index.jsx
Due: prettier-eslint --write, eslint

Feat: Create PaymentSuccess component
  src/assets/icons/SuccessIcon.jsx
  src/components/PaymentSuccess/index.jsx
  src/components/PaymentSuccess/styled.js
  src/pages/Success/index.jsx
Due: prettier-eslint --write, eslint

Update readme
  README.md
  src/components/InputField/styled.js
Due: prettier-eslint --write, eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

style(eslint): adding code and commit formatter
  .eslintrc
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

style(commitlint): adding commitlint and integrating with husky
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.js
  package-lock.json
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

style(app): formatting app file
  src/App.js
Due: prettier-eslint --write, eslint

style(typescript): adding typescript to project
  .eslintrc
  package-lock.json
  package.json
  src/App.js
  src/App.test.tsx
  src/App.tsx
  src/index.tsx
  src/react-app-env.d.ts
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

style(typescript with eslint and prettier): adjusting style configs to handle typescript files
  .eslintrc
  .prettierrc
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

fix(eslint): resolving conflict between eslint and old version of react-scripts
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

feat(styled component): adding styled component
  .eslintignore
  .eslintrc
  package-lock.json
  package.json
  src/global/styles/theme.ts
  src/global/styles/types/styled.d.ts
  src/serviceWorker.js
  tsconfig.json
Due: prettier-eslint --write, eslint, prettier --write

feat(global style): adding global style for the app
  .prettierignore
  src/assets/fonts/HelveticaNeue.eot
  src/assets/fonts/HelveticaNeue.ttf
  src/assets/fonts/HelveticaNeue.woff
  src/global/styles/style.ts
Due: none

feat(theme): adding new variables to app theme
  src/global/styles/theme.ts
  src/global/styles/types/styled.d.ts
Due: none

feat(paper component): creating paper component
  .eslintrc
  src/components/paper/Paper.style.ts
  src/components/paper/Paper.tsx
Due: none

feat(button component): creating button component
  src/components/button/Button.style.ts
  src/components/button/Button.tsx
Due: none

feat(header component): creating header component
  src/components/header/Header.style.ts
  src/components/header/Header.tsx
Due: none

feat(title component): creating title component
  src/components/title/Title.style.ts
  src/components/title/Title.tsx
Due: none

style(eslint and prettier): adjusting eslint and prettier when typing axios request
  .eslintrc
  .prettierrc
Due: none

style(components): formatting ts components
  src/components/button/Button.tsx
  src/components/header/Header.style.ts
  src/components/header/Header.tsx
  src/components/paper/Paper.style.ts
  src/components/paper/Paper.tsx
  src/components/title/Title.tsx
Due: none

feat(bag): getting bag products data
  package-lock.json
  package.json
  src/App.css
  src/App.tsx
  src/api/index.ts
  src/index.css
  src/index.tsx
  src/model/bag.d.ts
  src/pages/bag/Bag.test.tsx
  src/pages/bag/Bag.tsx
  src/pages/bag/index.ts
  src/pages/bag/service.ts
  tsconfig.json
Due: prettier --write

feat(currency utils): creating utils for formatting currency values
  src/utils/currency/index.ts
Due: none

refactor(atoms folder): creating atoms folder to hold small components
  src/components/atoms/button/Button.style.ts
  src/components/atoms/button/Button.tsx
  src/components/atoms/button/index.ts
  src/components/atoms/header/Header.style.ts
  src/components/atoms/header/Header.tsx
  src/components/atoms/header/index.ts
  src/components/atoms/index.ts
  src/components/atoms/paper/Paper.style.ts
  src/components/atoms/paper/Paper.tsx
  src/components/atoms/paper/index.ts
  src/components/atoms/title/Title.style.ts
  src/components/atoms/title/Title.tsx
  src/components/atoms/title/index.ts
Due: none

feat(bagdetails component): creating bagdetails component
  src/components/molecules/bagDetails/BagDetails.style.ts
  src/components/molecules/bagDetails/BagDetails.tsx
  src/components/molecules/bagDetails/index.ts
Due: none

feat(productpaper component): creating productpaper component
  src/components/molecules/productPaper/ProductPaper.style.ts
  src/components/molecules/productPaper/ProductPaper.tsx
  src/components/molecules/productPaper/components/productItem/ProductItem.style.ts
  src/components/molecules/productPaper/components/productItem/ProductItem.tsx
  src/components/molecules/productPaper/index.ts
Due: none

feat(bag page): adding components to bag page
  src/components/molecules/index.ts
  src/global/styles/theme.ts
  src/global/styles/types/styled.d.ts
  src/model/bag.d.ts
  src/pages/bag/Bag.style.ts
  src/pages/bag/Bag.tsx
  src/pages/bag/service.ts
Due: none

feat(app component): adding global components to its page
  src/App.tsx
Due: none

refactor(bag page): removing unused console log
  src/pages/bag/Bag.tsx
Due: none

feat(paper component): adding title prop
  src/components/atoms/paper/Paper.tsx
  src/components/atoms/title/Title.style.ts
  src/components/molecules/productPaper/ProductPaper.tsx
  src/pages/bag/Bag.tsx
Due: none

feat(bag page): adding button component to it
  src/components/atoms/button/Button.style.ts
  src/pages/bag/Bag.tsx
Due: none

fix(button component): adjusting font weight
  src/components/atoms/button/Button.style.ts
Due: none

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
