Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: add styled-components and global style
  package.json
  src/App.tsx
  src/styles/global.ts
  yarn.lock
Due: prettier --write

feat: add routes and cart page base
  src/App.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/routes/index.tsx
Due: none

chore: redirect to cart in root path
  src/routes/index.tsx
Due: none

feat: add basic css variables
  src/styles/global.ts
Due: none

feat: add header component
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/pages/Cart/index.tsx
  src/styles/global.ts
Due: none

style: change page background color
  src/styles/global.ts
Due: none

feat: add test library
  package.json
  yarn.lock
Due: prettier --write

feat: add products component
  src/components/Products/index.tsx
  src/components/Products/styles.ts
  src/pages/Cart/index.tsx
  src/styles/global.ts
Due: none

paginas criadas, rotas e pegando dados da api
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/components/MenuTabs/index.js
  src/containers/Cart/index.js
  src/containers/Payment/index.js
  src/containers/Success/index.js
  src/index.css
  src/index.js
  src/theme.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add price component
  src/components/Price/index.tsx
  src/components/Price/styles.ts
  src/pages/Cart/index.tsx
Due: none

style: change containers sizes to match with pixel perfect
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/components/Price/styles.ts
  src/components/Products/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/styles/global.ts
Due: none

style: change container size for smallest devices
  src/components/Header/styles.ts
  src/pages/Cart/styles.ts
Due: none

feat: add button component
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/pages/Cart/index.tsx
Due: none

style: add global container
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/styles/global.ts
Due: none

BNW1 - Layout and navigation base structure
  .editorconfig
  .gitignore
  .prettierrc
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/routes/Cart.js
  src/routes/Payment.js
  src/routes/Success.js
  src/routes/index.js
  src/serviceWorker.js
  src/setupTests.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

refactor: changing test names on the payment method page
  package-lock.json
  package.json
  src/pages/CartPage/cartPage.test.js
  src/pages/CartPage/index.js
  src/pages/ConfirmationPage/confirmationPage.test.js
  src/pages/PaymentMethodPage/__snapshots__/paymentMethodPage.test.js.snap
  src/pages/PaymentMethodPage/index.js
  src/pages/PaymentMethodPage/paymentMethodPage.test.js
Due: prettier-eslint --write, eslint, prettier --write

BNW1 - Tabs
  public/index.html
  src/App.js
  src/components/Steps.js
  src/components/styled/Global.js
  src/components/styled/Tabs.js
  src/components/styled/index.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

refactor: changing the name of the tests on the cart page
  src/pages/CartPage/__snapshots__/cartPage.test.js.snap
  src/pages/CartPage/cartPage.test.js
Due: prettier-eslint --write, eslint

refactor: changed product card test names
  src/components/ProductCard/__snapshots__/productCard.test.js.snap
  src/components/ProductCard/productCard.test.js
Due: prettier-eslint --write, eslint

test: tests on the amount container
  src/components/AmountContainer/__snapshots__/amonuntContainer.test.js.snap
  src/components/AmountContainer/__snapshots__/amountContainer.test.js.snap
  src/components/AmountContainer/amountContainer.test.js
Due: prettier-eslint --write, eslint

BNW1 - Cart layout - mobile and pc
  src/components/Steps.js
  src/components/styled/Global.js
  src/components/styled/Tabs.js
  src/components/styled/index.js
  src/components/styled/routes/Cart.js
  src/routes/Cart.js
  src/routes/index.js
Due: prettier-eslint --write, eslint

BNW1 - split Cart.js in reusable components
  src/App.js
  src/components/Products.js
  src/components/PurchaseInfo.js
  src/components/Tabs.js
  src/components/styled/index.js
  src/components/styled/routes/Cart.js
  src/index.js
  src/routes/Cart.js
  src/styles/Products.js
  src/styles/Purchase.js
  src/styles/Root.js
  src/styles/Tabs.js
Due: prettier-eslint --write, eslint

BNW1 - specific exports in all styles files
  src/App.js
  src/components/CreditCardForm.js
  src/components/Menu.js
  src/components/Products.js
  src/components/PurchaseInfo.js
  src/index.js
  src/styles/Products.js
  src/styles/Purchase.js
  src/styles/Root.js
  src/styles/Tabs.js
Due: prettier-eslint --write, eslint

BNW1 - Payment layout
  src/components/CreditCardForm.js
  src/routes/Cart.js
  src/routes/Payment.js
  src/styles/CreditCardForm.js
  src/styles/Root.js
Due: prettier-eslint --write, eslint

BNW1 - Layout of Sucess screen
  public/images/success.png
  src/routes/Success.js
  src/styles/Products.js
  src/styles/Purchase.js
  src/styles/Sucess.js
  src/styles/Tabs.js
Due: prettier-eslint --write, eslint

BNW4 - Split bundle by routes | Server to run the application
  package.json
  server/index.js
  src/App.js
  src/routes/index.js
  src/styles/Root.js
Due: prettier-eslint --write, eslint, prettier --write

test: App tests
  src/components/AmountContainer/__snapshots__/amonuntContainer.test.js.snap
  src/pages/App/__snapshots__/app.test.js.snap
  src/pages/App/app.test.js
  src/pages/CartPage/cartPage.test.js
  src/pages/CartPage/index.js
Due: prettier-eslint --write, eslint

installing dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: difference in button size
  package-lock.json
  package.json
  src/pages/App/app.test.js
  src/pages/CartPage/styles.js
  src/pages/PaymentMethodPage/styles.js
Due: prettier-eslint --write, eslint, prettier --write

fix: input font size
  src/pages/PaymentMethodPage/styles.js
Due: prettier-eslint --write, eslint

fix: text size on the confirmation page
  src/pages/ConfirmationPage/confirmationPage.test.js
  src/pages/ConfirmationPage/styles.js
Due: prettier-eslint --write, eslint

react-dev-utils reinstalled
  package-lock.json
  package.json
Due: prettier --write

configuração da rotas, ajustando o layout e preparado as coisa para form de pagamento
  package-lock.json
  package.json
  src/containers/Cart/index.js
  src/containers/Payment/index.js
Due: prettier-eslint --write, eslint, prettier --write

add styles/index.js to export all styles
  src/App.js
  src/api/index.js
  src/components/CreditCardForm.js
  src/components/Menu.js
  src/components/Products.js
  src/components/PurchaseInfo.js
  src/index.js
  src/routes/Cart.js
  src/routes/Payment.js
  src/routes/Success.js
  src/styles/CreditCardForm.js
  src/styles/Products.js
  src/styles/Purchase.js
  src/styles/Root.js
  src/styles/Sucess.js
  src/styles/Tabs.js
  src/styles/index.js
Due: prettier-eslint --write, eslint

BNW2 - get enpoint info and using ContextAPI
  package.json
  src/App.js
  src/api/index.js
  src/components/Context.js
  src/components/Currency.js
  src/components/Menu.js
  src/components/Products.js
  src/components/PurchaseInfo.js
  src/components/index.js
  src/routes/Cart.js
  src/routes/Payment.js
  src/routes/Success.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Created Payment component
  package-lock.json
  package.json
  src/App.js
  src/AppStyle.js
  src/components/BackgroundBlock/style.js
  src/components/CartSummary/style.js
  src/components/Header/style.js
  src/contexts/CardDetails.js
  src/hooks/useForm.js
  src/pages/Bag/index.js
  src/pages/Bag/style.js
  src/pages/Confirmation/index.js
  src/pages/Payment/CardDetails.js
  src/pages/Payment/index.js
  src/pages/Payment/style.js
Due: prettier-eslint --write, eslint, prettier --write

add: cart context
  src/contexts/CartContext.js
Due: prettier-eslint --write, eslint

add: card context
  src/contexts/CardContext.js
Due: prettier-eslint --write, eslint

add: SplashScreen BLZ
  src/pages/SplashScreen/index.js
  src/pages/SplashScreen/styles.js
Due: prettier-eslint --write, eslint

add: Loading component
  src/components/Loading/index.js
  src/components/Loading/styles.js
Due: prettier-eslint --write, eslint
