Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

map products;
  src/model/order.ts
  src/pages/ProductBag/index.tsx
  src/pages/ProductBag/styles.ts
  src/styles/global.ts
Due: none

modified: readme
  README.md
  src/App.js
Due: prettier-eslint --write, eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

feat: add input error test
  src/__tests__/components/Input.spec.tsx
  src/components/Input/index.tsx
Due: none

refactor: change provider jsx wrapper to a option
  src/__tests__/pages/Cart.spec.tsx
Due: none

Remove initial styles
  src/App.css
  src/App.js
  src/logo.svg
Due: prettier-eslint --write, eslint, prettier --write

fixed: hide number
  src/components/PaymentData/index.js
Due: prettier-eslint --write, eslint

Set babel parser for prettier
  .prettierrc
Due: none

Separate Navigation component
  src/App.js
  src/components/Navigation/Navigation.js
  src/components/Navigation/Navigation.test.js
Due: prettier-eslint --write, eslint

feat: add price component test
  package.json
  src/__tests__/components/Price.spec.tsx
  src/components/Price/index.tsx
  yarn.lock
Due: prettier --write

feat: add product component test
  src/__tests__/components/Products.spec.tsx
  src/components/Products/index.tsx
Due: none

feat: add price hook test
  src/__tests__/hooks/Price.spec.tsx
Due: none

feat: add payment page test
  src/__tests__/pages/Payment.spec.tsx
Due: none

refactor: test name misspelling
  src/__tests__/components/Input.spec.tsx
  src/__tests__/components/Price.spec.tsx
  src/__tests__/components/Products.spec.tsx
  src/__tests__/pages/Cart.spec.tsx
Due: none

chore: remove ununsed import
  src/__tests__/components/Input.spec.tsx
Due: none

chore: remove ununsed import
  src/pages/Success/index.tsx
Due: none

style: improve desktop experience
  src/components/Price/styles.ts
Due: none

Add css in js library
  package-lock.json
  package.json
Due: prettier --write

Add styles to Navigation
  src/components/Navigation/Navigation.js
  src/components/Navigation/Navigation.test.js
  src/components/Navigation/__snapshots__/Navigation.test.js.snap
Due: prettier-eslint --write, eslint

npm install e npm audit fix aplicado
  package-lock.json
  package.json
Due: prettier --write

resume order; component button
  src/components/Button/index.tsx
  src/components/Button/styled.ts
  src/components/ResumeOrder/index.tsx
  src/components/ResumeOrder/styles.ts
  src/pages/ProductBag/index.tsx
  src/pages/ProductBag/styles.ts
  src/styles/global.ts
Due: none

Pages and routes created
  package-lock.json
  package.json
  src/App.js
  src/components/BagPage/index.js
  src/components/ConfirmPage/index.js
  src/components/HomePage/HomePage.css
  src/components/HomePage/index.js
  src/components/PaymentPage/index.js
  src/components/Router/index.js
Due: prettier-eslint --write, eslint, prettier --write

Adding step's initial layout
  src/components/ButtonComponent.js
  src/components/CreditCardForm.js
  src/components/Produtos.js
  src/components/Resumo.js
  src/components/StepsNavbar.js
  src/dataCart.json
  src/pages/Confirmação.js
  src/pages/Pagamento.js
  src/pages/Sacola.js
Due: prettier-eslint --write, eslint, prettier --write

page product bag finish
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/Loading/index.tsx
  src/components/Loading/styles.ts
  src/components/Steps/index.tsx
  src/model/order.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/pages/ProductBag/index.tsx
  src/redux/ducks/loading.ts
  src/redux/ducks/steps.ts
  src/redux/index.ts
  src/routes/index.tsx
  src/templates/default/index.tsx
Due: none

docs: pull request
  package.json
  src/components/Header/styles.js
  src/store/modules/cart/actions.test.js
Due: prettier-eslint --write, eslint, prettier --write

entrega final
  package-lock.json
  package.json
  src/components/ContainerTotalPrice/index.js
  src/components/MenuTabs/index.js
  src/containers/Cart/index.js
  src/containers/Payment/index.js
  src/containers/Success/index.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

add formik/yup validation payment;
  package.json
  src/components/ButtonSubmit/index.tsx
  src/components/InputText/index.tsx
  src/components/InputText/styles.ts
  src/model/payment.ts
  src/pages/Completed/index.tsx
  src/pages/Completed/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/redux/ducks/payment.ts
  src/redux/index.ts
  src/routes/index.tsx
  yarn.lock
Due: prettier --write

Add base App styles
  src/App.js
  src/components/Navigation/Navigation.js
Due: prettier-eslint --write, eslint

completed order; product list component; some little things
  src/components/Button/styles.ts
  src/components/InputText/index.tsx
  src/components/InputText/styles.ts
  src/components/ProductList/index.tsx
  src/components/ResumeOrder/index.tsx
  src/components/ResumeOrder/styles.ts
  src/pages/Completed/index.tsx
  src/pages/Completed/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/pages/ProductBag/index.tsx
  src/pages/ProductBag/styles.ts
Due: none

Add product list component
  src/components/Navigation/__snapshots__/Navigation.test.js.snap
  src/components/Product/Product.js
  src/components/Product/Product.test.js
  src/components/Product/__snapshots__/Product.test.js.snap
  src/data/endpoint.json
  src/pages/Basket/Basket.js
  src/pages/Basket/Basket.test.js
  src/pages/Basket/__snapshots__/Basket.test.js.snap
Due: prettier-eslint --write, eslint, prettier --write

readme maneiro (ou nao)
  README.md
Due: prettier --write

gitignore
  .gitignore
Due: none

Move currency methods to helpers folder
  src/components/Product/Product.js
  src/components/Product/__snapshots__/Product.test.js.snap
  src/helpers/currency.js
  src/helpers/currency.test.js
Due: prettier-eslint --write, eslint

Add Total component
  src/components/Total/Total.js
  src/components/Total/Total.test.js
  src/components/Total/__snapshots__/Total.test.js.snap
  src/data/endpoint.json
  src/pages/Basket/Basket.js
  src/pages/Basket/__snapshots__/Basket.test.js.snap
Due: prettier-eslint --write, eslint, prettier --write

function getCart created; added infos to BagPage
  .prettierrc
  src/App.js
  src/components/BagPage/index.js
  src/components/ConfirmPage/index.js
  src/components/HomePage/index.js
  src/components/PaymentPage/index.js
  src/components/Router/index.js
Due: prettier-eslint --write, eslint

Adding mobile responsive layout
  src/CodeSnippets
  src/pages/Confirmacao.js
  src/react-app-env.d.ts
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
