Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

refactor: clean code
  .eslintrc.json
  src/components/Currency/Currency.tsx
  src/components/Tabs/Tabs.tsx
  src/constants.ts
  src/features/Checkout/Checkout.tsx
  src/features/Checkout/components/BagContent/BagContent.test.tsx
  src/features/Checkout/components/BagContent/BagContent.tsx
  src/features/Checkout/components/BagStep/BagStep.tsx
  src/features/Checkout/components/BillingSummary/style.scss
  src/features/Checkout/components/CreditCardInput/CreditCardInput.tsx
  src/features/Checkout/components/CreditCardInput/style.scss
  src/features/Checkout/components/PaymentStep/PaymentStep.tsx
  src/features/Checkout/components/SuccessStep/SuccessStep.tsx
  src/features/Checkout/components/SuccessStep/style.scss
  src/features/Checkout/components/SuccessfulCard/SuccessfulCard.tsx
  src/features/Checkout/hooks/useBagContent.ts
  src/features/Checkout/sass/mixins.scss
  src/features/Checkout/utils/getBilling.ts
  src/features/Checkout/utils/getProducts.ts
  src/index.css
  src/pages/checkout/index.page.server.tsx
  src/renderer/_default.page.client.tsx
  src/renderer/_default.page.server.tsx
  src/renderer/_error.page.tsx
  src/test/mocks/makeProductMock.ts
Due: prettier --write

refactor: improvement hideCreditCard fn
  src/features/Checkout/utils/hideCreditCard.ts
Due: none

primeiro commit
  package.json
  src/App.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write

criada a base do componente de checkout
  package.json
  src/App.tsx
  src/components/Cart/Cart.interface.ts
  src/components/Cart/index.tsx
  src/components/Checkout/index.tsx
  src/components/Confirmation/Confirmation.interface.ts
  src/components/Confirmation/index.tsx
  src/components/Menu/Menu.interface.ts
  src/components/Menu/Menu.scss
  src/components/Menu/index.tsx
  src/components/Payment/Payment.interface.ts
  src/components/Payment/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write

criado componente de Cart
  src/App.tsx
  src/components/Cart/Cart.interface.ts
  src/components/Cart/index.tsx
  src/components/Cart/styles.scss
  src/components/Checkout/index.tsx
  src/context/CartContext.tsx
  src/index.css
  src/services/api.ts
  src/styles/mixins.scss
  src/styles/variables.scss
Due: prettier --write

criado o componente OrderSummary
  src/components/Cart/index.tsx
  src/components/Cart/styles.scss
  src/components/Checkout/index.tsx
  src/components/OrderSummary/index.tsx
  src/components/OrderSummary/styles.scss
  src/components/ui/Button/Button.interface.ts
  src/components/ui/Button/index.tsx
  src/components/ui/Button/styles.scss
  src/context/CartContext.tsx
  src/index.scss
  src/main.tsx
  src/styles/helpers.scss
  src/styles/variables.scss
Due: none

criado componente de Pagamento
  package.json
  src/components/Payment/Payment.interface.ts
  src/components/Payment/Payment.schema.ts
  src/components/Payment/Payment.scss
  src/components/Payment/index.tsx
  src/components/ui/Input/Index.tsx
  src/components/ui/Input/Input.interface.ts
  src/components/ui/Input/Input.scss
  src/styles/helpers.scss
  src/styles/variables.scss
  src/utils/converters/formatCurrency.ts
  src/utils/masks/mask.ts
  src/utils/validates/validateCreditCard.ts
  src/utils/validates/validateDate.ts
  yarn.lock
Due: prettier --write

adicionada função para converter numero em monetário
  src/components/OrderSummary/index.tsx
  src/utils/converters/formatCurrency.ts
Due: none

ajustada navegação entre os componentes
  src/components/Cart/index.tsx
  src/components/Checkout/index.tsx
  src/components/Confirmation/Confirmation.interface.ts
  src/components/Confirmation/index.tsx
  src/components/OrderSummary/OrderSummary.interface.ts
  src/components/OrderSummary/index.tsx
  src/components/Payment/Payment.interface.ts
  src/components/Payment/index.tsx
Due: none

criada verificação se os dados do cartão foram corretamente preenchidos
  src/components/Cart/index.tsx
  src/components/Cart/styles.scss
  src/components/Checkout/Checkout.interface.ts
  src/components/Checkout/index.tsx
  src/components/Confirmation/index.tsx
  src/components/Confirmation/styles.scss
  src/components/OrderSummary/index.tsx
  src/components/Payment/index.tsx
  src/styles/mixins.scss
  src/styles/variables.scss
  src/utils/converters/formatHideNumberCard.ts
Due: none

ajustes visuais no Menu
  src/components/Cart/index.tsx
  src/components/Cart/styles.scss
  src/components/Checkout/index.tsx
  src/components/Confirmation/index.tsx
  src/components/Menu/Menu.interface.ts
  src/components/Menu/Menu.scss
  src/components/Menu/index.tsx
Due: none

finalização do projeto checkout
  package.json
  src/App.test.tsx
  src/components/Cart/index.tsx
  src/components/Cart/styles.scss
  src/components/Checkout/Checkout.interface.ts
  src/components/Confirmation/index.tsx
  src/components/Confirmation/styles.scss
  src/components/OrderSummary/styles.scss
  src/components/Payment/Payment.interface.ts
  src/components/Payment/Payment.scss
  src/components/Payment/index.tsx
  src/context/CartContext.tsx
  src/index.scss
  src/styles/variables.scss
  src/test/setup-test.ts
  src/utils/hooks/useWindowSize.ts
  yarn.lock
Due: prettier --write

chore: add eslint config and dependencies
  .eslintignore
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

chore: add jest config and dependencies
  jest.config.js
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add styled-components and test missing dependencies
  jest.config.ts
  package.json
  yarn.lock
Due: prettier --write

chore: config styled-components global styles
  package.json
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  src/styles/global.ts
  src/styles/theme.ts
  src/test/setup-test.ts
  src/types/styled.d.ts
  yarn.lock
Due: prettier --write

fix: ThemeProvider error on type
  package.json
  src/types/styled.d.ts
  yarn.lock
Due: prettier --write

chore: add react-router-dom, config routes and improve configs
  package.json
  src/App.tsx
  src/Router.tsx
  src/main.tsx
  src/pages/Bag.tsx
  src/pages/Confirmation.tsx
  src/pages/Payment.tsx
  src/styles/global.ts
  src/styles/media.ts
  src/styles/theme.ts
  yarn.lock
Due: prettier --write

chore: add layout to routing config
  src/@types/styled.d.ts
  src/App.tsx
  src/Router.tsx
  src/layouts/DefaultLayout/index.tsx
  src/layouts/DefaultLayout/styles.ts
  src/main.tsx
  src/styles/global.ts
  src/styles/theme.ts
Due: none

chore: Header component
  src/components/Header/index.tsx
  src/components/Header/styles.ts
Due: none

fix: eslint config and react-router-dom config
  .eslintrc
  package.json
  src/App.test.tsx
  yarn.lock
Due: prettier --write

chore: Header component test
  src/components/Header/Header.test.tsx
  src/components/Header/styles.ts
  src/layouts/DefaultLayout/index.tsx
  src/layouts/DefaultLayout/styles.ts
  src/styles/global.ts
  src/test/setup-test.ts
  src/utils/test-utils.tsx
Due: none

chore: add react-query
  package.json
  src/App.tsx
  src/layouts/DefaultLayout/styles.ts
  yarn.lock
Due: prettier --write

feat: service layer
  package.json
  src/components/Header/index.tsx
  src/services/api.ts
  src/services/hooks/useData.ts
  yarn.lock
Due: prettier --write

refactor: improve useData hook code
  src/services/hooks/useData.ts
Due: none

chore: Button component
  src/components/Button/Button.test.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.ts
Due: none

chore: Typography components
  src/components/Typography/styles.ts
Due: none

chore: Card component
  src/components/Card/Card.test.tsx
  src/components/Card/index.tsx
  src/components/Card/styles.ts
Due: none

chore: CurrencyText component
  src/components/Typography/CurrencyText.tsx
  src/components/Typography/styles.ts
  src/layouts/DefaultLayout/styles.ts
  src/styles/theme.ts
Due: none

chore: mapping api data return to Bag type
  src/services/hooks/useData.ts
Due: none

chore: Summary component
  src/components/Summary/Summary.test.tsx
  src/components/Summary/index.tsx
  src/components/Summary/styles.ts
Due: none

refactor: jest config
  jest.config.js
  jest.config.ts
  package.json
  src/components/Button/Button.test.tsx
  src/components/Button/styles.ts
  src/components/Card/Card.test.tsx
  src/components/Header/Header.test.tsx
  src/components/Summary/Summary.test.tsx
  src/services/hooks/useData.ts
  src/styles/theme.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: CartItem component
  src/components/CartItem/CartItem.test.tsx
  src/components/CartItem/index.tsx
  src/components/CartItem/styles.ts
  src/components/Summary/styles.ts
  src/components/Typography/styles.ts
Due: none

chore: Spinner component
  src/components/Spinner/index.tsx
  src/components/Spinner/styles.ts
Due: none

feat: Bag page
  package.json
  src/components/Header/Header.test.tsx
  src/pages/Bag.tsx
  src/pages/Bag/Bag.test.tsx
  src/pages/Bag/index.tsx
  src/services/hooks/useData.ts
  src/test/mocks.ts
  src/utils/test-utils.tsx
  yarn.lock
Due: prettier --write

wip: Input component
  src/components/Card/Card.test.tsx
  src/components/Card/index.tsx
  src/components/Input/index.tsx
  src/components/Input/styles.ts
Due: none

chore: Input component
  src/components/Input/Input.test.tsx
  src/components/Input/__snapshots__/Input.test.tsx.snap
  src/components/Input/index.tsx
Due: none

chore: add react-hook-form and zod to form management
  package.json
  src/pages/Payment/Payment.test.tsx
  src/pages/Payment/index.tsx
  yarn.lock
Due: prettier --write

wip: payment page form
  src/components/CartItem/styles.ts
  src/components/Input/styles.ts
  src/components/Summary/styles.ts
  src/components/Typography/styles.ts
  src/pages/Payment/index.tsx
  src/utils/format.ts
Due: none

chore: Spinner component
  src/components/Spinner/index.tsx
  src/components/Spinner/styles.ts
  src/layouts/DefaultLayout/index.tsx
  src/layouts/DefaultLayout/styles.ts
  src/pages/Bag/index.tsx
Due: none
