Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

apply style step 1
  src/cart/Cart.js
  src/cart/Payment.js
  src/cart/Success.js
  src/components/Button.js
  src/components/FinalizeAccount.js
  src/components/Header.js
  src/components/ProdutctList.js
  src/components/UserInfo.js
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

add style to steps 2 and 3
  src/cart/Success.js
  src/components/Button.js
  src/components/Colors.js
  src/components/FinalizeAccount.js
  src/components/Header.js
  src/components/ProdutctList.js
  src/components/UserForm.js
  src/components/UserFormCardCvv.js
  src/components/UserFormCardDate.js
  src/components/UserFormCardName.js
  src/components/UserFormCardNumber.js
  src/components/UserInfo.js
Due: prettier-eslint --write, eslint

add style to steps 2 and 3
  src/components/Button.js
Due: prettier-eslint --write, eslint

add error messages on form
  src/components/UserFormCardCvv.js
  src/components/UserFormCardDate.js
  src/components/UserFormCardName.js
  src/components/UserFormCardNumber.js
Due: prettier-eslint --write, eslint

Add Typescript
  .gitignore
  .prettierrc
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/App.tsx
  src/index.css
  src/index.js
  src/logo.svg
  src/react-app-env.d.ts
  src/serviceWorker.js
  tsconfig.json
Due: prettier-eslint --write, eslint, prettier --write

Create Routes
  package.json
  src/App.tsx
  src/img/loading.gif
  src/routes/Cart.tsx
  src/routes/Checkout.tsx
  src/routes/Order.tsx
  src/routes/index.tsx
Due: prettier --write

Create Header
  src/components/Header/index.tsx
  src/routes/index.tsx
Due: none

Create Cart Page
  package.json
  src/components/CartItem/index.tsx
  src/components/CartList/index.tsx
  src/react-app-env.d.ts
  src/routes/Cart.tsx
Due: prettier --write

Create Cart Context
  .prettierrc
  src/App.tsx
  src/components/CartList/index.tsx
  src/context/CartContext.tsx
  src/react-app-env.d.ts
Due: none

Add CartSummary
  src/components/CartSummary/CartSummaryItem.tsx
  src/components/CartSummary/index.tsx
  src/routes/Cart.tsx
Due: none

[FIX] Fixed button align & alert padding
  src/components/Alerta/style.js
  src/components/Button/style.js
Due: prettier-eslint --write, eslint

[FIX] Fixed loading style and alerta style
  src/components/Alerta/style.js
  src/components/Button/style.js
  src/components/Card/style.js
  src/components/Header/style.js
  src/components/Input/style.js
  src/components/Loading/style.js
  src/components/Text/style.js
Due: prettier-eslint --write, eslint

[FIX] Fixed lazy imports
  src/App.jsx
Due: none

[FIX] Fixed tests in one archive
  .eslintrc
  package.json
  tests/e2e/__videos__/all.spec.js.mp4
  tests/e2e/integration/1-Cart.spec.js
  tests/e2e/integration/2-Payment.spec.js
  tests/e2e/integration/3-Success.spec.js
  tests/e2e/integration/all.spec.js
Due: prettier-eslint --write, eslint, prettier --write

Create Checkout Form
  package.json
  src/components/CheckoutForm/CreditCardInput.tsx
  src/components/CheckoutForm/InputField.jsx
  src/components/CheckoutForm/formSchema.js
  src/components/CheckoutForm/index.tsx
  src/context/CheckoutFormContext.tsx
  src/helpers/useForm.jsx
  src/react-app-env.d.ts
  src/routes/Checkout.tsx
Due: prettier-eslint --write, eslint, prettier --write

Create Order Page
  src/App.tsx
  src/components/CartList/CartList.component.tsx
  src/components/CartList/CartList.container.tsx
  src/components/CartList/index.tsx
  src/components/CartSummary/CartSummary.component.tsx
  src/components/CartSummary/CartSummary.container.tsx
  src/components/CartSummary/index.tsx
  src/components/CheckoutForm/index.tsx
  src/components/OrderConfirmation/index.tsx
  src/components/OrderDetails/index.tsx
  src/context/OrderContext.tsx
  src/react-app-env.d.ts
  src/routes/Order.tsx
Due: none

[FIX] Fix header line-height & text from DIV to P
  src/components/Header/style.js
  src/components/Text/style.js
Due: prettier-eslint --write, eslint

Create Syles - Mobile
  package.json
  public/index.html
  src/App.tsx
  src/components/Button/index.jsx
  src/components/Button/style.js
  src/components/Card/index.tsx
  src/components/Card/styles.js
  src/components/CartItem/index.tsx
  src/components/CartItem/styles.js
  src/components/CartList/CartList.component.tsx
  src/components/CartSummary/CartSummary.component.tsx
  src/components/CartSummary/CartSummaryItem.tsx
  src/components/CartSummary/style.js
  src/components/CheckoutForm/InputField.jsx
  src/components/CheckoutForm/index.tsx
  src/components/CheckoutForm/styles.js
  src/components/Header/index.tsx
  src/components/Header/styles.js
  src/components/OrderConfirmation/index.tsx
  src/components/OrderConfirmation/style.js
  src/components/OrderDetails/index.tsx
  src/components/OrderDetails/style.js
  src/routes/Cart.tsx
  src/routes/Checkout.tsx
  src/routes/Order.tsx
  src/routes/index.tsx
  src/styles.js
Due: prettier-eslint --write, eslint, prettier --write

Create Style - Desktop
  src/components/CartItem/index.tsx
  src/components/CartItem/styles.js
  src/components/CheckoutForm/index.tsx
  src/components/Header/index.tsx
  src/components/Header/styles.js
  src/routes/Cart.tsx
  src/routes/Checkout.tsx
  src/routes/Order.tsx
Due: prettier-eslint --write, eslint

Hide CreditCard Info
  src/components/CheckoutForm/index.tsx
Due: none

Disable button when with invalid input
  src/components/Button/style.js
  src/components/CheckoutForm/InputField.jsx
  src/components/CheckoutForm/index.tsx
  src/helpers/useForm.jsx
Due: prettier-eslint --write, eslint

Final Edit
  README.md
  public/index.html
Due: prettier --write

Change Endpoint to Https
  src/App.tsx
Due: none

[IMPROVEMENTS] Organization and improvements of imports, putting forgotten types
  .eslintrc
  src/App.jsx
  src/components/Alerta/index.jsx
  src/components/Button/index.jsx
  src/components/Checkout/index.jsx
  src/components/Input/index.jsx
  src/components/Product/index.jsx
  src/components/Text/index.jsx
  src/containers/Cart/index.jsx
  src/containers/Payment/index.jsx
  src/containers/Success/index.jsx
  src/layouts/default.jsx
  src/store/Reducers.js
  tests/e2e/__videos__/all.spec.js.mp4
Due: prettier-eslint --write, eslint

refactor: update dependencies
  .gitignore
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/index.js
  src/serviceWorker.js
Due: prettier-eslint --write, eslint, prettier --write

tests for components, redux and redux-saga
  __test__/App.test.js
  package.json
  src/__test__/_integrationTest/integration.test.js
  src/__test__/components/BLWButton/index.test.js
  src/__test__/components/BLWSingleTitle/index.test.js
  src/__test__/components/ProductCart/index.test.js
  src/__test__/components/ProductCartInfo/index.test.js
  src/__test__/pages/Cart/index.test.js
  src/__test__/store/cart/index.test.js
  src/__test__/store/cart/sagas.test.js
  src/__test__/utils/index.js
  src/components/BLWButton/index.js
  src/components/BLWSingleTitle/index.js
  src/components/ProductCart/index.js
  src/components/ProductCart/styles.js
  src/components/ProductCartInfo/index.js
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
  src/setupTests.js
  src/store/ducks/cart/index.js
  src/store/ducks/cart/sagas.js
  src/store/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Inclusao de yarn.lock no .gitignore
  .gitignore
Due: none

Project start init
  package.json
  src/App.css
  src/App.js
  src/assets/logo_bw.svg
  src/assets/myBootstrap.css
  src/components/Header.js
  src/index.css
  src/index.js
  src/pages/Home/index.js
  src/pages/Home/style.module.css
  src/pages/ListProduct/BoxItem.js
  src/pages/ListProduct/index.js
  src/services/api.js
Due: prettier-eslint --write, eslint, prettier --write

Ending first day of implementation
  package.json
  src/App.js
  src/assets/myBootstrap.css
  src/pages/DetailProduct/index.js
  src/pages/ListProduct/BoxItem.js
  src/pages/ListProduct/index.js
  src/services/api.js
Due: prettier-eslint --write, eslint, prettier --write

Final commit to deliver the evaluation.
  src/App.js
  src/assets/myBootstrap.css
  src/pages/DetailProduct/DescriptionProduct.js
  src/pages/DetailProduct/index.js
  src/pages/Home/index.js
  src/pages/ListProduct/BoxItem.js
  src/pages/ListProduct/index.js
  src/routes.js
Due: prettier-eslint --write, eslint, prettier --write

Todos os arquivos necessarios
  .eslintrc.js
  .gitignore
  README.md
  package.json
  public/favicon.ico
  public/index.html
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/components/botaoPadrao/index.js
  src/components/botaoPadrao/styles.js
  src/components/menu/index.js
  src/components/menu/styles.js
  src/components/submit/index.js
  src/components/submit/styles.js
  src/index.css
  src/index.js
  src/logo.svg
  src/pages/confirmacao/index.js
  src/pages/confirmacao/styles.js
  src/pages/main/index.js
  src/pages/main/style.js
  src/pages/pagamento/index.js
  src/pages/pagamento/style.js
  src/routes.js
  src/serviceWorker.js
  src/services/api.js
  src/store/index.js
  src/store/modules/loja/actions.js
  src/store/modules/loja/reducer.js
  src/store/modules/rootReducer.js
  src/styles/global.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Teste finalizado
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/manifest.json
  server.json
  src/App.css
  src/App.js
  src/App.test.js
  src/assets/images/img01.png
  src/assets/images/img02.jpg
  src/assets/images/img03.jpg
  src/assets/images/img4.png
  src/assets/images/logo.svg
  src/components/Header/index.js
  src/components/Header/styles.js
  src/index.css
  src/index.js
  src/logo.svg
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
  src/pages/Home/index.js
  src/pages/Home/styles.js
  src/pages/Success/index.js
  src/pages/Success/styles.js
  src/routes.js
  src/serviceWorker.js
  src/services/api.js
  src/store/index.js
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
  src/store/modules/rootReducer.js
  src/styles/global.js
  src/util/format.js
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] add projects dependencies
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

[FEAT] created CartContext
  src/context/CartContext.js
Due: prettier-eslint --write, eslint

[FEAT] implementation global css
  src/index.css
Due: prettier --write

[FEAT] created loading component
  src/components/Loading/index.js
  src/components/Loading/styles.css
Due: prettier-eslint --write, eslint, prettier --write

[FEAT] implementation routes
  src/routes/index.js
Due: prettier-eslint --write, eslint

[FEAT] implementation CartProvider
  src/index.js
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
