Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

Instala dependencias e inicia projeto
  package-lock.json
  yarn.lock
Due: prettier --write

Cria rotas para as paginas
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.jsx
  src/components/Header.jsx
  src/index.css
  src/index.jsx
  src/pages/Cart.jsx
  src/pages/Confirmation.jsx
  src/pages/Payment.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Gera o map dos produtos
  src/components/Header.jsx
  src/pages/Cart.jsx
Due: none

Faz esboço do carrinho
  src/pages/Cart.jsx
Due: none

Faz esboço do pagamento e da confirmação
  package-lock.json
  package.json
  src/pages/Cart.jsx
  src/pages/Confirmation.jsx
  src/pages/Payment.jsx
  yarn.lock
Due: prettier --write

Cria lógica de localStorage
  src/pages/Confirmation.jsx
  src/pages/Payment.jsx
Due: none

Cria lógica para conversão de valores
  src/pages/Cart.jsx
  src/pages/Confirmation.jsx
  src/pages/Payment.jsx
  src/services/Utilities.js
Due: prettier-eslint --write, eslint

Adiciona regras nos inputs
  package-lock.json
  package.json
  src/pages/Payment.jsx
  yarn.lock
Due: prettier --write

Adiciona verificações para ativação do botão de finalizar compra
  src/components/Header.jsx
  src/pages/Payment.jsx
Due: none

Adiciona esboço e funcionalidades CSS
  public/index.html
  src/App.jsx
  src/components/Header.jsx
  src/index.css
  src/pages/Cart.jsx
  src/pages/Confirmation.jsx
  src/pages/Payment.jsx
  src/styles/Header.css
Due: prettier --write

Finaliza CSS do carrinho
  public/index.html
  src/App.jsx
  src/components/Header.jsx
  src/index.css
  src/pages/Cart.jsx
  src/pages/Confirmation.jsx
  src/styles/Header.css
Due: prettier --write

Finaliza esboço do projeto
  src/assets/success.png
  src/index.css
  src/pages/Cart.jsx
  src/pages/Confirmation.jsx
  src/pages/Payment.jsx
Due: prettier --write

Atualiza tags para deploy
  public/index.html
Due: prettier --write

Adiciona loading
  src/pages/Cart.jsx
Due: none

chore(.git*): git configuration files changed
  .gitattributes
  .gitignore
Due: none

chore(.prettierrc): changed default file style configuration
  .prettierrc
Due: none

build(package.json): essential packages, commitizen configuration, package manager definition
  .yarn/releases/yarn-3.2.4.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(.vscode): workspace configuration for vscode IDE
  .vscode/settings.json
Due: prettier --write

build(package.json): added jest type definition for auto suggest
  package.json
Due: prettier --write

feat(src/api): api call to get cart object
  src/api/api.js
  src/api/api.test.js
  src/api/index.js
Due: prettier-eslint --write, eslint

chore(package.json): removed husky commit message hook
  package.json
Due: prettier --write

feat(src/routes): client routes definition
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/routes/Cart.jsx
  src/routes/Confirmation.jsx
  src/routes/Payment.jsx
  src/routes/Root.jsx
  src/routes/router.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat(src/[styles|app.jsx]): css reset definition and jss theme definition
  src/App.jsx
  src/index.js
  src/styles/reset.js
  src/styles/theme.js
  src/styles/useAppStyles.js
Due: prettier-eslint --write, eslint

feat(src/[routes|styles]): root route defined with navbar and content block
  package.json
  src/routes/Root.jsx
  src/routes/Root/Root.jsx
  src/routes/Root/index.js
  src/routes/Root/useStyles.js
  src/styles/reset.js
  src/styles/theme.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat(src/[api|context|styles]): context created, adjust on api jsdoc comments, added few styles
  jsconfig.json
  src/App.jsx
  src/api/api.js
  src/context/CartContext.jsx
  src/styles/theme.js
  src/styles/useAppStyles.js
Due: prettier-eslint --write, eslint, prettier --write

feat(src/[components|routes]): card component, products component and cart route changed
  src/components/Card/Card.jsx
  src/components/Card/index.js
  src/components/Card/useStyles.js
  src/components/Products/Products.jsx
  src/components/Products/index.js
  src/components/Products/useStyles.js
  src/routes/Cart.jsx
  src/routes/router.js
Due: prettier-eslint --write, eslint

feat(src/[components|routes]): added transparentcard, totalpricesummary components
  src/components/Card/Card.jsx
  src/components/TotalPriceSummary/TotalPriceSummary.jsx
  src/components/TotalPriceSummary/index.js
  src/components/TotalPriceSummary/useStyles.jsx
  src/components/TransparentCard/TransparentCard.jsx
  src/components/TransparentCard/index.js
  src/routes/Cart.jsx
  src/routes/Cart/Cart.jsx
  src/routes/Cart/index.js
  src/routes/Cart/useStyles.js
Due: prettier-eslint --write, eslint

feat(src/[components|routes]): new button component, applied button on cart route
  src/components/Button/Button.jsx
  src/components/Button/index.js
  src/components/Button/useStyles.js
  src/components/Products/useStyles.js
  src/routes/Cart/Cart.jsx
  src/routes/Cart/useStyles.js
Due: prettier-eslint --write, eslint

feat(src): payment layout and validation
  jsconfig.json
  package.json
  src/components/Button/Button.jsx
  src/components/Button/useStyles.js
  src/components/Products/useStyles.js
  src/components/TotalPriceSummary/index.js
  src/components/TotalPriceSummary/useStyles.jsx
  src/index.js
  src/routes/Cart/Cart.jsx
  src/routes/Payment.jsx
  src/routes/Payment/Payment.jsx
  src/routes/Payment/index.js
  src/routes/Payment/useStyles.js
  src/routes/Root/useStyles.js
  src/routes/router.js
  src/styles/reset.js
  src/styles/theme.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat(src/routes): confirmation route added and flow between pages implemented
  src/components/Button/useStyles.js
  src/context/CartContext.jsx
  src/routes/Confirmation.jsx
  src/routes/Confirmation/Confirmation.jsx
  src/routes/Confirmation/index.js
  src/routes/Confirmation/useStyles.js
  src/routes/Payment/Payment.jsx
  src/routes/Root/Root.jsx
  src/routes/Root/useStyles.js
  src/routes/router.js
Due: prettier-eslint --write, eslint

feat(src/routes): added breakpoint and container to adjust layout on bigger devices
  src/routes/Root/Root.jsx
  src/routes/Root/useStyles.js
Due: prettier-eslint --write, eslint

feat(src/components): added fallback component and lazy import for split bundle
  src/components/Fallback/Fallback.jsx
  src/components/Fallback/index.js
  src/components/Fallback/useStyles.js
  src/routes/router.js
Due: prettier-eslint --write, eslint

Project start, migrate to typescript, eslint, libs and create atomic design base structure
  .eslintrc.js
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/App.tsx
  src/index.css
  src/index.tsx
  src/react-app-env.d.ts
  src/serviceWorker.js
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

start pages, header and themes
  .eslintrc.js
  public/index.html
  src/App.tsx
  src/components/organisms/Container/Container.styles.ts
  src/components/organisms/Container/Container.tsx
  src/components/organisms/Header/Header.styles.ts
  src/components/organisms/Header/Header.tsx
  src/components/pages/Cart/Cart.styles.ts
  src/components/pages/Cart/Cart.tsx
  src/components/pages/Confirmation/Confirmation.styles.ts
  src/components/pages/Confirmation/Confirmation.tsx
  src/components/pages/Payment/Payment.styles.ts
  src/components/pages/Payment/Payment.tsx
  src/styles/global.ts
  src/styles/theme.ts
  tsconfig.json
Due: prettier-eslint --write, eslint, prettier --write

apply context and consume api
  src/App.tsx
  src/components/api/api.ts
  src/components/organisms/Header/Header.styles.ts
  src/components/organisms/Header/Header.tsx
  src/components/pages/Cart/Cart.tsx
  src/components/pages/Confirmation/Confirmation.tsx
  src/components/pages/Payment/Payment.tsx
  src/contexts/CartContext.tsx
  src/contexts/HeaderContext.tsx
  src/interfaces/ProductCart.interface.ts
Due: none

created page cart, component button and title. currency utils
  src/api/api.ts
  src/components/atoms/Button/Button.styles.ts
  src/components/atoms/Button/Button.tsx
  src/components/atoms/Title/Title.styles.ts
  src/components/atoms/Title/Title.tsx
  src/components/molecules/ProductList/ProductList.styles.ts
  src/components/molecules/ProductList/ProductList.tsx
  src/components/molecules/ProductList/components/ProductItem/ProductItem.styles.ts
  src/components/molecules/ProductList/components/ProductItem/ProductItem.tsx
  src/components/molecules/ProductPrices/ProductPrices.styles.ts
  src/components/molecules/ProductPrices/ProductPrices.tsx
  src/components/molecules/ProductPrices/components/PriceItem/PriceItem.styles.ts
  src/components/molecules/ProductPrices/components/PriceItem/PriceItem.tsx
  src/components/organisms/Container/Container.styles.ts
  src/components/organisms/Header/Header.styles.ts
  src/components/pages/Cart/Cart.styles.ts
  src/components/pages/Cart/Cart.tsx
  src/components/pages/Payment/Payment.styles.ts
  src/components/pages/Payment/Payment.tsx
  src/contexts/CartContext.tsx
  src/styles/global.ts
  src/styles/theme.ts
  src/utils/currency.ts
Due: none

created form, validators and input
  src/components/atoms/Button/Button.styles.ts
  src/components/atoms/Input/Input.styles.ts
  src/components/atoms/Input/Input.tsx
  src/components/molecules/PaymentForm/PaymentForm.styles.ts
  src/components/molecules/PaymentForm/PaymentForm.tsx
  src/components/pages/Payment/Payment.tsx
  src/styles/theme.ts
  src/utils/mask.ts
Due: none

migrate pages to another directory, confirmation page, confirmation message and payment details
  src/App.tsx
  src/assets/imgs/confirmation-icon.png
  src/components/atoms/Input/Input.styles.ts
  src/components/molecules/ConfirmationMessage/ConfirmationMessage.styles.ts
  src/components/molecules/ConfirmationMessage/ConfirmationMessage.tsx
  src/components/molecules/PaymentDetails/PaymentDetails.styles.ts
  src/components/molecules/PaymentDetails/PaymentDetails.tsx
  src/components/molecules/ProductList/ProductList.tsx
  src/components/molecules/ProductList/components/ProductItem/ProductItem.styles.ts
  src/components/molecules/ProductList/components/ProductItem/ProductItem.tsx
  src/components/pages/Confirmation/Confirmation.styles.ts
  src/components/pages/Confirmation/Confirmation.tsx
  src/contexts/PaymentContext.tsx
  src/interfaces/Payment.interface.ts
  src/pages/Cart/Cart.styles.ts
  src/pages/Cart/Cart.tsx
  src/pages/Confirmation/Confirmation.styles.ts
  src/pages/Confirmation/Confirmation.tsx
  src/pages/Payment/Payment.styles.ts
  src/pages/Payment/Payment.tsx
  src/utils/mask.ts
Due: none

created spinner
  src/components/organisms/Spinner/Spinner.styles.ts
  src/components/organisms/Spinner/Spinner.tsx
  src/pages/Cart/Cart.tsx
Due: none

responsive components to desktop
  src/components/atoms/Button/Button.styles.ts
  src/components/atoms/Button/Button.tsx
  src/components/molecules/ProductList/ProductList.styles.ts
  src/components/molecules/ProductList/components/ProductItem/ProductItem.styles.ts
  src/components/molecules/ProductList/components/ProductItem/ProductItem.tsx
  src/components/molecules/ProductPrices/ProductPrices.styles.ts
  src/components/organisms/Container/Container.styles.ts
  src/components/organisms/Spinner/Spinner.styles.ts
  src/pages/Cart/Cart.tsx
Due: none

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
