Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

iconCheck
  src/assets/check.png
  src/assets/circle.png
  src/components/Common/BoxProduct.jsx
  src/components/Common/CardDefault/index.jsx
  src/components/Common/CardSummary/index.jsx
  src/components/Common/SuccessBuy.jsx
  src/pages/Cart/index.jsx
  src/pages/Confirmation/index.jsx
  src/pages/Payment/index.jsx
Due: none

context card, ui page confirmation
  src/components/Common/CardDefault/index.jsx
  src/components/Common/CardRegister.jsx
  src/components/Common/CardSummary/index.jsx
  src/components/Common/FormCreditCard.jsx
  src/components/Common/Input.jsx
  src/components/Common/SuccessBuy.jsx
  src/context/useRegisterCardContext.jsx
  src/index.jsx
  src/pages/Confirmation/index.jsx
Due: none

feat: installing and creating file of global styled-component
  package-lock.json
  package.json
  src/App.css
  src/App.jsx
  src/assets/styles/global.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: creating Button component, config babel init file and creating spec for Button
  babel.config.js
  package-lock.json
  package.json
  src/components/Button/Button.jsx
  src/components/Button/Button.spec.js
  src/components/Button/style.js
  src/context/Basket.jsx
Due: prettier-eslint --write, eslint, prettier --write

feat: creating style dor Button component and init map of colors
  src/assets/styles/colors.js
  src/components/Button/Button.jsx
  src/components/Button/style.js
Due: prettier-eslint --write, eslint

feat: cleaning project and fixing global style
  src/assets/styles/global.js
  src/components/Button/Button.spec.js
  src/index.css
  src/logo.svg
Due: prettier-eslint --write, eslint, prettier --write

fix: fixing routes, app wrapper and creating new Button test
  src/App.jsx
  src/App.test.js
  src/App.testx.js
  src/components/Button/Button.jsx
  src/components/Button/Button.spec.js
  src/features/cart/Cart.jsx
  src/index.js
Due: prettier-eslint --write, eslint

feat: (wip) creating Input component
  src/components/Button/Button.spec.js
  src/components/Input/Input.jsx
  src/components/Input/Input.spec.js
  src/components/Input/style.js
  src/features/cart/Cart.jsx
Due: prettier-eslint --write, eslint

validation form
  package-lock.json
  package.json
  src/components/Common/BoxProduct.jsx
  src/components/Common/Button.jsx
  src/components/Common/CardRegister.jsx
  src/components/Common/CardSummary/index.jsx
  src/components/Common/FormCreditCard.jsx
  src/components/Common/Input.jsx
  src/context/useRegisterCardContext.jsx
  src/context/useRequestContext.jsx
  src/pages/Payment/index.jsx
  yarn.lock
Due: prettier --write

remove console
  src/components/Common/FormCreditCard.jsx
Due: none

fix: mask name
  package-lock.json
  package.json
  src/components/Common/CardSummary/index.jsx
  src/components/Common/CardSummary/styles.js
  src/components/Common/FormCreditCard.jsx
  src/components/Common/Input.jsx
  src/components/Common/Navbar/index.jsx
  src/components/Common/ProductCard.jsx
  src/pages/Confirmation/index.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: creating style for Input component
  src/assets/styles/colors.js
  src/components/Button/style.js
  src/components/Input/Input.jsx
  src/components/Input/style.js
Due: prettier-eslint --write, eslint

feat: (wip) creating Header component
  src/App.jsx
  src/components/Header/Header.jsx
  src/components/Header/Header.spec.js
  src/components/Header/style.js
  src/features/cart/Cart.jsx
Due: prettier-eslint --write, eslint

fix button submit
  package.json
  src/App.jsx
  src/components/Common/FormCreditCard.jsx
  src/components/Common/Input.jsx
  src/context/useRegisterCardContext.jsx
  src/index.jsx
  src/pages/Payment/index.jsx
  src/tests/routes.test.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

url mock
  src/context/useRequestContext.jsx
Due: none

started tests - snapshots pages, verify data in pages
  package.json
  src/tests/app.test.js
  src/tests/routes.test.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: (wip) creating Header component with Items and new hex of colors
  src/assets/styles/colors.js
  src/assets/styles/global.js
  src/components/Header/Header.jsx
  src/components/Header/style.js
  src/features/cart/Cart.jsx
Due: prettier-eslint --write, eslint

feat: testing Header component
  src/assets/styles/global.js
  src/components/Header/Header.jsx
  src/components/Header/Header.spec.js
  src/components/Header/style.js
Due: prettier-eslint --write, eslint

chore: 🎨 improve structure in initial setup
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
Due: prettier-eslint --write, eslint, prettier --write

feat: Adjusting pages
  src/App.jsx
  src/assets/styles/colors.js
  src/components/Button/Button.jsx
  src/components/Button/Button.spec.js
  src/components/Container/Container.jsx
  src/components/Container/Container.spec.js
  src/components/Container/style.js
  src/components/Header/Header.jsx
  src/components/Header/style.js
  src/features/cart/Cart.jsx
  src/features/payment/Payment.jsx
  src/features/success/Success.jsx
Due: prettier-eslint --write, eslint

feat: creating box style for Container
  src/assets/styles/colors.js
  src/components/Container/Container.jsx
  src/components/Container/style.js
Due: prettier-eslint --write, eslint

feat: creating ProductList component
  src/components/ProductList/ProductList.jsx
  src/components/ProductList/ProductList.spec.js
  src/components/ProductList/style.js
  src/features/cart/Cart.jsx
Due: prettier-eslint --write, eslint

feature: creating Items for ProductList
  src/components/Button/style.js
  src/components/Container/style.js
  src/components/ProductList/ProductList.jsx
  src/components/ProductList/style.js
  src/features/success/Success.jsx
Due: prettier-eslint --write, eslint

feat: creating Product component and refac code
  src/components/Product/Product.jsx
  src/components/Product/Product.spec.js
  src/components/Product/style.js
  src/components/ProductList/ProductList.jsx
  src/components/ProductList/ProductList.spec.js
  src/components/ProductList/style.js
  src/features/success/Success.jsx
  src/utils/currencyHelper.js
Due: prettier-eslint --write, eslint

fix: adjusting positions of components and creating wrapper on global style
  src/assets/styles/global.js
  src/components/Button/Button.jsx
  src/components/Container/style.js
  src/features/cart/Cart.jsx
  src/features/payment/Payment.jsx
Due: prettier-eslint --write, eslint

feat: creating Total component
  src/App.jsx
  src/assets/styles/colors.js
  src/components/Container/style.js
  src/components/ProductList/style.js
  src/components/Total/Total.jsx
  src/components/Total/Total.spec.js
  src/components/Total/style.js
  src/features/cart/Cart.jsx
Due: prettier-eslint --write, eslint

fix: fixing items total and payment button label
  src/components/Total/Total.jsx
  src/features/payment/Payment.jsx
  src/features/success/Success.jsx
Due: none

fix mask and refactored code
  src/components/Common/FormCreditCard.jsx
  src/utils/validateFunction.js
Due: prettier-eslint --write, eslint

feat: creating CreditCard component
  src/assets/styles/colors.js
  src/components/CreditCard/CreditCard.jsx
  src/components/CreditCard/CreditCard.spec.js
  src/components/CreditCard/style.js
  src/components/Input/Input.jsx
  src/components/Input/style.js
  src/components/Total/style.js
  src/features/payment/Payment.jsx
Due: prettier-eslint --write, eslint

01-Structure Project (Install packages)
  package.json
  public/index.html
  src/App.js
  src/container/Main/index.js
  src/container/Main/style.js
  src/container/index.js
  src/index.css
  src/index.js
  src/logo.svg
Due: prettier-eslint --write, eslint, prettier --write

fix form validate expiry
  src/utils/validateFunction.js
Due: prettier-eslint --write, eslint

feat: config react-input-mask
  package-lock.json
  package.json
  src/assets/styles/colors.js
  src/components/CreditCard/CreditCard.jsx
  src/components/CreditCard/style.js
  src/components/Input/Input.jsx
  src/components/Input/style.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

fix: changing input type for number
  src/components/CreditCard/CreditCard.jsx
Due: none

feat: creating util files and onChange event
  src/components/CreditCard/CreditCard.jsx
  src/components/Input/Input.jsx
  src/components/ProductList/style.js
  src/utils/masks.js
  src/utils/placeholders.js
Due: prettier-eslint --write, eslint

chore: tests
  src/components/Common/CardDefault/CardDefault.test.js
  src/components/Common/CardSummary/CardSummary.test.js
  src/components/Common/ComponentsCommon.test.js
  src/components/Common/Navbar/NavBar.test.js
  src/components/Common/ProductCard.jsx
  src/tests/App.test.js
  src/tests/Routes.test.js
  src/utils/validateFunction.js
Due: prettier-eslint --write, eslint

02 - Organization Files - Create Components Description/ItemProduct
  src/components/ItemProducts/index.js
  src/components/ItemProducts/style.js
  src/components/Widgets/Button/index.js
  src/components/Widgets/Button/style.js
  src/components/Widgets/Description/index.js
  src/components/Widgets/Description/style.js
  src/components/Widgets/Input/index.js
  src/components/Widgets/Input/style.js
  src/components/index.js
  src/container/Cart/index.js
  src/container/Cart/style.js
  src/container/Confirmation/index.js
  src/container/Confirmation/style.js
  src/container/Payment/index.js
  src/container/Payment/style.js
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

feat: (wip) doing a validator method for payment feature
  src/assets/styles/colors.js
  src/components/CreditCard/CreditCard.jsx
  src/components/CreditCard/paymentUtils.js
  src/components/CreditCard/style.js
  src/components/Input/Input.jsx
  src/components/Input/style.js
Due: prettier-eslint --write, eslint

feat: adding card-validator to verify credit card values
  package-lock.json
  package.json
  src/components/CreditCard/CreditCard.jsx
  src/components/CreditCard/paymentUtils.js
  src/components/Input/Input.jsx
Due: prettier-eslint --write, eslint, prettier --write

03 - Create SpecificationCart and Custom Button
  src/components/SpecificationCart/index.js
  src/components/SpecificationCart/style.js
  src/components/Widgets/Button/index.js
  src/components/Widgets/Button/style.js
Due: prettier-eslint --write, eslint

fix: fixing card validator string
  src/assets/styles/global.js
  src/components/CreditCard/CreditCard.jsx
Due: prettier-eslint --write, eslint
