Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

Adding form in CheckoutPage and disabling HTML popup on validation
  src/components/CheckoutPage/CheckoutPage.js
Due: prettier-eslint --write, eslint

fixing FooterButton for use inside forms
  src/components/FooterButton/FooterButton.js
Due: prettier-eslint --write, eslint

Adding form utils
  src/utils/format.utils.js
Due: prettier-eslint --write, eslint

updating theme
  src/theme/index.js
Due: prettier-eslint --write, eslint

Adding useForm for easy handling form with redux
  src/utils/form.utils.js
Due: prettier-eslint --write, eslint

Improving Input for show errors and focus
  src/components/Input/Input.js
  src/components/Input/style.js
Due: prettier-eslint --write, eslint

Fixing Cart page
  src/pages/Cart/Cart.js
Due: prettier-eslint --write, eslint

Adding validation to inputs in Payments page
  src/pages/Payment/Payment.js
Due: prettier-eslint --write, eslint

Adding pay service for better code
  src/services/cart.service.js
Due: prettier-eslint --write, eslint

Adding form reducer
  src/store/duck/form.js
  src/store/index.js
Due: prettier-eslint --write, eslint

Disabling FooterButton when form is invalid
  src/components/Button/Button.js
  src/components/CheckoutPage/CheckoutPage.js
  src/components/Input/Input.js
  src/theme/index.js
Due: prettier-eslint --write, eslint

upgrading version
  package.json
Due: prettier --write

Removing fixed container inside CheckoutPage
  src/components/CartProductList/CartProductList.js
  src/components/CheckoutPage/CheckoutPage.js
  src/pages/Payment/Payment.js
Due: prettier-eslint --write, eslint

Better routers with exact path
  src/router/Router.js
Due: prettier-eslint --write, eslint

Putting title inside container for better encapsulation
  src/components/Container/Container.js
  src/pages/Cart/Cart.js
  src/pages/Payment/Payment.js
Due: prettier-eslint --write, eslint

Allowing to remove FooterButton inside CheckoutPage
  src/components/CheckoutPage/CheckoutPage.js
Due: prettier-eslint --write, eslint

Adjusting style
  src/components/CheckoutDetail/style.js
  src/components/Container/style.js
Due: prettier-eslint --write, eslint

FIX: Preventing access form before render
  src/components/CheckoutPage/CheckoutPage.js
Due: prettier-eslint --write, eslint

adjusting route name
  src/components/Header/Header.js
Due: prettier-eslint --write, eslint

preventing access Payment page without items
  src/pages/Payment/Payment.js
Due: prettier-eslint --write, eslint

Creating page Success
  src/pages/Success/Success.js
  src/pages/Success/index.js
  src/pages/Success/style.js
  src/router/Router.js
  src/utils/format.utils.js
Due: prettier-eslint --write, eslint

fixing exports
  src/utils/index.js
Due: prettier-eslint --write, eslint

Adding success message in final page
  src/pages/Success/Success.js
  src/pages/Success/style.js
Due: prettier-eslint --write, eslint

adding production environment
  .env.production
Due: none

updating Readme
  README.md
Due: prettier --write

updating version
  package.json
Due: prettier --write

creating a shopping cart flow
  .editorconfig
  package.json
  src/App.css
  src/App.js
  src/components/commons/UIBold.js
  src/components/commons/UIButton.js
  src/components/commons/UIHeader.js
  src/components/commons/UIInput.js
  src/components/commons/UIPaper.js
  src/components/commons/UIProductItem.js
  src/components/commons/UIProductList.js
  src/components/commons/UIPurchaseSummary.js
  src/components/pages/Cart.js
  src/components/pages/Confirmation.js
  src/components/pages/Payment.js
  src/components/pages/Styleguide.js
  src/config/httpService.js
  src/filters/TextFilter.js
  src/index.js
  src/model/shoppingCartModel.js
  src/model/userModel.js
  src/services/appReducer.js
  src/services/store.js
  src/theme.js
Due: prettier-eslint --write, eslint, prettier --write

remove: redux suggestion
  README.md
Due: prettier --write

Header first version
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/test-front.iml
  .idea/vcs.xml
  package-lock.json
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/SharedComponents.css
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Navbar transformado em componente
  src/App.css
  src/App.js
  src/Components/Header.css
  src/Components/Header.js
  src/Components/Product.css
  src/Components/Product.js
Due: prettier-eslint --write, eslint, prettier --write

Product List created with product optimized css code
  src/App.css
  src/App.js
  src/Assets/Images/placeholder125x125.png
  src/Assets/Images/placeholder64x64.png
  src/Components/Product.css
  src/Components/Product.js
  src/Components/ProductList.css
  src/Components/ProductList.js
Due: prettier-eslint --write, eslint, prettier --write

Correction Header size was wrong
  src/Components/Header.css
Due: prettier --write

Header CSS Alignment correction
  src/Components/Header.css
  src/Components/Header.js
Due: prettier-eslint --write, eslint, prettier --write

Product CSS Align correction
  src/Components/Product.css
  src/Components/Product.js
  src/Components/ProductList.css
Due: prettier-eslint --write, eslint, prettier --write

Removed default margin, padding and text-decoration from all css elements
  src/App.css
  src/App.js
Due: prettier-eslint --write, eslint, prettier --write

Api added
  src/App.js
  src/Components/Header.test.js
Due: prettier-eslint --write, eslint

Better way to render menu changed from for loop to a array map
  src/Components/Header.js
Due: prettier-eslint --write, eslint

Api support
  src/Components/Product.css
  src/Components/ProductList.css
  src/Components/ProductList.js
Due: prettier-eslint --write, eslint, prettier --write

Header using state instead of a for loop now is an array map
  src/Components/Header.js
  src/Components/Header.test.js
  src/Components/ProductListItem.css
  src/Components/ProductListItem.js
Due: prettier-eslint --write, eslint, prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
