Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

setting up eslint with sharable config
  apps/web/.eslintrc.js
  apps/web/package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

moving readme to root dir
  README.md
Due: prettier --write

removing readme from web package
  apps/web/README.md
Due: prettier --write

adding ci for building and testing
  .github/workflows/ci.yml
Due: none

setting up ui package for shared components
  apps/web/package.json
  apps/web/src/App.test.tsx
  apps/web/src/App.tsx
  packages/tsconfig/react-library.json
  packages/ui/package.json
  packages/ui/src/button/button.test.tsx
  packages/ui/src/button/button.tsx
  packages/ui/src/button/index.ts
  packages/ui/src/index.ts
  packages/ui/src/test/setup-test.ts
  packages/ui/src/test/utils.ts
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  yarn.lock
Due: prettier --write

addint lint config file to ui package
  packages/ui/.eslintrc
  packages/ui/package.json
  yarn.lock
Due: prettier --write

setting up storybook
  apps/docs/.eslintrc.js
  apps/docs/.gitignore
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.ts
  apps/docs/index.html
  apps/docs/package.json
  apps/docs/src/stories/Button.stories.ts
  apps/docs/src/stories/assets/code-brackets.svg
  apps/docs/src/stories/assets/colors.svg
  apps/docs/src/stories/assets/comments.svg
  apps/docs/src/stories/assets/direction.svg
  apps/docs/src/stories/assets/flow.svg
  apps/docs/src/stories/assets/plugin.svg
  apps/docs/src/stories/assets/repo.svg
  apps/docs/src/stories/assets/stackalt.svg
  apps/docs/src/vite-env.d.ts
  apps/docs/tsconfig.json
  apps/docs/tsconfig.node.json
  apps/docs/vite.config.ts
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/tsconfig/base.json
  turbo.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

setting up tailwind
  apps/docs/.eslintrc
  apps/docs/.eslintrc.js
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.ts
  apps/docs/package.json
  apps/docs/postcss.config.cjs
  apps/docs/src/globals.css
  apps/docs/tailwind.config.js
  apps/web/package.json
  apps/web/postcss.config.js
  apps/web/src/App.css
  apps/web/src/App.tsx
  apps/web/src/main.tsx
  apps/web/tailwind.config.js
  package.json
  packages/eslint-config-custom/index.js
  packages/tailwind-config/package.json
  packages/tailwind-config/tailwind.config.js
  packages/ui/package.json
  packages/ui/postcss.config.js
  packages/ui/src/button/button.tsx
  packages/ui/src/globals.css
  packages/ui/src/index.ts
  packages/ui/tailwind.config.js
  packages/ui/tsup.config.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fixing tsconfig in storybook
  .github/workflows/ci.yml
  .gitignore
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.ts
  apps/docs/package.json
  apps/docs/postcss.config.cjs
  apps/docs/public/vite.svg
  apps/docs/src/assets/react.svg
  apps/docs/src/stories/Button.stories.ts
  apps/docs/tailwind.config.js
  apps/docs/tsconfig.json
  apps/docs/tsconfig.node.json
  apps/docs/vite.config.ts
  package-lock.json
  package.json
  packages/eslint-config-custom/index.js
  packages/eslint-config-custom/package.json
  packages/ui/tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

adding vercel config file
  vercel.json
Due: prettier --write

ci - moving build before lint
  .github/workflows/ci.yml
  package-lock.json
Due: prettier --write

removing tsup from ui package
  apps/docs/.storybook/main.ts
  apps/docs/.storybook/preview.ts
  apps/docs/index.html
  apps/docs/postcss.config.cjs
  apps/docs/tailwind.config.js
  apps/web/src/main.tsx
  package-lock.json
  packages/ui/package.json
  packages/ui/src/button/button.tsx
  packages/ui/src/globals.css
  packages/ui/src/index.ts
  packages/ui/tsup.config.ts
Due: prettier-eslint --write, eslint, prettier --write

installing vitest in ui package again
  package-lock.json
Due: prettier --write

button component
  apps/docs/src/stories/Button.stories.ts
  apps/web/src/App.tsx
  package-lock.json
  packages/ui/package.json
  packages/ui/src/button/button.test.tsx
  packages/ui/src/button/button.tsx
Due: prettier --write

text field and credit card text field component
  apps/docs/src/stories/Button.stories.ts
  apps/docs/src/stories/credit-card.stories.ts
  apps/docs/src/stories/text-field.stories.ts
  packages/eslint-config-custom/index.js
  packages/ui/src/credit-card-text-field/credit-card-text-field.test.tsx
  packages/ui/src/credit-card-text-field/credit-card-text-field.tsx
  packages/ui/src/credit-card-text-field/index.ts
  packages/ui/src/index.ts
  packages/ui/src/masked-text-field/index.ts
  packages/ui/src/masked-text-field/masked-text-field.tsx
  packages/ui/src/text-field/index.ts
  packages/ui/src/text-field/text-field.test.tsx
  packages/ui/src/text-field/text-field.tsx
Due: prettier-eslint --write, eslint

adding cvv input credit card
  apps/docs/src/stories/credit-card-cvv-text-field.stories.ts
  packages/ui/src/credit-card-cvv-text-field/credit-card-cvv-text-field.test.tsx
  packages/ui/src/credit-card-cvv-text-field/credit-card-cvv-text-field.tsx
  packages/ui/src/credit-card-cvv-text-field/index.ts
Due: none

adding due date input credit card
  apps/docs/src/stories/credit-card-due-date-text-field.stories.ts
  packages/ui/src/credit-card-due-date-text-field/credit-card-due-date-text-field.test.tsx
  packages/ui/src/credit-card-due-date-text-field/credit-card-due-date-text-field.tsx
  packages/ui/src/credit-card-due-date-text-field/index.ts
Due: none

adding credit card input field
  apps/docs/src/stories/credit-card-text-field.stories.ts
  packages/ui/src/credit-card-text-field/credit-card-text-field.tsx
  packages/ui/src/index.ts
  packages/ui/src/masked-text-field/masked-text-field.tsx
Due: none

adding label to text field component
  apps/docs/src/stories/text-field.stories.ts
  packages/ui/src/credit-card-cvv-text-field/credit-card-cvv-text-field.test.tsx
  packages/ui/src/credit-card-cvv-text-field/credit-card-cvv-text-field.tsx
  packages/ui/src/credit-card-due-date-text-field/credit-card-due-date-text-field.test.tsx
  packages/ui/src/credit-card-due-date-text-field/credit-card-due-date-text-field.tsx
  packages/ui/src/credit-card-text-field/credit-card-text-field.test.tsx
  packages/ui/src/credit-card-text-field/credit-card-text-field.tsx
  packages/ui/src/masked-text-field/masked-text-field.tsx
  packages/ui/src/text-field/text-field.test.tsx
  packages/ui/src/text-field/text-field.tsx
Due: none

fixing due date text field mask to 4 digits
  packages/ui/src/credit-card-due-date-text-field/credit-card-due-date-text-field.test.tsx
  packages/ui/src/credit-card-due-date-text-field/credit-card-due-date-text-field.tsx
Due: none

adding Tabs component
  apps/docs/src/stories/tabs.stories.tsx
  packages/ui/src/index.ts
  packages/ui/src/tabs/index.ts
  packages/ui/src/tabs/tabs.test.tsx
  packages/ui/src/tabs/tabs.tsx
Due: none

adding react-router and query
  apps/web/package.json
  apps/web/src/main.tsx
  package-lock.json
Due: prettier --write

cart info component
  apps/web/components/cart-info/cart-info.tsx
  apps/web/components/cart-info/index.ts
  apps/web/components/index.ts
Due: none

cart page
  apps/web/src/App.test.tsx
  apps/web/src/App.tsx
  apps/web/src/index.css
  apps/web/src/main.tsx
  apps/web/src/pages/cart.tsx
  apps/web/tsconfig.json
  packages/tailwind-config/tailwind.config.js
  packages/ui/src/button/button.tsx
  packages/ui/src/tabs/tabs.tsx
  packages/ui/src/text-field/text-field.tsx
Due: prettier-eslint --write, eslint, prettier --write

cart info component
  apps/web/src/components/cart-info/cart-info.test.tsx
  apps/web/src/components/cart-info/cart-info.tsx
  apps/web/src/components/cart-info/index.ts
  apps/web/src/components/index.ts
  apps/web/src/pages/cart.tsx
  apps/web/src/test/utils.ts
  apps/web/src/utils/index.ts
  apps/web/tsconfig.json
Due: prettier --write

cart product item component
  apps/web/src/components/cart-product-item/cart-product-item.test.tsx
  apps/web/src/components/cart-product-item/cart-product-item.tsx
  apps/web/src/components/cart-product-item/index.ts
  apps/web/src/components/index.ts
  apps/web/src/pages/cart.tsx
Due: none

adding cart-tab payment-tab and confirmation-tab
  apps/web/src/components/card/card.tsx
  apps/web/src/components/card/index.ts
  apps/web/src/components/cart-product-item/cart-product-item.tsx
  apps/web/src/components/cart-tab/cart-tab.tsx
  apps/web/src/components/cart-tab/index.ts
  apps/web/src/components/confirmation-tab/confirmation-tab.tsx
  apps/web/src/components/confirmation-tab/index.ts
  apps/web/src/components/index.ts
  apps/web/src/components/payment-tab/index.ts
  apps/web/src/components/payment-tab/payment-tab.tsx
  apps/web/src/pages/cart.tsx
  packages/ui/src/text-field/text-field.tsx
Due: none

fetching cart products and total data
  apps/web/src/components/cart-info/cart-info.tsx
  apps/web/src/components/cart-product-item/cart-product-item.tsx
  apps/web/src/components/cart-tab/cart-tab.tsx
  apps/web/src/components/payment-tab/index.ts
  apps/web/src/hooks/index.ts
  apps/web/src/hooks/useFetchCart.ts
  apps/web/src/main.tsx
  apps/web/src/pages/cart.tsx
  packages/eslint-config-custom/index.js
Due: prettier-eslint --write, eslint

adding skeleton component
  apps/web/src/components/cart-info/cart-info.tsx
  apps/web/src/components/cart-tab/cart-tab.tsx
  apps/web/src/components/index.ts
  apps/web/src/components/payment-tab/payment-tab.tsx
  apps/web/src/components/skeleton/index.ts
  apps/web/src/components/skeleton/skeleton.tsx
  apps/web/src/main.tsx
  apps/web/src/pages/cart.tsx
Due: none

skeleton component
  apps/docs/src/stories/skeleton.stories.ts
  apps/web/src/components/index.ts
  packages/ui/src/index.ts
  packages/ui/src/skeleton/index.ts
  packages/ui/src/skeleton/skeleton.tsx
Due: none

adding msw and replacing to jsdom env
  apps/web/package.json
  apps/web/src/test/mocks/handlers.ts
  apps/web/src/test/mocks/server.ts
  apps/web/src/test/setup-test.ts
  apps/web/src/test/utils.ts
  apps/web/src/test/utils.tsx
  apps/web/tsconfig.json
  apps/web/vite.config.ts
  package-lock.json
  packages/ui/package.json
  packages/ui/vitest.config.ts
Due: prettier --write

adding cart info submit buttons component and its tests
  apps/web/src/components/cart-info/cart-info.test.tsx
  apps/web/src/components/cart-info/cart-info.tsx
  apps/web/src/components/cart-info/index.ts
  apps/web/src/components/cart-tab/cart-tab.tsx
  apps/web/src/components/payment-tab/payment-tab.tsx
  apps/web/src/hooks/useFetchCart.ts
  apps/web/src/pages/cart.tsx
  packages/ui/src/tabs/index.ts
Due: none

testing ci new version
  .github/workflows/ci.yml
Due: none

adding payment form
  apps/web/package.json
  apps/web/src/components/cart-info/cart-info.test.tsx
  apps/web/src/components/cart-info/cart-info.tsx
  apps/web/src/components/payment-tab/payment-tab.tsx
  apps/web/src/pages/cart.tsx
  package-lock.json
  packages/ui/src/credit-card-cvv-text-field/credit-card-cvv-text-field.tsx
  packages/ui/src/credit-card-due-date-text-field/credit-card-due-date-text-field.test.tsx
  packages/ui/src/credit-card-due-date-text-field/credit-card-due-date-text-field.tsx
  packages/ui/src/credit-card-text-field/credit-card-text-field.tsx
  packages/ui/src/masked-text-field/masked-text-field.tsx
Due: prettier --write

adding integration on confirmation tab
  apps/web/src/components/cart-info/cart-info.tsx
  apps/web/src/components/confirmation-tab/confirmation-tab.tsx
  apps/web/src/components/payment-tab/payment-tab.tsx
  apps/web/src/pages/cart.tsx
Due: none

testing cart tab
  apps/web/src/components/cart-tab/cart-tab.test.tsx
  apps/web/src/components/cart-tab/cart-tab.tsx
  apps/web/src/components/confirmation-tab/confirmation-tab.tsx
Due: none

adding payment tests
  apps/web/src/components/payment-tab/payment-tab.test.tsx
  apps/web/src/components/payment-tab/payment-tab.tsx
  apps/web/src/pages/cart.tsx
Due: none

adding payment tab tests
  apps/web/src/components/confirmation-tab/confirmation-tab.test.tsx
  apps/web/src/components/payment-tab/payment-tab.tsx
Due: none

cart page test
  apps/web/src/pages/cart.test.tsx
Due: none

refactoring card component
  apps/web/src/components/card/card.tsx
  apps/web/src/components/cart-info/cart-info.tsx
  apps/web/src/components/cart-product-item/cart-product-item.tsx
  apps/web/src/components/confirmation-tab/confirmation-tab.tsx
  apps/web/src/components/payment-tab/payment-tab.tsx
Due: none
