Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

refactor: add propTypes
  src/components/button/index.js
  src/components/cardboard/index.js
  src/components/menu/index.js
  src/components/product/__snapshots__/product.spec.js.snap
  src/components/product/index.js
  src/components/product/product.spec.js
  src/components/successful-message/index.js
  src/components/text-field/index.js
  src/components/title/index.js
Due: prettier-eslint --write, eslint

feat: add flag to display prices or not
  src/components/cart-products-container/cart-products-container.spec.js
  src/components/cart-products-container/index.js
  src/pages/checkout-confirmation/index.js
Due: prettier-eslint --write, eslint

refactor: remove links from the menu
  src/__mocks__/pages-data.js
  src/components/checkout-container/checkout-container.spec.js
  src/index.js
  src/pages-data.js
Due: prettier-eslint --write, eslint

test: add test to date transformer
  src/components/checkout-container/checkout-container.spec.js
  src/components/payment-form-container/index.js
  src/components/payment-form-container/payment-form-container.spec.js
  src/lib/__tests__/yup-transform-date.js
  src/lib/yup-transform-date.js
Due: prettier-eslint --write, eslint

feat: disable submit button until the form is valid
  src/components/button/__snapshots__/button.spec.js.snap
  src/components/button/button.spec.js
  src/components/button/index.js
  src/components/payment-form-container/index.js
Due: prettier-eslint --write, eslint

fix: skeleton position
  src/components/skeleton-page/__snapshots__/skeleton-page.spec.js.snap
  src/components/skeleton-page/index.js
Due: prettier-eslint --write, eslint

feat: add task to make deployments
  package.json
Due: prettier --write

docs: add project details
  README.md
Due: prettier --write

docs: add formik description
  README.md
Due: prettier --write

Create netlify configuration file
  netlify.toml
Due: none

Usage of HTTPS on json request
  src/services/api.js
Due: prettier-eslint --write, eslint

Added responsive rules
  src/components/Header/index.js
  src/components/Header/styles.js
  src/steps/Container/index.js
  src/styles/GlobalStyle.js
Due: prettier-eslint --write, eslint

Added form validation
  package.json
  src/index.js
  src/steps/PaymentStep/Form/Input/index.js
  src/steps/PaymentStep/Form/Input/styles.js
  src/steps/PaymentStep/Form/index.js
  src/steps/PaymentStep/Form/styles.js
  src/steps/PaymentStep/Form/validators/index.js
  src/steps/PaymentStep/index.js
  src/store/modules/form/reducer.js
  src/store/modules/rootReducer.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Added how to run
  README.md
Due: prettier --write

Usage of react-redux hooks
  src/components/Header/index.js
  src/steps/CartStep/index.js
  src/steps/PaymentStep/index.js
  src/steps/SuccessStep/index.js
Due: prettier-eslint --write, eslint

Update README.md
  README.md
Due: prettier --write

chore: set up Storybook and write stories.
  .storybook/main.js
  README.md
  package.json
  src/App.test.tsx
  src/App.tsx
  src/components/Box/Box.stories.tsx
  src/components/Button/Button.stories.tsx
  src/components/Card/Card.stories.tsx
  src/components/CreditCardData/CreditCardData.stories.tsx
  src/components/CreditCardForm/CreditCardForm.stories.tsx
  src/components/Feedback/Feedback.stories.tsx
  src/components/Heading/Heading.stories.tsx
  src/components/Layout/Layout.stories.tsx
  src/components/ProductList/ProductList.stories.tsx
  src/components/ProductList/ProductList.tsx
  src/components/ProductList/__mocks__/cart.json
  src/components/Segment/Segment.stories.tsx
  src/components/Steps/Steps.stories.tsx
  src/components/Steps/Steps.tsx
  src/components/Text/Text.stories.tsx
  src/components/TextField/TextField.stories.tsx
  src/components/TextField/TextField.tsx
  src/components/Total/Total.stories.tsx
  src/components/Total/Total.tsx
  src/logo.svg
  src/theme.tsx
  src/types/Product.ts
  src/utils/money.ts
  src/utils/number.ts
Due: prettier-eslint --write, eslint, prettier --write

chore: Create test for components and models.
  package.json
  src/components/Box/Box.test.tsx
  src/components/Box/index.ts
  src/components/Button/Button.test.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Card/Card.test.tsx
  src/components/Card/__snapshots__/Card.test.tsx.snap
  src/components/CreditCardData/CreditCardData.test.tsx
  src/components/CreditCardData/CreditCardData.tsx
  src/components/CreditCardForm/CreditCardForm.test.tsx
  src/components/CreditCardForm/CreditCardForm.tsx
  src/components/Feedback/Feedback.test.tsx
  src/components/Feedback/__snapshots__/Feedback.test.tsx.snap
  src/components/Heading/Heading.test.tsx
  src/components/Heading/__snapshots__/Heading.test.tsx.snap
  src/components/Layout/Layout.test.tsx
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/ProductList/ProductList.test.tsx
  src/components/ProductList/ProductListItem.test.tsx
  src/components/ProductList/ProductListItem.tsx
  src/components/Segment/Segment.test.tsx
  src/components/Segment/__snapshots__/Segment.test.tsx.snap
  src/components/Steps/Steps.test.tsx
  src/components/Steps/__snapshots__/Steps.test.tsx.snap
  src/components/Text/Text.test.tsx
  src/components/Text/__snapshots__/Text.test.tsx.snap
  src/components/TextField/TextField.test.tsx
  src/components/Total/Total.test.tsx
  src/index.tsx
  src/store/models/__mocks__/cart.json
  src/store/models/cart.test.ts
  src/store/models/cart.ts
  src/store/models/creditCard.test.ts
  src/utils/delay.test.ts
  src/utils/number.test.ts
  src/utils/testUtils.tsx
  yarn.lock
Due: prettier --write

fix(story): Change mock file directory for ProductList.
  src/components/ProductList/ProductList.stories.tsx
Due: none

chore: Complete test coverage.
  README.md
  package.json
  src/App.test.tsx
  src/App.tsx
  src/__snapshots__/App.test.tsx.snap
  src/components/Box/Box.test.tsx
  src/components/Box/__snapshots__/Box.test.tsx.snap
  src/components/Button/Button.test.tsx
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/CreditCardForm/CreditCardForm.test.tsx
  src/components/CreditCardForm/CreditCardFormController.tsx
  src/components/CreditCardForm/__snapshots__/CreditCardForm.test.tsx.snap
  src/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/components/ProductList/ProductList.stories.tsx
  src/components/ProductList/ProductList.test.tsx
  src/components/ProductList/ProductListItem.tsx
  src/components/ProductList/__snapshots__/ProductList.test.tsx.snap
  src/components/Steps/Steps.test.tsx
  src/components/Steps/Steps.tsx
  src/components/Steps/__snapshots__/Steps.test.tsx.snap
  src/components/TextField/TextField.tsx
  src/enhancers/useCart.ts
  src/index.tsx
  src/pages/__snapshots__/cart.test.tsx.snap
  src/pages/__snapshots__/payment.test.tsx.snap
  src/pages/__snapshots__/success.test.tsx.snap
  src/pages/cart.test.tsx
  src/pages/cart.tsx
  src/pages/index.tsx
  src/pages/payment.test.tsx
  src/pages/payment.tsx
  src/pages/success.test.tsx
  src/utils/delay.test.ts
  src/utils/number.test.ts
  src/utils/testUtils.tsx
Due: prettier --write

Add .circleci/config.yml
  .circleci/config.yml
Due: none

chore: Change for yarn. Add set up for CodeCov.
  .circleci/config.yml
Due: none

chore: Define local coverage file.
  .circleci/config.yml
Due: none

chore: Add property coverageReporters for coverage file.
  .circleci/config.yml
  package.json
Due: prettier --write

initial-commit: configuration
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reducers/index.js
  src/router/index.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

feat: initial project structure
  package-lock.json
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/assets/logo.svg
  src/containers/App/App.js
  src/containers/App/App.test.js
  src/containers/App/styled.js
  src/containers/CartPage/index.js
  src/containers/CartPage/styled.js
  src/containers/PaymentMethodPage/index.js
  src/containers/PaymentMethodPage/styled.js
  src/containers/confirmationPage/index.js
  src/containers/confirmationPage/styled.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Added cart actions and reducer
  src/actions/cart.js
  src/reducers/cart.js
  src/reducers/index.js
Due: prettier-eslint --write, eslint

Added card component
  src/components/cards/index.js
  src/components/cards/style.js
Due: prettier-eslint --write, eslint

Added mainButton component
  src/components/mainButton/index.js
  src/components/mainButton/style.js
Due: prettier-eslint --write, eslint

Added cardPrices component
  src/components/cardPrices/index.js
  src/components/cardPrices/style.js
Due: prettier-eslint --write, eslint

Created routes
  src/pages/cart/index.js
  src/pages/cart/style.js
  src/pages/payment/index.js
  src/pages/payment/style.js
  src/pages/success/index.js
  src/pages/success/style.js
  src/router/index.js
Due: prettier-eslint --write, eslint

Added header component
  src/components/header/index.js
  src/components/header/style.js
Due: prettier-eslint --write, eslint

Added Cart Page
  src/actions/cart.js
  src/pages/cart/index.js
  src/pages/cart/style.js
Due: prettier-eslint --write, eslint

Created Global Style
  src/App.js
  src/GlobalStyle.js
Due: prettier-eslint --write, eslint

Renamed cards component to cardProduct
  src/components/cardProduct/index.js
  src/components/cardProduct/style.js
  src/pages/cart/index.js
Due: prettier-eslint --write, eslint

Estrutura inicial
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
