Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: create navigation prop for buttons
  src/components/Button/index.tsx
  src/components/SumInfo/styles.ts
  src/constants/types-reducers.ts
  src/pages/Cart/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Confirmation/styles.ts
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
Due: prettier-eslint --write, eslint

feat: create confirmation message on confirm page
  src/assets/check-mark.png
  src/assets/check-mark.png:Zone.Identifier
  src/assets/check.png
  src/assets/check.png:Zone.Identifier
  src/components/Button/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Confirmation/styles.ts
Due: none

chore: create template grid
  src/assets/check-mark.png
  src/components/Button/styles.ts
  src/components/ItemsList/index.tsx
  src/components/ItemsList/styles.ts
  src/components/MainContent/styles.ts
  src/components/SumInfo/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/pages/Confirmation/index.tsx
  src/pages/Confirmation/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/styles/global.js
  src/styles/styles.ts
Due: prettier-eslint --write, eslint

chore: create responsive design in all pages
  src/components/Button/styles.ts
  src/components/ItemsList/index.tsx
  src/components/ItemsList/styles.ts
  src/components/PaymentMethod/index.tsx
  src/components/PaymentMethod/styles.ts
  src/constants/local-storage.ts
  src/contexts/StorageContext.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/pages/Confirmation/index.tsx
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/providers/AppProvider.tsx
Due: none

chore: remove zone identifier
  src/assets/check-mark.png:Zone.Identifier
  src/assets/check.png:Zone.Identifier
Due: none

feat: include credit card component
  package.json
  src/pages/Cart/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/styles/styles.ts
  yarn.lock
Due: prettier --write

fix: organize paths routes
  src/App.tsx
  src/components/Header/index.tsx
  src/index.tsx
  src/interfaces/Cart.ts
  src/pages/Cart/components/CartItems/index.tsx
  src/pages/Cart/components/CartItems/styles.ts
  src/pages/Cart/components/Confirmation/index.tsx
  src/pages/Cart/components/Confirmation/styles.ts
  src/pages/Cart/components/Payment/index.tsx
  src/pages/Cart/components/Payment/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
Due: none

feat: block confirmation step without creditCard info
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/pages/Cart/components/Payment/index.tsx
Due: none

feat: create product list to add in cart
  src/App.tsx
  src/hooks/useCart.tsx
  src/interfaces/Cart.ts
  src/pages/Cart/components/CartItems/index.tsx
  src/pages/Cart/components/Confirmation/index.tsx
  src/pages/Cart/components/Payment/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
  src/providers/AppProvider.tsx
Due: none

feat: create add item on cart hook
  src/components/ItemsList/index.tsx
  src/constants/local-storage.ts
  src/helpers/set-items-quantity.ts
  src/hooks/useCart.tsx
  src/pages/Cart/components/CartItems/index.tsx
  src/pages/Cart/components/Confirmation/index.tsx
  src/pages/Cart/components/Payment/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Home/components/Header/index.tsx
  src/pages/Home/components/Header/styles.ts
  src/pages/Home/index.tsx
  src/store/modules/cart/sagas.js
Due: prettier-eslint --write, eslint

chore: include useCart hook in all pages
  src/components/SumInfo/index.tsx
  src/contexts/StorageContext.tsx
  src/hooks/useCart.tsx
  src/pages/Cart/components/CartItems/index.tsx
  src/pages/Cart/components/Confirmation/index.tsx
  src/pages/Cart/components/Payment/index.tsx
  src/pages/Home/index.tsx
Due: none

feat: create nav on home
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/pages/Cart/components/Header/index.tsx
  src/pages/Cart/components/Header/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Home/components/Header/index.tsx
  src/pages/Home/components/Header/styles.ts
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
  src/pages/Item/index.tsx
Due: none

feat: include handleupdate buttons
  src/components/ItemsList/index.tsx
  src/components/ItemsList/styles.ts
  src/hooks/useCart.tsx
  src/pages/Home/components/Header/index.tsx
  src/pages/Home/components/Header/styles.ts
  src/pages/Home/styles.ts
Due: none

feat: include delete item button
  src/components/ItemsList/index.tsx
  src/components/ItemsList/styles.ts
  src/hooks/useCart.tsx
Due: none

chore: remove storageContext
  src/components/ItemsList/index.tsx
  src/contexts/StorageContext.tsx
  src/hooks/useCart.tsx
  src/pages/Cart/components/CartItems/index.tsx
  src/pages/Cart/components/Confirmation/index.tsx
  src/pages/Cart/components/Header/index.tsx
  src/pages/Cart/components/Payment/index.tsx
  src/pages/Cart/index.tsx
  src/providers/AppProvider.tsx
Due: none

chore: remove redux
  src/providers/AppProvider.tsx
  src/store/createStore.js
  src/store/index.js
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
  src/store/modules/cart/sagas.js
  src/store/modules/rootReducer.js
  src/store/modules/rootSaga.js
Due: prettier-eslint --write, eslint

chore: handle page acess with no required information
  src/App.tsx
  src/components/ItemsList/index.tsx
  src/components/SumInfo/index.tsx
  src/constants/navigation.ts
  src/pages/Cart/components/CartItemsList/index.tsx
  src/pages/Cart/components/CartItemsList/styles.ts
  src/pages/Cart/components/Confirmation/index.tsx
  src/pages/Cart/components/Header/index.tsx
  src/pages/Cart/components/Payment/index.tsx
  src/pages/Home/components/Header/index.tsx
  src/pages/Home/index.tsx
Due: none

chore: handle page acess with no required information 2
  src/pages/Cart/components/Confirmation/index.tsx
Due: none

feat: include readme
  README.md
Due: prettier --write

feat: include readme
  README.md
  src/App.tsx
  src/config/ReactotronConfig.ts
Due: prettier --write

chore: puts dev dependencies in dependencies to upload in heroku
  package.json
Due: prettier --write

feat: include readme
  .env
  README.md
  src/config/environment.ts
Due: prettier --write

fix: organize importations
  src/App.tsx
  src/components/CreditCardInfo/index.tsx
  src/components/CreditCardInfo/styles.ts
  src/components/ItemsList/index.tsx
  src/components/ItemsList/styles.ts
  src/components/MainContent/index.tsx
  src/components/MainContent/styles.ts
  src/components/SumInfo/index.tsx
  src/hooks/useCart.tsx
  src/pages/Cart/components/CartItemsList/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/pages/CartConfirmation/index.tsx
  src/pages/CartConfirmation/styles.ts
  src/pages/CartList/index.tsx
  src/pages/CartList/styles.ts
  src/pages/CartPayment/index.tsx
  src/pages/CartPayment/styles.ts
Due: none

fix: organize importations
  src/components/PaymentInfo/index.tsx
  src/components/PaymentInfo/styles.ts
  src/pages/CartConfirmation/index.tsx
Due: none

fix: credit card display
  src/components/SumInfo/styles.ts
  src/pages/Cart/components/Header/index.tsx
  src/pages/CartPayment/index.tsx
  src/pages/CartPayment/styles.ts
Due: none

chore: coment readme
  README.md
Due: prettier --write

feat: set sumInfo by useCart contest
  src/components/ItemsList/index.tsx
  src/components/SumInfo/index.tsx
  src/hooks/useCart.tsx
Due: none

chore: set freight
  src/components/SumInfo/index.tsx
  src/hooks/useCart.tsx
Due: none

fix: button position
  src/components/SumInfo/index.tsx
  src/pages/CartList/styles.ts
  src/pages/CartPayment/styles.ts
Due: none

chore: persist data in localStorage
  src/constants/local-storage.ts
  src/hooks/useCart.tsx
  src/pages/CartConfirmation/index.tsx
  src/pages/CartPayment/index.tsx
Due: none

fix: sumInfo position
  src/hooks/useCart.tsx
  src/pages/CartConfirmation/styles.ts
Due: none

feat: include loading
  src/components/EmptyMessage/index.tsx
  src/components/EmptyMessage/styles.ts
  src/components/ItemsList/index.tsx
  src/components/Loading/index.tsx
  src/components/Loading/styles.ts
  src/components/PaymentInfo/index.tsx
  src/components/SumInfo/index.tsx
  src/hooks/useCart.tsx
  src/pages/Cart/components/Header/index.tsx
  src/pages/CartConfirmation/index.tsx
  src/pages/CartList/index.tsx
  src/pages/CartList/styles.ts
  src/pages/CartPayment/index.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
Due: none

fix: responsivity
  src/pages/CartPayment/styles.ts
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
  src/styles/styles.ts
Due: none

fix: buttons in home
  package-lock.json
  package.json
  src/App.tsx
  src/pages/Home/styles.ts
  yarn.lock
Due: prettier --write

fix: remove package json lock
  package-lock.json
  package.json
Due: prettier --write

fix: baseUrl from http to https
  src/services/api.js
Due: prettier-eslint --write, eslint

chore: put link on readme
  README.md
Due: prettier --write

chore: implemented features in readme
  README.md
  src/pages/Cart/components/Header/index.tsx
Due: prettier --write

chore: implement imagem in readme
  README.md
  readme/Home.png
Due: prettier --write
