Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: add dependencies
  babel.config.js
  config.d.ts
  global.d.ts
  nodemon.json
  package.json
  src/client/index.ts
  src/global.d.ts
  src/server/components/HTML.tsx
  src/server/middleware/add-store.ts
  src/server/middleware/error-handler.ts
  src/server/middleware/server-renderer.tsx
  src/shared/assets/favicon.ico
  src/shared/store/history.ts
  src/shared/store/root-reducer.ts
  src/shared/store/root-saga.ts
  tsconfig.json
  tsconfig.tooling.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add public folder
  public/favicon.ico
Due: none

feat: update global types
  src/types/global.d.ts
Due: none

fix: update syntax in button component
  src/shared/components/button/button.component.tsx
  src/shared/components/button/button.stories.tsx
Due: none

feat: add routes and home page
  src/shared/routes.ts
  src/shared/screens/home.tsx
  src/shared/screens/not-found.tsx
Due: none

feat: add ssr support
  config/loaders.js
  config/webpack.base.js
  config/webpack.client.config.js
  config/webpack.server.config.js
  src/client/index.tsx
  src/server/index.ts
  src/server/middleware/HMR.ts
  src/server/middleware/renderer.tsx
  src/shared/app.tsx
  src/shared/layouts/app/index.tsx
  src/shared/store/index.ts
  src/shared/store/reducers.ts
  src/shared/store/sagas.ts
Due: prettier-eslint --write, eslint

feat: add cart page
  src/shared/screens/cart/cart-component.tsx
  src/shared/screens/cart/index.tsx
Due: none

feat: add payment page
  src/shared/screens/payment/index.tsx
  src/shared/screens/payment/payment-component.tsx
Due: none

feat: add success page
  src/shared/screens/success/index.tsx
  src/shared/screens/success/success-component.tsx
Due: none

feat: add new routes
  src/server/middleware/renderer.tsx
  src/shared/routes.ts
  src/shared/screens/home.tsx
  src/shared/screens/not-found.tsx
  src/shared/store/reducers.ts
Due: none

fix: add react-scripts
  .storybook/main.js
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add global styles
  src/shared/styles/global/base.tsx
  src/shared/styles/global/index.tsx
  src/shared/styles/global/reset.tsx
Due: none

feat: add theme file
  src/shared/styles/theme/index.tsx
  src/shared/styles/theme/light.ts
Due: none

feat: update syntax in button component
  src/shared/components/button/button.component.tsx
  src/shared/components/button/button.interface.ts
  src/shared/components/button/button.stories.tsx
  src/shared/components/button/button.styled.tsx
Due: none

feat: update storybook config
  .babelrc
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add global style in general layout
  src/shared/app.tsx
Due: none

feat: change src/shared/components/button to src/shared/components/ui/button
  src/shared/components/button/button.component.tsx
  src/shared/components/button/button.interface.ts
  src/shared/components/button/button.styled.tsx
  src/shared/components/button/index.ts
  src/shared/components/ui/button/button.component.tsx
  src/shared/components/ui/button/button.interface.ts
  src/shared/components/ui/button/button.stories.tsx
  src/shared/components/ui/button/button.styled.tsx
  src/shared/components/ui/button/button.test.tsx
  src/shared/components/ui/button/index.ts
Due: none

feat: add fonts
  .prettierrc
  package.json
  public/static/fonts/helvetica-neue/helveticaneuebold.woff
  public/static/fonts/helvetica-neue/helveticaneuebold.woff2
  public/static/fonts/helvetica-neue/helveticaneueregular.woff
  public/static/fonts/helvetica-neue/helveticaneueregular.woff2
  src/shared/styles/global/base.tsx
  src/shared/styles/global/fonts.tsx
  src/shared/styles/global/index.tsx
  src/shared/styles/theme/light.ts
Due: prettier --write

feat: add form elements
  src/shared/components/ui/form/form-field.component.tsx
  src/shared/components/ui/form/form-group.component.tsx
  src/shared/components/ui/form/form-label.component.tsx
  src/shared/components/ui/form/form.styled.tsx
Due: none

feat: add form component
  src/shared/components/ui/form/form.component.tsx
  src/shared/components/ui/form/form.interface.tsx
  src/shared/components/ui/form/form.stories.tsx
  src/shared/components/ui/form/form.test.tsx
  src/shared/components/ui/form/index.tsx
Due: none

feat: add payment form
  src/shared/components/app/payment-form/index.ts
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/app/payment-form/payment-form.interface.tsx
  src/shared/components/app/payment-form/payment-form.stories.tsx
  src/shared/components/app/payment-form/payment-form.test.tsx
Due: none

feat: add validation dependencies for formulary fields
  package.json
  yarn.lock
Due: prettier --write

feat: add validations in the payment form
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/app/payment-form/payment-form.interface.tsx
  src/shared/components/ui/form/form-field.component.tsx
  src/shared/components/ui/form/form-group.component.tsx
  src/shared/components/ui/form/form.interface.tsx
  src/shared/components/ui/form/form.styled.tsx
  src/shared/styles/theme/light.ts
Due: none

feat: add masks
  src/shared/utils/index.ts
  src/shared/utils/mask.ts
Due: none

feat: add masks in the payment form
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/ui/form/form-field.component.tsx
  src/shared/components/ui/form/form-group.component.tsx
  src/shared/components/ui/form/form.interface.tsx
  src/shared/components/ui/form/form.styled.tsx
Due: none

feat: add grid component
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/ui/form/form.styled.tsx
  src/shared/components/ui/form/index.ts
  src/shared/components/ui/grid/grid-col.component.tsx
  src/shared/components/ui/grid/grid.component.tsx
  src/shared/components/ui/grid/grid.interface.tsx
  src/shared/components/ui/grid/grid.stories.tsx
  src/shared/components/ui/grid/grid.styled.tsx
  src/shared/components/ui/grid/grid.test.tsx
  src/shared/components/ui/grid/index.ts
Due: none

feat: add header component
  src/shared/components/app/header/header.component.tsx
  src/shared/components/app/header/header.interface.ts
  src/shared/components/app/header/header.stories.tsx
  src/shared/components/app/header/header.test.tsx
  src/shared/components/app/header/index.ts
Due: none

feat: add checkout navbar component
  src/shared/components/ui/checkout-navbar/checkout-navbar-item.component.tsx
  src/shared/components/ui/checkout-navbar/checkout-navbar.component.tsx
  src/shared/components/ui/checkout-navbar/checkout-navbar.interface.ts
  src/shared/components/ui/checkout-navbar/checkout-navbar.stories.tsx
  src/shared/components/ui/checkout-navbar/checkout-navbar.styled.tsx
  src/shared/components/ui/checkout-navbar/checkout-navbar.test.tsx
  src/shared/components/ui/checkout-navbar/index.ts
Due: none

feat: add form and grid stories
  src/shared/components/ui/form/form.stories.tsx
  src/shared/components/ui/grid/grid.stories.tsx
Due: none

feat: add title component
  src/shared/components/ui/title/index.ts
  src/shared/components/ui/title/title.component.tsx
  src/shared/components/ui/title/title.interface.ts
  src/shared/components/ui/title/title.stories.tsx
  src/shared/components/ui/title/title.styled.tsx
  src/shared/components/ui/title/title.test.tsx
Due: none

feat: add panel component
  src/shared/components/ui/panel/index.ts
  src/shared/components/ui/panel/panel.component.tsx
  src/shared/components/ui/panel/panel.interface.ts
  src/shared/components/ui/panel/panel.stories.tsx
  src/shared/components/ui/panel/panel.styled.tsx
  src/shared/components/ui/panel/panel.test.tsx
Due: none

feat: update light theme
  .storybook/preview.js
  src/shared/components/ui/button/button.interface.ts
  src/shared/components/ui/checkout-navbar/checkout-navbar.interface.ts
  src/shared/components/ui/checkout-navbar/checkout-navbar.styled.tsx
  src/shared/components/ui/form/form.interface.tsx
  src/shared/components/ui/grid/grid.interface.tsx
  src/shared/styles/theme/light.ts
Due: prettier-eslint --write, eslint

First commit, containing initial structure of project and cart page.
  package.json
  src/App.css
  src/App.js
  src/components/navbar/Navbar.js
  src/components/navbar/navbar.module.css
  src/index.css
  src/pages/cart/Cart.js
  src/pages/cart/cart.module.css
  src/pages/confirmation/Confirmation.js
  src/pages/payment/Payment.js
  src/services/SaleService.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add card component
  src/shared/components/ui/card/card.component.tsx
  src/shared/components/ui/card/card.interface.ts
  src/shared/components/ui/card/card.stories.tsx
  src/shared/components/ui/card/card.styled.tsx
  src/shared/components/ui/card/card.test.tsx
  src/shared/components/ui/card/index.ts
Due: none

feat: add cart summary component
  src/shared/components/ui/cart-summary/cart-summary.component.tsx
  src/shared/components/ui/cart-summary/cart-summary.interface.ts
  src/shared/components/ui/cart-summary/cart-summary.stories.tsx
  src/shared/components/ui/cart-summary/cart-summary.styled.tsx
  src/shared/components/ui/cart-summary/cart-summary.test.tsx
  src/shared/components/ui/cart-summary/index.ts
Due: none

feat: update theme and fonts
  src/shared/components/ui/panel/panel.stories.tsx
  src/shared/styles/global/base.tsx
  src/shared/styles/global/fonts.tsx
  src/shared/styles/theme/light.ts
Due: none

feat: update card component with presentation property
  src/shared/components/ui/card/card.component.tsx
  src/shared/components/ui/card/card.interface.ts
  src/shared/components/ui/card/card.stories.tsx
  src/shared/components/ui/card/card.styled.tsx
Due: none

feat: add payment summary component
  src/shared/components/app/payment-summary/index.ts
  src/shared/components/app/payment-summary/payment-summary.component.tsx
  src/shared/components/app/payment-summary/payment-summary.interface.ts
  src/shared/components/app/payment-summary/payment-summary.stories.tsx
  src/shared/components/app/payment-summary/payment-summary.styled.tsx
  src/shared/components/app/payment-summary/payment-summary.test.tsx
Due: none

feat: add pages in storybook
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/app/payment-form/payment-form.interface.tsx
  src/shared/components/ui/card/card.interface.ts
  src/shared/layouts/app/index.tsx
  src/shared/screens/cart/cart-component.tsx
  src/shared/screens/cart/cart.stories.tsx
  src/shared/screens/payment/payment-component.tsx
  src/shared/screens/payment/payment.stories.tsx
  src/shared/screens/success/success-component.tsx
  src/shared/screens/success/success.stories.tsx
  src/shared/store/reducers.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add api service
  src/shared/app.tsx
  src/shared/screens/cart/cart-component.tsx
  src/shared/services/cart.interface.ts
  src/shared/services/cart.ts
  src/shared/services/index.ts
  src/shared/store/cart/action.ts
  src/shared/store/cart/reducer.ts
  src/shared/store/cart/saga.ts
  src/shared/store/reducers.ts
  src/shared/store/sagas.ts
  src/types/global.d.ts
Due: none
