Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

chore: use vite instead of CRA ⚡️ (#178)
  .gitignore
  README.md
  index.html
  package.json
  public/favicon.ico
  public/index.html
  public/manifest.json
  src/App.css
  src/App.js
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/index.js
  src/logo.svg
  src/main.tsx
  src/serviceWorker.js
  src/test/setup-test.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: update to vite v4
  package.json
  yarn.lock
Due: prettier --write

chore: update to vite v4 (#179)
  package.json
  yarn.lock
Due: prettier --write

feat: adicionando react router
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/index.css
  src/main.tsx
  src/test/setup-test.ts
  vite.config.ts
  yarn.lock
Due: prettier --write

feat: layout da sacola com dados mockados
  src/App.tsx
  src/components/button/index.tsx
  src/components/header/index.tsx
  src/components/header/menu.tsx
  src/components/payment-description/index.tsx
  src/components/product-card/index.tsx
  src/components/product-list/index.tsx
  src/components/title/index.tsx
  src/config/test/setup-test.ts
  src/pages/basket-confirmation/index.tsx
  src/pages/basket-sucess/index.tsx
  src/pages/basket/index.tsx
  src/services/basket/index.tsx
  src/styles/global.ts
Due: none

ajustes de layout nas rotas de pagamentos e confirmacao e gerenciamento de estado global
  package.json
  src/App.tsx
  src/components/buttons/basket/index.tsx
  src/components/buttons/default/index.tsx
  src/components/buttons/payment/index.tsx
  src/components/header/menu.tsx
  src/components/image/index.tsx
  src/components/payment-description/index.tsx
  src/components/payment-user-info/index.tsx
  src/components/product-card/index.tsx
  src/components/product-list/index.tsx
  src/components/title/index.tsx
  src/config/test/setup-test.ts
  src/main.tsx
  src/pages/confirmation/index.tsx
  src/pages/payment/index.tsx
  src/services/basket/helpers/index.ts
  src/services/basket/hooks/index.ts
  src/services/basket/index.tsx
  src/services/basket/types/index.ts
  src/services/payment/description/index.tsx
  vite.config.ts
  yarn.lock
Due: prettier --write

layout do formulario
  package.json
  src/components/credit-card-form/index.tsx
  src/components/input/index.tsx
  src/components/product-list/index.tsx
  src/pages/payment/index.tsx
  src/services/basket/hooks/index.ts
  src/services/payment/description/index.tsx
  src/services/payment/helpers/index.ts
  yarn.lock
Due: prettier --write

feat: salvando dados do cartão
  src/components/FormInput/index.tsx
  src/components/credit-card-form/index.tsx
  src/services/payment/hooks/index.ts
  src/services/payment/types/index.ts
Due: none

feat: componente de sucesso e componente que lista dados do cliente
  package.json
  src/components/credit-card-form/index.tsx
  src/components/payment-description/index.tsx
  src/components/payment-user-info/index.tsx
  src/components/success-message/index.tsx
  src/components/success-message/success.svg
  src/components/success-message/successSVG.tsx
  src/config/setup-test.ts
  src/pages/confirmation/index.tsx
  src/services/payment/helpers/index.ts
  yarn.lock
Due: prettier --write

feat: validação para mudar as rotas com dados validos
  src/components/header/menu.tsx
  src/components/product-list/index.tsx
  src/components/success-message/index.tsx
  src/pages/confirmation/index.tsx
  src/pages/payment/index.tsx
  src/services/basket/hooks/index.ts
  src/services/common/hooks/index.ts
Due: none

fix: ajustes de layout
  src/components/credit-card-form/index.tsx
  src/components/product-list/index.tsx
  src/services/common/hooks/index.ts
Due: none

feat: criacao e aplicacao do loading
  src/components/buttons/payment/index.tsx
  src/components/credit-card-form/index.tsx
  src/components/loading/index.tsx
  src/components/product-list/index.tsx
  src/pages/basket/index.tsx
  src/pages/confirmation/index.tsx
  src/pages/payment/index.tsx
Due: none

refactory: criando o componente de wrapper e ajuste no botoes
  src/components/button/index.tsx
  src/components/buttons/basket/index.tsx
  src/components/credit-card-form/index.tsx
  src/components/wrapper/index.tsx
  src/pages/basket/index.tsx
  src/pages/confirmation/index.tsx
  src/pages/payment/index.tsx
Due: none

feat: adicionando tema
  src/App.tsx
  src/components/FormInput/index.tsx
  src/components/button/index.tsx
  src/components/credit-card-form/index.tsx
  src/components/header/index.tsx
  src/components/header/menu.tsx
  src/components/payment-description/index.tsx
  src/components/payment-user-info/index.tsx
  src/components/product-card/index.tsx
  src/components/product-list/index.tsx
  src/components/success-message/success.svg
  src/components/success-message/successSVG.tsx
  src/components/title/index.tsx
  src/main.tsx
  src/theme/index.tsx
  yarn.lock
Due: none

feat: adding theme and global styles
  src/theme/globals.ts
  src/theme/index.tsx
  src/theme/styles.ts
Due: none

feat: adding Button, Header and Loader components
  src/components/Button/index.tsx
  src/components/Header/index.tsx
  src/components/Loader/index.tsx
  src/types.ts
Due: none

feat: adding Cart page
  src/components/CartInfo/index.tsx
  src/components/CartItems/index.tsx
  src/pages/checkout/Cart/index.tsx
  src/pages/commom/Loading/index.tsx
  src/types.ts
Due: none

feat: adding Payment page
  src/components/Input/index.tsx
  src/components/PaymentForm/index.tsx
  src/pages/checkout/Payment/index.tsx
  src/services/hooks/cart/useCartProducts.ts
  src/services/hooks/form/useForm.ts
Due: none

feat: adding Confirmation page
  src/components/PaymentInfo/index.tsx
  src/pages/checkout/Confirmation/index.tsx
Due: none

feat: adding Home, Not Found pages and types
  src/pages/commom/Home/index.tsx
  src/pages/error/NotFound/index.tsx
  src/types.ts
Due: none

feat: adding helpers
  src/helpers/input.test.ts
  src/helpers/input.ts
Due: none

feat: adding main app changes
  index.html
  src/App.tsx
  src/main.tsx
Due: prettier --write

feat: adding components stories
  .storybook/main.cjs
  .storybook/preview-head.html
  .storybook/preview.cjs
  src/components/Button/index.stories.tsx
  src/components/Header/index.stories.tsx
  src/components/Input/index.stories.tsx
  src/components/Loader/index.stories.tsx
Due: prettier --write

feat: adding tests and wrapping up
  .gitignore
  package.json
  src/App.css
  src/App.test.tsx
  src/components/Button/index.test.tsx
  src/components/CartInfo/index.test.tsx
  src/components/CartItems/index.test.tsx
  src/components/Header/index.test.tsx
  src/components/Input/index.test.tsx
  src/components/Loader/index.test.tsx
  src/components/PaymentForm/index.test.tsx
  src/components/PaymentInfo/index.test.tsx
  src/index.css
  src/pages/checkout/Cart/index.test.tsx
  src/pages/checkout/Confirmation/index.test.tsx
  src/pages/checkout/Payment/index.test.tsx
  src/pages/commom/Home/index.test.tsx
  src/pages/commom/Loading/index.test.tsx
  src/pages/error/NotFound/index.test.tsx
  src/services/hooks/cart/items.mock.ts
  src/services/hooks/cart/response.mock.ts
  src/services/hooks/cart/usePaymentData.ts
  src/test/setup-test.ts
  vite.config.ts
  yarn.lock
Due: prettier --write

feat: teste unitario do button, credit-card-form e header
  package.json
  src/components/FormInput/index.test.tsx
  src/components/FormInput/index.tsx
  src/components/FormInput/styles.ts
  src/components/button/index.test.tsx
  src/components/button/index.tsx
  src/components/button/styles.ts
  src/components/credit-card-form/index.test.tsx
  src/components/credit-card-form/index.tsx
  src/components/credit-card-form/styles.ts
  src/components/header/index.test.tsx
  src/components/header/index.tsx
  src/components/header/menu.tsx
  src/components/header/styles.ts
  src/config/setup-test.ts
  src/main.tsx
  vite.config.ts
  yarn.lock
Due: prettier --write

feat: teste unitario image
  src/components/image/index.test.tsx
  src/components/image/index.tsx
  src/components/image/styles.ts
Due: none

feat: teste unitario loading
  src/components/image/index.test.tsx
  src/components/loading/index.test.tsx
  src/components/loading/index.tsx
  src/components/loading/styles.ts
Due: none

feat: teste unitario descrição do pagamento e informações do usuario
  src/components/loading/index.test.tsx
  src/components/payment-description/index.test.tsx
  src/components/payment-description/index.tsx
  src/components/payment-description/styles.ts
  src/components/payment-user-info/index.test.tsx
  src/components/payment-user-info/index.tsx
  src/components/payment-user-info/styles.ts
Due: none

feat: teste unitario product card, product-list, success, title e wrapper
  src/components/product-card/index.test.tsx
  src/components/product-card/index.tsx
  src/components/product-card/styles.ts
  src/components/product-list/index.test.tsx
  src/components/product-list/index.tsx
  src/components/product-list/styles.ts
  src/components/success-message/index.test.tsx
  src/components/success-message/index.tsx
  src/components/success-message/styles.ts
  src/components/title/index.test.tsx
  src/components/title/index.tsx
  src/components/title/styles.ts
  src/components/wrapper/index.test.tsx
  src/components/wrapper/index.tsx
  src/components/wrapper/styles.ts
Due: none

feat: testes unitarios das paginas
  src/pages/basket/index.test.tsx
  src/pages/basket/index.tsx
  src/pages/confirmation/index.test.tsx
  src/pages/payment/index.test.tsx
  src/services/basket/hooks/index.ts
Due: none

refactory: separacao dos mocks
  src/components/payment-description/index.test.tsx
  src/components/payment-description/mock.ts
  src/components/payment-user-info/index.test.tsx
  src/components/payment-user-info/mock.ts
  src/components/product-card/index.test.tsx
  src/components/product-card/mock.ts
  src/components/product-list/index.test.tsx
  src/components/product-list/mock.ts
  src/pages/basket/index.test.tsx
  src/services/basket/helpers/index.test.ts
  src/services/basket/helpers/mock.ts
  src/services/basket/hooks/index.test.ts
  src/services/basket/hooks/index.ts
  src/services/common/hooks/index.test.ts
  src/services/payment/helpers/index.test.ts
  src/services/payment/helpers/index.ts
  src/services/payment/helpers/mock.ts
  src/services/payment/hooks/index.test.tsx
Due: none

feat: teste hook common
  src/services/common/hooks/index.test.ts
  src/services/common/hooks/index.ts
Due: none

fix: adicionando teste de loading
  src/pages/basket/index.test.tsx
Due: none

refactor: melhoria no codigo do formulario e normalizacao de tipos
  src/App.tsx
  src/components/FormInput/index.tsx
  src/components/credit-card-form/index.test.tsx
  src/components/credit-card-form/index.tsx
  src/components/product-list/index.tsx
  src/services/basket/types/index.ts
  src/services/payment/hooks/index.test.tsx
  src/services/payment/hooks/index.ts
  src/services/payment/types/index.ts
  src/theme/index.tsx
  yarn.lock
Due: none

refactor: funcao para renderizar componente com o tema no teste
  src/App.tsx
  src/components/FormInput/index.test.tsx
  src/components/button/index.test.tsx
  src/components/credit-card-form/index.test.tsx
  src/components/header/index.test.tsx
  src/components/payment-description/index.test.tsx
  src/components/payment-user-info/index.test.tsx
  src/components/product-card/index.test.tsx
  src/components/product-list/index.test.tsx
  src/components/success-message/index.test.tsx
  src/components/title/index.test.tsx
  src/pages/basket/index.test.tsx
  src/pages/confirmation/index.test.tsx
  src/pages/payment/index.test.tsx
Due: none

refactor: helper para renderizar com o tema
  src/utils/helpers/index.tsx
Due: none

fix: remocao de erros para funcionar o build
  src/components/product-card/mock.ts
  src/config/setup-test.ts
  src/services/basket/helpers/mock.ts
  src/services/basket/hooks/index.test.ts
  src/services/basket/types/index.ts
  src/services/payment/hooks/index.test.tsx
Due: none

feat: criacao de config e remocao do suspense
  src/App.tsx
  src/config/json/config.json
  src/config/tests/setup-test.ts
  src/services/basket/hooks/index.ts
  vite.config.ts
Due: prettier --write

fix: removendo import desnecessario
  src/components/header/index.tsx
Due: none

teste
  src/main.tsx
Due: none
