Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: componente ProductList
  src/components/ProductList/ProductList.js
  src/components/ProductList/ProductList.styles.js
  src/components/ProductList/ProductList.test.js
  src/components/ProductList/__snapshots__/ProductList.test.js.snap
Due: prettier-eslint --write, eslint

feat: componente PurchaseSummary
  src/components/PurchaseSummary/PurchaseSummary.js
  src/components/PurchaseSummary/PurchaseSummary.styles.js
  src/components/PurchaseSummary/PurchaseSummary.test.js
  src/components/PurchaseSummary/__snapshots__/PurchaseSummary.test.js.snap
Due: prettier-eslint --write, eslint

feat: componente Stepper
  src/components/Stepper/Stepper.js
  src/components/Stepper/Stepper.styles.js
  src/components/Stepper/Stepper.test.js
  src/components/Stepper/__snapshots__/Stepper.test.js.snap
Due: prettier-eslint --write, eslint

feat: componente SuccessAlert
  src/components/SuccessAlert/SuccessAlert.js
  src/components/SuccessAlert/SuccessAlert.styles.js
  src/components/SuccessAlert/SuccessAlert.test.js
  src/components/SuccessAlert/__snapshots__/SuccessAlert.test.js.snap
Due: prettier-eslint --write, eslint

feat: componente Value
  src/components/Value/Value.js
  src/components/Value/Value.test.js
Due: prettier-eslint --write, eslint

feat: container Cart
  src/containers/Cart/Cart.js
  src/containers/Cart/Cart.test.js
  src/containers/Cart/__snapshots__/Cart.test.js.snap
Due: prettier-eslint --write, eslint

feat: store Payment e Cart
  src/store/CartStore.js
  src/store/PaymentStore.js
Due: prettier-eslint --write, eslint

feat: container Confirmation
  src/containers/Confirmation/Confirmation.js
  src/containers/Confirmation/Confirmation.test.js
  src/containers/Confirmation/__snapshots__/Confirmation.test.js.snap
Due: prettier-eslint --write, eslint

feat: container Payment
  src/containers/Payment/Payment.js
  src/containers/Payment/Payment.test.js
  src/containers/Payment/__snapshots__/Payment.test.js.snap
Due: prettier-eslint --write, eslint

feat: ajustes gerais e assets
  package-lock.json
  package.json
  public/images/icon-checkmark-circle.png
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/serviceWorker.js
  src/setupTests.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: desabilita botão caso form inválido
  src/components/Button/Button.js
  src/containers/Payment/Payment.js
Due: prettier-eslint --write, eslint

fix: corrige testes unitários
  src/containers/Cart/__snapshots__/Cart.test.js.snap
  src/containers/Payment/Payment.js
  src/containers/Payment/__snapshots__/Payment.test.js.snap
Due: prettier-eslint --write, eslint

teste
  README.md
  __tests__/__snapshots__/snapshot.js.snap
  __tests__/snapshot.js
  __tests__/testing-library.js
  components/organism/cart/cart.test.js
  components/templates/__tests__/header.test.js
  components/templates/checkoutFlow.js
  components/templates/header.js
  enzyme.js
  jest.config.js
  package-lock.json
  package.json
  store/cart/index.js
Due: prettier-eslint --write, eslint, prettier --write

incluido dois testes de exemplo.
  README.md
  __tests__/__snapshots__/snapshot.js.snap
  __tests__/snapshot.js
  __tests__/testing-library.js
  components/atoms/buttons/cta.test.js
  components/organism/cart/cart.test.js
  components/templates/header.js
  components/templates/header.test.js
  components/templates/layout.js
  enzyme.js
  package.json
  pages/checkout/cart.js
  pages/checkout/payment.js
  pages/checkout/success.js
  setupTests.js
  store/cart.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

included testing examples
  pages/checkout/cart.js
Due: prettier-eslint --write, eslint

updating readme.md
  README.md
  enzyme.js
Due: prettier-eslint --write, eslint, prettier --write

first commit 3 pages basics
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/assets/icons/check-circle.svg
  src/components/Button/Button.js
  src/components/Header/Header.js
  src/components/Input/Input.js
  src/components/ItemList/ItemList.js
  src/components/SummaryCart/SummaryCart.js
  src/containers/PaymentForm/PaymentForm.js
  src/index.css
  src/pages/Cart/Cart.js
  src/pages/Checkout/Checkout.js
  src/pages/Payment/Payment.js
  src/routes/index.js
  src/services/productsServices.js
  src/styles/variables.js
  src/utils/AxiosHelper.js
  src/utils/config.js
  src/utils/history.js
Due: prettier-eslint --write, eslint, prettier --write

desktop view + unit tests
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/components/Button/Button.js
  src/components/Button/Button.spec.js
  src/components/Header/Header.js
  src/components/Input/Input.js
  src/components/ItemList/ItemList.js
  src/components/ItemList/ItemList.spec.js
  src/components/SummaryCart/SummaryCart.js
  src/components/SummaryCart/SummaryCart.spec.js
  src/containers/PaymentForm/PaymentForm.js
  src/containers/PaymentForm/PaymentForm.spec.js
  src/pages/Cart/Cart.js
  src/pages/Checkout/Checkout.js
  src/pages/Payment/Payment.js
  src/setupTests.js
  src/store/store.js
  src/utils/utils.js
Due: prettier-eslint --write, eslint, prettier --write

unit tests
  src/containers/PaymentForm/PaymentForm.js
  src/containers/PaymentForm/PaymentForm.spec.js
Due: prettier-eslint --write, eslint

adjustments: routes and input format
  src/components/Input/Input.js
  src/containers/PaymentForm/PaymentForm.js
  src/pages/Checkout/Checkout.js
  src/routes/index.js
  src/utils/utils.js
Due: prettier-eslint --write, eslint

last adjustments
  src/App.js
  src/components/Button/Button.js
  src/components/Input/Input.js
  src/components/SummaryCart/SummaryCart.js
  src/components/styles.js
  src/containers/PaymentForm/PaymentForm.js
  src/pages/Cart/Cart.js
  src/pages/Checkout/Checkout.js
  src/pages/Payment/Payment.js
Due: prettier-eslint --write, eslint

feat: update dependencies with exact versions
  .npmrc
  .nvmrc
  README.md
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

feat: add basic dependencies
  README.md
  package.json
  yarn.lock
Due: prettier --write

feat: add storybook
  .storybook/main.js
  .storybook/preview.js
  README.md
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add button component as an example
  .gitignore
  src/components/button/button.component.tsx
  src/components/button/button.interface.ts
  src/components/button/button.stories.tsx
  src/components/button/button.styled.tsx
  src/components/button/button.test.tsx
  src/components/button/index.ts
Due: none

feat: remove unnecessary files
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add shared folder
  src/shared/components/button/button.component.tsx
  src/shared/components/button/button.interface.ts
  src/shared/components/button/button.stories.tsx
  src/shared/components/button/button.styled.tsx
  src/shared/components/button/button.test.tsx
  src/shared/components/button/index.ts
Due: none

feat: add assets
  src/shared/assets/favicon.ico
Due: none

feat: add screens
  src/shared/screens/home.tsx
  src/shared/screens/not-found.tsx
Due: none

feat: add layout
  src/shared/layouts/app/index.tsx
Due: none

feat: add routes
  src/shared/routes.ts
Due: none

feat: add global types
  .eslintignore
  .prettierignore
  config.d.ts
  global.d.ts
  src/global.d.ts
Due: none

feat: add eslint and config
  .babelrc
  .eslintrc
  tsconfig.json
  tsconfig.tooling.json
Due: prettier --write

feat: add client config
  src/client/index.ts
Due: none

feat: add server config
  src/server/components/HTML.tsx
  src/server/index.ts
  src/server/middleware/add-store.ts
  src/server/middleware/error-handler.ts
  src/server/middleware/server-renderer.tsx
Due: none

feat: add store
  src/shared/store/history.ts
  src/shared/store/index.ts
  src/shared/store/root-reducer.ts
  src/shared/store/root-saga.ts
Due: none

feat: add root file
  src/shared/app.tsx
Due: none

feat: remove unnecessary files
  public/favicon.ico
  public/index.html
  public/manifest.json
  public/robots.txt
Due: prettier --write

feat: update dotfiles
  .babelrc
  .browserslistrc
  .eslintignore
  .eslintrc
  .gitignore
  .prettierrc
Due: none
