Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

ts tests and root files
  package.json
  src/App.tsx
  src/__tests__/components/NavBar.test.tsx
  src/__tests__/components/ProductCard.test.tsx
  src/index.tsx
  yarn.lock
Due: prettier --write

jest ts
  jest.config.js
  package.json
  src/App.test.tsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

ts tests configuration
  jest.config.js
  package.json
  src/App.test.tsx
  src/App.tsx
  src/__tests__/components/NavBar.test.tsx
  src/__tests__/components/ProductCard.test.tsx
  src/hooks/index.tsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: dinamic routes attached to the buttons
  src/pages/Cart.js
  src/pages/Confirmation.js
  src/pages/Payment.js
Due: prettier-eslint --write, eslint

ts refactoring
  src/components/Button/index.ts
  src/components/Button/index.tsx
  src/components/ProductCard/index.tsx
  src/components/ProductsList/index.tsx
  src/hooks/cart.tsx
  src/pages/Cart/index.tsx
  src/pages/Payment/index.tsx
Due: none

jsxBracketSameLine true
  .prettierrc
Due: none

fix form validation
  src/components/CreditCardForm/index.tsx
Due: none

fix form validation
  package.json
  yarn.lock
Due: prettier --write

form validation maskDivider
  src/components/CreditCardForm/index.tsx
  src/components/Input/index.tsx
Due: none

form validation user name
  src/components/CreditCardForm/index.tsx
Due: none

refact tests
  src/__tests__/components/NavBar.test.tsx
  src/__tests__/components/ProductCard.test.tsx
  src/components/Input/index.tsx
  src/components/ProductCard/index.tsx
Due: none

Input test
  src/__tests__/components/Input.test.tsx
Due: none

set env file
  .env
  package.json
  src/hooks/cart.tsx
  yarn.lock
Due: prettier --write

remove yup
  package.json
  yarn.lock
Due: prettier --write

disabled button
  src/components/Button/index.ts
Due: none

fix env
  .env
  src/hooks/cart.tsx
Due: none

form validation refact
  src/components/CreditCardForm/index.tsx
  src/components/Input/index.tsx
  src/hooks/creditCard.tsx
  src/pages/Payment/index.tsx
Due: none

remove console
  src/hooks/cart.tsx
Due: none

validation form
  src/hooks/creditCard.tsx
Due: none

fix padding
  src/styles/theme.ts
Due: none

fix: form and validations
  package-lock.json
  package.json
  src/Components/CreditCardForm.js
  src/Components/Total.js
  src/Context/Context.js
  src/Context/MyContext.js
  src/Context/Provider.js
  src/pages/Cart.js
  src/pages/Confirmation.js
  src/pages/Payment.js
  src/validation/ValidateInfo.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

css: starting some style on page Cart
  src/App.js
  src/App.module.css
  src/Components/Header.js
  src/Components/Header.module.css
  src/Components/Product.js
  src/Components/Product.module.css
  src/Components/Total.js
  src/pages/Cart.js
  src/pages/Cart.module.css
  src/pages/Confirmation.js
  src/pages/Payment.js
Due: prettier-eslint --write, eslint, prettier --write

fix: decimal places
  src/Components/Total.js
  src/Components/Total.module.css
  src/pages/Cart.js
  src/pages/Cart.module.css
Due: prettier-eslint --write, eslint, prettier --write

css: putting some style to the payment tab
  src/Components/Product.js
  src/Components/Total.js
  src/Components/Total.module.css
  src/pages/Payment.js
  src/pages/Payment.module.css
Due: prettier-eslint --write, eslint, prettier --write

percist form data
  src/hooks/creditCard.tsx
Due: none

block unfilled form
  src/pages/Confirmation/index.tsx
Due: none

refact button
  src/components/Button/index.ts
Due: none

test formatCurrencyBRL
  src/__tests__/utils/formatCurrencyBRL.test.tsx
Due: none

env example
  .env_example
  .gitignore
Due: none

Update readme
  README.md
Due: prettier --write

input refactorin
  src/components/Input/index.tsx
Due: none

readme update
  README.md
Due: prettier --write

readme plus
  README.md
Due: prettier --write

libs version
  package.json
Due: prettier --write

update readme
  README.md
Due: prettier --write

readme
  README.md
Due: prettier --write

Readme fix
  README.md
Due: prettier --write

implement .nvmrc
  .nvmrc
Due: none
