Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

feat: adjust wrong spacements
  src/components/Product/Product.js
  src/components/Product/Product.module.css
  src/components/TabContent/TabContent.module.css
Due: prettier-eslint --write, eslint, prettier --write

refactor(Product): using gap instead margin
  src/components/Product/Product.js
  src/components/Product/Product.module.css
Due: prettier-eslint --write, eslint, prettier --write

test(CartResume): creates CartResume tests
  src/components/CartResume/CartResume.test.js
Due: prettier-eslint --write, eslint

feat: converts productsQuantity from number to string
  src/hooks/tests/useOrder.test.js
  src/hooks/useOrder.js
Due: prettier-eslint --write, eslint

test(getButtonState): creates getButtonState function tests
  src/components/CartResume/utils/index.test.js
Due: prettier-eslint --write, eslint

test(PaymentForm): creates PaymentForm component tests
  src/components/PaymentForm/PaymentForm.js
  src/components/PaymentForm/PaymentForm.test.js
Due: prettier-eslint --write, eslint

style: standards tests using screen instead destruct
  src/components/Product/Product.test.js
  src/components/ProductsDetails/ProductsDetails.test.js
  src/components/shared/Button/Button.test.js
  src/components/shared/Text/Text.test.js
Due: prettier-eslint --write, eslint

feat: add some responsiveness
  src/styles/global.css
Due: prettier --write

feat: add error validation when fetching order data
  src/components/Error/Error.js
  src/components/Error/Error.module.css
  src/components/Error/index.js
  src/hooks/useOrder.js
  src/pages/index.js
  src/services/cart.js
Due: prettier-eslint --write, eslint, prettier --write

feat: finalize order confirmation step
  src/components/CartResume/CartResume.js
  src/components/OrderConfirmation/OrderConfirmation.js
  src/components/OrderConfirmation/OrderConfirmation.module.css
  src/components/PaymentForm/PaymentForm.js
  src/components/PaymentForm/PaymentForm.test.js
  src/components/PaymentForm/utils/index.js
  src/components/Tabs/Tabs.module.css
  src/pages/_document.js
Due: prettier-eslint --write, eslint, prettier --write

Update README.md
  README.md
Due: prettier --write

fix: use correct stale and close days
  .github/workflows/stale.yml
Due: none

fix: use correct stale and close days (#205)
  .github/workflows/stale.yml
Due: none

chore: :wrench: add .tool-versions
  .tool-versions
Due: none

feat: add page files
  src/pages/cart.tsx
  src/pages/confirmation.tsx
  src/pages/payment.tsx
Due: none

chore: :package: add react router dom
  package.json
  yarn.lock
Due: prettier --write

feat: add not-found page
  src/pages/not-found.tsx
Due: none

feat: add layout & index
  src/pages/index.ts
  src/pages/layout.tsx
Due: none

feat: add components
  src/components/navigation/Navigation.tsx
  src/components/navigation/index.ts
  src/components/summary/Summary.tsx
Due: none

feat: :coffin: remove app.css
  src/App.css
Due: prettier --write

feat: configure routes
  src/App.tsx
Due: none

feat: add action context
  src/components/summary/Summary.tsx
  src/contexts/ActionContext.tsx
  src/pages/cart.tsx
  src/pages/confirmation.tsx
  src/pages/layout.tsx
  src/pages/payment.tsx
Due: none

feat: create hook & models
  src/hooks/useLoadCart.ts
  src/models/Cart.ts
  src/models/ImageObject.ts
  src/models/Item.ts
  src/models/PriceSpecification.ts
  src/models/Product.ts
Due: none

feat: :poop: load cart data from hook
  src/pages/cart.tsx
Due: none

feat: :lipstick: add bootstrap
  package.json
  src/main.tsx
  yarn.lock
Due: prettier --write

feat: add item component
  src/components/cart/Item.tsx
  src/pages/cart.tsx
Due: none

feat: :truck: rename file
  src/components/cart/ListItem.tsx
  src/pages/cart.tsx
Due: none

feat: :package: add styled components package
  package.json
  yarn.lock
Due: prettier --write

feat: :lipstick: initial styles for header
  src/components/navigation/Navigation.tsx
  src/components/navigation/styles.ts
  src/index.css
Due: prettier --write

refactor: :recycle: using a named convetion for styled component
  src/components/navigation/Navigation.tsx
  src/components/navigation/styles.ts
Due: none

feat: :recycle: styled footer component
  src/components/styles/Container.ts
  src/components/styles/Footer.ts
  src/components/styles/Global.ts
  src/components/styles/index.ts
  src/components/summary/Summary.tsx
  src/components/summary/index.ts
  src/components/summary/styles.ts
  src/index.css
  src/main.tsx
  src/pages/cart.tsx
  src/pages/layout.tsx
Due: prettier --write

feat: :lipstick: add Submit button
  src/components/styles/Footer.ts
Due: none

feat: :lipstick: create initial styles to list
  src/App.tsx
  src/components/cart/Cart.tsx
  src/components/cart/ListItem.tsx
  src/components/cart/index.ts
  src/components/cart/styles.ts
  src/components/styles/Global.ts
  src/contexts/ActionContext.tsx
  src/pages/cart.tsx
  src/pages/confirmation.tsx
  src/pages/not-found.tsx
  src/pages/payment.tsx
Due: none

feat: :lipstick: add button variant
  src/components/styles/Footer.ts
  src/pages/confirmation.tsx
Due: none

perf: :zap: cache request
  src/hooks/useLoadCart.ts
Due: none

feat: :package: add packages
  package.json
  yarn.lock
Due: prettier --write

feat: add form
  src/components/cart/styles.ts
  src/components/form/Form.tsx
  src/components/form/model.ts
  src/components/form/styles.ts
  src/components/styles/Main.ts
  src/components/styles/index.ts
  src/main.tsx
  src/pages/layout.tsx
  src/pages/payment.tsx
Due: none

refactor: :recycle: avoid click on navigation items
  src/components/navigation/styles.ts
Due: none

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
