Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

fix: deploy
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  package.json
  public/robots.txt
  yarn.lock
Due: prettier --write

feat: adding Tests & Travis CI
  .travis.yml
  .vscode/settings.json
  README.md
  package.json
  src/components/Button/Button.test.js
  src/components/Button/__snapshots__/Button.test.js.snap
  src/components/Field/Field.js
  src/components/Field/Field.test.js
  src/components/Field/__snapshots__/Field.test.js.snap
  src/components/SuccessMessage/SuccessMessage.js
  src/components/SuccessMessage/SuccessMessage.test.js
  src/components/SuccessMessage/__snapshots__/SuccessMessage.test.js.snap
  src/helpers/formatCurrency.js
  src/helpers/formatCurrency.test.js
  src/modules/checkout/components/CreditCardSection/CreditCardSection.js
  src/modules/checkout/components/CreditCardSection/CreditCardSection.test.js
  src/modules/checkout/components/CreditCardSection/__snapshots__/CreditCardSection.test.js.snap
  src/modules/checkout/components/PaymentSummarySection/PaymentSummarySection.js
  src/modules/checkout/components/PaymentSummarySection/PaymentSummarySection.test.js
  src/modules/checkout/components/ProductListSection/__snapshots__/ProductListSection.test.js.snap
  src/modules/checkout/components/SummarySection/__snapshots__/SummarySection.test.js.snap
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: added more tests and adjusts
  CONTRIBUTING.md
  package.json
  public/index.html
  src/App.js
  src/components/Button/Button.test.js
  src/components/Field/Field.test.js
  src/components/Input/Input.test.js
  src/components/Loading/Loading.test.js
  src/components/Navigation/Navigation.test.js
  src/components/SuccessMessage/SuccessMessage.js
  src/components/SuccessMessage/SuccessMessage.test.js
  src/dev/test-utils.js
  src/helpers/createHOC.js
  src/hocs/withSuspense.js
  src/icons/Check/Check.test.js
  src/modules/checkout/components/CreditCardSection/CreditCardSection.test.js
  src/modules/checkout/components/PaymentSummarySection/PaymentSummarySection.test.js
  src/modules/checkout/components/ProductListSection/ProductListSection.test.js
  src/modules/checkout/components/SummarySection/SummarySection.test.js
  src/styles/global.css
  src/views/Cart/Cart.test.js
  src/views/Cart/CartComponent.js
  src/views/Cart/__snapshots__/Cart.test.js.snap
  src/views/Confirmation/Confirmation.test.js
  src/views/Confirmation/ConfirmationComponent.js
  src/views/Confirmation/__snapshots__/Confirmation.test.js.snap
  src/views/Payment/Payment.test.js
  src/views/Payment/PaymentComponent.js
  src/views/Payment/__snapshots__/Payment.test.js.snap
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: added cypress
  .eslintrc
  .gitignore
  cypress.json
  cypress/fixtures/credit-card.json
  cypress/integration/basic_flow.spec.js
  cypress/integration/redirects.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: updated docs & .travis.yml
  .travis.yml
  CONTRIBUTING.md
Due: prettier --write

docs: ✏️ updated CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

1.0.2
  package.json
Due: prettier --write

added redux and startedd creating the Bag page.
  package-lock.json
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/App.test.js
  src/components/App.js
  src/components/bag/Bag.js
  src/components/bag/BagItem.js
  src/components/bag/BagItemsList.js
  src/components/layout/Header.js
  src/index.js
  src/reducers/index.js
  src/store.js
Due: prettier-eslint --write, eslint, prettier --write

added the bag page and the payment page incomplete. missing CSS
  package-lock.json
  package.json
  src/actions/bagActions.js
  src/actions/types.js
  src/components/App.js
  src/components/bag/Bag.js
  src/components/bag/BagItem.js
  src/components/bag/BagItemsList.js
  src/components/bag/BagResume.js
  src/components/payment/CreditCardForm.js
  src/components/payment/Payment.js
  src/reducers/bagReducer.js
  src/reducers/index.js
Due: prettier-eslint --write, eslint, prettier --write

added the payment screen
  src/components/App.js
  src/components/payment/CreditCardForm.js
  src/components/request/Request.js
Due: prettier-eslint --write, eslint

added some style and created the reducer thar recieves the card data
  src/actions/paymentActions.js
  src/actions/types.js
  src/components/bag/Bag.js
  src/components/bag/BagItem.js
  src/components/bag/BagItemsList.js
  src/components/bag/BagResume.js
  src/components/layout/Header.js
  src/components/payment/CreditCardForm.js
  src/components/request/Request.js
  src/reducers/index.js
  src/reducers/paymentReducer.js
Due: prettier-eslint --write, eslint

fixed the alignment of the navbar and other possible bugs
  src/components/App.js
  src/components/bag/Bag.js
  src/components/bag/BagItem.js
  src/components/layout/Header.js
  src/components/payment/CardData.js
  src/components/payment/CreditCardForm.js
  src/components/request/Request.js
Due: prettier-eslint --write, eslint

The thinks that where missing and some adjustments in Redux Actions
  src/components/bag/Bag.js
  src/components/bag/BagItem.js
  src/components/bag/BagResume.js
  src/components/payment/CardData.js
  src/components/payment/CreditCardForm.js
  src/components/payment/Payment.js
  src/components/request/Request.js
Due: prettier-eslint --write, eslint

Fixed text problems
  src/components/bag/BagItem.js
  src/components/bag/BagResume.js
  src/components/layout/Header.js
Due: prettier-eslint --write, eslint

init
  .browserslistrc
  .gitignore
  README.md
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  public/favicon.ico
  public/img/icons/android-chrome-192x192.png
  public/img/icons/android-chrome-512x512.png
  public/img/icons/apple-touch-icon-120x120.png
  public/img/icons/apple-touch-icon-152x152.png
  public/img/icons/apple-touch-icon-180x180.png
  public/img/icons/apple-touch-icon-60x60.png
  public/img/icons/apple-touch-icon-76x76.png
  public/img/icons/apple-touch-icon.png
  public/img/icons/favicon-16x16.png
  public/img/icons/favicon-32x32.png
  public/img/icons/msapplication-icon-144x144.png
  public/img/icons/mstile-150x150.png
  public/img/icons/safari-pinned-tab.svg
  public/index.html
  public/manifest.json
  public/robots.txt
  src/App.vue
  src/assets/logo.png
  src/components/HelloWorld.vue
  src/main.js
  src/registerServiceWorker.js
  src/router.js
  src/store.js
  src/views/About.vue
  src/views/Home.vue
  tests/unit/example.spec.js
Due: prettier-eslint --write, eslint, prettier --write

Init steps component
  src/components/HelloWorld.vue
  src/components/Steps.vue
  src/router.js
  src/views/About.vue
  src/views/Bag.vue
  src/views/Home.vue
Due: prettier-eslint --write, eslint

Style steps items
  src/App.vue
  src/components/Steps.vue
Due: none

Add color to active route and add shadow to steps box
  src/App.vue
  src/components/Steps.vue
Due: none

Init bag-list and bag-item
  src/App.vue
  src/components/BagItem.vue
  src/components/BagList.vue
  src/components/Steps.vue
  src/views/Bag.vue
Due: none

Style step title
  src/App.vue
Due: none

Init card component
  src/components/BagList.vue
  src/components/ui/Card.vue
  src/views/Bag.vue
Due: none

Style bag-item with item name, price and image
  src/components/BagItem.vue
Due: none

Align price to right
  src/components/BagItem.vue
Due: none

Add props shadow and border to card component
  src/components/ui/Card.vue
  src/views/Bag.vue
Due: none

Move card resume to root component
  src/App.vue
  src/views/Bag.vue
Due: none

Init checkout result with mock data
  src/App.vue
Due: none

Style checkout resume
  src/App.vue
Due: none

Create CheckoutButton
  src/App.vue
  src/components/CheckoutButton.vue
Due: none

Add axios
  package-lock.json
  package.json
Due: prettier --write

Create config api
  src/config/index.js
Due: prettier-eslint --write, eslint

Add cart action and mutation
  src/store.js
Due: prettier-eslint --write, eslint

Remove bar from api base url
  src/config/index.js
Due: prettier-eslint --write, eslint

Rename 'bag' to 'cart'
  src/components/CartItem.vue
  src/components/CartList.vue
  src/router.js
  src/views/Cart.vue
Due: prettier-eslint --write, eslint

Call get cart action
  src/config/index.js
  src/views/Cart.vue
Due: prettier-eslint --write, eslint

Use data from store to show cart item
  src/components/CartItem.vue
  src/components/CartList.vue
Due: none

Add excerpt directive and use in cart item name
  src/components/CartItem.vue
  src/directives/excerpt.js
  src/directives/index.js
  src/main.js
Due: prettier-eslint --write, eslint

Add vue-currency-filter and use on cart item
  package-lock.json
  package.json
  src/components/CartItem.vue
  src/main.js
Due: prettier-eslint --write, eslint, prettier --write

Create checkout resume component
  src/App.vue
  src/components/CheckoutResume.vue
Due: none

Checkout resume
  src/App.vue
  src/components/CartItem.vue
  src/components/CartList.vue
  src/components/CheckoutResume.vue
  src/store.js
Due: prettier-eslint --write, eslint

Move dispatch get cart to root component
  src/App.vue
  src/components/CartItem.vue
  src/views/Cart.vue
Due: none

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
