Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

chore(package): fixes lint, changes some scripts and add new libraries
  package.json
Due: prettier --write

chore(tsconfig): includes all typing files
  tsconfig.json
Due: prettier --write

style(theme): creates theme structure
  src/ui/theme/global-style.ts
  src/ui/theme/index.d.ts
  src/ui/theme/index.ts
  src/ui/theme/types.ts
Due: none

chore(images): adds success image
  src/ui/assets/img/success.svg
Due: none

feat(store): creates redux structure with cart module
  src/redux/modules/cart/actionTypes.ts
  src/redux/modules/cart/actions.spec.ts
  src/redux/modules/cart/actions.ts
  src/redux/modules/cart/mocks.ts
  src/redux/modules/cart/reducer.spec.ts
  src/redux/modules/cart/reducer.ts
  src/redux/modules/cart/saga.spec.ts
  src/redux/modules/cart/saga.ts
  src/redux/modules/cart/types/IState.ts
  src/redux/reducers.ts
  src/redux/sagas.ts
  src/redux/shared/mockedStore.ts
  src/redux/store.ts
  src/redux/types.ts
Due: none

chore(typing): adds styled components types to global scope
  src/styled.d.ts
Due: none

chore(tsconfig): removes src directory from include
  tsconfig.json
Due: prettier --write

feat(store): adds payment module
  src/redux/modules/cart/reducer.ts
  src/redux/modules/payment/actionTypes.ts
  src/redux/modules/payment/actions.spec.ts
  src/redux/modules/payment/actions.ts
  src/redux/modules/payment/mocks.ts
  src/redux/modules/payment/reducer.spec.ts
  src/redux/modules/payment/reducer.ts
  src/redux/modules/payment/types/IState.ts
Due: none

chore(package): adds react-input-mask
  package.json
  src/ui/theme/index.d.ts
Due: prettier --write

feat(layout): creates a default layout with header and steps
  src/ui/components/Header/Header.test.tsx
  src/ui/components/Header/Header.tsx
  src/ui/components/Header/__snapshots__/Header.test.tsx.snap
  src/ui/components/Header/__snapshots__/styled.test.tsx.snap
  src/ui/components/Header/index.tsx
  src/ui/components/Header/styled.test.tsx
  src/ui/components/Header/styled.tsx
  src/ui/components/Steps/Steps.test.tsx
  src/ui/components/Steps/Steps.tsx
  src/ui/components/Steps/__snapshots__/Steps.test.tsx.snap
  src/ui/components/Steps/__snapshots__/styled.test.tsx.snap
  src/ui/components/Steps/index.tsx
  src/ui/components/Steps/styled.test.tsx
  src/ui/components/Steps/styled.tsx
  src/ui/components/Steps/types.ts
  src/ui/layouts/checkout/Checkout.test.tsx
  src/ui/layouts/checkout/Checkout.tsx
  src/ui/layouts/checkout/__snapshots__/styled.test.tsx.snap
  src/ui/layouts/checkout/index.tsx
  src/ui/layouts/checkout/styled.test.tsx
  src/ui/layouts/checkout/styled.tsx
Due: none

chore(store): adds payment module to Redux
  src/redux/reducers.ts
Due: none

feat(store): creates containers to wrap pages
  src/redux/containers/CartContainer/CartContainer.tsx
  src/redux/containers/CartContainer/index.tsx
  src/redux/containers/PaymentContainer/PaymentContainer.tsx
  src/redux/containers/PaymentContainer/index.tsx
  src/redux/containers/SummaryContainer/SummaryContainer.tsx
  src/redux/containers/SummaryContainer/index.tsx
  src/routes/index.tsx
Due: none

feat(button): creates button component
  src/ui/components/Button/Button.test.tsx
  src/ui/components/Button/Button.tsx
  src/ui/components/Button/__snapshots__/Button.test.tsx.snap
  src/ui/components/Button/__snapshots__/styled.test.tsx.snap
  src/ui/components/Button/index.tsx
  src/ui/components/Button/styled.test.tsx
  src/ui/components/Button/styled.tsx
Due: none

feat(content-box): creates ContentBox component
  src/ui/components/ContentBox/ContentBox.test.tsx
  src/ui/components/ContentBox/ContentBox.tsx
  src/ui/components/ContentBox/__snapshots__/ContentBox.test.tsx.snap
  src/ui/components/ContentBox/index.tsx
  src/ui/components/ContentBox/styled.tsx
Due: none

feat(product): creates ProductCard component
  src/ui/components/ProductCard/ProductCard.test.tsx
  src/ui/components/ProductCard/ProductCard.tsx
  src/ui/components/ProductCard/__snapshots__/ProductCard.test.tsx.snap
  src/ui/components/ProductCard/index.tsx
  src/ui/components/ProductCard/styled.tsx
  src/ui/components/ProductCard/types.tsx
Due: none

feat(title): creates Title component
  src/ui/components/Title/Title.test.tsx
  src/ui/components/Title/Title.tsx
  src/ui/components/Title/__snapshots__/Title.test.tsx.snap
  src/ui/components/Title/index.tsx
  src/ui/components/Title/styled.tsx
Due: none

feat(cart): creates ProductList component
  src/ui/components/ProductList/ProductList.tsx
  src/ui/components/ProductList/index.tsx
  src/ui/components/ProductList/styled.tsx
  src/ui/components/ProductList/types.tsx
Due: none

style(input): creates Input styled component
  src/ui/components/Input/styled.tsx
Due: none

feat(helpers): creates currency helper
  src/shared/helpers/index.ts
Due: none

feat(helpers): adds credit card number helper
  src/shared/helpers/index.ts
Due: none

feat(cart): creates cart screen
  src/screens/Cart/Cart.tsx
  src/screens/Cart/index.tsx
  src/screens/Cart/styled.tsx
  src/screens/Cart/types.tsx
Due: none

feat(payment): creates Payment page
  src/screens/Payment/Payment.tsx
  src/screens/Payment/components/Form/styled.tsx
  src/screens/Payment/index.tsx
  src/screens/Payment/styled.tsx
  src/screens/Payment/types.tsx
Due: none

feat(payment): creates Payment screen
  src/screens/Summary/Summary.tsx
  src/screens/Summary/index.tsx
  src/screens/Summary/styled.tsx
  src/screens/Summary/types.ts
Due: none

feat(payment-form): disables payment button when has errors
  src/screens/Payment/Payment.tsx
Due: none

chore(style): removes useless files
  src/App.css
  src/App.test.js
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

chore(payment-container): removes console log
  src/redux/containers/PaymentContainer/PaymentContainer.tsx
Due: none

docs(build): adds typedoc to postbuild
  .gitignore
  package.json
  typedoc.json
Due: prettier --write

chore(package): adds "serve" script
  package.json
Due: prettier --write

docs(readme): updates readme file
  README.md
Due: prettier --write

feat(payment-form): adds masks to some fields
  src/screens/Payment/Payment.tsx
  src/screens/Payment/components/Form/styled.tsx
Due: none

chore(containers): creates micro containers for performance improve
  src/redux/containers/CardDataContainer/CardDataContainer.tsx
  src/redux/containers/CardDataContainer/index.tsx
  src/redux/containers/CardDataContainer/styled.tsx
  src/redux/containers/CartContainer/index.tsx
  src/redux/containers/CartValuesContainer/CartValuesContainer.tsx
  src/redux/containers/CartValuesContainer/index.tsx
  src/redux/containers/PaymentContainer/PaymentContainer.tsx
  src/redux/containers/ProductListContainer/ProductListContainer.tsx
  src/redux/containers/ProductListContainer/index.tsx
  src/redux/containers/SummaryContainer/SummaryContainer.tsx
  src/redux/containers/SummaryContainer/index.tsx
  src/routes/index.tsx
  src/screens/Cart/Cart.tsx
  src/screens/Cart/types.tsx
  src/screens/Payment/Payment.tsx
  src/screens/Payment/types.tsx
  src/screens/Summary/Summary.tsx
  src/screens/Summary/styled.tsx
  src/screens/Summary/types.ts
  src/ui/components/Input/styled.tsx
Due: none

test(routes): fixes router tests
  src/routes/index.test.tsx
  src/ui/layouts/checkout/Checkout.test.tsx
Due: none

chore(payment-form): remove hasErrors property from fields
  src/screens/Payment/Payment.tsx
Due: none

chore(types): adds react-app-env env var
  src/react-app-env.d.ts
Due: none

test(card-data): creates <CardDataContainer /> test
  src/redux/containers/CardDataContainer/CardDataContainer.test.tsx
Due: none

chore(components): renames ProductList component
  src/redux/containers/CartValuesContainer/CartValuesContainer.tsx
  src/ui/components/ProductList/ProductList.tsx
  src/ui/components/ProductList/index.tsx
  src/ui/components/ValuesBox/ValuesBox.tsx
  src/ui/components/ValuesBox/index.tsx
  src/ui/components/ValuesBox/styled.tsx
  src/ui/components/ValuesBox/types.tsx
Due: none

Pull request 0202
  firebuild/public/asset-manifest.json
  firebuild/public/index.html
  firebuild/public/precache-manifest.b6949b0e050ab8ff6dd567a5a4c11dd2.js
  firebuild/public/service-worker.js
  firebuild/public/static/js/main.0b52e85c.chunk.js
  firebuild/public/static/js/main.0b52e85c.chunk.js.map
  firebuild/public/static/js/main.ea067287.chunk.js
  firebuild/public/static/js/main.ea067287.chunk.js.map
Due: prettier-eslint --write, eslint, prettier --write

installing dependencies
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

add routes and coordinator
  src/App.css
  src/App.js
  src/App.test.js
  src/index.js
  src/logo.svg
  src/router/Router.js
  src/router/coordinator.js
  src/screens/ConfirmationScreen/ConfirmationScreen.js
  src/screens/ErrorScreen/ErrorScreen.js
  src/screens/PaymentScreen/PaymentScreen.js
  src/screens/ShoppingCartScreen/ShoppingCartScreen.js
  src/serviceWorker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
