Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

feat: update store structure
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/app/payment-form/payment-form.stories.tsx
  src/shared/screens/cart/cart-component.tsx
  src/shared/screens/cart/index.tsx
  src/shared/screens/payment/payment-component.tsx
  src/shared/screens/success/success-component.tsx
  src/shared/services/cart.ts
  src/shared/store/cart/action.ts
  src/shared/store/carts/action.ts
  src/shared/store/carts/reducer.ts
  src/shared/store/carts/saga.ts
  src/shared/store/reducers.ts
  src/shared/store/sagas.ts
  src/types/assets.d.ts
  src/types/global.d.ts
Due: none

feat: remove local fonts
  public/static/fonts/helvetica-neue/helveticaneuebold.woff
  public/static/fonts/helvetica-neue/helveticaneuebold.woff2
  public/static/fonts/helvetica-neue/helveticaneueregular.woff
  public/static/fonts/helvetica-neue/helveticaneueregular.woff2
  src/shared/screens/cart/cart-component.tsx
  src/shared/screens/payment/payment-component.tsx
  src/shared/styles/global/fonts.tsx
  src/shared/styles/global/index.tsx
Due: none

feat: add vertical spacing component
  src/shared/components/ui/vertical-spacing/index.ts
  src/shared/components/ui/vertical-spacing/vertical-spacing.component.tsx
  src/shared/components/ui/vertical-spacing/vertical-spacing.interface.ts
  src/shared/components/ui/vertical-spacing/vertical-spacing.stories.tsx
  src/shared/components/ui/vertical-spacing/vertical-spacing.styled.tsx
  src/shared/components/ui/vertical-spacing/vertical-spacing.test.tsx
Due: none

feat: change src/shared/components/ui/cart-summary to src/shared/components/app/cart-summary
  .storybook/preview.js
  src/shared/components/app/cart-summary/cart-summary.component.tsx
  src/shared/components/app/cart-summary/cart-summary.interface.ts
  src/shared/components/app/cart-summary/cart-summary.stories.tsx
  src/shared/components/app/cart-summary/cart-summary.styled.tsx
  src/shared/components/app/cart-summary/cart-summary.test.tsx
  src/shared/components/app/cart-summary/index.ts
  src/shared/screens/cart/cart-component.tsx
  src/shared/screens/payment/payment-component.tsx
  src/shared/screens/success/success-component.tsx
  src/shared/styles/global/index.tsx
Due: prettier-eslint --write, eslint

feat: add format currency to BRL
  src/shared/components/app/cart-summary/cart-summary.component.tsx
  src/shared/components/app/cart-summary/cart-summary.interface.ts
  src/shared/components/app/cart-summary/cart-summary.stories.tsx
  src/shared/components/ui/card/card.component.tsx
  src/shared/components/ui/card/card.interface.ts
  src/shared/components/ui/card/card.stories.tsx
  src/shared/components/ui/title/title.styled.tsx
  src/shared/components/ui/vertical-spacing/vertical-spacing.interface.ts
  src/shared/components/ui/vertical-spacing/vertical-spacing.styled.tsx
  src/shared/screens/cart/cart-component.tsx
  src/shared/screens/payment/payment-component.tsx
  src/shared/screens/success/success-component.tsx
  src/shared/utils/format.ts
  src/shared/utils/index.ts
Due: none

feat: add replace function
  src/shared/screens/success/success-component.tsx
  src/shared/utils/index.ts
  src/shared/utils/replace.ts
Due: none

feat: add improvement in routes and build configuration
  package.json
  src/shared/components/app/header/header.component.tsx
  src/shared/components/app/header/header.styled.tsx
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/app/payment-form/payment-form.interface.tsx
  src/shared/components/ui/panel/panel.stories.tsx
  src/shared/layouts/app/index.tsx
  src/shared/routes.ts
  src/shared/screens/cart/cart-component.tsx
  src/shared/screens/payment/payment-component.tsx
  src/shared/styles/theme/light.ts
  yarn.lock
Due: prettier --write

feat: add main component
  src/shared/components/ui/main/index.ts
  src/shared/components/ui/main/main.component.tsx
  src/shared/components/ui/main/main.interface.ts
  src/shared/components/ui/main/main.stories.tsx
  src/shared/components/ui/main/main.styled.tsx
  src/shared/components/ui/main/main.test.tsx
Due: none

feat: add improvement in payment form
  README.md
  src/shared/components/app/payment-form/payment-form.component.tsx
  src/shared/components/ui/button/button.component.tsx
  src/shared/components/ui/button/button.interface.ts
  src/shared/components/ui/button/button.styled.tsx
  src/shared/components/ui/card/card.styled.tsx
  src/shared/components/ui/vertical-spacing/vertical-spacing.styled.tsx
  src/shared/layouts/app/index.tsx
  src/shared/screens/cart/cart-component.tsx
  src/shared/styles/theme/light.ts
Due: prettier --write

feat: remove mock in cart page
  src/shared/screens/cart/cart-component.tsx
  src/shared/services/cart.interface.ts
Due: none

feat: add loading component
  src/shared/components/ui/loading/index.ts
  src/shared/components/ui/loading/loading.component.tsx
  src/shared/components/ui/loading/loading.interface.ts
  src/shared/components/ui/loading/loading.stories.tsx
  src/shared/components/ui/loading/loading.styled.tsx
  src/shared/components/ui/loading/loading.test.tsx
  src/shared/routes.ts
  src/shared/screens/cart/cart-component.tsx
  src/shared/screens/cart/index.tsx
  src/shared/screens/payment/index.tsx
  src/shared/screens/payment/payment-component.tsx
  src/shared/screens/payment/payment.stories.tsx
  src/shared/screens/success/index.tsx
  src/shared/screens/success/success-component.tsx
  src/shared/screens/success/success.stories.tsx
Due: none

Separate the code by responsibility and saving Sale state with Redux
  package.json
  src/components/sale/Sale.js
  src/components/sale/sale.module.css
  src/pages/cart/Cart.js
  src/pages/cart/cart.module.css
  src/services/SaleService.js
  src/stores/Sale.js
  src/util/Formatters.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: update deps
  .eslintcache
  package-lock.json
  package.json
  src/App.test.js
Due: prettier-eslint --write, eslint, prettier --write

chore: add styled components
  package-lock.json
  package.json
Due: prettier --write

feat: add test configurations
  jest.config.ts
  jest.setup.js
  package.json
  src/shared/components/ui/form/form.styled.tsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

misc: removed eslintcache
  .eslintcache
  .gitignore
Due: none

chore: add env
  .env
Due: none

Configure react-redux for share data between components
  package.json
  src/App.js
  src/components/card-form/CardForm.js
  src/components/card-form/card-form.module.css
  src/components/navbar/Navbar.js
  src/components/sale/Sale.js
  src/components/total/Total.js
  src/components/total/total.module.css
  src/pages/cart/Cart.js
  src/pages/payment/Payment.js
  src/pages/payment/payment.module.css
  src/services/SaleService.js
  src/states/actions/actionTypes.js
  src/states/actions/index.js
  src/states/reducers/index.js
  src/states/reducers/saleReducer.js
  src/states/stores/index.js
  src/stores/Sale.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: update test configurations
  config/test-utils.tsx
  jest.config.ts
  jest.setup.ts
  package.json
Due: prettier --write

feat: add tests for button component
  src/shared/components/ui/button/__snapshots__/button.test.tsx.snap
  src/shared/components/ui/button/button.test.tsx
Due: none

feat: add tests for card component
  src/shared/components/ui/card/__snapshots__/card.test.tsx.snap
  src/shared/components/ui/card/card.test.tsx
Due: none

feat: add tests for checkoutNavbar component
  src/shared/components/ui/checkout-navbar/__snapshots__/checkout-navbar.test.tsx.snap
  src/shared/components/ui/checkout-navbar/checkout-navbar.component.tsx
  src/shared/components/ui/checkout-navbar/checkout-navbar.test.tsx
Due: none

feat: add tests for form component
  src/shared/components/ui/form/__snapshots__/form.test.tsx.snap
  src/shared/components/ui/form/form.component.tsx
  src/shared/components/ui/form/form.test.tsx
Due: none

feat: add tests for grid component
  src/shared/components/ui/grid/__snapshots__/grid.test.tsx.snap
  src/shared/components/ui/grid/grid.test.tsx
Due: none

feat: add tests for loading component
  src/shared/components/ui/loading/__snapshots__/loading.test.tsx.snap
  src/shared/components/ui/loading/loading.test.tsx
Due: none

feat: add tests for main component
  src/shared/components/ui/main/__snapshots__/main.test.tsx.snap
  src/shared/components/ui/main/main.test.tsx
Due: none

feat: add tests for panel component
  src/shared/components/ui/panel/__snapshots__/panel.test.tsx.snap
  src/shared/components/ui/panel/panel.test.tsx
Due: none

feat: add tests for title component
  src/shared/components/ui/title/__snapshots__/title.test.tsx.snap
  src/shared/components/ui/title/title.component.tsx
  src/shared/components/ui/title/title.test.tsx
Due: none

feat: add tests for VerticalSpacing component
  src/shared/components/ui/vertical-spacing/__snapshots__/vertical-spacing.test.tsx.snap
  src/shared/components/ui/vertical-spacing/vertical-spacing.test.tsx
Due: none

feat: add tests for header component
  src/shared/components/app/header/__snapshots__/header.test.tsx.snap
  src/shared/components/app/header/header.component.tsx
  src/shared/components/app/header/header.test.tsx
Due: none

feat: add tests for CartSummary component
  src/shared/components/app/cart-summary/__snapshots__/cart-summary.test.tsx.snap
  src/shared/components/app/cart-summary/cart-summary.test.tsx
Due: none

feat: add tests for PaymentForm component
  src/shared/components/app/payment-form/__snapshots__/payment-form.test.tsx.snap
  src/shared/components/app/payment-form/payment-form.test.tsx
Due: none

feat: add tests for support functions
  src/shared/components/app/payment-summary/__snapshots__/payment-summary.test.tsx.snap
  src/shared/components/app/payment-summary/payment-summary.test.tsx
  src/shared/utils/replace.ts
  src/shared/utils/utils.test.ts
Due: none

Save credit card and show confirmation data
  package.json
  public/check.svg
  src/components/card-form/CardForm.js
  src/components/card-form/card-form.module.css
  src/components/sale/Sale.js
  src/components/total/Total.js
  src/components/total/total.module.css
  src/helpers/Formatters.js
  src/helpers/Validators.js
  src/index.css
  src/pages/cart/Cart.js
  src/pages/cart/cart.module.css
  src/pages/confirmation/Confirmation.js
  src/pages/confirmation/confirmation.module.css
  src/pages/payment/Payment.js
  src/pages/payment/payment.module.css
  src/states/actions/actionTypes.js
  src/states/actions/index.js
  src/states/reducers/cardReducer.js
  src/states/reducers/index.js
  src/states/reducers/saleReducer.js
  src/util/Formatters.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Fix the compiling warnings messages
  src/helpers/Formatters.js
  src/pages/payment/Payment.js
  src/serviceWorker.js
Due: prettier-eslint --write, eslint

feat: add improvement in store
  package.json
  src/shared/app.tsx
  src/shared/screens/cart/index.tsx
  src/shared/screens/payment/index.tsx
  src/shared/screens/success/index.tsx
  src/shared/services/cart.ts
  src/shared/store/cart/actions.ts
  src/shared/store/cart/index.ts
  src/shared/store/cart/sagas.ts
  src/shared/store/cart/types.ts
  src/shared/store/carts/action.ts
  src/shared/store/carts/reducer.ts
  src/shared/store/carts/saga.ts
  src/shared/store/index.ts
  src/shared/store/reducers.ts
  src/shared/store/root-reducer.ts
  src/shared/store/root-saga.ts
  yarn.lock
Due: prettier --write

feat: created components
  .stylelintrc
  package-lock.json
  package.json
  src/App.css
  src/components/Button.js
  src/components/Input/index.js
  src/components/Input/index.spec.js
  src/components/Input/style.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add cartId in the cart interface
  src/shared/screens/cart/index.tsx
  src/shared/screens/payment/index.tsx
  src/shared/screens/success/index.tsx
  src/shared/services/cart.interface.ts
  src/shared/store/cart/actions.ts
  src/shared/store/cart/index.ts
  src/shared/store/cart/sagas.ts
Due: none

feat: add cookie control and data persistence
  package.json
  src/client/index.tsx
  src/server/index.ts
  src/server/middleware/renderer.tsx
  src/shared/app.tsx
  src/shared/screens/payment/index.tsx
  src/shared/screens/success/index.tsx
  src/types/global.d.ts
  yarn.lock
Due: prettier --write

feat: created routes
  package-lock.json
  package.json
  src/App.js
  src/Routes.js
  src/layout/GlobalStyle.js
  src/layout/variables.js
  src/pages/Checkout.js
  src/pages/Payment.js
  src/pages/index.js
Due: prettier-eslint --write, eslint, prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
