Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: add focus style in form component
  src/components/CreditCardForm/CreditCardForm.elements.js
Due: prettier-eslint --write, eslint

feat: add creditCardForm context to persist data
  src/components/CreditCardForm/CreditCardForm.js
  src/components/CreditCardInfo/CreditCardInfo.js
  src/contexts/useCreditCardForm.js
  src/index.js
  src/pages/Payment.js
Due: prettier-eslint --write, eslint

chore: project setup
  package.json
  src/App.css
  src/App.test.js
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/setupTests.ts
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: add base styles
  @types/styled-components/index.d.ts
  src/App.tsx
  src/styles/GlobalStyles.tsx
  src/styles/Theme.tsx
  tsconfig.json
Due: prettier --write

feat: add button element
  package.json
  src/components/elements/button/Button.styled.tsx
  src/components/elements/button/Button.test.tsx
  src/components/elements/button/Button.tsx
  src/styles/Helpers.tsx
  src/styles/Theme.tsx
  src/utils/test.utils.tsx
  yarn.lock
Due: prettier --write

feat: add input element
  src/components/elements/input/Input.styled.tsx
  src/components/elements/input/Input.test.tsx
  src/components/elements/input/Input.tsx
  src/styles/Theme.tsx
Due: none

feat: add label element
  src/components/elements/label/Label.styled.tsx
  src/components/elements/label/Label.test.tsx
  src/components/elements/label/Label.tsx
  src/styles/Theme.tsx
Due: none

feat: add new input
  src/component/Input/Input.js
  src/component/Input/Input.styles.js
  src/component/Input/__test__/Input.test.js
Due: prettier-eslint --write, eslint

feat: add lib to input
  package-lock.json
  package.json
Due: prettier --write

chore: instaled formik and yup
  package.json
  yarn.lock
Due: prettier --write

feat: new page pagamento
  src/component/Button/Button.js
  src/index.css
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: new page pagamento
  src/component/PaymentData/__test__/PaymentData.test.js
  src/pages/Confirmacao.js
Due: prettier-eslint --write, eslint

Feat: new page pagamento, inputs and paymant data
  src/component/Input/Input.js
  src/component/Input/Input.styles.js
  src/component/Input/__test__/Input.test.js
  src/component/PaymentData/PaymentData.js
  src/component/PaymentData/PaymentData.styles.js
  src/context/Context.js
  src/pages/Pagamento.js
  src/pages/__test__/Sacola.test.js
  src/route/MyRouter.js
Due: prettier-eslint --write, eslint

feat: add formControl module and errorText element
  src/components/elements/errorText/ErrorText.styled.tsx
  src/components/elements/errorText/ErrorText.test.tsx
  src/components/elements/errorText/ErrorText.tsx
  src/components/elements/input/Input.styled.tsx
  src/components/modules/formControl/FormControl.styled.tsx
  src/components/modules/formControl/FormControl.test.tsx
  src/components/modules/formControl/FormControl.tsx
  src/styles/Theme.tsx
Due: none

feat: add routes config
  src/App.tsx
  src/constants/paths.ts
  src/navigation/RouterConfig.tsx
Due: none

feat: add header module
  src/components/modules/header/Header.styled.tsx
  src/components/modules/header/Header.test.tsx
  src/components/modules/header/Header.tsx
  src/styles/GlobalStyles.tsx
  src/styles/Theme.tsx
Due: none

feat: add pageTitle element
  src/components/elements/pageTitle/PageTitle.styled.tsx
  src/components/elements/pageTitle/PageTitle.test.tsx
  src/components/elements/pageTitle/PageTitle.tsx
Due: none

fix: pageTitle element color
  src/components/elements/pageTitle/PageTitle.styled.tsx
Due: none

feat: add card element
  src/components/elements/card/Card.styled.tsx
  src/components/elements/card/Card.test.tsx
  src/components/elements/card/Card.tsx
Due: none

feat: add productInfo module and formatUtils
  src/components/modules/productInfo/ProductInfo.styled.tsx
  src/components/modules/productInfo/ProductInfo.tsx
  src/styles/Theme.tsx
  src/utils/format.utils.ts
Due: none

fix: productInfo padding and border color
  src/components/modules/productInfo/ProductInfo.styled.tsx
Due: none

fix: button element box-shadow
  src/components/elements/button/Button.styled.tsx
Due: none

feat: add cart page
  package.json
  src/api/RestClient.ts
  src/components/elements/card/Card.styled.tsx
  src/components/layouts/checkout/Checkout.styled.tsx
  src/components/layouts/checkout/Checkout.tsx
  src/components/modules/purchaseProducts/PurchaseProducts.styled.tsx
  src/components/modules/purchaseProducts/PurchaseProducts.tsx
  src/components/modules/purchaseSummary/PurchaseSummary.styled.tsx
  src/components/modules/purchaseSummary/PurchaseSummary.tsx
  src/contexts/PurchaseContext.tsx
  src/navigation/RouterConfig.tsx
  src/pages/cart/Cart.styled.tsx
  src/pages/cart/Cart.tsx
  src/styles/Theme.tsx
  src/types/PaymentInfo.ts
  src/types/Product.ts
  yarn.lock
Due: prettier --write

feat: add payment page
  src/components/elements/input/Input.styled.tsx
  src/components/elements/input/Input.tsx
  src/components/modules/creditCardForm/CreditCardForm.styled.tsx
  src/components/modules/creditCardForm/CreditCardForm.tsx
  src/components/modules/formControl/FormControl.tsx
  src/navigation/RouterConfig.tsx
  src/pages/cart/Cart.tsx
  src/pages/payment/Payment.styled.tsx
  src/pages/payment/Payment.tsx
Due: none

feat: add payment confirmation page
  src/assets/image/check.svg
  src/components/elements/pageTitle/PageTitle.styled.tsx
  src/components/layouts/checkout/Checkout.tsx
  src/components/modules/paymentInfo/PaymentInfo.styled.tsx
  src/components/modules/paymentInfo/PaymentInfo.tsx
  src/components/modules/productInfo/ProductInfo.tsx
  src/components/modules/purchaseProducts/PurchaseProducts.tsx
  src/components/modules/successMessage/SuccessMessage.styled.tsx
  src/components/modules/successMessage/SuccessMessage.tsx
  src/navigation/RouterConfig.tsx
  src/pages/paymentSuccess/PaymentSuccess.styled.tsx
  src/pages/paymentSuccess/PaymentSuccess.tsx
  src/styles/Theme.tsx
  src/utils/format.utils.ts
Due: none

feat: add styles for bigger screens
  src/components/layouts/checkout/Checkout.styled.tsx
  src/components/modules/header/Header.styled.tsx
  src/pages/cart/Cart.styled.tsx
  src/pages/payment/Payment.styled.tsx
  src/pages/paymentSuccess/PaymentSuccess.styled.tsx
  src/pages/paymentSuccess/PaymentSuccess.tsx
  src/styles/Helpers.tsx
Due: none

refactor: add dinamic imports in routerConfig
  src/navigation/RouterConfig.tsx
Due: none

docs: update README.md
  README.md
Due: prettier --write

fix: credit card form validation and labels
  src/components/elements/errorText/ErrorText.tsx
  src/components/modules/creditCardForm/CreditCardForm.tsx
  src/components/modules/formControl/FormControl.tsx
  src/pages/payment/Payment.tsx
Due: none

test: header, successMessage e formatUtils
  src/components/modules/header/Header.test.tsx
  src/components/modules/successMessage/SuccessMessage.test.tsx
  src/utils/format.utils.test.ts
Due: none

feat: add redirects to cart page
  src/pages/payment/Payment.tsx
  src/pages/paymentSuccess/PaymentSuccess.tsx
Due: none

Form fields validation
  src/components/Button/Button.js
  src/components/Card/Card.js
  src/components/CartItem/CartItem.js
  src/components/Context/Context.js
  src/components/Context/FormContext.js
  src/components/CreditCardForm/CreditCardForm.js
  src/components/ErrorMessage/ErrorMessage.js
  src/components/Input/Input.js
  src/components/OrderSummary/OrderSummary.js
  src/components/ProductList/ProductList.js
  src/routes.js
  src/routes/Cart/Cart.js
  src/routes/Confirmation/Confirmation.js
  src/routes/Payment/Payment.js
  src/utils.js
Due: prettier-eslint --write, eslint

Header Text - Title for Sections
  src/components/HeaderText/HeaderText.js
Due: prettier-eslint --write, eslint

Confirmation Page
  src/App.js
  src/assets/images/Shape.png
  src/components/Card/Card.js
  src/components/Context/FormContext.js
  src/components/Input/Input.js
  src/components/PaymentSummary/PaymentSummary.js
  src/routes.js
  src/routes/Confirmation/Confirmation.js
  src/routes/Payment/Payment.js
Due: prettier-eslint --write, eslint

Steps Component
  src/App.js
  src/components/Steps/Steps.js
  src/routes.js
Due: prettier-eslint --write, eslint

Layout Adjustments
  package-lock.json
  package.json
  src/components/Card/Card.js
  src/components/HeaderText/HeaderText.js
  src/components/OrderSummary/OrderSummary.js
  src/components/PaymentSummary/PaymentSummary.js
  src/routes/Cart/Cart.js
  src/routes/Confirmation/Confirmation.js
  src/routes/Payment/Payment.js
Due: prettier-eslint --write, eslint, prettier --write

Remove unused logs
  src/components/PaymentSummary/PaymentSummary.js
  src/components/Steps/Steps.js
Due: prettier-eslint --write, eslint

Remove Warnings
  src/components/CartItem/CartItem.js
  src/components/CreditCardForm/CreditCardForm.js
  src/components/Input/Input.js
  src/components/PaymentSummary/PaymentSummary.js
  src/components/ProductList/ProductList.js
  src/components/Steps/Steps.js
  src/routes/Confirmation/Confirmation.js
  src/routes/Payment/Payment.js
Due: prettier-eslint --write, eslint

test: exclude from coverage
  package.json
Due: prettier --write

Unit tests
  package-lock.json
  package.json
  src/App.test.js
  src/api/cartAPI.js
  src/api/cartAPI.test.js
  src/components/Button/Button.test.js
  src/components/CartItem/CartItem.test.js
  src/components/CartItem/__snapshots__/CartItem.test.js.snap
  src/components/CreditCardForm/CreditCardForm.test.js
  src/components/CreditCardForm/__snapshots__/CreditCardForm.test.js.snap
  src/components/Input/Input.test.js
  src/components/Input/__snapshots__/Input.test.js.snap
  src/components/OrderSummary/OrderSummary.js
  src/components/ProductList/ProductList.js
  src/index.js
  src/index.test.js
  src/routes/Cart/Cart.test.js
  src/routes/Confirmation/Confirmation.test.js
  src/routes/Payment/Payment.test.js
  src/serviceWorker.js
  src/testUtils.js
  src/utils.test.js
Due: prettier-eslint --write, eslint, prettier --write
