Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

changed formik to useForm to improve performance
  package.json
  src/components/Input/index.tsx
  src/pages/Payment/index.tsx
  yarn.lock
Due: prettier --write

fixing any types
  src/pages/Payment/index.tsx
  src/pages/Payment/validationForm.ts
Due: none

removing unused code
  src/pages/Payment/index.tsx
Due: none

useCreditCard
  src/components/CreditCardForm/index.js
  src/components/Input/index.js
  src/hooks/creditCard.js
  src/hooks/index.js
  src/pages/Confirmation/index.js
Due: prettier-eslint --write, eslint

remove useEffect
  src/components/Input/index.js
Due: prettier-eslint --write, eslint

implement confirmation
  src/assets/success.png
  src/hooks/creditCard.js
  src/pages/Confirmation/index.js
  src/pages/Confirmation/styles.js
Due: prettier-eslint --write, eslint

removing unused lib
  package.json
Due: prettier --write

fixing test errors
  src/pages/Payment/Payment.spec.js
  src/pages/Payment/index.tsx
  src/pages/Payment/validationForm.ts
  src/routes/routes.spec.js
  yarn.lock
Due: prettier-eslint --write, eslint

name validation
  src/components/CreditCardForm/index.js
  src/hooks/creditCard.js
Due: prettier-eslint --write, eslint

improving styles
  src/components/ProductsCartContainer/index.tsx
  src/components/ProductsCartContainer/styles.ts
Due: none

card validation
  src/components/CreditCardForm/index.js
Due: prettier-eslint --write, eslint

added context to handler errors
  src/App.js
  src/contexts/error.tsx
  src/pages/Payment/index.tsx
  src/routes/index.tsx
Due: prettier-eslint --write, eslint

date validation
  src/components/CreditCardForm/index.js
Due: prettier-eslint --write, eslint

added skeleton to improve user experience
  package.json
  src/App.js
  src/components/PriceCartContainer/index.tsx
  src/components/ProductsCartContainer/index.tsx
  src/contexts/cart.tsx
  src/pages/ShoppingCart/index.tsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fixing warnings and tests
  src/components/Input/index.tsx
  src/components/ProductsCartContainer/ProductsCartContainer.spec.js
  src/pages/Payment/Payment.spec.js
  src/pages/Payment/index.tsx
  src/pages/ShoppingCart/ShoppingCart.spec.js
Due: prettier-eslint --write, eslint

added default route
  src/routes/index.tsx
Due: none

props
  src/components/Input/index.js
Due: prettier-eslint --write, eslint

implement theming
  src/components/Button/styles.js
  src/components/Card/styles.js
  src/components/Input/styles.js
  src/components/NavBar/styles.js
  src/components/ProductCard/styles.js
  src/components/Total/styles.js
  src/hooks/index.js
  src/pages/Cart/styles.js
  src/pages/Confirmation/styles.js
  src/pages/Payment/styles.js
  src/styles/glogal.js
  src/styles/theme.js
Due: prettier-eslint --write, eslint

Input refactoring
  src/components/Input/index.js
Due: prettier-eslint --write, eslint

global styles
  src/App.js
  src/styles/global.js
Due: prettier-eslint --write, eslint

page cart desktop
  src/components/NavBar/index.js
  src/components/NavBar/styles.js
  src/hooks/index.js
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
  src/styles/theme.js
Due: prettier-eslint --write, eslint

Confirmation desktop
  src/pages/Confirmation/index.js
  src/pages/Confirmation/styles.js
Due: prettier-eslint --write, eslint

Payment desktop
  src/pages/Payment/index.js
  src/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

add typescript
  package.json
  src/react-app-env.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

refactoring ts request
  src/utils/requestAPI.ts
Due: none

ts formatCurrency
  src/components/ProductCard/index.js
  src/components/Total/index.js
  src/utils/formatCurrencyBRL.js
  src/utils/formatCurrencyBRL.ts
Due: prettier-eslint --write, eslint

add @types/styled-components
  package.json
  yarn.lock
Due: prettier --write

ts theme
  src/styles/theme.ts
Due: none

ts hooks index styles
  src/hooks/index.tsx
  src/styles/global.ts
Due: none

ts global
  src/styles/global.ts
Due: none

ts router
  src/router/index.tsx
Due: none

cart payment
  package.json
  src/hooks/cart.tsx
  src/hooks/index.tsx
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/utils/requestAPI.ts
  yarn.lock
Due: prettier --write

ts confirmation
  src/hooks/creditCard.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Confirmation/styles.ts
Due: none

ts product list
  src/components/ProductsList/index.tsx
  src/hooks/cart.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
Due: none

ts product list refact
  package.json
  src/components/ProductsList/index.tsx
  src/hooks/cart.tsx
  yarn.lock
Due: prettier --write

ts total
  src/components/Total/index.tsx
  src/components/Total/styles.ts
Due: none

ts product card
  src/components/ProductCard/index.tsx
  src/components/ProductCard/styles.ts
  src/components/ProductsList/index.tsx
Due: none

feat: Component rendered and pages updated
  src/App.js
  src/Components/Product.js
  src/Context/Provider.js
  src/Routes/index.js
  src/index.js
  src/pages/Cart.js
  src/pages/List.js
  src/pages/Payment.js
Due: prettier-eslint --write, eslint

ts components
  src/components/Button/index.js
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/Card/index.js
  src/components/Card/index.tsx
  src/components/Card/styles.ts
  src/components/CreditCardForm/index.tsx
  src/components/CreditCardForm/styles.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/components/NavBar/index.tsx
  src/components/NavBar/styles.ts
Due: prettier-eslint --write, eslint

feat: routes created
  src/App.js
  src/Components/Header.js
  src/Components/Product.js
  src/Components/Total.js
  src/pages/Cart.js
  src/pages/Confirmation.js
Due: prettier-eslint --write, eslint
