Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

feat: configuring router
  package-lock.json
  package.json
  src/App.js
  src/pages/bag/Bag.js
  src/pages/bag/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add stepBar component
  src/components/StepBar/StepBar.stories.tsx
  src/components/StepBar/StepBar.styled.tsx
  src/components/StepBar/StepBar.test.tsx
  src/components/StepBar/StepBar.tsx
  src/components/StepBar/interface.ts
  src/styles.ts
Due: none

refactor(form): remove unnecessary style
  src/components/Form/Form.styled.tsx
Due: none

feat: Breadcrumb component
  package-lock.json
  package.json
  src/App.js
  src/components/breadcrumb/Breadcrumb.js
  src/components/breadcrumb/breadcrumb.service.js
  src/components/breadcrumb/breadcrumb.style.js
  src/components/breadcrumb/index.js
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

feat: add CartTable component
  src/components/CartTable/CartTable.stories.tsx
  src/components/CartTable/CartTable.styled.tsx
  src/components/CartTable/CartTable.test.tsx
  src/components/CartTable/CartTable.tsx
  src/components/CartTable/interface.ts
  src/utils/index.ts
Due: none

feat: add ProductCard component
  src/components/ProductCard/ProductCard.stories.tsx
  src/components/ProductCard/ProductCard.styled.tsx
  src/components/ProductCard/ProductCard.test.tsx
  src/components/ProductCard/ProductCard.tsx
  src/components/ProductCard/interface.ts
  src/redux/ducks/cart/interface.ts
Due: none

feat: using redux to save bag data
  package-lock.json
  package.json
  src/App.js
  src/components/paper/Paper.js
  src/components/paper/index.js
  src/components/paper/paper.style.js
  src/components/productBox/ProductBox.js
  src/components/productBox/index.js
  src/components/productBox/productBox.style.js
  src/components/title/Title.js
  src/components/title/index.js
  src/components/title/title.style.js
  src/pages/bag/Bag.js
  src/pages/bag/bag.service.js
  src/pages/bag/bag.style.js
  src/store/actions/bag/index.js
  src/store/index.js
  src/store/reducers/bag/index.js
  src/webApi/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: currency mask
  package-lock.json
  package.json
  src/components/currencyText/CurrencyText.js
  src/components/currencyText/currencyText.style.js
  src/components/currencyText/index.js
  src/components/productBox/ProductBox.js
  src/components/productBox/productBox.style.js
  src/components/totalProductBox/TotalProductBox.js
  src/components/totalProductBox/index.js
  src/components/totalProductBox/totalProductBox.style.js
  src/pages/bag/Bag.js
Due: prettier-eslint --write, eslint, prettier --write

refactor: remove unnecessary components
  src/components/ContentBox/ContentBox.stories.tsx
  src/components/ContentBox/ContentBox.styled.tsx
  src/components/ContentBox/ContentBox.test.tsx
  src/components/ContentBox/ContentBox.tsx
  src/components/ContentBox/index.ts
  src/components/NamedInput/NamedInput.stories.tsx
  src/components/NamedInput/NamedInput.styled.tsx
  src/components/NamedInput/NamedInput.test.tsx
  src/components/NamedInput/NamedInput.tsx
  src/components/NamedInput/index.ts
  src/components/WrapperContent/WrapperContent.stories.tsx
  src/components/WrapperContent/WrapperContent.styled.tsx
  src/components/WrapperContent/WrapperContent.test.tsx
  src/components/WrapperContent/WrapperContent.tsx
  src/components/WrapperContent/index.ts
Due: none

feat: navigation button
  src/App.js
  src/components/breadcrumb/breadcrumb.style.js
  src/components/button/Button.js
  src/components/button/button.style.js
  src/components/button/index.js
  src/components/paper/Paper.js
  src/components/paper/paper.style.js
  src/components/title/title.style.js
  src/components/totalProductBox/totalProductBox.style.js
  src/core/App.css
  src/core/App.js
  src/core/App.test.js
  src/core/app.style.js
  src/core/router/Router.js
  src/core/router/index.js
  src/index.js
  src/logo.svg
  src/pages/bag/Bag.js
Due: prettier-eslint --write, eslint, prettier --write

feat: add new layout that wrapper entire routes
  src/App.tsx
  src/layouts/Layout.styled.tsx
  src/layouts/Layout.tsx
  src/layouts/index.ts
  src/styles.ts
Due: none

feat: add ContentBox component
  src/components/ContentBox/ContentBox.stories.tsx
  src/components/ContentBox/ContentBox.styled.tsx
  src/components/ContentBox/ContentBox.test.tsx
  src/components/ContentBox/ContentBox.tsx
  src/components/ContentBox/index.ts
Due: none

feat: add Title component
  src/components/Title/Title.stories.tsx
  src/components/Title/Title.styled.tsx
  src/components/Title/Title.test.tsx
  src/components/Title/Title.tsx
  src/components/Title/index.ts
Due: none

refactor(stepbar): change how stepbar get active from route
  src/components/StepBar/StepBar.stories.tsx
  src/components/StepBar/StepBar.styled.tsx
  src/components/StepBar/StepBar.tsx
Due: none

feat: add Header with StepBar
  src/components/Header/Header.styled.tsx
  src/components/Header/Header.tsx
  src/components/Header/index.ts
Due: none

feat: add CartContainer to deal with redux and update routes to call the new container
  src/pages/Cart/Cart.tsx
  src/pages/Cart/interface.ts
  src/redux/containers/CartContainer/CartContainer.tsx
  src/redux/containers/CartContainer/index.ts
  src/redux/ducks/cart/interface.ts
  src/routes/Routes.tsx
Due: none

style: update ProductCard and CartTable styles
  src/components/CartTable/CartTable.styled.tsx
  src/components/ProductCard/ProductCard.styled.tsx
  src/components/ProductCard/ProductCard.tsx
Due: none

feat: finish payment page
  src/components/Form/Form.styled.tsx
  src/components/Form/Form.tsx
  src/components/Form/data.ts
  src/pages/Payment/Payment.tsx
  src/pages/Payment/interface.ts
  src/redux/containers/PaymentContainer/PaymentContainer.tsx
  src/redux/containers/PaymentContainer/index.ts
  src/routes/Routes.tsx
Due: none

feat: finish Success page
  src/assets/images/check-mark-circle-line.svg
  src/assets/images/logo.svg
  src/pages/Success/Success.styled.tsx
  src/pages/Success/Success.tsx
  src/pages/Success/interface.ts
  src/redux/containers/SuccessContainer/SuccessContainer.tsx
  src/redux/containers/SuccessContainer/index.ts
  src/routes/Routes.tsx
  src/utils/index.ts
Due: none

fix: resolve StepBar stories error
  src/components/StepBar/StepBar.stories.tsx
Due: none

refactor: improve responsive experience
  src/components/Form/Form.styled.tsx
  src/components/ProductCard/ProductCard.styled.tsx
  src/pages/Cart/Cart.styled.tsx
  src/pages/Cart/Cart.tsx
  src/pages/Payment/Payment.styled.tsx
  src/pages/Payment/Payment.tsx
  src/pages/Success/Success.styled.tsx
  src/pages/Success/Success.tsx
Due: none

test: fix some tests
  src/components/CartTable/__snapshots__/CartTable.test.tsx.snap
  src/components/ContentBox/ContentBox.test.tsx
  src/components/ContentBox/__snapshots__/ContentBox.test.tsx.snap
  src/components/Form/Validation/Builder/index.test.ts
  src/components/Form/Validation/index.test.ts
  src/components/Form/Validation/mock/data.ts
  src/components/Header/Header.test.tsx
  src/components/Header/__snapshots__/Header.test.tsx.snap
  src/components/Loading/Loading.test.tsx
  src/components/ProductCard/__snapshots__/ProductCard.test.tsx.snap
  src/components/StepBar/StepBar.test.tsx
  src/components/StepBar/__snapshots__/StepBar.test.tsx.snap
  src/components/Title/Title.test.tsx
  src/components/Title/__snapshots__/Title.test.tsx.snap
  src/redux/ducks/creditCard/creditCard.test.ts
  src/redux/ducks/creditCard/creditCard.ts
  src/redux/ducks/creditCard/interface.ts
  src/routes/Routes.test.tsx
Due: none

docs: update README
  README.md
  package-lock.json
Due: prettier --write

docs: finish README
  README.md
Due: prettier --write

setup enviroment for test/Jest and started build components layout
  src/__tests__/__snapshots__/snapshot.js.snap
  src/__tests__/snapshot.js
  src/__tests__/testing-library.js
  src/components/atoms/buttons/cta.js
  src/components/molecules/Cards/index.js
  src/components/organism/cart/index.js
  src/components/templates/header.js
  src/components/templates/layout.js
  src/config/jest/cssTransform.js
  src/jest.config.js
  src/package.json
  src/pages/_app.js
  src/pages/checkout/cart.js
  src/pages/index.js
  src/server.js
  src/setupTests.js
  src/store/cart.js
  src/theme/index.js
  src/yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: payment page
  .eslintrc.json
  package-lock.json
  package.json
  src/components/breadcrumb/Breadcrumb.js
  src/components/breadcrumb/breadcrumb.service.js
  src/components/button/Button.js
  src/components/button/button.style.js
  src/components/currencyText/CurrencyText.js
  src/components/currencyText/currencyText.style.js
  src/components/input/Input.js
  src/components/input/index.js
  src/components/input/input.style.js
  src/components/input/masks.js
  src/components/paper/Paper.js
  src/components/productBox/ProductBox.js
  src/core/App.js
  src/core/router/Router.js
  src/core/router/fallback/Fallback.js
  src/core/router/fallback/fallback.style.js
  src/core/router/fallback/index.js
  src/index.js
  src/pageComponents/productBox/ProductBox.js
  src/pageComponents/productBox/index.js
  src/pageComponents/productBox/productBox.style.js
  src/pageComponents/totalProductBox/TotalProductBox.js
  src/pageComponents/totalProductBox/index.js
  src/pageComponents/totalProductBox/totalProductBox.style.js
  src/pages/bag/Bag.js
  src/pages/bag/bag.style.js
  src/pages/payment/Payment.js
  src/pages/payment/index.js
  src/pages/payment/payment.style.js
  src/store/actionTypes/bag/index.js
  src/store/actionTypes/breadcrumb/index.js
  src/store/actionTypes/payment/index.js
  src/store/index.js
  src/store/reducers/bag/index.js
  src/store/reducers/breadcrumb/index.js
  src/store/reducers/payment/index.js
Due: prettier-eslint --write, eslint, prettier --write

feat: confirmation page
  src/components/paper/Paper.js
  src/components/title/Title.js
  src/core/router/Router.js
  src/core/router/fallback/Fallback.js
  src/pages/confirmation/Confirmation.js
  src/pages/confirmation/assets/done-icon.png
  src/pages/confirmation/confirmation.style.js
  src/pages/confirmation/index.js
  src/pages/payment/Payment.js
Due: prettier-eslint --write, eslint

feat: font helvetica neue
  src/assets/fonts/HelveticaNeue.eot
  src/assets/fonts/HelveticaNeue.ttf
  src/assets/fonts/HelveticaNeue.woff
  src/components/button/button.style.js
  src/core/App.test.js
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

feat: disabling form submit button
  src/components/button/button.style.js
  src/pages/payment/Payment.js
Due: prettier-eslint --write, eslint

feat: component tests
  README.md
  package-lock.json
  package.json
  src/components/breadcrumb/tests/breadcrumb.test.js
  src/components/button/tests/button.test.js
  src/components/currencyText/CurrencyText.js
  src/components/currencyText/tests/currencyText.test.js
  src/components/input/tests/input.test.js
  src/components/paper/Paper.js
  src/components/paper/tests/paper.test.js
  src/components/title/tests/title.test.js
  src/core/App.test.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

fix: removing unused isValid prop from button children
  src/pages/payment/Payment.js
Due: prettier-eslint --write, eslint

layout cart components
  src/components/atoms/buttons/cta.js
  src/components/molecules/Cards/index.js
  src/components/organism/cart/index.js
  src/components/organism/productsList/index.js
  src/components/organism/totalTable/index.js
  src/components/templates/cart.js
  src/components/templates/header.js
  src/components/templates/layout.js
  src/pages/checkout/cart.js
Due: prettier-eslint --write, eslint

teste
  src/__tests__/__snapshots__/snapshot.js.snap
  src/__tests__/snapshot.js
  src/__tests__/testing-library.js
  src/components/templates/cart/index.js
Due: prettier-eslint --write, eslint

feat: componente Button
  src/components/Button/Button.js
  src/components/Button/Button.test.js
Due: prettier-eslint --write, eslint

feat: componente GenericWrapper
  src/components/GenericWrapper/GenericWrapper.js
  src/components/GenericWrapper/GenericWrapper.test.js
Due: prettier-eslint --write, eslint

feat: componente input
  src/components/Input/Input.js
  src/components/Input/Input.styles.js
  src/components/Input/Input.test.js
  src/components/Input/__snapshots__/Input.test.js.snap
Due: prettier-eslint --write, eslint

feat: componente Layout
  src/components/Layout/Layout.js
  src/components/Layout/Layout.test.js
  src/components/Layout/__snapshots__/Layout.test.js.snap
Due: prettier-eslint --write, eslint

feat: component PaymentData
  src/components/PaymentData/PaymentData.js
  src/components/PaymentData/PaymentData.test.js
  src/components/PaymentData/__snapshots__/PaymentData.test.js.snap
Due: prettier-eslint --write, eslint

feat: componente PaymentForm
  src/components/PaymentForm/PaymentForm.js
  src/components/PaymentForm/PaymentForm.styles.js
  src/components/PaymentForm/PaymentForm.test.js
  src/components/PaymentForm/__snapshots__/PaymentForm.test.js.snap
Due: prettier-eslint --write, eslint

feat: componente ProductCard
  src/components/ProductCard/ProductCard.js
  src/components/ProductCard/ProductCard.styles.js
  src/components/ProductCard/ProductCard.test.js
  src/components/ProductCard/__snapshots__/ProductCard.test.js.snap
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
