Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

Creating menu action to set the current page and display the topbar action
  src/actions/menu.js
Due: prettier-eslint --write, eslint

Creating reducer menu
  src/reducers/menu.js
Due: prettier-eslint --write, eslint

Including reducer menu in the index
  src/reducers/index.js
Due: prettier-eslint --write, eslint

Including treatment masks and patterns in the payment page inputs
  src/containers/Payment/index.js
Due: prettier-eslint --write, eslint

Including function to not allow manipulation by url
  src/containers/Cart/index.js
Due: prettier-eslint --write, eslint

adjustment
  src/index.css
Due: prettier --write

design fit
  src/components/Card.js
Due: prettier-eslint --write, eslint

styling adjustment
  src/components/CardProduct.js
Due: prettier-eslint --write, eslint

Including topbar functionality
  src/components/TopBar.js
Due: prettier-eslint --write, eslint

Added desktop version
  src/GlobalStyle.js
  src/components/cardProduct/index.js
  src/components/cardProduct/style.js
  src/components/header/style.js
  src/pages/cart/index.js
  src/pages/cart/style.js
  src/pages/payment/index.js
  src/pages/payment/style.js
  src/pages/success/style.js
Due: prettier-eslint --write, eslint

Tested actions
  src/actions/cart.test.js
Due: prettier-eslint --write, eslint

Tested cart reducer
  src/reducers/cart.test.js
Due: prettier-eslint --write, eslint

Tested Cart Page
  package-lock.json
  package.json
  src/pages/cart/index.js
  src/pages/cart/index.test.js
Due: prettier-eslint --write, eslint, prettier --write

Tested rendering of Payment Page
  src/pages/payment/index.js
  src/pages/payment/index.test.js
Due: prettier-eslint --write, eslint

Tested rendering of Succes Page
  src/pages/success/index.js
  src/pages/success/index.test.js
Due: prettier-eslint --write, eslint

Fixed payment page inputs
  src/pages/payment/index.js
  src/pages/payment/style.js
Due: prettier-eslint --write, eslint

Removed console.log
  src/pages/payment/index.js
Due: prettier-eslint --write, eslint

feat: project recovery using backup
  .editorconfig
  .prettierrc
  package-lock.json
  package.json
  public/index.html
  src/App.css
  src/App.js
  src/Style/index.js
  src/assets/img2.jpg
  src/assets/logo.svg
  src/assets/success1.png
  src/components/ProductCard/index.js
  src/components/ProductCard/styled.js
  src/components/TotalContainer/index.js
  src/components/TotalContainer/styled.js
  src/containers/App/App.js
  src/containers/App/App.test.js
  src/containers/CartPage/index.js
  src/containers/CartPage/styled.js
  src/containers/ConfirmationPage/index.js
  src/containers/ConfirmationPage/styled.js
  src/containers/PaymentMethodPage/index.js
  src/containers/PaymentMethodPage/styled.js
  src/index.css
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Adds emotion structure
  package.json
  src/App.js
  src/theme/global.jsx
  src/theme/theme.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Updates react-script dependency
  package.json
  yarn.lock
Due: prettier --write

Adds application router
  package.json
  src/components/Footer/index.jsx
  src/components/Footer/style.js
  src/components/Header/index.jsx
  src/components/Header/style.js
  src/components/Layout/index.jsx
  src/components/Layout/style.js
  src/components/Skeleton/index.jsx
  src/components/Skeleton/style.js
  src/routes/Cart/index.jsx
  src/routes/Cart/style.js
  src/routes/OrderPlaced/index.jsx
  src/routes/OrderPlaced/style.js
  src/routes/Payment/index.jsx
  src/routes/Payment/style.js
  src/routes/index.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

creats service layer
  package.json
  src/service/api.js
Due: prettier-eslint --write, eslint, prettier --write

WIP Adds application contex
  src/App.js
  src/context/OrderContext.jsx
  src/context/PaymentProvider.jsx
  src/routes/index.jsx
  yarn.lock
Due: prettier-eslint --write, eslint

WIP Styling Skeleton
  src/components/Skeleton/index.jsx
Due: none

Finishing cart page
  src/components/Button/index.jsx
  src/components/Container/Section.jsx
  src/components/ProductItem/index.jsx
  src/components/ProductItem/style.js
  src/components/ProductList/index.jsx
  src/components/Resume/index.jsx
  src/components/Resume/style.js
  src/components/Title/index.jsx
  src/routes/Cart/index.jsx
  src/routes/Cart/style.js
  src/routes/index.jsx
Due: prettier-eslint --write, eslint

Changes components structure
  src/components/Card/index.jsx
  src/components/MainContent/index.jsx
  src/components/ProductList/index.jsx
  src/components/Section/index.jsx
  src/routes/Cart/index.jsx
  src/routes/Cart/style.js
  src/routes/Payment/index.jsx
Due: prettier-eslint --write, eslint

Finishing payment page
  config-overrides.js
  package.json
  src/App.js
  src/components/Button/index.jsx
  src/components/InputField/index.jsx
  src/components/InputField/style.js
  src/context/OrderContext.jsx
  src/routes/Cart/index.jsx
  src/routes/Payment/index.jsx
  src/routes/index.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Finishing orderplaced page
  public/icon-confirmed.svg
  src/components/Footer/index.jsx
  src/components/PaymentInfo/index.jsx
  src/components/PaymentInfo/style.js
  src/routes/OrderPlaced/index.jsx
  src/routes/Payment/index.jsx
Due: prettier-eslint --write, eslint

Fixes input width
  src/routes/Payment/index.jsx
  src/routes/Payment/style.js
Due: prettier-eslint --write, eslint

Improves input error feedback
  src/components/InputField/index.jsx
  src/components/InputField/style.js
Due: prettier-eslint --write, eslint

Adding Tests to Cart and Payment
  package.json
  src/components/InputField/index.jsx
  src/components/InputField/style.js
  src/components/ProductList/index.jsx
  src/routes/Cart/Cart.test.js
  src/routes/Cart/index.jsx
  src/routes/Payment/Payment.test.js
  src/routes/Payment/index.jsx
  src/routes/index.jsx
  src/setupTests.js
  src/test-utils.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Hide test route field
  src/routes/index.jsx
Due: none

create components, routes, styles for the application
  README.md
  package-lock.json
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/assets/img/success.png
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/Cart/index.js
  src/components/Cart/styles.js
  src/components/CartList/index.js
  src/components/Confirmation/index.js
  src/components/Confirmation/styles.js
  src/components/Header/index.js
  src/components/Header/styles.js
  src/components/Payment/index.js
  src/components/Payment/styles.js
  src/components/Total/index.js
  src/components/Total/styles.js
  src/components/styles.js
  src/index.css
  src/index.js
  src/routes.js
  src/serviceWorker.js
  src/services/api.js
  src/styles/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

changing style of title
  README.md
Due: prettier --write

deleted files unused
  src/components/Button/index.js
  src/components/Button/styles.js
Due: prettier-eslint --write, eslint

feat: config eslint and prettier for code quality
  .eslintignore
  .eslintrc.json
  .prettierrc
  package.json
  yarn.lock
Due: prettier --write

feat: config commitlint and commitizen to standardize commit messages
  .eslintrc.json
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

refactor: change project name on index and manifest files
  public/index.html
  public/manifest.json
Due: prettier --write

feat: config styled components and styled normalize
  .eslintrc.json
  package.json
  src/App.js
  src/assets/fonts/helvetica-neue-bold.woff2
  src/assets/fonts/helvetica-neue-regular.woff2
  src/index.css
  src/index.js
  src/styles/theme.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: add jsconfig file to understand the root path
  .eslintrc.json
  config-overrides.js
  jsconfig.json
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
