Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

fix: hide price from confirmation page
  src/components/ItemsList/index.tsx
  src/constants/local-storage.ts
  src/hooks/useCart.tsx
  src/pages/Cart/components/Header/index.tsx
  src/pages/CartConfirmation/index.tsx
  src/pages/CartPayment/index.tsx
Due: none

chore: redirect after payment confirmation and clean storage
  README.md
  src/hooks/useCart.tsx
  src/pages/Cart/components/Header/index.tsx
  src/pages/CartConfirmation/index.tsx
  src/pages/CartPayment/index.tsx
  src/pages/Home/index.tsx
Due: prettier --write

chore: include 404 page to serve github pages
  404.html
  public/index.html
Due: prettier --write

chore: set timeout to 5000 to redirect to home
  src/pages/CartConfirmation/index.tsx
Due: none

fix: fix readme
  README.md
Due: prettier --write

feat: fix item cart quantity in home header
  package.json
  src/hooks/useCart.tsx
  src/pages/CartPayment/index.tsx
  src/pages/Home/components/Header/index.tsx
Due: prettier --write

feat: fix item cart quantity in home header
  src/pages/Home/components/Header/index.tsx
Due: none

feat: hide price in confirmation page
  src/pages/CartConfirmation/index.tsx
Due: none

fix: fix credit card validation
  .husky/commit-msg
  package.json
  src/components/Input/index.tsx
  src/constants/placeholder.ts
  src/helpers/masks.ts
  src/pages/CartPayment/index.tsx
  yarn.lock
Due: prettier --write

chore: include tests
  babel.config.js
  jest.config.js
  package.json
  src/App.tsx
  src/__tests__/pages/Home.spec.tsx
  src/components/Button/Button.spec.tsx
  src/components/Button/index.tsx
  src/pages/Cart/components/Header/index.tsx
  src/pages/Cart/index.tsx
  src/pages/CartConfirmation/index.tsx
  src/pages/CartList/index.tsx
  src/pages/CartPayment/index.tsx
  src/tests/setupTests.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

Install dependecies
  package-lock.json
  package.json
  src/App.css
  src/App.js
Due: prettier-eslint --write, eslint, prettier --write

install styled components and create button component and style
  package-lock.json
  package.json
  src/components/Button/Button.jsx
  src/components/Button/Button.styles.js
  src/components/Button/Button.test.js
Due: prettier-eslint --write, eslint, prettier --write

Create Card component
  src/components/Card/Card.jsx
  src/components/Card/Card.styles.js
  src/components/Card/Card.test.js
Due: prettier-eslint --write, eslint

Create Header component
  src/components/Header/Header.jsx
  src/components/Header/Header.styled.js
  src/components/Header/Header.test.js
Due: prettier-eslint --write, eslint

Create Input component
  src/components/Input/Input.jsx
  src/components/Input/Input.styles.js
  src/components/Input/Input.test.js
Due: prettier-eslint --write, eslint

Create Title component
  src/components/Title/Title.jsx
  src/components/Title/Title.styled.js
  src/components/Title/Title.test.js
Due: prettier-eslint --write, eslint

Create bag page and style
  src/pages/Bag/Bag.jsx
  src/pages/Bag/Bag.styled.js
  src/pages/Bag/Bag.test.js
Due: prettier-eslint --write, eslint

Create payment page
  src/pages/Payment/Payment.jsx
Due: none

Create sucess page
  src/pages/Sucess/Sucess.jsx
Due: none

Create page routes
  src/App.js
Due: prettier-eslint --write, eslint

Create context and provider
  src/context/CartContext.js
  src/context/CartProvider.js
Due: prettier-eslint --write, eslint

Css changes for responsive components
  src/App.js
  src/components/Button/Button.styles.js
  src/components/Header/Header.styled.js
  src/pages/Bag/Bag.styled.js
Due: prettier-eslint --write, eslint

set global style
  src/App.js
  src/assets/images/success.png
  src/components/Button/Button.styles.js
  src/components/Header/Header.styled.js
  src/pages/Payment/Payment.jsx
  src/pages/Sucess/Sucess.jsx
  src/styles/Global.js
Due: prettier-eslint --write, eslint

Create Wrapper component and fix styles
  src/components/Button/Button.styles.js
  src/components/Header/Header.styled.js
  src/components/Title/Title.styled.js
  src/components/Wrapper/Wrapper.jsx
  src/components/Wrapper/Wrapper.styled.js
  src/pages/Bag/Bag.jsx
  src/pages/Bag/Bag.styled.js
Due: prettier-eslint --write, eslint

Create values component and change css identation for ios experience
  src/components/Header/Header.styled.js
  src/components/Title/Title.styled.js
  src/components/Values/Values.jsx
  src/components/Values/Values.styled.js
  src/pages/Bag/Bag.jsx
  src/pages/Bag/Bag.styled.js
  src/styles/Global.js
Due: prettier-eslint --write, eslint

changes for ios experience and remove wrapper component
  src/components/Input/Input.jsx
  src/components/Input/Input.styles.js
  src/components/Wrapper/Wrapper.jsx
  src/components/Wrapper/Wrapper.styled.js
  src/pages/Bag/Bag.jsx
  src/pages/Payment/Payment.jsx
  src/pages/Payment/Payment.styled.js
  src/pages/Payment/Payment.test.js
Due: prettier-eslint --write, eslint

Populate Bag page and remove unused components
  package-lock.json
  package.json
  src/components/Card/Card.jsx
  src/components/Card/Card.styles.js
  src/components/Card/Card.test.js
  src/components/Header/Header.styled.js
  src/components/Values/Values.jsx
  src/components/Values/Values.styled.js
  src/context/CartProvider.js
  src/pages/Bag/Bag.jsx
  src/pages/Bag/Bag.styled.js
Due: prettier-eslint --write, eslint, prettier --write

Add react-card dependencie and populate payment page
  package-lock.json
  package.json
  src/components/Input/Input.jsx
  src/context/CartProvider.js
  src/pages/Bag/Bag.jsx
  src/pages/Payment/Payment.jsx
  src/pages/Payment/Payment.styled.js
Due: prettier-eslint --write, eslint, prettier --write

Populate sucess page
  src/pages/Payment/Payment.jsx
  src/pages/Sucess/Sucess.jsx
  src/pages/Sucess/Sucess.styled.js
Due: prettier-eslint --write, eslint

update readme
  README.md
Due: prettier --write

Align items from sucess page
  src/pages/Sucess/Sucess.jsx
  src/pages/Sucess/Sucess.styled.js
Due: prettier-eslint --write, eslint

Simple form validation
  package-lock.json
  package.json
  src/components/Button/Button.jsx
  src/components/Input/Input.jsx
  src/components/Input/Input.styles.js
  src/pages/Payment/Payment.jsx
  src/services/Regex.jsx
Due: prettier-eslint --write, eslint, prettier --write

Fix validation bug
  src/pages/Payment/Payment.jsx
Due: none

Recover branch
  src/pages/Bag/Bag.jsx
Due: none

Refactoring code and add Formik and yup
  src/components/PurchaseData/PurchaseData.jsx
  src/context/CartProvider.js
  src/pages/Bag/Bag.jsx
  src/pages/Payment/Payment.jsx
  src/pages/Payment/schema.js
  src/pages/Sucess/Sucess.jsx
Due: prettier-eslint --write, eslint

Refactoring bag payment and sucess components
  src/components/PurchaseData/PurchaseData.jsx
  src/pages/Bag/Bag.jsx
  src/pages/Payment/Payment.jsx
  src/pages/Sucess/Sucess.jsx
Due: none

Refactor form display and add credit card validation
  package-lock.json
  package.json
  src/components/Display/Display.jsx
  src/components/Display/Display.styled.js
  src/components/Header/Header.jsx
  src/components/PurchaseData/PurchaseData.jsx
  src/components/PurchaseData/PurchaseData.styled.js
  src/pages/Payment/Payment.css
  src/pages/Payment/Payment.jsx
  src/pages/Payment/Payment.styled.js
  src/pages/Payment/schema.js
  src/pages/Sucess/Sucess.jsx
Due: prettier-eslint --write, eslint, prettier --write

Credit Card Validation form styles
  src/components/Display/Display.styled.js
  src/pages/Payment/Payment.css
  src/pages/Payment/Payment.jsx
Due: prettier-eslint --write, eslint, prettier --write

Credit Card css fixes
  src/components/Display/Display.styled.js
  src/pages/Payment/Payment.css
  src/pages/Payment/Payment.jsx
Due: prettier-eslint --write, eslint, prettier --write

recover branch
  src/components/Button/Button.jsx
  src/components/Button/Button.styles.js
  src/components/Button/Button.test.js
  src/components/Display/Display.jsx
  src/components/Display/Display.styled.js
  src/components/Header/Header.jsx
  src/components/Header/Header.styled.js
  src/components/Input/Input.jsx
  src/components/Input/Input.styles.js
  src/components/Input/Input.test.js
  src/components/PurchaseData/PurchaseData.jsx
  src/components/Title/Title.jsx
  src/components/Title/Title.styled.js
  src/pages/Bag/Bag.jsx
  src/pages/Bag/Bag.styled.js
  src/pages/Payment/Payment.css
  src/pages/Payment/Payment.jsx
  src/pages/Payment/Payment.styled.js
  src/pages/Payment/schema.js
  src/pages/Sucess/Sucess.jsx
  src/pages/Sucess/Sucess.styled.js
  src/services/Regex.jsx
  src/services/schema.js
Due: prettier-eslint --write, eslint, prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
