Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: config react-router-dom and create the checkout pages
  package.json
  src/App.js
  src/index.js
  src/pages/CheckoutCart/CheckoutCart.js
  src/pages/CheckoutCart/index.js
  src/pages/CheckoutConfirmation/CheckoutConfirmation.js
  src/pages/CheckoutConfirmation/index.js
  src/pages/CheckoutPayment/CheckoutPayment.js
  src/pages/CheckoutPayment/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix: update react-scripts version to solve a path issue
  package.json
  yarn.lock
Due: prettier --write

feat: config react-app-rewired to be used in place of react-scripts
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

feat: config react-loadable to use skeleton loading on pages
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/components/CheckoutContainer/CheckoutContainer.js
  src/components/CheckoutContainer/index.js
  src/components/CheckoutContainer/styles.js
  src/components/Menu/Menu.js
  src/components/Menu/index.js
  src/components/Menu/styles.js
  src/components/Skeleton/Skeleton.js
  src/components/Skeleton/index.js
  src/components/Skeleton/styles.js
  src/index.js
  src/utils/pages-data.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: config redux and react-redux to control the state manage
  package.json
  src/components/CheckoutContainer/CheckoutContainer.js
  src/index.js
  src/store/ducks/loader/actions.js
  src/store/ducks/loader/index.js
  src/store/ducks/loader/types.js
  src/store/ducks/rootReducer.js
  src/store/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: config axios to consume cart items endpoint and show on checkout
  package.json
  src/components/ButtonLink/ButtonLink.js
  src/components/ButtonLink/index.js
  src/components/ButtonLink/styles.js
  src/components/Cardboard/Cardboard.js
  src/components/Cardboard/index.js
  src/components/Cardboard/styles.js
  src/components/CartProductsContainer/CartProductsContainer.js
  src/components/CartProductsContainer/index.js
  src/components/CartProductsContainer/styles.js
  src/components/CheckoutContainer/CheckoutContainer.js
  src/components/Product/Product.js
  src/components/Product/index.js
  src/components/Product/styles.js
  src/components/Title/Title.js
  src/components/Title/index.js
  src/components/Title/styles.js
  src/pages/CheckoutCart/CheckoutCart.js
  src/store/ducks/cart/actions.js
  src/store/ducks/cart/index.js
  src/store/ducks/cart/types.js
  src/store/ducks/rootReducer.js
  src/utils/format-currency.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

refactor: change container style name to match the component
  src/components/ButtonLink/ButtonLink.js
  src/components/ButtonLink/styles.js
  src/components/Cardboard/Cardboard.js
  src/components/Cardboard/styles.js
  src/components/CartProductsContainer/CartProductsContainer.js
  src/components/CartResumeContainer/CartResumeContainer.js
  src/components/CheckoutContainer/CheckoutContainer.js
  src/components/Product/Product.js
  src/components/Product/styles.js
  src/components/Skeleton/Skeleton.js
  src/components/Skeleton/styles.js
  src/components/Title/Title.js
  src/components/Title/styles.js
  src/pages/CheckoutCart/CheckoutCart.js
Due: prettier-eslint --write, eslint

feat: create cart resume component to show checkout products
  src/components/CartResumeContainer/index.js
  src/components/CartResumeContainer/styles.js
Due: prettier-eslint --write, eslint

chore: config classnames, formik, react-text-mask and yup packages
  package.json
  src/components/PaymentFormContainer/styles.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create payment page
  src/components/Button/Button.js
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/FormInput/FormInput.js
  src/components/FormInput/index.js
  src/components/FormInput/styles.js
  src/components/PaymentFormContainer/PaymentFormContainer.js
  src/components/PaymentFormContainer/index.js
  src/pages/CheckoutPayment/CheckoutPayment.js
  src/store/ducks/checkout/actions.js
  src/store/ducks/checkout/index.js
  src/store/ducks/checkout/types.js
  src/store/ducks/rootReducer.js
  src/utils/mask-card-number.js
  src/utils/yup-transform-date.js
Due: prettier-eslint --write, eslint

feat: add payment data component to be used on confirmation page
  src/components/PaymentDataContainer/PaymentDataContainer.js
  src/components/PaymentDataContainer/index.js
  src/pages/CheckoutConfirmation/CheckoutConfirmation.js
Due: prettier-eslint --write, eslint

feat: add checkout success component to be used on confirmation page
  src/assets/images/check.png
  src/components/CartProductsContainer/CartProductsContainer.js
  src/components/CheckoutSuccess/CheckoutSuccess.js
  src/components/CheckoutSuccess/index.js
  src/components/CheckoutSuccess/styles.js
  src/components/Product/Product.js
  src/pages/CheckoutConfirmation/CheckoutConfirmation.js
Due: prettier-eslint --write, eslint

feat: config testing-libary, enzyme and jest parameters
  .eslintrc.json
  .gitignore
  package.json
  src/setupTests.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: change jest config to not be considered coverage and utils files
  package.json
  src/__tests__/utils/mocked-store.js
Due: prettier-eslint --write, eslint, prettier --write

chore: add coverage and utils folder to not be included on cover report
  package.json
Due: prettier --write

refactor: change path import of components inside other components
  src/components/CartProductsContainer/CartProductsContainer.js
  src/components/CheckoutContainer/CheckoutContainer.js
  src/components/PaymentDataContainer/PaymentDataContainer.js
  src/components/PaymentFormContainer/PaymentFormContainer.js
Due: prettier-eslint --write, eslint

refactor: change pages data folder and create mock to be used on tests
  src/__mocks__/pages-data.js
  src/index.js
  src/pages-data.js
Due: prettier-eslint --write, eslint

test: create the first tests of components
  src/__mocks__/mocked-store.js
  src/__tests__/components/Button.spec.js
  src/__tests__/components/ButtonLink.spec.js
  src/__tests__/components/Cardboard.spec.js
  src/__tests__/components/CartProductsContainer.spec.js
  src/__tests__/components/__snapshots__/Button.spec.js.snap
  src/__tests__/components/__snapshots__/ButtonLink.spec.js.snap
  src/__tests__/components/__snapshots__/Cardboard.spec.js.snap
  src/__tests__/components/__snapshots__/CartResumeContainer.spec.js.snap
Due: prettier-eslint --write, eslint

test: add other tests of components
  src/__tests__/components/CartResumeContainer.spec.js
  src/__tests__/components/CheckoutContainer.spec.js
  src/__tests__/components/CheckoutSuccess.spec.js
  src/__tests__/components/FormInput.spec.js
  src/__tests__/components/__snapshots__/CheckoutSuccess.spec.js.snap
Due: prettier-eslint --write, eslint

test: add some tests of components
  src/__tests__/components/Menu.spec.js
  src/__tests__/components/PaymentDataContainer.spec.js
  src/__tests__/components/Product.spec.js
  src/__tests__/components/Skeleton.spec.js
  src/__tests__/components/__snapshots__/Menu.spec.js.snap
  src/__tests__/components/__snapshots__/PaymentDataContainer.spec.js.snap
  src/__tests__/components/__snapshots__/Product.spec.js.snap
  src/__tests__/components/__snapshots__/Skeleton.spec.js.snap
Due: prettier-eslint --write, eslint

test: add final tests of components
  src/__tests__/components/PaymentFormContainer.spec.js
  src/__tests__/components/Title.spec.js
  src/__tests__/components/__snapshots__/Title.spec.js.snap
Due: prettier-eslint --write, eslint

test: create all pages tests
  src/__tests__/pages/CheckoutCart.spec.js
  src/__tests__/pages/CheckoutConfirmation.spec.js
  src/__tests__/pages/CheckoutPayment.spec.js
  src/__tests__/pages/__snapshots__/CheckoutCart.spec.js.snap
  src/__tests__/pages/__snapshots__/CheckoutConfirmation.spec.js.snap
  src/__tests__/pages/__snapshots__/CheckoutPayment.spec.js.snap
Due: prettier-eslint --write, eslint

test: create all store tests
  package.json
  src/__tests__/store/ducks/cart/actions.spec.js
  src/__tests__/store/ducks/cart/index.spec.js
  src/__tests__/store/ducks/checkout/actions.spec.js
  src/__tests__/store/ducks/checkout/index.spec.js
  src/__tests__/store/ducks/loader/actions.spec.js
  src/__tests__/store/ducks/loader/index.spec.js
  src/setupTests.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

test: create all utils tests
  src/__tests__/utils/format-currency.spec.js
  src/__tests__/utils/mask-card-number.spec.js
  src/__tests__/utils/yup-transform-date.spec.js
Due: prettier-eslint --write, eslint

refactor: change api url to use https instead of http
  src/__tests__/store/ducks/cart/actions.spec.js
  src/store/ducks/cart/actions.js
Due: prettier-eslint --write, eslint

docs: update readme file and create license file
  LICENSE
  README.md
Due: prettier --write

docs: update licence badge path on readme file
  README.md
Due: prettier --write

feat: dependencies and initial structure
  .editorconfig
  .env
  .gitignore
  .prettierrc
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  src/App.css
  src/App.js
  src/App.test.js
  src/assets/img2.jpg
  src/assets/logo.svg
  src/assets/success1.png
  src/index.css
  src/index.js
  src/pages/App/App.js
  src/serviceWorker.js
Due: prettier-eslint --write, eslint, prettier --write

feat(style): Global style and font
  src/assets/fonts/Helvetica.woff
  src/assets/fonts/Helvetica.woff2
  src/assets/images/img2.jpg
  src/assets/images/logo.svg
  src/assets/images/success1.png
  src/styles/index.js
Due: prettier-eslint --write, eslint

feat: Product Card
  src/components/ProductCard/index.js
  src/components/ProductCard/styles.js
Due: prettier-eslint --write, eslint

feat(style): Product Card
  src/components/ProductCard/styles.js
Due: prettier-eslint --write, eslint

feat: Amount Container
  src/components/AmountContainer/index.js
  src/components/AmountContainer/styles.js
Due: prettier-eslint --write, eslint

feat(style): Amount Container
  src/components/AmountContainer/styles.js
Due: prettier-eslint --write, eslint

feat: Cart Page
  src/components/AmountContainer/index.js
  src/components/ProductCard/index.js
  src/pages/CartPage/index.js
  src/pages/CartPage/styles.js
  src/pages/ConfirmationPage/index.js
  src/pages/ConfirmationPage/styles.js
  src/pages/PaymentMethodPage/index.js
  src/pages/PaymentMethodPage/styles.js
Due: prettier-eslint --write, eslint

feat(style): Cart Page
  src/pages/CartPage/styles.js
Due: prettier-eslint --write, eslint

feat: Payment Method Page
  src/pages/PaymentMethodPage/index.js
Due: prettier-eslint --write, eslint

feat(style): Payment Method Page
  src/pages/PaymentMethodPage/styles.js
Due: prettier-eslint --write, eslint

feat: Confirmation Page
  src/pages/ConfirmationPage/index.js
Due: prettier-eslint --write, eslint

feat(style): confirmation Page
  src/pages/ConfirmationPage/styles.js
Due: prettier-eslint --write, eslint

chore: add styled-components
  package.json
  src/App.css
  src/App.js
  src/index.css
  src/index.js
  src/pages/Cart/index.js
  src/serviceWorker.js
  src/styles/global.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write
