Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

feat: add grid area name
  src/components/InformationShipping/style.js
Due: prettier-eslint --write, eslint

feat: add new props to isSubmit
  src/components/InformationShipping/index.js
Due: prettier-eslint --write, eslint

refactor: refactor to grid in form responsive
  src/containers/Payment/index.js
  src/containers/Payment/style.js
Due: prettier-eslint --write, eslint

feat: add new container to confirmation
  src/containers/Confirmation/index.js
  src/containers/Confirmation/style.js
Due: prettier-eslint --write, eslint

feat: add new container in router
  src/containers/Router/index.js
Due: prettier-eslint --write, eslint

feat: add dependencies to test
  package-lock.json
  package.json
Due: prettier --write

feat: add configure to jest in lint
  .eslintrc.json
Due: prettier --write

refactor: modifing diretory
  src/setupTests.js
Due: prettier-eslint --write, eslint

refactor: adjust in props and add default values
  src/components/Button/index.js
  src/components/Card/index.js
  src/components/CardProduct/index.js
  src/components/TopBar/index.js
Due: prettier-eslint --write, eslint

feat: add tests in components
  src/components/Button/Button.test.js
  src/components/Card/Card.test.js
  src/components/CardProduct/CardProduct.test.js
  src/components/InformationShipping/InformationShipping.test.js
Due: prettier-eslint --write, eslint

Update README.md
  README.md
Due: prettier --write

fix: adjust form responsiveness
  src/containers/Payment/style.js
Due: prettier-eslint --write, eslint

installing dependencies packages and changed react-scripts do newest version
  package-lock.json
  package.json
Due: prettier --write

initical theme settings
  public/index.html
  src/App.js
  src/assets/fonts/HelveticaNeue.ttf
  src/assets/fonts/HelveticaNeueBd.ttf
  src/assets/fonts/HelveticaNeueLt.ttf
  src/theme.js
Due: prettier-eslint --write, eslint, prettier --write

creating simple route for testing
  src/App.js
  src/Routes.js
  src/ShoppingCart/index.js
Due: prettier-eslint --write, eslint

change font family
  src/theme.js
Due: prettier-eslint --write, eslint

creating header cart structure
  src/ShoppingCart/components/HeaderDetailsCartSteps.js
  src/ShoppingCart/index.js
Due: prettier-eslint --write, eslint

creating first step cart, consume endpoint, list products, display properties
  src/ShoppingCart/components/ListProducts.js
  src/ShoppingCart/components/ListProductsAmount.js
  src/ShoppingCart/index.js
  src/ShoppingCart/services/index.js
Due: prettier-eslint --write, eslint

fontFamily changed from google to local, list products structure and amount
  src/App.css
  src/ShoppingCart/components/HeaderDetailsCartSteps.js
  src/ShoppingCart/components/ListProducts.js
  src/ShoppingCart/components/ListProductsAmount.js
  src/ShoppingCart/index.js
  src/ShoppingCart/step1.js
  src/assets/fonts/HelveticaNeueLt.ttf
  src/theme.js
Due: prettier-eslint --write, eslint, prettier --write

created a helper to format money brl
  jsconfig.json
  src/ShoppingCart/components/ListProducts.js
  src/ShoppingCart/components/ListProductsAmount.js
  src/helpers/moneyFormatter.js
Due: prettier-eslint --write, eslint, prettier --write

render steps
  src/ShoppingCart/components/HeaderDetailsCartSteps.js
  src/ShoppingCart/index.js
  src/ShoppingCart/step1.js
Due: prettier-eslint --write, eslint

button shadow
  src/ShoppingCart/step1.js
Due: prettier-eslint --write, eslint

created other routes
  src/Routes.js
  src/ShoppingCart/index.js
  src/ShoppingCart/step2.js
  src/ShoppingCart/step3.js
Due: prettier-eslint --write, eslint

create pages structure to hold other pages
  src/Routes.js
  src/index.css
  src/logo.svg
  src/pages/404/index.js
  src/pages/Cart/components/HeaderDetailsCartSteps.js
  src/pages/Cart/components/ListProducts.js
  src/pages/Cart/components/ListProductsAmount.js
  src/pages/Cart/components/step2.js
  src/pages/Cart/index.js
  src/pages/Cart/services/index.js
  src/pages/Cart/step1.js
  src/pages/Cart/step3.js
Due: prettier-eslint --write, eslint, prettier --write

notFound page route add
  src/assets/img/logo.svg
  src/pages/404/index.js
Due: prettier-eslint --write, eslint

add form validation step 2
  package-lock.json
  package.json
  src/pages/Cart/components/ListProductsAmount.js
  src/pages/Cart/components/TitleSteps.js
  src/pages/Cart/components/form.js
  src/pages/Cart/components/step2.js
  src/pages/Cart/index.js
  src/pages/Cart/step1.js
  src/pages/Cart/step2.js
  src/pages/Cart/step3.js
  src/theme.js
Due: prettier-eslint --write, eslint, prettier --write

date validation now is complete, prevent navigating to empty states
  package-lock.json
  package.json
  public/index.html
  src/Routes.js
  src/assets/img/success.png
  src/pages/Cart/components/CcInfoPayment.js
  src/pages/Cart/components/ListProducts.js
  src/pages/Cart/components/ListProductsAmount.js
  src/pages/Cart/components/TitleSteps.js
  src/pages/Cart/components/form.js
  src/pages/Cart/index.js
  src/pages/Cart/step1.js
  src/pages/Cart/step2.js
  src/pages/Cart/step3.js
  src/theme.js
Due: prettier-eslint --write, eslint, prettier --write

rename things
  src/pages/Cart/components/form.js
Due: prettier-eslint --write, eslint

Add App.js it contains the code to persist the json file and all the Route parts
  src/App.js
Due: prettier-eslint --write, eslint

Add all the other React files and the css file.
  .editorconfig
  .gitignore
  .prettierrc
  package-lock.json
  package.json
  public/checkcircle.css
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  public/style.css
  src/App.css
  src/App.test.js
  src/Button.js
  src/Confirmacao.js
  src/Form.js
  src/Header.js
  src/Input.js
  src/Pagamento.js
  src/Produto.js
  src/ResumoPagamento.js
  src/Sacola.js
  src/Summary.js
  src/index.css
  src/index.js
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

Added instructions to run the application
  README.md
Due: prettier --write

feat: 🎸 Implement pagamento page
  package.json
  src/components/Input/__snapshots__/index.test.tsx.snap
  src/components/Input/index.test.tsx
  src/components/Input/index.tsx
  src/components/Input/styles.tsx
  src/components/Summary/__snapshots__/index.test.tsx.snap
  src/components/Summary/styles.tsx
  src/pages/Pagamento/index.tsx
  src/pages/Pagamento/styles.tsx
  src/pages/Sacola/styles.tsx
  src/utils/errors.test.ts
  src/utils/errors.ts
  src/utils/format.test.ts
  yarn.lock
Due: prettier --write

feat: 🎸 Implement order page
  package.json
  src/@types/checkout/index.d.ts
  src/@types/checkout/type.d.ts
  src/components/Box/__snapshots__/index.test.tsx.snap
  src/components/Box/index.test.tsx
  src/components/Box/index.tsx
  src/components/Box/styles.tsx
  src/components/Button/index.tsx
  src/components/Input/__snapshots__/index.test.tsx.snap
  src/components/Input/index.tsx
  src/components/Input/styles.tsx
  src/components/Title/__snapshots__/index.test.tsx.snap
  src/components/Title/index.test.tsx
  src/components/Title/index.tsx
  src/components/Title/styles.tsx
  src/hooks/cart.tsx
  src/hooks/checkout.tsx
  src/hooks/index.tsx
  src/pages/Confirmacao/index.tsx
  src/pages/Confirmacao/styles.tsx
  src/pages/Pagamento/index.tsx
  src/pages/Pagamento/styles.tsx
  src/utils/format.test.ts
  src/utils/format.ts
  yarn.lock
Due: prettier --write

style: 💄 Update notfound page
  src/pages/NotFound/index.tsx
  src/pages/NotFound/styles.tsx
Due: none

style: 💄 Update sacola page
  src/pages/Sacola/index.tsx
  src/pages/Sacola/styles.tsx
Due: none

feat: 🎸 Implement lazy load routes
  src/components/Loading/index.tsx
  src/components/Loading/styles.tsx
  src/pages/Sacola/index.tsx
  src/pages/Sacola/styles.tsx
  src/routes/index.tsx
Due: none

refactor: 💡 Update payment validations
  src/components/Input/__snapshots__/index.test.tsx.snap
  src/components/Input/index.tsx
  src/components/Input/styles.tsx
  src/pages/Pagamento/index.tsx
Due: none

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
