Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

ci: add deploy payment job
  .github/workflows/deploy.yml
  apps/payment/.gitignore
Due: none

feat: add desktop layout adjustments
  src/components/MainContent/index.tsx
  src/components/MainContent/styles.ts
  src/components/NavBar/NavItem/styled.ts
  src/components/NavBar/styles.ts
  src/components/PaymentForm/styles.ts
  src/components/PaymentResume/index.tsx
  src/components/PaymentResume/styles.ts
  src/components/ProductsList/Product/index.tsx
  src/components/ProductsList/Product/styles.ts
  src/components/ProductsList/style.ts
  src/pages/Cart/screens/Confirmation/index.tsx
  src/pages/Cart/screens/Payment/index.tsx
  src/pages/Cart/styles.ts
Due: none

ci: add deploy information job
  .github/workflows/deploy.yml
  apps/information/.gitignore
Due: none

fix: build project
  src/App.tsx
Due: none

chore: add vercel config
  apps/cart/vercel.json
  apps/information/vercel.json
  apps/payment/vercel.json
Due: prettier --write

docs: create README
  README.md
Due: prettier --write

fix: adjust build bundle
  apps/cart/src/components/ListProducts.tsx
Due: none

chore: add resolutions deps
  apps/cart/package.json
  apps/information/package.json
  apps/payment/package.json
  yarn.lock
Due: prettier --write

fix: console warnings
  src/components/MainContent/index.tsx
  src/components/NavBar/index.tsx
  src/components/PaymentResume/index.tsx
  src/components/ProductsList/Product/index.tsx
  src/components/PurchaseResume/index.tsx
  src/components/Text/index.tsx
  src/components/Text/styled.ts
Due: none

docs: add more informations to README
  README.md
Due: prettier --write

feat: config eslint, tailwind, typescript lint
  .eslintrc
  .prettierrc
  package.json
  postcss.config.js
  src/App.css
  src/index.css
  tailwind.config.js
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create api types
  src/App.tsx
  src/main.tsx
  src/types/cart.ts
  src/types/imageObjects.ts
  src/types/index.ts
  src/types/items.ts
  src/types/priceSpecification.ts
  src/types/product.ts
Due: none

feat: shadcn tabs and button
  .eslintrc
  .prettierrc
  components.json
  package.json
  src/components/ui/button.tsx
  src/components/ui/tabs.tsx
  src/index.css
  src/lib/utils.ts
  tailwind.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create bag view
  src/App.tsx
  src/api/httpsClient.ts
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/components/Products/index.tsx
  src/context/dataContext.tsx
  src/main.tsx
  src/pages/Bag.tsx
  src/pages/Confirmation.tsx
  src/pages/Payment.tsx
  src/types/cart.ts
  src/types/index.ts
  src/types/items.ts
  src/types/product.ts
  src/utils/formatCurrency.ts
Due: none

refactor: remove unused items
  src/components/Header/index.tsx
  src/components/ui/button.tsx
  src/lib/utils.ts
Due: none

refactor: product component for shared use
  src/App.tsx
  src/components/Products/index.tsx
  src/pages/Confirmation.tsx
  src/pages/Payment.tsx
  src/pages/index.tsx
Due: none

feat: form validation, global items, mask, confimation page
  package.json
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/components/Payment/ConfirmPaymentBox.tsx
  src/components/Payment/PaymentForm.tsx
  src/components/Payment/index.ts
  src/components/Products/index.tsx
  src/components/Skeleton/index.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/skeleton.tsx
  src/context/dataContext.tsx
  src/pages/Confirmation.tsx
  src/pages/Payment.tsx
  src/utils/creditCardSchema.ts
  src/utils/mask.ts
  yarn.lock
Due: prettier --write

feat: lottie animation, validation form, skeleton
  package.json
  src/assets/credit_card.json
  src/assets/payment_sucessful.json
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/components/Lottie/index.tsx
  src/components/Payment/ConfirmPaymentBox.tsx
  src/components/Payment/PaymentForm.tsx
  src/components/Payment/index.ts
  src/components/Products/index.tsx
  src/components/ui/scroll-area.tsx
  src/context/dataContext.tsx
  src/pages/Bag.tsx
  src/pages/Confirmation.tsx
  src/pages/Payment.tsx
  yarn.lock
Due: prettier --write

fix: reset payment form, lottie success description
  src/assets/payment_sucessful.json
  src/components/Footer/index.tsx
Due: prettier --write

fix: reset animation name
  src/assets/payment_sucessful.json
Due: prettier --write

fix: change animation
  src/assets/payment_sucessful.json
Due: prettier --write

perf: layout adjustments
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/components/ui/tabs.tsx
  src/pages/Bag.tsx
  src/pages/Confirmation.tsx
  src/pages/Payment.tsx
Due: none

perf: layout changes
  src/assets/payment_sucessful.json
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/components/ui/tabs.tsx
  src/pages/Bag.tsx
  src/pages/Confirmation.tsx
  src/pages/Payment.tsx
Due: prettier --write

feat: update json endpoint
  README.md
Due: prettier --write

feat: remove internal workflow
  .github/workflows/fortify.yml
Due: none

feat: update dependencies
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

feat: update json endpoint (#220)
  .github/workflows/fortify.yml
  README.md
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

docs: add gb default files
  .github/CODEOWNERS
  catalog-info.yaml
  docs/README.md
  mkdocs.yml
Due: prettier --write

docs: add gb default files (#224)
  .github/CODEOWNERS
  catalog-info.yaml
  docs/README.md
  mkdocs.yml
Due: prettier --write

docs: add dependabot and devsecops workflows
  .github/dependabot.yml
  .github/workflows/devsecops.yml
Due: none

docs: add dependabot and devsecops workflows (#225)
  .github/dependabot.yml
  .github/workflows/devsecops.yml
Due: none

feat: first commit
  package-lock.json
  package.json
  src/App.css
  src/App.test.tsx
  src/App.tsx
  src/app/App.css
  src/app/App.test.tsx
  src/app/App.tsx
  src/index.css
  src/main.tsx
  tsconfig.json
Due: prettier --write

feat: src strutured
  src/app/pages/checkout/checkout.page.tsx
  src/app/routes/index.ts
  src/app/routes/router.tsx
  src/test/setup-test.ts
Due: none

feat: add ui components
  src/ui/input/input.component.tsx
  src/ui/input/input.styles.css
  src/ui/input/input.test.tsx
  src/ui/price-item/price-item.component.tsx
  src/ui/price-item/price-item.css
  src/ui/price-item/price-item.test.tsx
  src/ui/product-item/product-item.component.tsx
  src/ui/product-item/product-item.styles.css
  src/ui/product-item/product-item.test.tsx
  src/ui/tab-item/tab-item.component.tsx
  src/ui/tab-item/tab-item.css
  src/ui/tab-item/tab-item.test.tsx
Due: prettier --write

feat: add bag products service
  src/services/bag-products/bag-products.services.ts
  src/services/bag-products/bag-products.services.types.ts
  src/services/bag-products/bag-products.test.tsx
  src/services/bag-products/use-get-bag-products.services.hook.ts
  src/test/mocks/bag-products.mock.ts
Due: none

feat: add features
  src/features/bag-product-list/bag-product-list.component.tsx
  src/features/bag-product-list/bag-product-list.styles.css
  src/features/bag-product-list/bag-product-list.test.tsx
  src/features/checkout-footer/checkout-footer.component.tsx
  src/features/checkout-footer/checkout-footer.styles.css
  src/features/checkout-footer/checkout-footer.test.tsx
  src/features/checkout-header/checkout-footer.test.tsx
  src/features/checkout-header/checkout-header.component.tsx
  src/features/checkout-header/checkout-header.styles.css
  src/features/confirmation/confirmation.component.tsx
  src/features/confirmation/confirmation.styles.css
  src/features/confirmation/confirmation.test.tsx
  src/features/payment-form/payment-form.component.tsx
  src/features/payment-form/payment-form.styles.css
  src/features/payment-form/payment-form.test.tsx
Due: prettier --write

feat: add widget
  src/widgets/checkout/checkout.test.tsx
  src/widgets/checkout/checkout.widget.tsx
  src/widgets/checkout/useCheckoutForm.test.tsx
  src/widgets/checkout/useCheckoutForm.ts
Due: none

fix(payment-form): fix errors label
  src/widgets/checkout/useCheckoutForm.ts
Due: none

chore: fix paths
  src/app/pages/checkout/checkout.page.tsx
  src/features/bag-product-list/bag-product-list.component.tsx
  src/features/bag-product-list/bag-product-list.test.tsx
  src/features/bag-product-list/index.ts
  src/features/checkout-footer/checkout-footer.component.tsx
  src/features/checkout-footer/checkout-footer.test.tsx
  src/features/checkout-footer/index.ts
  src/features/checkout-header/checkout-header.component.tsx
  src/features/checkout-header/checkout-header.test.tsx
  src/features/checkout-header/index.ts
  src/features/confirmation/confirmation.component.tsx
  src/features/confirmation/confirmation.test.tsx
  src/features/confirmation/index.ts
  src/features/index.ts
  src/features/payment-form/index.ts
  src/features/payment-form/payment-form.component.tsx
  src/features/payment-form/payment-form.test.tsx
  src/services/bag-products/bag-products.services.ts
  src/services/bag-products/bag-products.test.tsx
  src/services/bag-products/index.ts
  src/services/index.ts
  src/test/mocks/bag-products.mock.ts
  src/ui/index.ts
  src/ui/input/index.ts
  src/ui/input/input.component.tsx
  src/ui/price-item/index.ts
  src/ui/product-item/index.ts
  src/ui/product-item/product-item.component.tsx
  src/ui/product-item/product-item.test.tsx
  src/ui/tab-item/index.ts
  src/widgets/checkout/checkout.widget.tsx
  src/widgets/checkout/index.ts
  src/widgets/checkout/useCheckoutForm.test.tsx
  src/widgets/index.ts
Due: none

chore: fix imports
  src/features/payment-form/payment-form.component.tsx
  src/ui/input/input.component.tsx
  src/widgets/checkout/checkout.widget.tsx
Due: none
