Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

14-Data fill on ducks, validation creditcard, fix layout, fix route
  src/components/ItemProducts/index.js
  src/components/PaymentData/index.js
  src/components/PaymentData/style.js
  src/components/SpecificationCart/index.js
  src/components/SpecificationCart/style.js
  src/components/SpecificationDataUser/index.js
  src/components/SpecificationDataUser/style.js
  src/components/Widgets/Button/index.js
  src/components/Widgets/Button/style.js
  src/components/Widgets/Description/index.js
  src/components/Widgets/Header/index.js
  src/container/Cart/index.js
  src/container/Cart/style.js
  src/container/Confirmation/index.js
  src/container/Confirmation/style.js
  src/container/Payment/index.js
  src/container/Payment/style.js
  src/routes.js
  src/store/ducks/creditCard.js
Due: prettier-eslint --write, eslint

15-Fix and Create Redme
  src/components/Widgets/Button/index.js
  src/container/Payment/index.js
Due: prettier-eslint --write, eslint

feat: 💄 adds global styles and theme
  src/App.js
  src/app/components/navigation/TabNav.js
  src/app/components/navigation/TabNav.style.js
  src/app/components/navigation/TabNav.test.js
  src/index.css
  src/index.js
  src/styles/global.style.js
  src/styles/light.theme.style.js
Due: prettier-eslint --write, eslint, prettier --write

feat: ✨ adds cart list elements
  src/app/components/layout/TitleSection.style.js
  src/app/components/layout/TitleSection.test.js
  src/app/components/navigation/TabNav.style.js
  src/app/components/navigation/TabNav.test.js
  src/app/pages/cart/CartMain.js
  src/app/pages/cart/CartPage.style.js
  src/styles/light.theme.style.js
Due: prettier-eslint --write, eslint

feat: ✨ adds slices element
  src/app/components/slices/CartCheckoutInfo.slices.js
  src/app/components/slices/CartItems.slices.js
  src/app/pages/cart/CartMain.js
  src/app/pages/cart/CartPage.style.js
Due: prettier-eslint --write, eslint

feat: ✨ adds loading component and refactor some lines
  package.json
  src/app/components/layout/Button.js
  src/app/components/layout/Button.style.js
  src/app/components/layout/Loading.js
  src/app/components/layout/Loading.style.js
  src/app/pages/cart/CartMain.js
  src/app/pages/checkout/CheckoutMain.js
  src/app/pages/wowmoment/WowMomentMain.js
  src/routes.js
  src/styles/light.theme.style.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: setup environment and first project configurations
  .env
  .eslintcache
  .eslintrc.json
  .prettierignore
  .prettierrc
  package.json
  src/App.css
  src/App.js
  src/App.test.js
  src/App.tsx
  src/config/ReactotronConfig.ts
  src/config/environment.ts
  src/index.css
  src/index.js
  src/index.tsx
  src/logo.svg
  src/providers/AppProvider.tsx
  src/react-app-env.d.ts
  src/serviceWorker.js
  src/services/api.js
  src/services/history.ts
  src/setupTests.js
  src/store/createStore.js
  src/store/index.js
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
  src/store/modules/cart/sagas.js
  src/store/modules/rootReducer.js
  src/store/modules/rootSaga.js
  src/styles/global.js
  src/styles/themes/default.js
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: setup routes
  .eslintcache
  src/App.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/pages/Confirmation/index.tsx
  src/pages/Confirmation/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/services/api.js
Due: prettier-eslint --write, eslint

16-Implements partial tests, finish project
  package.json
  src/App.test.js
  src/__tests__/__mockdata__/mock_cart.js
  src/__tests__/cart.js
  src/__tests__/confirmation.js
  src/__tests__/payment.js
  src/components/Widgets/Header/index.js
  src/setupTests.js
Due: prettier-eslint --write, eslint, prettier --write

chore: set Header navigation
  .eslintcache
  .prettierrc
  src/App.tsx
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/components/Pageable/index.tsx
  src/components/Pageable/styles.ts
  src/components/Toast/index.tsx
  src/components/Toast/styles.ts
  src/components/Tooltip/index.tsx
  src/components/Tooltip/styles.ts
  src/constants/types-reducers.ts
  src/constants/validation.ts
  src/index.tsx
  src/interfaces/Cart.ts
  src/pages/Cart/index.tsx
  src/pages/Item/index.tsx
  src/services/api.js
  src/store/modules/payments/actions.js
  src/store/modules/payments/reducer.js
  src/store/modules/payments/sagas.js
  src/store/modules/rootReducer.js
  src/styles/global.js
  src/styles/styles.ts
Due: prettier-eslint --write, eslint

feat: ✨ adds form checkout page
  package-lock.json
  package.json
  src/app/components/layout/Button.js
  src/app/components/layout/TitleSection.js
  src/app/components/slices/CartCheckoutInfo.slices.js
  src/app/components/slices/CartItems.slices.js
  src/app/pages/cart/CartMain.js
  src/app/pages/checkout/CheckoutMain.js
  src/core/store/Context.js
  src/routes.js
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: create default button
  .eslintcache
  .eslintrc.json
  src/App.tsx
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/styles/global.js
  src/styles/themes/default.js
Due: prettier-eslint --write, eslint, prettier --write

chore: style product list in cart
  .env
  .eslintcache
  src/App.tsx
  src/components/Header/index.tsx
  src/components/Header/styles.ts
  src/components/MainContent/index.tsx
  src/components/MainContent/styles.ts
  src/components/Pageable/index.tsx
  src/components/Pageable/styles.ts
  src/components/Toast/index.tsx
  src/components/Toast/styles.ts
  src/index.tsx
  src/interfaces/Cart.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/styles/styles.ts
  src/styles/themes/default.js
Due: prettier-eslint --write, eslint

feat: include cart sum info
  .eslintcache
  src/components/MainContent/styles.ts
  src/helpers/formatCurrency.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/styles/themes/default.js
Due: prettier-eslint --write, eslint

feat: ✨ adds content components
  src/app/pages/cart/CartMain.js
  src/app/pages/checkout/CheckoutMain.js
  src/app/pages/wowmoment/WowMomentMain.js
  src/core/store/Context.js
  webpack.config.js
  yarn.lock
Due: prettier-eslint --write, eslint

chore: include cart title
  .eslintcache
  src/components/Header/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/styles/themes/default.js
Due: prettier-eslint --write, eslint

chore: include payment form inputs
  .eslintcache
  package.json
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/helpers/validations.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/styles/global.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix: fix package json dependencies
  package.json
  src/pages/Payment/index.tsx
  yarn.lock
Due: prettier --write

feat: 💄 adjusts wowmoment css
  src/app/components/slices/PaymentInfo.slices.js
  src/app/components/slices/PaymentInfo.style.js
  src/app/pages/checkout/CheckoutMain.js
  src/app/pages/wowmoment/WowMoment.style.js
  src/app/pages/wowmoment/WowMomentMain.js
  src/assets/success_icon.png
Due: prettier-eslint --write, eslint

feat: create input validation style
  src/components/Button/styles.ts
  src/components/Header/styles.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/components/Tooltip/index.tsx
  src/components/Tooltip/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/styles/global.js
  src/styles/themes/default.js
Due: prettier-eslint --write, eslint

feat: style input validation
  src/components/Input/index.tsx
  src/constants/validation.ts
Due: none

chore: finish html payment page
  src/components/Button/styles.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/components/SumInfo/index.tsx
  src/components/SumInfo/styles.ts
  src/components/Tooltip/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/styles/themes/default.js
Due: prettier-eslint --write, eslint

chore: separate itemslist in a component
  src/components/ItemsList/index.tsx
  src/components/ItemsList/styles.ts
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
Due: none

feat: set cart info in localstorage to prevent rerequest
  src/components/ItemsList/index.tsx
  src/helpers/local-storage.ts
  src/pages/Cart/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Confirmation/styles.ts
  src/store/modules/cart/sagas.js
  src/store/modules/payments/actions.js
  src/store/modules/payments/reducer.js
  src/store/modules/payments/sagas.js
  src/store/modules/rootReducer.js
Due: prettier-eslint --write, eslint

feat: get cartInfo in localstorage in confirmation page
  src/pages/Confirmation/index.tsx
Due: none

feat: create storage context
  src/constants/local-storage.ts
  src/contexts/StorageContext.tsx
  src/pages/Cart/index.tsx
  src/pages/Confirmation/index.tsx
  src/providers/AppProvider.tsx
  src/store/modules/cart/sagas.js
Due: prettier-eslint --write, eslint

🏗️: 💄 adjusts architecture fils
  src/App.js
  src/app/components/layout/Button.js
  src/app/components/layout/Button.style.js
  src/app/components/layout/TitleSection.style.js
  src/app/components/navigation/TabNav.style.js
  src/app/components/slices/CartCheckoutInfo.slices.js
  src/app/components/slices/CartItems.slices.js
  src/app/components/slices/PaymentInfo.style.js
  src/app/pages/cart/CartMain.js
  src/app/pages/cart/CartPage.style.js
  src/app/pages/checkout/CheckoutMain.js
  src/app/pages/wowmoment/WowMoment.style.js
  src/app/pages/wowmoment/WowMomentMain.js
  src/core/providers/Context.js
  src/routes.js
  src/utils/helpers/formatMoney.js
Due: prettier-eslint --write, eslint

🏗️: 💄 adjus css wowmoment component
  public/favicom.ico
  public/favicon.ico
  public/index.html
  src/app/components/layout/Button.style.js
  src/app/components/layout/Button.test.js
  src/app/pages/checkout/CheckoutMain.js
  src/app/pages/checkout/CheckoutPage.style.js
  src/core/providers/Context.js
  src/styles/light.theme.style.js
Due: prettier-eslint --write, eslint, prettier --write

🏗️: 💄 adjus desktop css
  src/styles/global.style.js
Due: prettier-eslint --write, eslint

fix: 🔒️ fixes security https problem
  src/utils/constants.js
Due: prettier-eslint --write, eslint

feat: ♻️ refactors validation form
  src/app/components/layout/Button.js
  src/app/components/layout/Button.style.js
  src/app/pages/checkout/CheckoutMain.js
  src/core/providers/Context.js
Due: prettier-eslint --write, eslint

chore: 📝 updates the doc - readme
  README.md
Due: prettier --write

chore: ➖ remove unnecessary dependencies
  package.json
  yarn.lock
Due: prettier --write

feat: ✨ adds fallback to waiting buy approveds
  src/app/components/layout/Loading.js
  src/app/components/layout/Loading.style.js
  src/app/pages/cart/CartMain.js
  src/app/pages/checkout/CheckoutMain.js
  src/app/pages/wowmoment/WowMomentMain.js
  src/core/providers/Context.js
  src/routes.js
Due: prettier-eslint --write, eslint

chore: create html payment method
  src/components/SumInfo/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Confirmation/index.tsx
  src/pages/Confirmation/styles.ts
  src/pages/Payment/index.tsx
Due: none

chore: 📝 updates README
  README.md
Due: prettier --write

feat: create cart sum info
  src/components/SumInfo/index.tsx
  src/components/SumInfo/styles.ts
  src/pages/Cart/index.tsx
Due: none

feat: 💄 improves the user xp
  src/app/pages/checkout/CheckoutMain.js
Due: prettier-eslint --write, eslint

feat: create mask in payment by credit card inputs
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/helpers/masks.ts
  src/pages/Payment/index.tsx
Due: none

feat: create action to storage credit card info
  src/components/Header/index.tsx
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/constants/placeholder.ts
  src/pages/Payment/index.tsx
  src/store/modules/cart/actions.js
  src/store/modules/cart/reducer.js
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
