Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

feat: include toast error
  README.md
  package.json
  src/components/Toast/index.tsx
  src/components/Toast/styles.ts
  src/hooks/useCart.tsx
  src/hooks/useToast.tsx
  src/interfaces/ToastInterface.ts
  src/pages/Home/index.tsx
  src/providers/AppProvider.tsx
  yarn.lock
Due: prettier --write

feat: include toast success
  src/components/Toast/styles.ts
  src/hooks/useCart.tsx
  src/pages/Home/index.tsx
  src/pages/Home/styles.ts
Due: none

feat: add transition animation in toast
  README.md
  src/components/Toast/index.tsx
  src/components/Toast/styles.ts
  src/hooks/useToast.tsx
Due: prettier --write

feat: add transition animation in toast
  src/hooks/useCart.tsx
Due: none

feat: add progressive button in payment
  src/components/Button/index.tsx
  src/components/Button/styles.ts
  src/components/Toast/index.tsx
  src/pages/CartPayment/index.tsx
Due: none

feat: add progressive button in payment
  src/components/Button/index.tsx
  src/components/Button/styles.ts
Due: none

fix: credit card focus
  src/components/Input/index.tsx
  src/components/PaymentInfo/index.tsx
  src/hooks/useCart.tsx
  src/pages/Cart/components/Header/index.tsx
  src/pages/CartConfirmation/index.tsx
  src/pages/CartPayment/index.tsx
Due: none

fix: credit card focus
  README.md
Due: prettier --write

chore: include svg in readme
  README.md
  readme/Home.gif
Due: prettier --write

chore: include gif in readme
  README.md
Due: prettier --write

chore: include gif in readme
  readme/Home.gif
  readme/Home.png
  src/components/Button/index.tsx
  src/pages/CartPayment/index.tsx
Due: none

chore: include gif in readme
  readme/Home.gif
Due: none

chore: include ci yml
  .github/workflows/ci.yml
Due: none

chore: remove ci yml
  .github/workflows/ci.yml
Due: none

fix: set dependencies and dev dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: install husky and commit lint
  .husky/commit-msg
  commitlint.config.js
  package.json
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix: remove some scripts
  package.json
Due: prettier --write

chore: include github actions ci job
  .github/workflows/fortify.yml
Due: none

chore: include github actions ci job
  .github/workflows/ci.yml
  .github/workflows/fortify.yml
Due: none

chore: include github actions ci job
  .github/workflows/ci.yml
Due: none

chore: github actions ci job
  .github/workflows/ci.yml
  README.md
Due: prettier --write

chore: github actions ci job
  .github/workflows/ci.yml
Due: none

chore: github actions ci job
  .github/workflows/ci.yml
  package.json
Due: prettier --write

chore: include other tecnologies in readme
  README.md
Due: prettier --write

fix: prevent request again when add item in cart
  README.md
  jest.config.js
  package.json
  src/__tests__/pages/Home.spec.tsx
  src/components/SumInfo/index.tsx
  src/hooks/useCart.tsx
  src/mappers/cart-mapper.ts
  src/pages/Home/index.tsx
  src/setupTests.ts
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

chore: create cartMapper
  src/components/ItemsList/index.tsx
  src/hooks/useCart.tsx
  src/interfaces/Cart.ts
  src/mappers/cart-mapper.ts
Due: none

chore: include jest and cypress dependency
  package.json
  src/__tests__/pages/Home.spec.tsx
  src/mocks/cart-mock.ts
  src/pages/Home/components/Header/styles.ts
  src/pages/Home/index.tsx
  yarn.lock
Due: prettier --write

chore: include cypress dependency
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
Due: prettier-eslint --write, eslint, prettier --write

chore: remove card mask from input to cartpayment component
  .prettierrc
  src/components/Button/styles.ts
  src/components/EmptyMessage/styles.ts
  src/components/Input/index.tsx
  src/components/Input/styles.ts
  src/components/ItemsList/styles.ts
  src/components/Loading/styles.ts
  src/components/PaymentInfo/styles.ts
  src/components/SumInfo/styles.ts
  src/constants/local-storage.ts
  src/helpers/set-items-quantity.ts
  src/hooks/useCart.tsx
  src/pages/Cart/components/Header/styles.ts
  src/pages/CartConfirmation/styles.ts
  src/pages/CartList/styles.ts
  src/pages/CartPayment/index.tsx
  src/pages/CartPayment/styles.ts
  src/pages/Home/components/Header/styles.ts
  src/pages/Home/index.tsx
  src/styles/themes/default.js
Due: prettier-eslint --write, eslint

chore: remove card mask from input to cartpayment component
  src/pages/CartPayment/index.tsx
Due: none

fix: remove import no utilized
  src/pages/Home/index.tsx
Due: none

fix: remove cypress
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  src/pages/CartPayment/index.tsx
Due: prettier-eslint --write, eslint, prettier --write
