Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

Renamed Product.js to ProductListItem.js
  src/Components/ProductListItem.js
Due: prettier-eslint --write, eslint

Implementation for API Response Support
  src/Components/ProductList.js
Due: prettier-eslint --write, eslint

Renamed and Moved App to Cart
  src/Pages/Cart.css
  src/Pages/Cart.js
  src/Tests/Cart.test.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Removed unapropriated character inside "react" version string
  package.json
  src/Components/All.css
  src/Components/Button.css
  src/Components/Text.css
  src/Intl.Utils.js
  src/Pages/Layout/Master.css
  src/Pages/Layout/Master.js
Due: prettier-eslint --write, eslint, prettier --write

Layout Update
  src/Components/All.css
  src/Components/Button.css
  src/Components/Header.css
  src/Components/ProductList.css
  src/Components/ProductList.js
  src/Components/ProductListItem.css
  src/Components/Text.css
  src/Intl.Utils.js
  src/Pages/Cart.css
  src/Pages/Cart.js
  src/Pages/Layout/Master.css
  src/Pages/Layout/Master.js
Due: prettier-eslint --write, eslint, prettier --write

Added Redux, React Redux, Redux Persist and React Router
  package-lock.json
  package.json
Due: prettier --write

Router implementation
  src/Components/Header.css
  src/Components/Header.js
  src/Pages/Cart.js
  src/Pages/Layout/Checkout.css
  src/Pages/Layout/Checkout.js
  src/Pages/Layout/Master.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Optimized routes
  src/Pages/Payment.css
  src/Pages/Payment.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Page added
  src/Pages/Payment.js
Due: prettier-eslint --write, eslint

Layout hotfix
  src/Pages/Cart.js
  src/Pages/Payment.css
  src/Pages/Payment.js
Due: prettier-eslint --write, eslint, prettier --write

Added card validator lib
  package-lock.json
  package.json
Due: prettier --write

Layout fix header inside app-container
  src/index.js
Due: prettier-eslint --write, eslint

Now Cart Price is a component
  src/Components/CartPrice.css
  src/Components/CartPrice.js
Due: prettier-eslint --write, eslint, prettier --write

Create Input component
  src/Components/Input.css
  src/Components/Input.js
Due: prettier-eslint --write, eslint, prettier --write

Product Price now is a component
  src/Components/ProductList.css
  src/Components/ProductList.js
Due: prettier-eslint --write, eslint, prettier --write

Added Redux to code and first reducer
  src/Reducers/index.js
  src/store.js
Due: prettier-eslint --write, eslint

Added Cart Reducer
  src/Reducers/cartReducer.js
  src/Reducers/index.js
Due: prettier-eslint --write, eslint

Persistent info support added (Action, Reducer, Store, Persistor Configurated)
  src/Actions/actionTypes.js
  src/Actions/index.js
  src/Components/Button.css
  src/Components/Input.js
  src/Components/ProductList.js
  src/Pages/Cart.js
  src/Pages/Layout/Checkout.js
  src/Pages/Payment.js
  src/Reducers/cartReducer.js
  src/Reducers/index.js
  src/index.js
  src/store.js
Due: prettier-eslint --write, eslint, prettier --write

Page Payment, design ready, form validation semi-functional
  src/Assets/Images/checkmark.svg
  src/Components/Input.css
  src/Components/Input.js
  src/Components/ProductList.css
  src/Components/ProductList.js
  src/Components/Text.css
  src/Pages/Payment.css
  src/Pages/Payment.js
  src/Tests/Payment.test.js
Due: prettier-eslint --write, eslint, prettier --write

Added new patterns and input focus important tag to show correct border color
  src/Components/All.css
  src/Components/Input.css
  src/Components/Input.js
  src/Pages/Confirmation.css
  src/Pages/Confirmation.js
  src/Reducers/paymentReducer.js
Due: prettier-eslint --write, eslint, prettier --write

New page Confirmation, adding support for payment send correct data through redux to confirmation page
  src/Actions/actionTypes.js
  src/Actions/index.js
  src/Pages/Confirmation.js
  src/Pages/Payment.js
  src/Reducers/paymentReducer.js
  src/index.js
Due: prettier-eslint --write, eslint

Moved App css styles to correct file -> index.css
  src/Pages/Confirmation.js
  src/Pages/Layout/Checkout.css
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

Moved more css to index.css
  src/Pages/Layout/Checkout.css
  src/index.css
Due: prettier --write

Functional page
  .idea/encodings.xml
  src/Assets/Images/checkmark.svg
  src/Components/CartPrice.css
  src/Components/Input.js
  src/Components/ProductList.js
  src/Components/ProductListItem.css
  src/Components/ProductListItem.js
  src/Pages/Confirmation.css
  src/Pages/Confirmation.js
  src/Pages/Payment.js
  src/Reducers/index.js
  src/Reducers/paymentReducer.js
  src/index.css
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Added first test, code refactor
  .prettierrc
  package-lock.json
  package.json
  src/App.js
  src/Components/CartPrice.js
  src/Components/Header.js
  src/Components/Input.js
  src/Components/ProductList.js
  src/Components/ProductListItem.js
  src/Tests/Cart.test.js
  src/Tests/Pages/App.test.js
  src/Tests/Payment.test.js
  src/Tests/store.js
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Hotfix, undefined
  src/Components/ProductList.js
  src/Components/ProductListItem.js
  src/Pages/Cart.js
  src/Tests/Components/Input.test.js
  src/Tests/Pages/App.test.js
Due: prettier-eslint --write, eslint

Desktop version is a poor version bcuz i was unable to make everything in time, pending tests
  src/App.js
  src/Components/Header.css
  src/Components/Header.js
  src/Components/ProductList.css
  src/Pages/Cart.css
  src/Pages/Payment.js
  src/Tests/App.test.js
  src/Tests/Components/Input.test.js
  src/index.css
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

config git test
  src/App.js
Due: prettier-eslint --write, eslint

Install Dependencies
  .env
  package.json
  src/App.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

add routes
  src/cart/Cart.js
  src/cart/Payment.js
  src/cart/Success.js
  src/index.js
Due: prettier-eslint --write, eslint

add redux struture and ProductList component
  src/actions/index.js
  src/cart/Cart.js
  src/cart/Success.js
  src/components/ProdutctList.js
  src/index.js
  src/reducers/index.js
Due: prettier-eslint --write, eslint

add redux-persist and create FinalizeAccount component
  package.json
  src/cart/Cart.js
  src/cart/Success.js
  src/components/FinalizeAccount.js
  src/components/ProdutctList.js
  src/index.js
  src/reducers/index.js
  src/store/actions/index.js
  src/store/index.js
  src/store/reducers/index.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

fix routes
  src/index.js
Due: prettier-eslint --write, eslint

create button and header components
  src/cart/Cart.js
  src/components/Button.js
  src/components/Header.js
  src/index.js
Due: prettier-eslint --write, eslint

create form to Payment
  src/cart/Cart.js
  src/cart/Payment.js
  src/components/Button.js
  src/components/UserForm.js
  src/store/actions/index.js
  src/store/reducers/index.js
Due: prettier-eslint --write, eslint

payment validations
  src/cart/Cart.js
  src/cart/Payment.js
  src/components/UserForm.js
  src/store/actions/index.js
  src/store/index.js
  src/store/reducers/index.js
Due: prettier-eslint --write, eslint

refactoring UserForm
  src/cart/Cart.js
  src/cart/Payment.js
  src/cart/Success.js
  src/components/UserForm.js
  src/components/UserFormCardCvv.js
  src/components/UserFormCardDate.js
  src/components/UserFormCardName.js
  src/components/UserFormCardNumber.js
  src/components/UserInfo.js
  src/store/actions/index.js
Due: prettier-eslint --write, eslint

add layout on list
  src/cart/Cart.js
  src/cart/Success.js
  src/components/ProdutctList.js
  src/components/UserFormCardCvv.js
  src/components/UserFormCardDate.js
  src/components/UserFormCardName.js
  src/components/UserFormCardNumber.js
  src/store/actions/index.js
Due: prettier-eslint --write, eslint

ProductList styles
  src/cart/Success.js
  src/components/ProdutctList.js
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write

FinalizeAccont and ProductList styles
  src/components/FinalizeAccount.js
  src/components/ProdutctList.js
  src/index.css
Due: prettier-eslint --write, eslint, prettier --write
