Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

implement card
  src/pages/Kart/index.js
  src/pages/Kart/styles.js
Due: prettier-eslint --write, eslint

styling kart
  src/pages/Kart/index.js
  src/pages/Kart/styles.js
Due: prettier-eslint --write, eslint

reordering ts cart interfaces
  src/@types/cart.ts
  src/@types/priceSpecification.ts
  src/@types/product.ts
  src/contexts/cart.tsx
Due: none

implement ProductCard
  src/components/ProductCard/index.js
  src/components/ProductCard/styles.js
Due: prettier-eslint --write, eslint

added cart products component
  src/components/ProductsCartContainer/index.tsx
  src/components/ProductsCartContainer/styles.ts
Due: none

ProductCard test
  src/__tests__/components/ProductCard.test.js
  src/components/ProductCard/index.js
Due: prettier-eslint --write, eslint

implement ProductCard at Kart
  src/pages/Kart/index.js
  src/styles/glogal.js
Due: prettier-eslint --write, eslint

formatCurrencyBRL
  src/components/ProductCard/index.js
  src/utils/formatCurrencyBRL.js
Due: prettier-eslint --write, eslint

test price
  src/__tests__/components/ProductCard.test.js
Due: prettier-eslint --write, eslint

added tests for products component
  package.json
  src/components/ProductsCartContainer/ProductsCartContainer.spec.js
  src/components/ProductsCartContainer/index.tsx
  src/contexts/deviceSize.tsx
  src/utils/style-config.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

removed unused test
  src/App.test.js
Due: prettier-eslint --write, eslint

added providers to be able to use cart and windowsize contexts
  src/App.js
Due: prettier-eslint --write, eslint

formatTitle
  src/components/ProductCard/index.js
  src/pages/Kart/index.js
Due: prettier-eslint --write, eslint

formatTitle test
  src/__tests__/components/ProductCard.test.js
Due: prettier-eslint --write, eslint

added shopping cart prices component and tests
  src/components/PriceCartContainer/ProductsCartContainer.spec.js
  src/components/PriceCartContainer/index.tsx
  src/components/PriceCartContainer/styles.ts
  src/utils/style-config.js
Due: prettier-eslint --write, eslint

changed values from cart to string to accept formatted values
  src/@types/cart.ts
  src/contexts/cart.tsx
Due: none

added new name color product container border
  src/components/ProductsCartContainer/styles.ts
Due: none

test description
  src/__tests__/components/ProductCard.test.js
Due: prettier-eslint --write, eslint

padding navbar
  src/components/NavBar/styles.js
Due: prettier-eslint --write, eslint

prettier fixing errors
  src/components/Button/index.tsx
  tsconfig.json
Due: prettier --write

added css preventing border collapse
  src/App.css
Due: prettier --write

adding shopping cart page
  src/components/PriceCartContainer/PriceCartContainer.spec.js
  src/components/PriceCartContainer/styles.ts
  src/components/ProductsCartContainer/index.tsx
  src/components/ProductsCartContainer/styles.ts
  src/pages/ShoppingCart/index.tsx
  src/pages/ShoppingCart/styles.ts
  src/utils/style-config.js
Due: prettier-eslint --write, eslint

fixing ts-jest error on jest
  package.json
  yarn.lock
Due: prettier --write

styling ProductCard
  src/components/ProductCard/index.js
  src/components/ProductCard/styles.js
Due: prettier-eslint --write, eslint

implement ProductsList
  src/components/ProductsList/index.js
  src/pages/Kart/index.js
Due: prettier-eslint --write, eslint

rename Cart
  src/pages/Cart/index.js
  src/pages/Cart/styles.js
  src/router/index.js
Due: prettier-eslint --write, eslint

Implement Total
  src/components/Total/index.js
  src/components/Total/styles.js
  src/pages/Cart/index.js
Due: prettier-eslint --write, eslint

persist data useCart Hook
  src/App.js
  src/hooks/cart.js
  src/hooks/index.js
  src/pages/Cart/index.js
Due: prettier-eslint --write, eslint

implement Button component
  src/components/Button/index.js
  src/components/Button/styles.js
  src/components/Total/styles.js
  src/pages/Cart/index.js
Due: prettier-eslint --write, eslint

changing textfield to react input mask
  package.json
  src/components/Input/index.tsx
  src/components/Input/styles.ts
Due: prettier --write

adding Payment Page
  src/components/Button/index.tsx
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/pages/Payment/validationForm.ts
  src/services/cart.ts
  src/utils/style-config.js
  yarn.lock
Due: prettier-eslint --write, eslint

removing unused code
  src/components/Input/index.tsx
Due: none

removing unused code
  src/components/Input/index.tsx
  src/pages/Payment/index.tsx
Due: none

improving perfect style
  src/components/Button/index.tsx
  src/components/Input/styles.ts
  src/components/PriceCartContainer/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
Due: none

fixing the connection
  src/App.js
  src/Context/Provider.js
  src/components/Components.js
Due: prettier-eslint --write, eslint

added basic test os payments page
  .babelrc
  package.json
  src/App.js
  src/pages/Payment/Payment.spec.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

added formatter to cart data
  src/@types/cart.ts
  src/components/PriceCartContainer/PriceCartContainer.spec.js
  src/components/PriceCartContainer/index.tsx
  src/contexts/cart.tsx
Due: prettier-eslint --write, eslint

total last-of-type
  src/components/Total/styles.js
Due: prettier-eslint --write, eslint

implement code splitting with lazy
  src/router/index.js
Due: prettier-eslint --write, eslint

Implement navigate
  src/pages/Payment/index.js
  src/pages/Payment/styles.js
  src/router/index.js
Due: prettier-eslint --write, eslint

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
