Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

.lintstagedrc:

{
  "*.js": [
    "prettier-eslint --write",
    "eslint",
    "git add"
  ],
  "*.{json,css,html,md}": [
    "prettier --write",
    "git add"
  ]
}

[checkout] format product price
  src/routes/cart/Product.jsx
Due: none

feat: finalizations and final testing
  src/components/atoms/Button/styles.ts
  src/components/atoms/Container/index.tsx
  src/components/atoms/Container/styles.ts
  src/components/atoms/Input/Input.spec.tsx
  src/components/atoms/Input/index.tsx
  src/components/atoms/Input/styles.ts
  src/components/atoms/Link/styles.ts
  src/components/atoms/Loading/styles.ts
  src/components/molecules/Card/styles.ts
  src/components/molecules/FormCreditCard/index.tsx
  src/components/molecules/FormCreditCard/styles.ts
  src/components/molecules/Product/styles.ts
  src/components/molecules/ProductPrice/styles.ts
  src/components/organisms/CreditCard/index.tsx
  src/components/organisms/CreditCard/styles.ts
  src/components/organisms/Navbar/index.tsx
  src/components/organisms/Navbar/styles.ts
  src/components/organisms/PaymentSuccess/index.tsx
  src/components/organisms/ProductCard/index.tsx
  src/pages/Cart.tsx
  src/pages/Confirmation.tsx
  src/pages/Payment.tsx
  src/providers/checkout.tsx
  src/utils/formValidations.ts
  src/utils/useWindowSize.tsx
Due: none

test: button test improved
  src/components/atoms/Button/Button.spec.tsx
Due: none

docs: updating md of the project
  README.md
Due: prettier --write

Resolve warnings
  src/components/atoms/Container/index.tsx
  src/components/organisms/PaymentSuccess/index.tsx
  src/pages/Cart.tsx
  src/pages/Payment.tsx
Due: none

[checkout] add total values to cart screen
  src/routes/cart/Cart.css
  src/routes/cart/Cart.jsx
  src/routes/cart/Product.jsx
Due: prettier --write

[checkout] refactor product file
  src/routes/cart/Cart.jsx
  src/routes/cart/CreateProductData.jsx
  src/routes/cart/Product.jsx
Due: none

[checkout] add go to payment screen button
  src/routes/cart/Cart.css
  src/routes/cart/Cart.jsx
Due: prettier --write

[checkout] add cart test file
  src/routes/cart/Cart.test.js
Due: prettier-eslint --write, eslint

[checkout] changed createProdutData extension
  src/routes/cart/CreateProductData.js
Due: prettier-eslint --write, eslint

Add styled components
  package.json
  yarn.lock
Due: prettier --write

Add react router
  package.json
  yarn.lock
Due: prettier --write

Add redux toolkit
  package.json
  yarn.lock
Due: prettier --write

Add Cart page
  src/pages/Cart/Cart.jsx
  src/pages/Cart/styles.js
Due: prettier-eslint --write, eslint

Add Payment page
  src/pages/Payment/index.jsx
  src/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

Fix Payment files
  src/pages/Payment/index.jsx
  src/pages/Payment/styles.js
Due: prettier-eslint --write, eslint

Add Confirmation page
  src/pages/Confirmation/index.jsx
  src/pages/Confirmation/styles.js
Due: prettier-eslint --write, eslint

Create PageContainer component
  src/components/PageContainer/index.jsx
  src/components/PageContainer/styles.js
Due: prettier-eslint --write, eslint

Create Header component
  src/components/Header/index.jsx
  src/components/Header/styles.js
Due: prettier-eslint --write, eslint

Add global css
  src/components/NavBar/index.jsx
  src/components/NavBar/styles.js
  src/global.css
  src/index.css
  src/index.js
Due: prettier-eslint --write, eslint, prettier --write

Start adding routing
  src/index.js
Due: prettier-eslint --write, eslint

Add Navbar to Header
  src/components/Header/index.jsx
Due: none

Rename Cart file
  src/pages/Cart/Cart.jsx
Due: none

Create app's general structure
  src/App.js
Due: prettier-eslint --write, eslint

Fix font
  src/global.css
Due: prettier --write

Fix nav items' fonts and make it responsive
  src/components/NavBar/styles.js
Due: prettier-eslint --write, eslint

Create ActionButton component
  src/components/ActionButton/index.jsx
  src/components/ActionButton/styles.js
Due: prettier-eslint --write, eslint

Create Product component
  src/components/Product/index.jsx
  src/components/Product/styles.js
Due: prettier-eslint --write, eslint

Create Products component
  src/components/Products/index.jsx
  src/components/Products/styles.js
Due: prettier-eslint --write, eslint

Create Summary component
  src/components/Summary/index.jsx
  src/components/Summary/styles.js
Due: prettier-eslint --write, eslint

Add Cart page's general structure
  src/pages/Cart/index.jsx
  src/pages/Cart/styles.js
Due: prettier-eslint --write, eslint

Remove default margins and paddings
  src/global.css
Due: prettier --write

Fix last product bottom margin
  src/components/Product/styles.js
Due: prettier-eslint --write, eslint

Add missing border radius to products
  src/components/Products/styles.js
Due: prettier-eslint --write, eslint

Create SectionHeader component
  src/components/SectionHeader/index.jsx
  src/components/SectionHeader/styles.js
Due: prettier-eslint --write, eslint

Add section header to products
  src/components/Products/index.jsx
Due: none

Add styling to Summary
  src/components/Summary/index.jsx
  src/components/Summary/styles.js
Due: prettier-eslint --write, eslint

Add margin bottom to products
  src/components/Products/styles.js
Due: prettier-eslint --write, eslint

Fix last row margin bottom
  src/components/Summary/styles.js
Due: prettier-eslint --write, eslint

Add styling to ActionButton
  src/components/ActionButton/index.jsx
  src/components/ActionButton/styles.js
Due: prettier-eslint --write, eslint
