Repository belezanaweb/test-front: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write, eslint, prettier --write

feat: create subtotal unit tests
  src/__tests__/components/subtotal.test.tsx
Due: none

feat: create textField unit tests
  src/__tests__/components/subtotal.test.tsx
  src/__tests__/components/textField.test.tsx
  src/components/TextField/index.tsx
Due: none

feat: create pages unit tests
  src/__tests__/pages/cart.test.tsx
  src/__tests__/pages/payment.test.tsx
  src/__tests__/pages/success.test.tsx
Due: none

feat: create hook unit tests
  package-lock.json
  package.json
  src/__tests__/hooks/useCartDetails.test.tsx
  src/components/Product/cartDetailsMock.ts
  src/hooks/useCartDetails.tsx
  src/util/localStorage.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

feat: create validations unit tests
  src/__tests__/utils/validations.test.tsx
Due: none

feat: create localStorage unit tests
  src/__tests__/utils/localStorage.test.tsx
Due: none

feat(carryBag): criação da pagina inicial
  cypress/support/index.js
  src/App.js
  src/api/api.js
  src/components/Header.js
  src/components/ProductList.js
  src/components/SumOfValues.js
  src/hooks/products.hooks.js
  src/pages/CarryBag/CarryBag.js
Due: prettier-eslint --write, eslint

feat(pagamento): criacao da pagina de pagamento
  src/index.css
  src/pages/Payment/Payment.js
  src/services/ValidateCreditCard.js
Due: prettier-eslint --write, eslint, prettier --write

feat(sucesso e notFound): criacao das paginas de sucesso e de notFound
  src/components/NotFound.js
  src/pages/Confirmation/Confirmation.js
Due: prettier-eslint --write, eslint

feat(testes): criacao de testes unitario
  cypress/fixtures/example.json
  cypress/integration/1-getting-started/todo.spec.js
  cypress/integration/2-advanced-examples/actions.spec.js
  cypress/integration/2-advanced-examples/aliasing.spec.js
  cypress/integration/2-advanced-examples/assertions.spec.js
  cypress/integration/2-advanced-examples/connectors.spec.js
  cypress/integration/2-advanced-examples/cookies.spec.js
  cypress/integration/2-advanced-examples/cypress_api.spec.js
  cypress/integration/2-advanced-examples/files.spec.js
  cypress/integration/2-advanced-examples/local_storage.spec.js
  cypress/integration/2-advanced-examples/location.spec.js
  cypress/integration/2-advanced-examples/misc.spec.js
  cypress/integration/2-advanced-examples/navigation.spec.js
  cypress/integration/2-advanced-examples/network_requests.spec.js
  cypress/integration/2-advanced-examples/querying.spec.js
  cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
  cypress/integration/2-advanced-examples/traversal.spec.js
  cypress/integration/2-advanced-examples/utilities.spec.js
  cypress/integration/2-advanced-examples/viewport.spec.js
  cypress/integration/2-advanced-examples/waiting.spec.js
  cypress/integration/2-advanced-examples/window.spec.js
  cypress/integration/carrybag_page_spec.js
  cypress/integration/correct_payment_page_spec.js
  cypress/integration/incorrect_payment_page_spec.js
  cypress/plugins/index.js
  cypress/support/commands.js
Due: prettier-eslint --write, eslint, prettier --write

feat: initial acessibility implementation with new components and customized themes
  src/App.tsx
  src/__tests__/components/menu.test.tsx
  src/components/Dropdown/index.tsx
  src/components/Dropdown/styles.ts
  src/components/PaymentForm/index.tsx
  src/components/PaymentForm/styles.ts
  src/hooks/useTheme.tsx
  src/index.tsx
  src/pages/Cart/index.tsx
  src/pages/Cart/styles.ts
  src/pages/Payment/index.tsx
  src/pages/Payment/styles.ts
  src/pages/Success/index.tsx
  src/pages/Success/styles.ts
  src/styles/themes/big.ts
  src/styles/themes/dark.ts
  src/styles/themes/highContrast.ts
  src/styles/themes/light.ts
  src/types/styled-components.d.ts
  src/util/test-utils.tsx
Due: none

feat: finish accessibility theme customization
  src/components/Dropdown/index.tsx
  src/components/Product/styles.ts
  src/components/Subtotal/styles.ts
  src/pages/Success/styles.ts
  src/styles/themes/big.ts
  src/styles/themes/dark.ts
  src/styles/themes/highContrast.ts
Due: none

feat: create unit tests for new hook and dropdown component
  src/__tests__/components/dropdown.test.tsx
  src/__tests__/hooks/useTheme.test.tsx
  src/components/Dropdown/index.tsx
Due: none

refactor: remove unused files and little adjustments
  public/favicon.ico
  public/index.html
  src/components/PaymentForm/index.tsx
  src/hooks/useCartDetails.tsx
  src/serviceWorker.js
Due: prettier-eslint --write, eslint, prettier --write

fix: remove unused import
  src/components/PaymentForm/index.tsx
Due: none

Update README.md
  README.md
Due: prettier --write

[checkout] create header file usign antd library
  package.json
  src/App.js
  src/components/Header.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

init: initial configure and architecture
  package.json
  src/App.css
  src/App.test.js
  src/App.tsx
  src/index.css
  src/index.tsx
  src/logo.svg
  src/serviceWorker.js
  src/setupTests.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

[checkout] add react router lib and cart route
  package.json
  src/components/Header.jsx
  src/index.js
  src/routes/Cart.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

feat: initializating routes
  package.json
  src/App.tsx
  src/components/micro/Link/index.tsx
  src/components/sections/Navbar/index.tsx
  src/pages/Cart.tsx
  src/pages/routes.tsx
  src/react-app-env.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write

feat: initializating some components
  package.json
  src/App.tsx
  src/components/micro/Button/index.tsx
  src/components/micro/Button/styles.ts
  src/components/micro/Container/index.tsx
  src/components/micro/Container/styles.ts
  src/components/micro/Link/index.tsx
  src/components/micro/Link/styles.ts
  src/components/micro/Price/index.tsx
  src/components/micro/TitleCard/index.tsx
  src/components/micro/TitleCard/styles.ts
  src/components/sections/Navbar/index.tsx
  src/components/sections/Navbar/styles.ts
  src/components/sections/Product/index.tsx
  src/components/sections/Product/styles.ts
  src/components/sections/ProductCard/index.tsx
  src/components/sections/ProductCard/styles.ts
  src/pages/Cart.tsx
  src/pages/routes.tsx
  src/styles/Global.css
  yarn.lock
Due: prettier --write

feat: creation of components and layout
  src/components/atoms/Button/index.tsx
  src/components/atoms/Button/styles.ts
  src/components/atoms/Container/index.tsx
  src/components/atoms/Container/styles.ts
  src/components/atoms/Link/index.tsx
  src/components/atoms/Link/styles.ts
  src/components/atoms/Price/index.tsx
  src/components/atoms/Price/styles.ts
  src/components/atoms/Text/index.tsx
  src/components/atoms/Text/styles.ts
  src/components/micro/Button/styles.ts
  src/components/micro/Price/index.tsx
  src/components/micro/TitleCard/index.tsx
  src/components/molecules/Card/index.tsx
  src/components/molecules/Card/styles.ts
  src/components/molecules/Product/a.jpg
  src/components/molecules/Product/index.tsx
  src/components/molecules/Product/styles.ts
  src/components/molecules/ProductPrice/index.tsx
  src/components/molecules/ProductPrice/styles.ts
  src/components/organisms/CreditCard/index.tsx
  src/components/organisms/CreditCard/styles.ts
  src/components/organisms/Navbar/index.tsx
  src/components/organisms/Navbar/styles.ts
  src/components/organisms/ProductCard/index.tsx
  src/components/organisms/ProductCard/styles.ts
  src/components/sections/Product/styles.ts
  src/components/sections/ProductCard/index.tsx
  src/pages/Cart.tsx
  src/pages/Payment.tsx
  src/pages/routes.tsx
  src/styles/Global.css
Due: prettier --write

feat: initializating forms and input created
  src/components/atoms/Input/index.tsx
  src/components/molecules/FormCreditCard/index.tsx
  src/components/organisms/CreditCard/index.tsx
  src/pages/Payment.tsx
Due: none

test: adding first testing files
  .prettierrc
  package.json
  src/App.tsx
  src/components/atoms/Button/Button.spec.tsx
  src/components/atoms/Button/index.tsx
  src/components/atoms/Input/Input.spec.tsx
  src/components/atoms/Link/Link.spec.tsx
  src/components/atoms/Price/Price.spec.tsx
  src/components/atoms/Text/Text.spec.tsx
  src/components/organisms/Navbar/index.tsx
  src/pages/Cart.tsx
  src/pages/Payment.tsx
  src/providers/checkout.tsx
  src/types/CheckoutType.ts
  yarn.lock
Due: prettier --write

[checkout] add header css file
  src/components/Header.css
  src/components/Header.jsx
Due: prettier --write

feat: data from api
  src/components/atoms/Price/index.tsx
  src/components/molecules/Product/a.jpg
  src/components/molecules/Product/index.tsx
  src/components/molecules/ProductPrice/index.tsx
  src/components/organisms/ProductCard/index.tsx
  src/pages/Cart.tsx
  src/providers/checkout.tsx
  src/types/CheckoutType.ts
Due: none

[checkout] add swr lib for data fetching and also a constants file
  package.json
  src/Utils/constants.js
  src/index.js
  src/routes/Cart.jsx
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

[checkout] add redux and a cart reducer file
  package.json
  src/index.js
  src/reducer/Cart.js
  src/routes/Cart.jsx
  src/store.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

[checkout] add header style
  src/components/Header.css
  src/components/Header.jsx
Due: prettier --write

feat: adding formik and ajusting input
  package.json
  src/components/atoms/Input/index.tsx
  src/components/molecules/FormCreditCard/index.tsx
  yarn.lock
Due: prettier --write

feat: input masks and form
  package-lock.json
  package.json
  src/components/atoms/Input/index.tsx
  src/components/atoms/Input/styles.ts
  src/components/molecules/Card/styles.ts
  src/components/molecules/FormCreditCard/index.tsx
  src/components/molecules/FormCreditCard/styles.ts
  yarn.lock
Due: prettier --write

[checkout] add reducers for payment and confirm screen
  src/reducer/Confirm.js
  src/reducer/Payment.js
  src/store.js
Due: prettier-eslint --write, eslint

[checkout] add navigation feature and its css
  src/App.js
  src/components/Header.css
  src/components/Header.jsx
  src/index.js
  src/reducer/Cart.js
  src/routes/cart/Cart.css
  src/routes/cart/Cart.jsx
  src/routes/confirm/Confirm.css
  src/routes/confirm/Confirm.jsx
  src/routes/payment/Payment.css
  src/routes/payment/Payment.jsx
Due: prettier-eslint --write, eslint, prettier --write

[checkout] add loading symbol while fetching data
  src/routes/cart/Cart.css
  src/routes/cart/Cart.jsx
Due: prettier --write

feat: form validations and erros
  src/assets/success.png
  src/components/atoms/Button/index.tsx
  src/components/atoms/Button/styles.ts
  src/components/atoms/Input/index.tsx
  src/components/molecules/FormCreditCard/index.tsx
  src/components/organisms/CreditCard/index.tsx
  src/components/organisms/Navbar/index.tsx
  src/components/organisms/PaymentSuccess/index.tsx
  src/components/organisms/PaymentSuccess/styles.ts
  src/pages/Confirmation.tsx
  src/pages/Payment.tsx
  src/pages/routes.tsx
  src/providers/checkout.tsx
  src/types/CheckoutType.ts
  src/types/FormTypes.ts
  src/utils/formValidations.ts
Due: none

Layout and some finalizations
  src/components/atoms/Button/index.tsx
  src/components/atoms/Button/styles.ts
  src/components/atoms/Input/index.tsx
  src/components/atoms/Input/styles.ts
  src/components/atoms/Link/index.tsx
  src/components/atoms/Link/styles.ts
  src/components/atoms/Price/index.tsx
  src/components/atoms/Price/styles.ts
  src/components/atoms/Text/index.tsx
  src/components/atoms/Text/styles.ts
  src/components/molecules/Card/index.tsx
  src/components/molecules/Card/styles.ts
  src/components/molecules/FormCreditCard/index.tsx
  src/components/molecules/Product/index.tsx
  src/components/molecules/Product/styles.ts
  src/components/molecules/ProductPrice/index.tsx
  src/components/molecules/ProductPrice/styles.ts
  src/components/organisms/CreditCard/index.tsx
  src/components/organisms/Navbar/index.tsx
  src/components/organisms/Navbar/styles.ts
  src/components/organisms/PaymentSuccess/index.tsx
  src/components/organisms/PaymentSuccess/styles.ts
  src/pages/Payment.tsx
  src/providers/checkout.tsx
  src/styles/Global.css
  src/types/CheckoutType.ts
  src/types/FormTypes.ts
  src/utils/formValidations.ts
Due: prettier --write

[checkout] load some product info on cart screen
  src/reducer/Cart.js
  src/routes/cart/Cart.css
  src/routes/cart/Cart.jsx
  src/routes/cart/Product.jsx
Due: prettier-eslint --write, eslint, prettier --write

[checkout] add header test files
  package.json
  src/components/Header.test.js
  src/tests/matchMedia.js
  yarn.lock
Due: prettier-eslint --write, eslint, prettier --write

[checkout] move header files, change its identation and landing page
  src/App.js
  src/components/header/Header.css
  src/components/header/Header.jsx
  src/components/header/Header.test.js
  src/routes/cart/Cart.jsx
  src/routes/confirm/Confirm.jsx
  src/routes/payment/Payment.jsx
Due: prettier-eslint --write, eslint, prettier --write

[checkout] add product infos and style
  src/components/header/Header.css
  src/routes/cart/Cart.css
  src/routes/cart/Cart.jsx
  src/routes/cart/Product.jsx
Due: prettier --write

Path conditions:
  prettier-eslint --write: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{json,css,html,md}
